Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

chore: release google-cloud-optimization 0.1.0 (#17947)
  google-cloud-optimization/CHANGELOG.md
  google-cloud-optimization/lib/google/cloud/optimization/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-certificate_manager 0.1.0
  google-cloud-certificate_manager/CHANGELOG.md
  google-cloud-certificate_manager/lib/google/cloud/certificate_manager/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-ai_platform 0.1.0 (#17948)
  google-cloud-ai_platform/CHANGELOG.md
  google-cloud-ai_platform/lib/google/cloud/ai_platform/version.rb
Owners: @googleapis/yoshi-ruby

Update storage_create_bucket_turbo_replication.rb
  google-cloud-storage/samples/storage_create_bucket_turbo_replication.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

feat(pubsub-v1): increase GRPC max metadata size to 4 MB (#17921)
  google-cloud-pubsub-v1/lib/google/cloud/pubsub/v1/publisher/helpers.rb
  google-cloud-pubsub-v1/lib/google/cloud/pubsub/v1/subscriber/helpers.rb
  google-cloud-pubsub-v1/test/google/cloud/pubsub/v1/publisher/helpers_test.rb
  google-cloud-pubsub-v1/test/google/cloud/pubsub/v1/subscriber/helpers_test.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-pubsub-v1 0.8.0
  google-cloud-pubsub-v1/CHANGELOG.md
  google-cloud-pubsub-v1/lib/google/cloud/pubsub/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-notebooks-v1 0.1.0
  google-cloud-notebooks-v1/CHANGELOG.md
  google-cloud-notebooks-v1/lib/google/cloud/notebooks/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery-data_transfer-v1 0.5.1
  google-cloud-bigquery-data_transfer-v1/CHANGELOG.md
  google-cloud-bigquery-data_transfer-v1/lib/google/cloud/bigquery/data_transfer/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery-storage-v1 0.10.1
  google-cloud-bigquery-storage-v1/CHANGELOG.md
  google-cloud-bigquery-storage-v1/lib/google/cloud/bigquery/storage/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-domains-v1 0.1.0
  google-cloud-domains-v1/CHANGELOG.md
  google-cloud-domains-v1/lib/google/cloud/domains/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dlp-v2 0.10.0
  google-cloud-dlp-v2/CHANGELOG.md
  google-cloud-dlp-v2/lib/google/cloud/dlp/v2/version.rb
Owners: @googleapis/yoshi-ruby

Fix failing spec
  google-cloud-storage/samples/acceptance/files_test.rb
  google-cloud-storage/samples/storage_stream_file_download.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Minor changes
  google-cloud-storage/samples/acceptance/files_test.rb
  google-cloud-storage/samples/storage_download_byte_range.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Fix rubocop issues
  google-cloud-storage/samples/storage_download_byte_range.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-service_management-v1 0.3.8
  google-cloud-service_management-v1/CHANGELOG.md
  google-cloud-service_management-v1/lib/google/cloud/service_management/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-spanner 2.13.0
  google-cloud-spanner/CHANGELOG.md
  google-cloud-spanner/lib/google/cloud/spanner/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: release google-cloud-service_management 1.0.5
  google-cloud-service_management/CHANGELOG.md
  google-cloud-service_management/lib/google/cloud/service_management/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-spanner 2.13.0 (#17967)
  google-cloud-spanner/CHANGELOG.md
  google-cloud-spanner/lib/google/cloud/spanner/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Update CHANGELOG.md
  google-cloud-pubsub-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-pubsub-v1 0.8.0 (#17960)
  google-cloud-pubsub-v1/CHANGELOG.md
  google-cloud-pubsub-v1/lib/google/cloud/pubsub/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-notebooks-v1 0.1.0 (#17961)
  google-cloud-notebooks-v1/CHANGELOG.md
  google-cloud-notebooks-v1/lib/google/cloud/notebooks/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery-data_transfer-v1 0.5.1 (#17962)
  google-cloud-bigquery-data_transfer-v1/CHANGELOG.md
  google-cloud-bigquery-data_transfer-v1/lib/google/cloud/bigquery/data_transfer/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery-storage-v1 0.10.1 (#17963)
  google-cloud-bigquery-storage-v1/CHANGELOG.md
  google-cloud-bigquery-storage-v1/lib/google/cloud/bigquery/storage/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-domains-v1 0.1.0 (#17964)
  google-cloud-domains-v1/CHANGELOG.md
  google-cloud-domains-v1/lib/google/cloud/domains/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-service_management-v1 0.3.8 (#17966)
  google-cloud-service_management-v1/CHANGELOG.md
  google-cloud-service_management-v1/lib/google/cloud/service_management/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-service_management 1.0.5 (#17968)
  google-cloud-service_management/CHANGELOG.md
  google-cloud-service_management/lib/google/cloud/service_management/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dlp-v2 0.10.0 (#17965)
  google-cloud-dlp-v2/CHANGELOG.md
  google-cloud-dlp-v2/lib/google/cloud/dlp/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: bootstrap releases for path: .
  .release-please-manifest.json
  release-please-config.json
Owners: @googleapis/yoshi-ruby

chore: Add release-please manifest for secret manager v1
  .release-please-manifest.json
  release-please-config.json
Owners: @googleapis/yoshi-ruby

chore: Add release-please manifest for secret manager v1 (#17972)
  .release-please-manifest.json
  release-please-config.json
Owners: @googleapis/yoshi-ruby

Remove skip_lookup for get_metadata sample
  google-cloud-storage/samples/storage_get_metadata.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: Add release bootstrap tool to create release-please manifests for new libraries
  .github/workflows/release-please-bootstrap.yml
  .toys/release.rb
Owners: @googleapis/yoshi-ruby

chore: Add release bootstrap tool to create release-please manifests for new libraries (#17978)
  .github/workflows/release-please-bootstrap.yml
  .toys/release.rb
Owners: @googleapis/yoshi-ruby

chore: Several additional release-please-config fields
  .toys/release.rb
  release-please-config.json
Owners: @googleapis/yoshi-ruby

chore: Several additional release-please-config fields (#17979)
  .toys/release.rb
  release-please-config.json
Owners: @googleapis/yoshi-ruby

chore: Bootstrap release manifest for new packages
  .release-please-manifest.json
  release-please-config.json
Owners: @googleapis/yoshi-ruby

chore: Bootstrap release manifest for new packages (#17980)
  .release-please-manifest.json
  release-please-config.json
Owners: @googleapis/yoshi-ruby

chore: remove unused imports
  owl-bot-staging/google-cloud-container_analysis-v1/.gitignore
  owl-bot-staging/google-cloud-container_analysis-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-container_analysis-v1/.rubocop.yml
  owl-bot-staging/google-cloud-container_analysis-v1/.yardopts
  owl-bot-staging/google-cloud-container_analysis-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-container_analysis-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-container_analysis-v1/Gemfile
  owl-bot-staging/google-cloud-container_analysis-v1/LICENSE.md
  owl-bot-staging/google-cloud-container_analysis-v1/README.md
  owl-bot-staging/google-cloud-container_analysis-v1/Rakefile
  owl-bot-staging/google-cloud-container_analysis-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-container_analysis-v1/google-cloud-container_analysis-v1.gemspec
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google-cloud-container_analysis-v1.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis/client.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis/credentials.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis/paths.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/version.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/devtools/containeranalysis/v1/containeranalysis_pb.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/devtools/containeranalysis/v1/containeranalysis_services_pb.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/devtools/containeranalysis/v1/containeranalysis.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/iam/v1/iam_policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/iam/v1/options.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/iam/v1/policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/protobuf/field_mask.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/type/expr.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/grafeas/v1/severity.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/get_iam_policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/get_vulnerability_occurrences_summary.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/set_iam_policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/test_iam_permissions.rb
  owl-bot-staging/google-cloud-container_analysis-v1/test/google/cloud/container_analysis/v1/container_analysis_paths_test.rb
  owl-bot-staging/google-cloud-container_analysis-v1/test/google/cloud/container_analysis/v1/container_analysis_test.rb
  owl-bot-staging/google-cloud-container_analysis-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

Remove skip_lookup for get_metadata sample
  google-cloud-storage/samples/storage_get_metadata.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

samples(storage): Add stream samples for Cloud Storage
  google-cloud-storage/samples/acceptance/files_test.rb
  google-cloud-storage/samples/storage_download_byte_range.rb
  google-cloud-storage/samples/storage_stream_file_download.rb
  google-cloud-storage/samples/storage_stream_file_upload.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe
