Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/ruby-team, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

🦉 Updates from OwlBot post-processor
  google-cloud-bigquery-data_exchange/lib/google/cloud/bigquery/data_exchange.rb
  owl-bot-staging/google-cloud-bigquery-data_exchange/.gitignore
  owl-bot-staging/google-cloud-bigquery-data_exchange/.repo-metadata.json
  owl-bot-staging/google-cloud-bigquery-data_exchange/.rubocop.yml
  owl-bot-staging/google-cloud-bigquery-data_exchange/.yardopts
  owl-bot-staging/google-cloud-bigquery-data_exchange/AUTHENTICATION.md
  owl-bot-staging/google-cloud-bigquery-data_exchange/CHANGELOG.md
  owl-bot-staging/google-cloud-bigquery-data_exchange/Gemfile
  owl-bot-staging/google-cloud-bigquery-data_exchange/LICENSE.md
  owl-bot-staging/google-cloud-bigquery-data_exchange/README.md
  owl-bot-staging/google-cloud-bigquery-data_exchange/Rakefile
  owl-bot-staging/google-cloud-bigquery-data_exchange/google-cloud-bigquery-data_exchange.gemspec
  owl-bot-staging/google-cloud-bigquery-data_exchange/lib/google-cloud-bigquery-data_exchange.rb
  owl-bot-staging/google-cloud-bigquery-data_exchange/lib/google/cloud/bigquery/data_exchange.rb
  owl-bot-staging/google-cloud-bigquery-data_exchange/lib/google/cloud/bigquery/data_exchange/version.rb
  owl-bot-staging/google-cloud-bigquery-data_exchange/test/google/cloud/bigquery/data_exchange/client_test.rb
  owl-bot-staging/google-cloud-bigquery-data_exchange/test/google/cloud/bigquery/data_exchange/version_test.rb
  owl-bot-staging/google-cloud-bigquery-data_exchange/test/helper.rb
Owners: @googleapis/ruby-team

chore(main): release google-cloud-web_security_scanner-v1 0.4.1 (#19092)
  .release-please-manifest.json
  google-cloud-web_security_scanner-v1/CHANGELOG.md
  google-cloud-web_security_scanner-v1/lib/google/cloud/web_security_scanner/v1/version.rb
  google-cloud-web_security_scanner-v1/snippets/snippet_metadata_google.cloud.websecurityscanner.v1.json
Owners: @googleapis/ruby-team

Point update_bucket to apiary service
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage/bucket_update_test.rb
Owners: @googleapis/ruby-team, @googleapis/cloud-storage-dpe

chore(main): release google-cloud-bigquery-data_exchange-v1beta1 0.3.0
  .release-please-manifest.json
  google-cloud-bigquery-data_exchange-v1beta1/CHANGELOG.md
  google-cloud-bigquery-data_exchange-v1beta1/lib/google/cloud/bigquery/data_exchange/v1beta1/version.rb
Owners: @googleapis/ruby-team

🦉 Updates from OwlBot post-processor
  google-cloud-bigquery-data_exchange-v1beta1/snippets/snippet_metadata_google.cloud.bigquery.dataexchange.v1beta1.json
Owners: @googleapis/ruby-team

feat: Updated dependency on google-cloud-retail-v2 to gem version 0.11 or later
  owl-bot-staging/google-cloud-retail/.gitignore
  owl-bot-staging/google-cloud-retail/.repo-metadata.json
  owl-bot-staging/google-cloud-retail/.rubocop.yml
  owl-bot-staging/google-cloud-retail/.yardopts
  owl-bot-staging/google-cloud-retail/AUTHENTICATION.md
  owl-bot-staging/google-cloud-retail/CHANGELOG.md
  owl-bot-staging/google-cloud-retail/Gemfile
  owl-bot-staging/google-cloud-retail/LICENSE.md
  owl-bot-staging/google-cloud-retail/README.md
  owl-bot-staging/google-cloud-retail/Rakefile
  owl-bot-staging/google-cloud-retail/google-cloud-retail.gemspec
  owl-bot-staging/google-cloud-retail/lib/google-cloud-retail.rb
  owl-bot-staging/google-cloud-retail/lib/google/cloud/retail.rb
  owl-bot-staging/google-cloud-retail/lib/google/cloud/retail/version.rb
  owl-bot-staging/google-cloud-retail/test/google/cloud/retail/client_test.rb
  owl-bot-staging/google-cloud-retail/test/google/cloud/retail/version_test.rb
  owl-bot-staging/google-cloud-retail/test/helper.rb
Owners: @googleapis/ruby-team

🦉 Updates from OwlBot post-processor
  google-cloud-retail/google-cloud-retail.gemspec
  owl-bot-staging/google-cloud-retail/.gitignore
  owl-bot-staging/google-cloud-retail/.repo-metadata.json
  owl-bot-staging/google-cloud-retail/.rubocop.yml
  owl-bot-staging/google-cloud-retail/.yardopts
  owl-bot-staging/google-cloud-retail/AUTHENTICATION.md
  owl-bot-staging/google-cloud-retail/CHANGELOG.md
  owl-bot-staging/google-cloud-retail/Gemfile
  owl-bot-staging/google-cloud-retail/LICENSE.md
  owl-bot-staging/google-cloud-retail/README.md
  owl-bot-staging/google-cloud-retail/Rakefile
  owl-bot-staging/google-cloud-retail/google-cloud-retail.gemspec
  owl-bot-staging/google-cloud-retail/lib/google-cloud-retail.rb
  owl-bot-staging/google-cloud-retail/lib/google/cloud/retail.rb
  owl-bot-staging/google-cloud-retail/lib/google/cloud/retail/version.rb
  owl-bot-staging/google-cloud-retail/test/google/cloud/retail/client_test.rb
  owl-bot-staging/google-cloud-retail/test/google/cloud/retail/version_test.rb
  owl-bot-staging/google-cloud-retail/test/helper.rb
Owners: @googleapis/ruby-team

Update CHANGELOG.md
  google-cloud-bigquery-data_exchange-v1beta1/CHANGELOG.md
Owners: @googleapis/ruby-team

chore(main): release google-cloud-bigquery-data_exchange-v1beta1 0.3.0 (#19097)
  .release-please-manifest.json
  google-cloud-bigquery-data_exchange-v1beta1/CHANGELOG.md
  google-cloud-bigquery-data_exchange-v1beta1/lib/google/cloud/bigquery/data_exchange/v1beta1/version.rb
  google-cloud-bigquery-data_exchange-v1beta1/snippets/snippet_metadata_google.cloud.bigquery.dataexchange.v1beta1.json
Owners: @googleapis/ruby-team

chore: Bootstrap release manifest for new packages
  .release-please-manifest.json
  release-please-config.json
Owners: @googleapis/ruby-team

chore: Bootstrap release manifest for new packages (#19101)
  .release-please-manifest.json
  release-please-config.json
Owners: @googleapis/ruby-team

docs(live_stream): Add Live Stream samples and tests
  google-cloud-video-live_stream/samples/Gemfile
  google-cloud-video-live_stream/samples/Rakefile
  google-cloud-video-live_stream/samples/acceptance/helper.rb
  google-cloud-video-live_stream/samples/acceptance/input_test.rb
  google-cloud-video-live_stream/samples/create_input.rb
  google-cloud-video-live_stream/samples/delete_input.rb
  google-cloud-video-live_stream/samples/get_input.rb
  google-cloud-video-live_stream/samples/list_inputs.rb
  google-cloud-video-live_stream/samples/update_input.rb
Owners: @googleapis/ruby-team

chore(main): release google-cloud-apigee_registry-v1 0.3.1
  .release-please-manifest.json
  google-cloud-apigee_registry-v1/CHANGELOG.md
  google-cloud-apigee_registry-v1/lib/google/cloud/apigee_registry/v1/version.rb
Owners: @googleapis/ruby-team

chore(main): release google-cloud-retail 1.4.0
  .release-please-manifest.json
  google-cloud-retail/CHANGELOG.md
  google-cloud-retail/lib/google/cloud/retail/version.rb
Owners: @googleapis/ruby-team

chore(main): release google-iam-v2 0.1.0
  .release-please-manifest.json
  google-iam-v2/CHANGELOG.md
  google-iam-v2/lib/google/iam/v2/version.rb
Owners: @googleapis/ruby-team

🦉 Updates from OwlBot post-processor
  google-cloud-apigee_registry-v1/snippets/snippet_metadata_google.cloud.apigeeregistry.v1.json
Owners: @googleapis/ruby-team

🦉 Updates from OwlBot post-processor
  google-iam-v2/.repo-metadata.json
  google-iam-v2/snippets/snippet_metadata_google.iam.v2.json
Owners: @googleapis/ruby-team

chore(main): release google-cloud-retail 1.4.0 (#19104)
  .release-please-manifest.json
  google-cloud-retail/CHANGELOG.md
  google-cloud-retail/lib/google/cloud/retail/version.rb
Owners: @googleapis/ruby-team

chore(main): release google-iam-v2 0.1.0 (#19105)
  .release-please-manifest.json
  google-iam-v2/.repo-metadata.json
  google-iam-v2/CHANGELOG.md
  google-iam-v2/lib/google/iam/v2/version.rb
  google-iam-v2/snippets/snippet_metadata_google.iam.v2.json
Owners: @googleapis/ruby-team

chore(main): release google-cloud-apigee_registry-v1 0.3.1 (#19103)
  .release-please-manifest.json
  google-cloud-apigee_registry-v1/CHANGELOG.md
  google-cloud-apigee_registry-v1/lib/google/cloud/apigee_registry/v1/version.rb
  google-cloud-apigee_registry-v1/snippets/snippet_metadata_google.cloud.apigeeregistry.v1.json
Owners: @googleapis/ruby-team

Update read_samples.rb
  google-cloud-bigtable/samples/read_samples.rb
Owners: @googleapis/ruby-team

Update read_samples_test.rb
  google-cloud-bigtable/samples/acceptance/read_samples_test.rb
Owners: @googleapis/ruby-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @googleapis/ruby-team

Remove log statements & minor refactoring
  google-cloud-storage/OVERVIEW.md
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage/retry/utils.rb
Owners: @googleapis/ruby-team, @googleapis/cloud-storage-dpe

Fix broken unit tests
  google-cloud-storage/test/google/cloud/storage/bucket_update_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_update_test.rb
  google-cloud-storage/test/helper.rb
Owners: @googleapis/ruby-team, @googleapis/cloud-storage-dpe

Update read_samples_test.rb
  google-cloud-bigtable/samples/acceptance/read_samples_test.rb
Owners: @googleapis/ruby-team

Update read_samples.rb
  google-cloud-bigtable/samples/read_samples.rb
Owners: @googleapis/ruby-team

Update read_samples.rb
  google-cloud-bigtable/samples/read_samples.rb
Owners: @googleapis/ruby-team

Update read_samples.rb
  google-cloud-bigtable/samples/read_samples.rb
Owners: @googleapis/ruby-team

Update read_samples_test.rb
  google-cloud-bigtable/samples/acceptance/read_samples_test.rb
Owners: @googleapis/ruby-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @googleapis/ruby-team

Update read_samples_test.rb
  google-cloud-bigtable/samples/acceptance/read_samples_test.rb
Owners: @googleapis/ruby-team

Update read_samples.rb
  google-cloud-bigtable/samples/read_samples.rb
Owners: @googleapis/ruby-team

chore: fix review comments
  google-cloud-spanner/acceptance/spanner/fine_grain_access_control_test.rb
Owners: @googleapis/ruby-team, @googleapis/api-spanner-ruby

chore: fix linting
  google-cloud-spanner/acceptance/spanner/fine_grain_access_control_test.rb
Owners: @googleapis/ruby-team, @googleapis/api-spanner-ruby

chore: remove print statement
  google-cloud-spanner/acceptance/spanner/client/batch_update_test.rb
Owners: @googleapis/ruby-team, @googleapis/api-spanner-ruby

feat(spanner): Support fine grained access control (#19067)
  google-cloud-spanner/acceptance/spanner/client/batch_update_test.rb
  google-cloud-spanner/acceptance/spanner/fine_grain_access_control_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/client.rb
  google-cloud-spanner/lib/google/cloud/spanner/pool.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
  google-cloud-spanner/test/google/cloud/spanner/project_test.rb
  google-cloud-spanner/test/google/cloud/spanner/service_test.rb
Owners: @googleapis/ruby-team, @googleapis/api-spanner-ruby

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# @googleapis/ruby-team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/ruby-team

/google-cloud-automl*/.              @googleapis/ruby-team @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/ruby-team @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/ruby-team @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/ruby-team @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/ruby-team @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/ruby-team @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/ruby-team @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/ruby-team @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/ruby-team @googleapis/ml-apis
/google-cloud-storage/               @googleapis/ruby-team @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/ruby-team @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/ruby-team @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/ruby-team @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/ruby-team @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/ruby-team @googleapis/ml-apis
