Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

chore(main): release grafeas-v1 0.6.1 (#18913)
  .release-please-manifest.json
  grafeas-v1/CHANGELOG.md
  grafeas-v1/lib/grafeas/v1/version.rb
  grafeas-v1/snippets/snippet_metadata_grafeas.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-ai_platform-v1 0.9.1 (#18902)
  .release-please-manifest.json
  google-cloud-ai_platform-v1/CHANGELOG.md
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/version.rb
  google-cloud-ai_platform-v1/snippets/snippet_metadata_google.cloud.aiplatform.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery 1.39.0 (#18903)
  .release-please-manifest.json
  google-cloud-bigquery/CHANGELOG.md
  google-cloud-bigquery/lib/google/cloud/bigquery/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-connection-v1 0.9.0
  .release-please-manifest.json
  google-cloud-bigquery-connection-v1/CHANGELOG.md
  google-cloud-bigquery-connection-v1/lib/google/cloud/bigquery/connection/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-storage-v1 0.13.0
  .release-please-manifest.json
  google-cloud-bigquery-storage-v1/CHANGELOG.md
  google-cloud-bigquery-storage-v1/lib/google/cloud/bigquery/storage/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigtable-admin-v2 0.14.0
  .release-please-manifest.json
  google-cloud-bigtable-admin-v2/CHANGELOG.md
  google-cloud-bigtable-admin-v2/lib/google/cloud/bigtable/admin/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-binary_authorization-v1 0.2.1
  .release-please-manifest.json
  google-cloud-binary_authorization-v1/CHANGELOG.md
  google-cloud-binary_authorization-v1/lib/google/cloud/binary_authorization/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dataqna 0.3.1
  .release-please-manifest.json
  google-cloud-dataqna/CHANGELOG.md
  google-cloud-dataqna/lib/google/cloud/dataqna/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dialogflow-v2 0.17.1
  .release-please-manifest.json
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dns 0.36.0
  .release-please-manifest.json
  google-cloud-dns/CHANGELOG.md
  google-cloud-dns/lib/google/cloud/dns/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-logging-v2 0.8.1
  .release-please-manifest.json
  google-cloud-logging-v2/CHANGELOG.md
  google-cloud-logging-v2/lib/google/cloud/logging/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-network_security-v1beta1 0.3.0
  .release-please-manifest.json
  google-cloud-network_security-v1beta1/CHANGELOG.md
  google-cloud-network_security-v1beta1/lib/google/cloud/network_security/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-trace 0.42.1
  .release-please-manifest.json
  google-cloud-trace/CHANGELOG.md
  google-cloud-trace/lib/google/cloud/trace/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-translate-v2 0.4.0
  .release-please-manifest.json
  google-cloud-translate-v2/CHANGELOG.md
  google-cloud-translate-v2/lib/google/cloud/translate/v2/version.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-bigquery-connection-v1/snippets/snippet_metadata_google.cloud.bigquery.connection.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-bigquery-storage-v1/snippets/snippet_metadata_google.cloud.bigquery.storage.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-bigtable-admin-v2/snippets/snippet_metadata_google.bigtable.admin.v2.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-binary_authorization-v1/snippets/snippet_metadata_google.cloud.binaryauthorization.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-logging-v2/snippets/snippet_metadata_google.logging.v2.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dialogflow-v2/snippets/snippet_metadata_google.cloud.dialogflow.v2.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-network_security-v1beta1/snippets/snippet_metadata_google.cloud.networksecurity.v1beta1.json
Owners: @googleapis/yoshi-ruby

feat(pubsub): create exactly once delivery enabled subscription (#18824)
  google-cloud-pubsub/lib/google/cloud/pubsub/service.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/topic.rb
  google-cloud-pubsub/samples/acceptance/subscriptions_test.rb
  google-cloud-pubsub/samples/pubsub_create_subscription_with_exactly_once_delivery.rb
  google-cloud-pubsub/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigtable-admin-v2 0.14.0 (#18904)
  .release-please-manifest.json
  google-cloud-bigtable-admin-v2/CHANGELOG.md
  google-cloud-bigtable-admin-v2/lib/google/cloud/bigtable/admin/v2/version.rb
  google-cloud-bigtable-admin-v2/snippets/snippet_metadata_google.bigtable.admin.v2.json
Owners: @googleapis/yoshi-ruby

chore: fix liniting
  google-cloud-pubsub/lib/google/cloud/pubsub/service.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/topic.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-binary_authorization-v1 0.2.1 (#18905)
  .release-please-manifest.json
  google-cloud-binary_authorization-v1/CHANGELOG.md
  google-cloud-binary_authorization-v1/lib/google/cloud/binary_authorization/v1/version.rb
  google-cloud-binary_authorization-v1/snippets/snippet_metadata_google.cloud.binaryauthorization.v1.json
Owners: @googleapis/yoshi-ruby

Fix a typo
  google-cloud-storage/lib/google/cloud/storage/project.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(main): release google-cloud-dns 0.36.0 (#18908)
  .release-please-manifest.json
  google-cloud-dns/CHANGELOG.md
  google-cloud-dns/lib/google/cloud/dns/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-trace 0.42.1 (#18911)
  .release-please-manifest.json
  google-cloud-trace/CHANGELOG.md
  google-cloud-trace/lib/google/cloud/trace/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dataqna 0.3.1 (#18906)
  .release-please-manifest.json
  google-cloud-dataqna/CHANGELOG.md
  google-cloud-dataqna/lib/google/cloud/dataqna/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-connection-v1 0.9.0 (#18919)
  .release-please-manifest.json
  google-cloud-bigquery-connection-v1/CHANGELOG.md
  google-cloud-bigquery-connection-v1/lib/google/cloud/bigquery/connection/v1/version.rb
  google-cloud-bigquery-connection-v1/snippets/snippet_metadata_google.cloud.bigquery.connection.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-storage-v1 0.13.0 (#18920)
  .release-please-manifest.json
  google-cloud-bigquery-storage-v1/CHANGELOG.md
  google-cloud-bigquery-storage-v1/lib/google/cloud/bigquery/storage/v1/version.rb
  google-cloud-bigquery-storage-v1/snippets/snippet_metadata_google.cloud.bigquery.storage.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-logging-v2 0.8.1 (#18909)
  .release-please-manifest.json
  google-cloud-logging-v2/CHANGELOG.md
  google-cloud-logging-v2/lib/google/cloud/logging/v2/version.rb
  google-cloud-logging-v2/snippets/snippet_metadata_google.logging.v2.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dialogflow-v2 0.17.1 (#18907)
  .release-please-manifest.json
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
  google-cloud-dialogflow-v2/snippets/snippet_metadata_google.cloud.dialogflow.v2.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-network_security-v1beta1 0.3.0 (#18910)
  .release-please-manifest.json
  google-cloud-network_security-v1beta1/CHANGELOG.md
  google-cloud-network_security-v1beta1/lib/google/cloud/network_security/v1beta1/version.rb
  google-cloud-network_security-v1beta1/snippets/snippet_metadata_google.cloud.networksecurity.v1beta1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-translate-v2 0.4.0 (#18912)
  .release-please-manifest.json
  google-cloud-translate-v2/CHANGELOG.md
  google-cloud-translate-v2/lib/google/cloud/translate/v2/version.rb
Owners: @googleapis/yoshi-ruby

added snippet for creating ummr secret
  google-cloud-secret_manager/samples/snippets.rb
Owners: @googleapis/yoshi-ruby

Fix for clock skew issue in acceptance tests
  google-cloud-spanner/acceptance/spanner/backup_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: Open issues when nightly CI fails
  .toys/ci.rb
Owners: @googleapis/yoshi-ruby

chore: Open issues when nightly CI fails (#18918)
  .toys/ci.rb
Owners: @googleapis/yoshi-ruby

added test
  google-cloud-secret_manager/samples/acceptance/snippets_test.rb
Owners: @googleapis/yoshi-ruby

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
