Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

Update convert.rb
  google-cloud-firestore/lib/google/cloud/firestore/convert.rb
Owners: @googleapis/yoshi-ruby

fix(firestore): Fix a regression in fields conversion (#18833)
  google-cloud-firestore/lib/google/cloud/firestore/convert.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-firestore 2.7.1
  .release-please-manifest.json
  google-cloud-firestore/CHANGELOG.md
  google-cloud-firestore/lib/google/cloud/firestore/version.rb
Owners: @googleapis/yoshi-ruby

chore(dataplex): Update owlbot config to know about location and iam_policy mixins
  google-cloud-dataplex-v1/.owlbot.rb
  google-cloud-dataplex/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-firestore 2.7.1 (#18839)
  .release-please-manifest.json
  google-cloud-firestore/CHANGELOG.md
  google-cloud-firestore/lib/google/cloud/firestore/version.rb
Owners: @googleapis/yoshi-ruby

chore(dataplex): Update owlbot config to know about location and iam_policy mixins (#18843)
  google-cloud-dataplex-v1/.owlbot.rb
  google-cloud-dataplex/.owlbot.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dataplex/.owlbot-manifest.json
  google-cloud-dataplex/AUTHENTICATION.md
  google-cloud-dataplex/Rakefile
  google-cloud-dataplex/lib/google/cloud/dataplex.rb
  owl-bot-staging/google-cloud-dataplex/.gitignore
  owl-bot-staging/google-cloud-dataplex/.repo-metadata.json
  owl-bot-staging/google-cloud-dataplex/.rubocop.yml
  owl-bot-staging/google-cloud-dataplex/.yardopts
  owl-bot-staging/google-cloud-dataplex/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dataplex/CHANGELOG.md
  owl-bot-staging/google-cloud-dataplex/Gemfile
  owl-bot-staging/google-cloud-dataplex/LICENSE.md
  owl-bot-staging/google-cloud-dataplex/README.md
  owl-bot-staging/google-cloud-dataplex/Rakefile
  owl-bot-staging/google-cloud-dataplex/google-cloud-dataplex.gemspec
  owl-bot-staging/google-cloud-dataplex/lib/google-cloud-dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex/version.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/client_test.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/version_test.rb
  owl-bot-staging/google-cloud-dataplex/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore: update doc and method visibility
  google-cloud-pubsub/lib/google/cloud/pubsub/service.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/topic.rb
Owners: @googleapis/yoshi-ruby

cleaning up
  google-cloud-storage/test/google/cloud/storage/retry/conformance_test.rb
  google-cloud-storage/test/helper.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

cleaning up
  google-cloud-storage/test/google/cloud/storage/retry/utils.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

feat(storage): Add retry conformance test
  google-cloud-storage/conformance/README.md
  google-cloud-storage/conformance/v1/proto/google/cloud/conformance/storage/v1/tests.proto
  google-cloud-storage/conformance/v1/proto/google/cloud/conformance/storage/v1/tests_pb.rb
  google-cloud-storage/conformance/v1/retry_tests.json
  google-cloud-storage/test/google/cloud/storage/retry/conformance_test.rb
  google-cloud-storage/test/google/cloud/storage/retry/utils.rb
  google-cloud-storage/test/helper.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: fix toys script to fetch changed dirs
  .toys/ci.rb
Owners: @googleapis/yoshi-ruby

chore: use strip to cleanup string
  .toys/ci.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-migration-v2 0.4.0
  .release-please-manifest.json
  google-cloud-bigquery-migration-v2/CHANGELOG.md
  google-cloud-bigquery-migration-v2/lib/google/cloud/bigquery/migration/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-compute-v1 1.5.0
  .release-please-manifest.json
  google-cloud-compute-v1/CHANGELOG.md
  google-cloud-compute-v1/lib/google/cloud/compute/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dataplex-v1 0.4.0
  .release-please-manifest.json
  google-cloud-dataplex-v1/CHANGELOG.md
  google-cloud-dataplex-v1/lib/google/cloud/dataplex/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dlp-v2 0.12.0
  .release-please-manifest.json
  google-cloud-dlp-v2/CHANGELOG.md
  google-cloud-dlp-v2/lib/google/cloud/dlp/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-network_management-v1 0.4.0
  .release-please-manifest.json
  google-cloud-network_management-v1/CHANGELOG.md
  google-cloud-network_management-v1/lib/google/cloud/network_management/v1/version.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-bigquery-migration-v2/snippets/snippet_metadata_google.cloud.bigquery.migration.v2.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dlp-v2/snippets/snippet_metadata_google.privacy.dlp.v2.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dataplex-v1/snippets/snippet_metadata_google.cloud.dataplex.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-network_management-v1/snippets/snippet_metadata_google.cloud.networkmanagement.v1.json
Owners: @googleapis/yoshi-ruby

chore: fix toys script to fetch changed dirs (#18846)
  .toys/ci.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-migration-v2 0.4.0 (#18841)
  .release-please-manifest.json
  google-cloud-bigquery-migration-v2/CHANGELOG.md
  google-cloud-bigquery-migration-v2/lib/google/cloud/bigquery/migration/v2/version.rb
  google-cloud-bigquery-migration-v2/snippets/snippet_metadata_google.cloud.bigquery.migration.v2.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dlp-v2 0.12.0 (#18842)
  .release-please-manifest.json
  google-cloud-dlp-v2/CHANGELOG.md
  google-cloud-dlp-v2/lib/google/cloud/dlp/v2/version.rb
  google-cloud-dlp-v2/snippets/snippet_metadata_google.privacy.dlp.v2.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dataplex-v1 0.4.0 (#18844)
  .release-please-manifest.json
  google-cloud-dataplex-v1/CHANGELOG.md
  google-cloud-dataplex-v1/lib/google/cloud/dataplex/v1/version.rb
  google-cloud-dataplex-v1/snippets/snippet_metadata_google.cloud.dataplex.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-network_management-v1 0.4.0 (#18830)
  .release-please-manifest.json
  google-cloud-network_management-v1/CHANGELOG.md
  google-cloud-network_management-v1/lib/google/cloud/network_management/v1/version.rb
  google-cloud-network_management-v1/snippets/snippet_metadata_google.cloud.networkmanagement.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-compute-v1 1.5.0 (#18829)
  .release-please-manifest.json
  google-cloud-compute-v1/CHANGELOG.md
  google-cloud-compute-v1/lib/google/cloud/compute/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: clean up docs
  google-cloud-pubsub/lib/google/cloud/pubsub/acknowledge_result.rb
Owners: @googleapis/yoshi-ruby

chore: updaet doc to show using ack without block
  google-cloud-pubsub/lib/google/cloud/pubsub/received_message.rb
Owners: @googleapis/yoshi-ruby

chore: fix rubocop issues
  google-cloud-pubsub/lib/google/cloud/pubsub/received_message.rb
Owners: @googleapis/yoshi-ruby

feat(pubsub): Let user register callback and get acknowledgement result (#18702)
  google-cloud-pubsub/lib/google/cloud/pubsub/acknowledge_result.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/received_message.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/timed_unary_buffer.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/timed_unary_buffer_test.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-vm_migration-v1 0.3.0
  .release-please-manifest.json
  google-cloud-vm_migration-v1/CHANGELOG.md
  google-cloud-vm_migration-v1/lib/google/cloud/vm_migration/v1/version.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-vm_migration-v1/snippets/snippet_metadata_google.cloud.vmmigration.v1.json
Owners: @googleapis/yoshi-ruby

feat(spanner): add support for spanner pg_jsonb type
  acceptance/data/fixtures.rb
  google-cloud-spanner-v1/lib/google/spanner/v1/type_pb.rb
  google-cloud-spanner-v1/proto_docs/google/spanner/v1/type.rb
  google-cloud-spanner/acceptance/spanner/client/params/pgjsonb_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/pgjsonb_test.rb
  google-cloud-spanner/acceptance/spanner_helper.rb
  google-cloud-spanner/lib/google/cloud/spanner/convert.rb
  google-cloud-spanner/test/google/cloud/spanner/convert/grpc_type_for_field_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Fix example code in FaradayMiddleware
  google-cloud-trace/lib/google/cloud/trace/faraday_middleware.rb
Owners: @googleapis/yoshi-ruby

docs: update the comments of various networksecurity resources fix!: fix annotation of parent in Create*Request
  owl-bot-staging/google-cloud-network_security/.gitignore
  owl-bot-staging/google-cloud-network_security/.repo-metadata.json
  owl-bot-staging/google-cloud-network_security/.rubocop.yml
  owl-bot-staging/google-cloud-network_security/.yardopts
  owl-bot-staging/google-cloud-network_security/AUTHENTICATION.md
  owl-bot-staging/google-cloud-network_security/CHANGELOG.md
  owl-bot-staging/google-cloud-network_security/Gemfile
  owl-bot-staging/google-cloud-network_security/LICENSE.md
  owl-bot-staging/google-cloud-network_security/README.md
  owl-bot-staging/google-cloud-network_security/Rakefile
  owl-bot-staging/google-cloud-network_security/google-cloud-network_security.gemspec
  owl-bot-staging/google-cloud-network_security/lib/google-cloud-network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security/version.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/client_test.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/version_test.rb
  owl-bot-staging/google-cloud-network_security/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-network_security/lib/google/cloud/network_security.rb
  google-cloud-network_security/test/google/cloud/network_security/client_test.rb
  owl-bot-staging/google-cloud-network_security/.gitignore
  owl-bot-staging/google-cloud-network_security/.repo-metadata.json
  owl-bot-staging/google-cloud-network_security/.rubocop.yml
  owl-bot-staging/google-cloud-network_security/.yardopts
  owl-bot-staging/google-cloud-network_security/AUTHENTICATION.md
  owl-bot-staging/google-cloud-network_security/CHANGELOG.md
  owl-bot-staging/google-cloud-network_security/Gemfile
  owl-bot-staging/google-cloud-network_security/LICENSE.md
  owl-bot-staging/google-cloud-network_security/README.md
  owl-bot-staging/google-cloud-network_security/Rakefile
  owl-bot-staging/google-cloud-network_security/google-cloud-network_security.gemspec
  owl-bot-staging/google-cloud-network_security/lib/google-cloud-network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security/version.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/client_test.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/version_test.rb
  owl-bot-staging/google-cloud-network_security/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-vm_migration-v1 0.3.0 (#18848)
  .release-please-manifest.json
  google-cloud-vm_migration-v1/CHANGELOG.md
  google-cloud-vm_migration-v1/lib/google/cloud/vm_migration/v1/version.rb
  google-cloud-vm_migration-v1/snippets/snippet_metadata_google.cloud.vmmigration.v1.json
Owners: @googleapis/yoshi-ruby

Add code for conformance testing
  google-cloud-storage/conformance/v1/retry_tests.json
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage/retry/conformance_test.rb
  google-cloud-storage/test/google/cloud/storage/retry/utils.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe
