Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

chore(main): release google-cloud-storage 1.38.0
  .release-please-manifest.json
  google-cloud-storage/CHANGELOG.md
  google-cloud-storage/lib/google/cloud/storage/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

fix README.md
  google-analytics-data/README.md
Owners: @googleapis/yoshi-ruby

samples(pubsub): add sample for eos subscription with ack results (#18836)
  google-cloud-pubsub/lib/google/cloud/pubsub/service.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/topic.rb
  google-cloud-pubsub/samples/acceptance/subscriptions_test.rb
  google-cloud-pubsub/samples/pubsub_subscriber_exactly_once.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-storage 1.38.0 (#18938)
  .release-please-manifest.json
  google-cloud-storage/CHANGELOG.md
  google-cloud-storage/lib/google/cloud/storage/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

docs: update authentication link in readme (#18947)
  google-analytics-data/README.md
Owners: @googleapis/yoshi-ruby

chore(main): release google-analytics-data 0.3.1
  .release-please-manifest.json
  google-analytics-data/CHANGELOG.md
  google-analytics-data/lib/google/analytics/data/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-ai_platform-v1 0.10.0
  .release-please-manifest.json
  google-cloud-ai_platform-v1/CHANGELOG.md
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-pubsub 2.11.0
  .release-please-manifest.json
  google-cloud-pubsub/CHANGELOG.md
  google-cloud-pubsub/lib/google/cloud/pubsub/version.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-ai_platform-v1/snippets/snippet_metadata_google.cloud.aiplatform.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-ai_platform-v1 0.10.0 (#18949)
  .release-please-manifest.json
  google-cloud-ai_platform-v1/CHANGELOG.md
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/version.rb
  google-cloud-ai_platform-v1/snippets/snippet_metadata_google.cloud.aiplatform.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-analytics-data 0.3.1 (#18948)
  .release-please-manifest.json
  google-analytics-data/CHANGELOG.md
  google-analytics-data/lib/google/analytics/data/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-pubsub 2.11.0 (#18840)
  .release-please-manifest.json
  google-cloud-pubsub/CHANGELOG.md
  google-cloud-pubsub/lib/google/cloud/pubsub/version.rb
Owners: @googleapis/yoshi-ruby

feat: add support for fgac
  google-cloud-spanner/lib/google/cloud/spanner/client.rb
  google-cloud-spanner/lib/google/cloud/spanner/pool.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: better names and early error if there the project is undefined
  google-cloud-compute-v1/samples/acceptance/helper.rb
Owners: @googleapis/yoshi-ruby

fix: firewall method requires `allowed` to be non-empty
  google-cloud-compute-v1/samples/acceptance/firewall_test.rb
  google-cloud-compute-v1/samples/firewall.rb
Owners: @googleapis/yoshi-ruby

feat: use GenericLRO's own method for waiting on operations
  google-cloud-compute-v1/samples/default_values.rb
  google-cloud-compute-v1/samples/firewall.rb
  google-cloud-compute-v1/samples/quickstart.rb
Owners: @googleapis/yoshi-ruby

fix: remove the test for the failure that is impossible with strict transcoding
  google-cloud-compute-v1/acceptance/google/cloud/compute/v1/instances_smoke_test.rb
Owners: @googleapis/yoshi-ruby

fix the test so tht it works with strict transcoding
  google-cloud-compute-v1/samples/default_values.rb
Owners: @googleapis/yoshi-ruby

fix(pubsub): honour async options of topic
  google-cloud-pubsub/lib/google/cloud/pubsub/project.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/topic.rb
  google-cloud-pubsub/test/google/cloud/pubsub/project_test.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-connection-v1 0.10.0
  .release-please-manifest.json
  google-cloud-bigquery-connection-v1/CHANGELOG.md
  google-cloud-bigquery-connection-v1/lib/google/cloud/bigquery/connection/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-retail-v2 0.10.0
  .release-please-manifest.json
  google-cloud-retail-v2/CHANGELOG.md
  google-cloud-retail-v2/lib/google/cloud/retail/v2/version.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-bigquery-connection-v1/snippets/snippet_metadata_google.cloud.bigquery.connection.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-retail-v2/snippets/snippet_metadata_google.cloud.retail.v2.json
Owners: @googleapis/yoshi-ruby

chore: Lock OwlBot postprocessor to 0.8.0
  .github/.OwlBot.lock.yaml
Owners: @googleapis/yoshi-ruby

chore: Lock OwlBot postprocessor to 0.8.0 (#18958)
  .github/.OwlBot.lock.yaml
Owners: @googleapis/yoshi-ruby

chore(workflows): Switch to multi-wrapper owlbot postprocessor
  google-cloud-workflows/.OwlBot.yaml
  google-cloud-workflows/.owlbot-manifest.json
  google-cloud-workflows/README.md
  google-cloud-workflows/lib/google/cloud/workflows/executions/version.rb
  google-cloud-workflows/test/google/cloud/workflows/executions/version_test.rb
Owners: @googleapis/yoshi-ruby

chore(monitoring): Switch to multi-wrapper owlbot postprocessor
  google-cloud-monitoring/.OwlBot.yaml
  google-cloud-monitoring/.owlbot-manifest.json
  google-cloud-monitoring/.owlbot.rb
  google-cloud-monitoring/README.md
  google-cloud-monitoring/lib/google/cloud/monitoring/dashboard/version.rb
  google-cloud-monitoring/test/google/cloud/monitoring/dashboard/version_test.rb
  google-cloud-monitoring/test/google/cloud/monitoring/metrics_scope/version_test.rb
Owners: @googleapis/yoshi-ruby

chore: Add owlbot configs for beyondcorp wrapper
  google-cloud-beyond_corp/.OwlBot.yaml
  google-cloud-beyond_corp/.owlbot.rb
Owners: @googleapis/yoshi-ruby

feat: Initial generation of google-cloud-beyond_corp
  google-cloud-beyond_corp/.gitignore
  google-cloud-beyond_corp/.owlbot-manifest.json
  google-cloud-beyond_corp/.repo-metadata.json
  google-cloud-beyond_corp/.rubocop.yml
  google-cloud-beyond_corp/.yardopts
  google-cloud-beyond_corp/AUTHENTICATION.md
  google-cloud-beyond_corp/CHANGELOG.md
  google-cloud-beyond_corp/Gemfile
  google-cloud-beyond_corp/LICENSE.md
  google-cloud-beyond_corp/README.md
  google-cloud-beyond_corp/Rakefile
  google-cloud-beyond_corp/google-cloud-beyond_corp.gemspec
  google-cloud-beyond_corp/lib/google-cloud-beyond_corp.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_connections.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_connections/version.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_connectors.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_connectors/version.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_gateways.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_gateways/version.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/client_connector_services.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/client_connector_services/version.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/client_gateways.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/client_gateways/version.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/version.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_connections/client_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_connections/version_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_connectors/client_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_connectors/version_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_gateways/client_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_gateways/version_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/client_connector_services/client_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/client_connector_services/version_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/client_gateways/client_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/client_gateways/version_test.rb
  google-cloud-beyond_corp/test/helper.rb
Owners: @googleapis/yoshi-ruby

fix(pubsub): honour async options of topic (#18953)
  google-cloud-pubsub/lib/google/cloud/pubsub/project.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/topic.rb
  google-cloud-pubsub/test/google/cloud/pubsub/project_test.rb
Owners: @googleapis/yoshi-ruby

feat: Initial generation of google-cloud-beyond_corp (#18961)
  google-cloud-beyond_corp/.OwlBot.yaml
  google-cloud-beyond_corp/.gitignore
  google-cloud-beyond_corp/.owlbot-manifest.json
  google-cloud-beyond_corp/.owlbot.rb
  google-cloud-beyond_corp/.repo-metadata.json
  google-cloud-beyond_corp/.rubocop.yml
  google-cloud-beyond_corp/.yardopts
  google-cloud-beyond_corp/AUTHENTICATION.md
  google-cloud-beyond_corp/CHANGELOG.md
  google-cloud-beyond_corp/Gemfile
  google-cloud-beyond_corp/LICENSE.md
  google-cloud-beyond_corp/README.md
  google-cloud-beyond_corp/Rakefile
  google-cloud-beyond_corp/google-cloud-beyond_corp.gemspec
  google-cloud-beyond_corp/lib/google-cloud-beyond_corp.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_connections.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_connections/version.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_connectors.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_connectors/version.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_gateways.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/app_gateways/version.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/client_connector_services.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/client_connector_services/version.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/client_gateways.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/client_gateways/version.rb
  google-cloud-beyond_corp/lib/google/cloud/beyond_corp/version.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_connections/client_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_connections/version_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_connectors/client_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_connectors/version_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_gateways/client_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/app_gateways/version_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/client_connector_services/client_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/client_connector_services/version_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/client_gateways/client_test.rb
  google-cloud-beyond_corp/test/google/cloud/beyond_corp/client_gateways/version_test.rb
  google-cloud-beyond_corp/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-connection-v1 0.10.0 (#18954)
  .release-please-manifest.json
  google-cloud-bigquery-connection-v1/CHANGELOG.md
  google-cloud-bigquery-connection-v1/lib/google/cloud/bigquery/connection/v1/version.rb
  google-cloud-bigquery-connection-v1/snippets/snippet_metadata_google.cloud.bigquery.connection.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-retail-v2 0.10.0 (#18955)
  .release-please-manifest.json
  google-cloud-retail-v2/CHANGELOG.md
  google-cloud-retail-v2/lib/google/cloud/retail/v2/version.rb
  google-cloud-retail-v2/snippets/snippet_metadata_google.cloud.retail.v2.json
Owners: @googleapis/yoshi-ruby

chore(monitoring): Switch to multi-wrapper owlbot postprocessor (#18960)
  google-cloud-monitoring/.OwlBot.yaml
  google-cloud-monitoring/.owlbot-manifest.json
  google-cloud-monitoring/.owlbot.rb
  google-cloud-monitoring/README.md
  google-cloud-monitoring/lib/google/cloud/monitoring/dashboard/version.rb
  google-cloud-monitoring/test/google/cloud/monitoring/dashboard/version_test.rb
  google-cloud-monitoring/test/google/cloud/monitoring/metrics_scope/version_test.rb
Owners: @googleapis/yoshi-ruby

chore(workflows): Switch to multi-wrapper owlbot postprocessor (#18959)
  google-cloud-workflows/.OwlBot.yaml
  google-cloud-workflows/.owlbot-manifest.json
  google-cloud-workflows/README.md
  google-cloud-workflows/lib/google/cloud/workflows/executions/version.rb
  google-cloud-workflows/test/google/cloud/workflows/executions/version_test.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-container-v1 0.9.1
  .release-please-manifest.json
  google-cloud-container-v1/CHANGELOG.md
  google-cloud-container-v1/lib/google/cloud/container/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-container-v1beta1 0.10.1
  .release-please-manifest.json
  google-cloud-container-v1beta1/CHANGELOG.md
  google-cloud-container-v1beta1/lib/google/cloud/container/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-container-v1/snippets/snippet_metadata_google.container.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-container-v1beta1/snippets/snippet_metadata_google.container.v1beta1.json
Owners: @googleapis/yoshi-ruby

[CHANGE ME] OwlBot on-demand for google-analytics-data
  google-analytics-data/README.md
Owners: @googleapis/yoshi-ruby
