Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

feat(storage): allow retry options to be configurable on client initialization
  google-cloud-storage/lib/google-cloud-storage.rb
  google-cloud-storage/lib/google/cloud/storage.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

fix lint issues
  google-cloud-storage/lib/google-cloud-storage.rb
  google-cloud-storage/lib/google/cloud/storage.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Update snippets.rb
  google-cloud-secret_manager/samples/snippets.rb
Owners: @googleapis/yoshi-ruby

Replace nil with an array for default value
  google-cloud-storage/lib/google/cloud/storage/bucket/lifecycle.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(gkehub-v1beta1): Remove locations proto docs
  google-cloud-gke_hub-v1beta1/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore(gkehub-v1beta1): Remove locations proto docs (#18336)
  google-cloud-gke_hub-v1beta1/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: track exactly once delivery enabled (#18254)
  google-cloud-pubsub/acceptance/pubsub/pubsub_test.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/stream_test.rb
Owners: @googleapis/yoshi-ruby

Add missing code in helper
  google-cloud-storage/test/helper.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Add prefix conditions to test data
  google-cloud-storage/test/google/cloud/storage/bucket_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

feat(pubsub): introduce min_duration_per_lease_extension
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/inventory.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/inventory_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/stream_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/listen_test.rb
Owners: @googleapis/yoshi-ruby

Update snippets_test.rb
  google-cloud-secret_manager/samples/acceptance/snippets_test.rb
Owners: @googleapis/yoshi-ruby

chore: Update readme so it reflects changes we've done in the past few years (#18187)
  README.md
Owners: @googleapis/yoshi-ruby

Fix the failing spec
  google-cloud-storage/test/google/cloud/storage/bucket_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: fix linting
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/inventory_test.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-asset-v1 0.19.0
  .release-please-manifest.json
  google-cloud-asset-v1/CHANGELOG.md
  google-cloud-asset-v1/lib/google/cloud/asset/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-compute-v1 1.4.0
  .release-please-manifest.json
  google-cloud-compute-v1/CHANGELOG.md
  google-cloud-compute-v1/lib/google/cloud/compute/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-contact_center_insights-v1 0.7.2
  .release-please-manifest.json
  google-cloud-contact_center_insights-v1/CHANGELOG.md
  google-cloud-contact_center_insights-v1/lib/google/cloud/contact_center_insights/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-datastore-admin-v1 0.6.0
  .release-please-manifest.json
  google-cloud-datastore-admin-v1/CHANGELOG.md
  google-cloud-datastore-admin-v1/lib/google/cloud/datastore/admin/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-functions-v1 0.7.0
  .release-please-manifest.json
  google-cloud-functions-v1/CHANGELOG.md
  google-cloud-functions-v1/lib/google/cloud/functions/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-gke_hub-v1beta1 0.3.0
  .release-please-manifest.json
  google-cloud-gke_hub-v1beta1/CHANGELOG.md
  google-cloud-gke_hub-v1beta1/lib/google/cloud/gke_hub/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-retail-v2 0.8.0
  .release-please-manifest.json
  google-cloud-retail-v2/CHANGELOG.md
  google-cloud-retail-v2/lib/google/cloud/retail/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-security_center-v1 0.16.0
  .release-please-manifest.json
  google-cloud-security_center-v1/CHANGELOG.md
  google-cloud-security_center-v1/lib/google/cloud/security_center/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-spanner-v1 0.9.0
  .release-please-manifest.json
  google-cloud-spanner-v1/CHANGELOG.md
  google-cloud-spanner-v1/lib/google/cloud/spanner/v1/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-asset-v1/snippets/snippet_metadata_google.cloud.asset.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-datastore-admin-v1/snippets/snippet_metadata_google.datastore.admin.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-contact_center_insights-v1/snippets/snippet_metadata_google.cloud.contactcenterinsights.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-functions-v1/snippets/snippet_metadata_google.cloud.functions.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-gke_hub-v1beta1/snippets/snippet_metadata_google.cloud.gkehub.v1beta1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-retail-v2/snippets/snippet_metadata_google.cloud.retail.v2.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-security_center-v1/snippets/snippet_metadata_google.cloud.securitycenter.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-spanner-v1/snippets/snippet_metadata_google.spanner.v1.json
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Document newly added arguments
  google-cloud-storage/lib/google/cloud/storage/bucket/lifecycle.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(main): release google-cloud-asset-v1 0.19.0 (#18346)
  .release-please-manifest.json
  google-cloud-asset-v1/CHANGELOG.md
  google-cloud-asset-v1/lib/google/cloud/asset/v1/version.rb
  google-cloud-asset-v1/snippets/snippet_metadata_google.cloud.asset.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-compute-v1 1.4.0 (#18347)
  .release-please-manifest.json
  google-cloud-compute-v1/CHANGELOG.md
  google-cloud-compute-v1/lib/google/cloud/compute/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-contact_center_insights-v1 0.7.2 (#18348)
  .release-please-manifest.json
  google-cloud-contact_center_insights-v1/CHANGELOG.md
  google-cloud-contact_center_insights-v1/lib/google/cloud/contact_center_insights/v1/version.rb
  google-cloud-contact_center_insights-v1/snippets/snippet_metadata_google.cloud.contactcenterinsights.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-datastore-admin-v1 0.6.0 (#18349)
  .release-please-manifest.json
  google-cloud-datastore-admin-v1/CHANGELOG.md
  google-cloud-datastore-admin-v1/lib/google/cloud/datastore/admin/v1/version.rb
  google-cloud-datastore-admin-v1/snippets/snippet_metadata_google.datastore.admin.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-functions-v1 0.7.0 (#18350)
  .release-please-manifest.json
  google-cloud-functions-v1/CHANGELOG.md
  google-cloud-functions-v1/lib/google/cloud/functions/v1/version.rb
  google-cloud-functions-v1/snippets/snippet_metadata_google.cloud.functions.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-gke_hub-v1beta1 0.3.0 (#18351)
  .release-please-manifest.json
  google-cloud-gke_hub-v1beta1/CHANGELOG.md
  google-cloud-gke_hub-v1beta1/lib/google/cloud/gke_hub/v1beta1/version.rb
  google-cloud-gke_hub-v1beta1/snippets/snippet_metadata_google.cloud.gkehub.v1beta1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-retail-v2 0.8.0 (#18352)
  .release-please-manifest.json
  google-cloud-retail-v2/CHANGELOG.md
  google-cloud-retail-v2/lib/google/cloud/retail/v2/version.rb
  google-cloud-retail-v2/snippets/snippet_metadata_google.cloud.retail.v2.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-security_center-v1 0.16.0 (#18353)
  .release-please-manifest.json
  google-cloud-security_center-v1/CHANGELOG.md
  google-cloud-security_center-v1/lib/google/cloud/security_center/v1/version.rb
  google-cloud-security_center-v1/snippets/snippet_metadata_google.cloud.securitycenter.v1.json
Owners: @googleapis/yoshi-ruby
