Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

chore(main): release google-cloud-spanner-v1 0.9.0 (#18354)
  .release-please-manifest.json
  google-cloud-spanner-v1/CHANGELOG.md
  google-cloud-spanner-v1/lib/google/cloud/spanner/v1/version.rb
  google-cloud-spanner-v1/snippets/snippet_metadata_google.spanner.v1.json
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

feat(pubsub): introduce min_duration_per_lease_extension (#18341)
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/inventory.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/inventory_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/stream_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/listen_test.rb
Owners: @googleapis/yoshi-ruby

feat(storage): allow retry options to be configurable on client initialization (#18332)
  google-cloud-storage/lib/google-cloud-storage.rb
  google-cloud-storage/lib/google/cloud/storage.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

feat: retry ack/modack in TimedUnaryBuffer
  google-cloud-pubsub/google-cloud-pubsub.gemspec
  google-cloud-pubsub/lib/google/cloud/pubsub/service.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/timed_unary_buffer.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-firestore-v1 0.6.0
  .release-please-manifest.json
  google-cloud-firestore-v1/CHANGELOG.md
  google-cloud-firestore-v1/lib/google/cloud/firestore/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-pubsub 2.10.0
  .release-please-manifest.json
  google-cloud-pubsub/CHANGELOG.md
  google-cloud-pubsub/lib/google/cloud/pubsub/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-talent-v4beta1 0.5.0
  .release-please-manifest.json
  google-cloud-talent-v4beta1/CHANGELOG.md
  google-cloud-talent-v4beta1/lib/google/cloud/talent/v4beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release grafeas-v1 0.5.0
  .release-please-manifest.json
  grafeas-v1/CHANGELOG.md
  grafeas-v1/lib/grafeas/v1/version.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-firestore-v1/snippets/snippet_metadata_google.firestore.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-talent-v4beta1/snippets/snippet_metadata_google.cloud.talent.v4beta1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  grafeas-v1/snippets/snippet_metadata_grafeas.v1.json
Owners: @googleapis/yoshi-ruby

Fix the problem finally (hopefully)
  google-cloud-storage/lib/google/cloud/storage/bucket/lifecycle.rb
  google-cloud-storage/test/helper.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: Owlbot postprocessor hacks for mixins
  google-cloud-ai_platform-v1/.owlbot.rb
  google-cloud-ai_platform/.owlbot.rb
  google-cloud-datastream-v1/.owlbot.rb
  google-cloud-dialogflow-cx-v3/.owlbot.rb
  google-cloud-dialogflow-cx/.owlbot.rb
  google-cloud-security-private_ca-v1/.owlbot.rb
  google-cloud-security-private_ca/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: Owlbot postprocessor hacks for mixins (#18372)
  google-cloud-ai_platform-v1/.owlbot.rb
  google-cloud-ai_platform/.owlbot.rb
  google-cloud-datastream-v1/.owlbot.rb
  google-cloud-dialogflow-cx-v3/.owlbot.rb
  google-cloud-dialogflow-cx/.owlbot.rb
  google-cloud-security-private_ca-v1/.owlbot.rb
  google-cloud-security-private_ca/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: Fix owlbot permissions issue
  .toys/owlbot.rb
Owners: @googleapis/yoshi-ruby

feat: added webhook_config
  owl-bot-staging/google-cloud-dialogflow-cx/.gitignore
  owl-bot-staging/google-cloud-dialogflow-cx/.repo-metadata.json
  owl-bot-staging/google-cloud-dialogflow-cx/.rubocop.yml
  owl-bot-staging/google-cloud-dialogflow-cx/.yardopts
  owl-bot-staging/google-cloud-dialogflow-cx/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dialogflow-cx/CHANGELOG.md
  owl-bot-staging/google-cloud-dialogflow-cx/Gemfile
  owl-bot-staging/google-cloud-dialogflow-cx/LICENSE.md
  owl-bot-staging/google-cloud-dialogflow-cx/README.md
  owl-bot-staging/google-cloud-dialogflow-cx/Rakefile
  owl-bot-staging/google-cloud-dialogflow-cx/google-cloud-dialogflow-cx.gemspec
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google-cloud-dialogflow-cx.rb
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google/cloud/dialogflow/cx.rb
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google/cloud/dialogflow/cx/version.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/google/cloud/dialogflow/cx/client_test.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/google/cloud/dialogflow/cx/version_test.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dialogflow-cx/.owlbot-manifest.json
  google-cloud-dialogflow-cx/lib/google/cloud/dialogflow/cx.rb
  google-cloud-dialogflow-cx/test/google/cloud/dialogflow/cx/client_test.rb
  owl-bot-staging/google-cloud-dialogflow-cx/.gitignore
  owl-bot-staging/google-cloud-dialogflow-cx/.repo-metadata.json
  owl-bot-staging/google-cloud-dialogflow-cx/.rubocop.yml
  owl-bot-staging/google-cloud-dialogflow-cx/.yardopts
  owl-bot-staging/google-cloud-dialogflow-cx/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dialogflow-cx/CHANGELOG.md
  owl-bot-staging/google-cloud-dialogflow-cx/Gemfile
  owl-bot-staging/google-cloud-dialogflow-cx/LICENSE.md
  owl-bot-staging/google-cloud-dialogflow-cx/README.md
  owl-bot-staging/google-cloud-dialogflow-cx/Rakefile
  owl-bot-staging/google-cloud-dialogflow-cx/google-cloud-dialogflow-cx.gemspec
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google-cloud-dialogflow-cx.rb
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google/cloud/dialogflow/cx.rb
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google/cloud/dialogflow/cx/version.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/google/cloud/dialogflow/cx/client_test.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/google/cloud/dialogflow/cx/version_test.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore: Fix owlbot postprocessor for aiplatform
  google-cloud-ai_platform-v1/.owlbot.rb
  google-cloud-ai_platform/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: Fix owlbot permissions issue (#18373)
  .toys/owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: Fix owlbot postprocessor for aiplatform (#18374)
  google-cloud-ai_platform-v1/.owlbot.rb
  google-cloud-ai_platform/.owlbot.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-ai_platform/.owlbot-manifest.json
  owl-bot-staging/google-cloud-ai_platform/.gitignore
  owl-bot-staging/google-cloud-ai_platform/.repo-metadata.json
  owl-bot-staging/google-cloud-ai_platform/.rubocop.yml
  owl-bot-staging/google-cloud-ai_platform/.yardopts
  owl-bot-staging/google-cloud-ai_platform/AUTHENTICATION.md
  owl-bot-staging/google-cloud-ai_platform/CHANGELOG.md
  owl-bot-staging/google-cloud-ai_platform/Gemfile
  owl-bot-staging/google-cloud-ai_platform/LICENSE.md
  owl-bot-staging/google-cloud-ai_platform/README.md
  owl-bot-staging/google-cloud-ai_platform/Rakefile
  owl-bot-staging/google-cloud-ai_platform/google-cloud-ai_platform.gemspec
  owl-bot-staging/google-cloud-ai_platform/lib/google-cloud-ai_platform.rb
  owl-bot-staging/google-cloud-ai_platform/lib/google/cloud/ai_platform.rb
  owl-bot-staging/google-cloud-ai_platform/lib/google/cloud/ai_platform/version.rb
  owl-bot-staging/google-cloud-ai_platform/test/google/cloud/ai_platform/client_test.rb
  owl-bot-staging/google-cloud-ai_platform/test/google/cloud/ai_platform/version_test.rb
  owl-bot-staging/google-cloud-ai_platform/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(main): release grafeas-v1 0.5.0 (#18368)
  .release-please-manifest.json
  grafeas-v1/CHANGELOG.md
  grafeas-v1/lib/grafeas/v1/version.rb
  grafeas-v1/snippets/snippet_metadata_grafeas.v1.json
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-talent-v4beta1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-pubsub 2.10.0 (#18366)
  .release-please-manifest.json
  google-cloud-pubsub/CHANGELOG.md
  google-cloud-pubsub/lib/google/cloud/pubsub/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-firestore-v1 0.6.0 (#18365)
  .release-please-manifest.json
  google-cloud-firestore-v1/CHANGELOG.md
  google-cloud-firestore-v1/lib/google/cloud/firestore/v1/version.rb
  google-cloud-firestore-v1/snippets/snippet_metadata_google.firestore.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-talent-v4beta1 0.5.0 (#18367)
  .release-please-manifest.json
  google-cloud-talent-v4beta1/CHANGELOG.md
  google-cloud-talent-v4beta1/lib/google/cloud/talent/v4beta1/version.rb
  google-cloud-talent-v4beta1/snippets/snippet_metadata_google.cloud.talent.v4beta1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-ai_platform-v1 0.6.0
  .release-please-manifest.json
  google-cloud-ai_platform-v1/CHANGELOG.md
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-assured_workloads-v1beta1 0.9.2
  .release-please-manifest.json
  google-cloud-assured_workloads-v1beta1/CHANGELOG.md
  google-cloud-assured_workloads-v1beta1/lib/google/cloud/assured_workloads/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-migration-v2 0.2.0
  .release-please-manifest.json
  google-cloud-bigquery-migration-v2/CHANGELOG.md
  google-cloud-bigquery-migration-v2/lib/google/cloud/bigquery/migration/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dialogflow-cx-v3 0.9.0
  .release-please-manifest.json
  google-cloud-dialogflow-cx-v3/CHANGELOG.md
  google-cloud-dialogflow-cx-v3/lib/google/cloud/dialogflow/cx/v3/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-video-stitcher-v1 0.2.0
  .release-please-manifest.json
  google-cloud-video-stitcher-v1/CHANGELOG.md
  google-cloud-video-stitcher-v1/lib/google/cloud/video/stitcher/v1/version.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dialogflow-cx-v3/snippets/snippet_metadata_google.cloud.dialogflow.cx.v3.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-ai_platform-v1/snippets/snippet_metadata_google.cloud.aiplatform.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-bigquery-migration-v2/snippets/snippet_metadata_google.cloud.bigquery.migration.v2.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-assured_workloads-v1beta1/snippets/snippet_metadata_google.cloud.assuredworkloads.v1beta1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-video-stitcher-v1/snippets/snippet_metadata_google.cloud.video.stitcher.v1.json
Owners: @googleapis/yoshi-ruby

Update snippets_test.rb
  google-cloud-secret_manager/samples/acceptance/snippets_test.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-ai_platform-v1 0.6.0 (#18345)
  .release-please-manifest.json
  google-cloud-ai_platform-v1/CHANGELOG.md
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/version.rb
  google-cloud-ai_platform-v1/snippets/snippet_metadata_google.cloud.aiplatform.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-assured_workloads-v1beta1 0.9.2 (#18375)
  .release-please-manifest.json
  google-cloud-assured_workloads-v1beta1/CHANGELOG.md
  google-cloud-assured_workloads-v1beta1/lib/google/cloud/assured_workloads/v1beta1/version.rb
  google-cloud-assured_workloads-v1beta1/snippets/snippet_metadata_google.cloud.assuredworkloads.v1beta1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-migration-v2 0.2.0 (#18376)
  .release-please-manifest.json
  google-cloud-bigquery-migration-v2/CHANGELOG.md
  google-cloud-bigquery-migration-v2/lib/google/cloud/bigquery/migration/v2/version.rb
  google-cloud-bigquery-migration-v2/snippets/snippet_metadata_google.cloud.bigquery.migration.v2.json
Owners: @googleapis/yoshi-ruby
