Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

chore(sample): Add namespaces to storage ACL samples (#17597)
  google-cloud-storage/samples/acceptance/acls_test.rb
  google-cloud-storage/samples/storage_add_bucket_default_owner.rb
  google-cloud-storage/samples/storage_add_bucket_owner.rb
  google-cloud-storage/samples/storage_add_file_owner.rb
  google-cloud-storage/samples/storage_print_bucket_acl.rb
  google-cloud-storage/samples/storage_print_bucket_acl_for_user.rb
  google-cloud-storage/samples/storage_print_file_acl.rb
  google-cloud-storage/samples/storage_print_file_acl_for_user.rb
  google-cloud-storage/samples/storage_remove_bucket_acl.rb
  google-cloud-storage/samples/storage_remove_bucket_default_acl.rb
  google-cloud-storage/samples/storage_remove_file_acl.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Update google-cloud-bigquery/samples/snippets/acceptance/query_legacy_test.rb
  google-cloud-bigquery/samples/snippets/acceptance/query_legacy_test.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dataplex 0.2.0
  google-cloud-dataplex/CHANGELOG.md
  google-cloud-dataplex/lib/google/cloud/dataplex/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery-storage-v1 0.9.2
  google-cloud-bigquery-storage-v1/CHANGELOG.md
  google-cloud-bigquery-storage-v1/lib/google/cloud/bigquery/storage/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-logging-v2 0.6.0
  google-cloud-logging-v2/CHANGELOG.md
  google-cloud-logging-v2/lib/google/cloud/logging/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-app_engine-v1 0.3.6
  google-cloud-app_engine-v1/CHANGELOG.md
  google-cloud-app_engine-v1/lib/google/cloud/app_engine/v1/version.rb
Owners: @googleapis/yoshi-ruby

add rubocop for acceptance
  acceptance/data/fixtures.rb
  google-cloud-spanner/.rubocop.yml
  google-cloud-spanner/Rakefile
  google-cloud-spanner/acceptance/instance_client_test.rb
  google-cloud-spanner/acceptance/spanner/backup_operations_test.rb
  google-cloud-spanner/acceptance/spanner/backup_test.rb
  google-cloud-spanner/acceptance/spanner/batch_client/execute_partition_test.rb
  google-cloud-spanner/acceptance/spanner/client/batch_update_test.rb
  google-cloud-spanner/acceptance/spanner/client/crud_test.rb
  google-cloud-spanner/acceptance/spanner/client/dml_test.rb
  google-cloud-spanner/acceptance/spanner/client/execute_test.rb
  google-cloud-spanner/acceptance/spanner/client/large_data_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/bool_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/bytes_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/date_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/float64_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/json_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/pgnumeric_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/struct_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/timestamp_test.rb
  google-cloud-spanner/acceptance/spanner/client/pdml_test.rb
  google-cloud-spanner/acceptance/spanner/client/read_test.rb
  google-cloud-spanner/acceptance/spanner/client/single_use_test.rb
  google-cloud-spanner/acceptance/spanner/client/snapshot_test.rb
  google-cloud-spanner/acceptance/spanner/client/transaction_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/bytes_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/date_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/json_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/numeric_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/pgnumeric_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/timestamp_test.rb
  google-cloud-spanner/acceptance/spanner/database_client_test.rb
  google-cloud-spanner/acceptance/spanner/database_test.rb
  google-cloud-spanner/acceptance/spanner_helper.rb
  google-cloud-spanner/lib/google/cloud/spanner/convert.rb
  google-cloud-spanner/test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Fix switch case type
  google-cloud-spanner/lib/google/cloud/spanner/convert.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Fix rake tasks
  google-cloud-spanner/Rakefile
  google-cloud-spanner/test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Remove unused statement definitions
  acceptance/data/fixtures.rb
Owners: @googleapis/yoshi-ruby

Fix read test
  google-cloud-spanner/acceptance/spanner/client/read_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: release google-cloud-dataplex 0.2.0 (#17672)
  google-cloud-dataplex/CHANGELOG.md
  google-cloud-dataplex/lib/google/cloud/dataplex/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery-storage-v1 0.9.2 (#17673)
  google-cloud-bigquery-storage-v1/CHANGELOG.md
  google-cloud-bigquery-storage-v1/lib/google/cloud/bigquery/storage/v1/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-logging-v2/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-logging-v2 0.6.0 (#17674)
  google-cloud-logging-v2/CHANGELOG.md
  google-cloud-logging-v2/lib/google/cloud/logging/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-app_engine-v1 0.3.6 (#17675)
  google-cloud-app_engine-v1/CHANGELOG.md
  google-cloud-app_engine-v1/lib/google/cloud/app_engine/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-security_center-v1 0.12.1
  google-cloud-security_center-v1/CHANGELOG.md
  google-cloud-security_center-v1/lib/google/cloud/security_center/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-security_center-v1 0.12.1
  google-cloud-security_center-v1/CHANGELOG.md
  google-cloud-security_center-v1/lib/google/cloud/security_center/v1/version.rb
Owners: @googleapis/yoshi-ruby

samples(bigquery): Add a sample for bigquery legacy sql query (#17662)
  google-cloud-bigquery/samples/snippets/acceptance/query_legacy_test.rb
  google-cloud-bigquery/samples/snippets/query_legacy.rb
Owners: @googleapis/yoshi-ruby

Add a sample to set endpoint on storage client
  google-cloud-storage/samples/acceptance/storage_set_client_endpoint_test.rb
  google-cloud-storage/samples/storage_set_client_endpoint.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Fix a failing spec in a storage sample
  google-cloud-storage/samples/acceptance/acls_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

🦉 Updates from OwlBot post-processor
  google-cloud-dialogflow/lib/google/cloud/dialogflow.rb
  google-cloud-dialogflow/test/google/cloud/dialogflow/client_test.rb
  owl-bot-staging/google-cloud-dialogflow/.gitignore
  owl-bot-staging/google-cloud-dialogflow/.repo-metadata.json
  owl-bot-staging/google-cloud-dialogflow/.rubocop.yml
  owl-bot-staging/google-cloud-dialogflow/.yardopts
  owl-bot-staging/google-cloud-dialogflow/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dialogflow/CHANGELOG.md
  owl-bot-staging/google-cloud-dialogflow/Gemfile
  owl-bot-staging/google-cloud-dialogflow/LICENSE.md
  owl-bot-staging/google-cloud-dialogflow/README.md
  owl-bot-staging/google-cloud-dialogflow/Rakefile
  owl-bot-staging/google-cloud-dialogflow/google-cloud-dialogflow.gemspec
  owl-bot-staging/google-cloud-dialogflow/lib/google-cloud-dialogflow.rb
  owl-bot-staging/google-cloud-dialogflow/lib/google/cloud/dialogflow.rb
  owl-bot-staging/google-cloud-dialogflow/lib/google/cloud/dialogflow/version.rb
  owl-bot-staging/google-cloud-dialogflow/test/google/cloud/dialogflow/client_test.rb
  owl-bot-staging/google-cloud-dialogflow/test/google/cloud/dialogflow/version_test.rb
  owl-bot-staging/google-cloud-dialogflow/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dialogflow/lib/google/cloud/dialogflow.rb
  google-cloud-dialogflow/test/google/cloud/dialogflow/client_test.rb
  owl-bot-staging/google-cloud-dialogflow/.gitignore
  owl-bot-staging/google-cloud-dialogflow/.repo-metadata.json
  owl-bot-staging/google-cloud-dialogflow/.rubocop.yml
  owl-bot-staging/google-cloud-dialogflow/.yardopts
  owl-bot-staging/google-cloud-dialogflow/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dialogflow/CHANGELOG.md
  owl-bot-staging/google-cloud-dialogflow/Gemfile
  owl-bot-staging/google-cloud-dialogflow/LICENSE.md
  owl-bot-staging/google-cloud-dialogflow/README.md
  owl-bot-staging/google-cloud-dialogflow/Rakefile
  owl-bot-staging/google-cloud-dialogflow/google-cloud-dialogflow.gemspec
  owl-bot-staging/google-cloud-dialogflow/lib/google-cloud-dialogflow.rb
  owl-bot-staging/google-cloud-dialogflow/lib/google/cloud/dialogflow.rb
  owl-bot-staging/google-cloud-dialogflow/lib/google/cloud/dialogflow/version.rb
  owl-bot-staging/google-cloud-dialogflow/test/google/cloud/dialogflow/client_test.rb
  owl-bot-staging/google-cloud-dialogflow/test/google/cloud/dialogflow/version_test.rb
  owl-bot-staging/google-cloud-dialogflow/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(deps): update actions/setup-node action to v3
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
Owners: @googleapis/yoshi-ruby

Revert "chore: Set up the executable bit of the TRAMPOLINE_BUILD_FILE. (#17259)"
  .kokoro/trampoline_v2.sh
Owners: @googleapis/yoshi-ruby

chore: Revert set up the executable bit of the TRAMPOLINE_BUILD_FILE. (#17259)
  .kokoro/trampoline_v2.sh
Owners: @googleapis/yoshi-ruby

chore(spanner): Add shell script to run benchwrapper ruby script within kokoro
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Set executable bit for benchwrapper shell script.
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Add new line at the end.
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): Add shell script to run benchwrapper ruby script within kokoro (#17691)
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] Change to relative path for benchwrapper script.
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] Change to relative path for benchwrapper script. (#17692)
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] debugging why bundle install is failing in kokoro job.
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] debugging why bundle install is failing in kokoro job. (#17694)
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] check if google-cloud-ruby is mounted within docker container.
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] check if google-cloud-ruby is mounted within docker container. (#17695)
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] Check value of env variable PROJECT_ROOT.
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] Check value of env variable PROJECT_ROOT (#17696)
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [benchmark] use env variable PROJECT_ROOT for right path of benchwrapper script.
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [benchmark] use env variable PROJECT_ROOT for right path of benchwrapper script.
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby
