Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

🦉 Updates from OwlBot post-processor
  google-cloud-notebooks/Gemfile
  google-cloud-notebooks/README.md
  google-cloud-notebooks/google-cloud-notebooks.gemspec
  google-cloud-notebooks/lib/google/cloud/notebooks.rb
  google-cloud-notebooks/test/google/cloud/notebooks/client_test.rb
  owl-bot-staging/google-cloud-notebooks/.gitignore
  owl-bot-staging/google-cloud-notebooks/.repo-metadata.json
  owl-bot-staging/google-cloud-notebooks/.rubocop.yml
  owl-bot-staging/google-cloud-notebooks/.yardopts
  owl-bot-staging/google-cloud-notebooks/AUTHENTICATION.md
  owl-bot-staging/google-cloud-notebooks/CHANGELOG.md
  owl-bot-staging/google-cloud-notebooks/Gemfile
  owl-bot-staging/google-cloud-notebooks/LICENSE.md
  owl-bot-staging/google-cloud-notebooks/README.md
  owl-bot-staging/google-cloud-notebooks/Rakefile
  owl-bot-staging/google-cloud-notebooks/google-cloud-notebooks.gemspec
  owl-bot-staging/google-cloud-notebooks/lib/google-cloud-notebooks.rb
  owl-bot-staging/google-cloud-notebooks/lib/google/cloud/notebooks.rb
  owl-bot-staging/google-cloud-notebooks/lib/google/cloud/notebooks/version.rb
  owl-bot-staging/google-cloud-notebooks/test/google/cloud/notebooks/client_test.rb
  owl-bot-staging/google-cloud-notebooks/test/google/cloud/notebooks/version_test.rb
  owl-bot-staging/google-cloud-notebooks/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-domains 1.0.0
  .release-please-manifest.json
  google-cloud-domains/CHANGELOG.md
  google-cloud-domains/lib/google/cloud/domains/version.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-domains/.repo-metadata.json
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-domains/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-notebooks 1.0.0
  .release-please-manifest.json
  google-cloud-notebooks/CHANGELOG.md
  google-cloud-notebooks/lib/google/cloud/notebooks/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-notebooks 2.0.0
  .release-please-manifest.json
  google-cloud-notebooks/CHANGELOG.md
  google-cloud-notebooks/lib/google/cloud/notebooks/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-notebooks/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-notebooks/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-domains 1.0.0 (#18178)
  .release-please-manifest.json
  google-cloud-domains/.repo-metadata.json
  google-cloud-domains/CHANGELOG.md
  google-cloud-domains/lib/google/cloud/domains/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-notebooks 2.0.0 (#18180)
  .release-please-manifest.json
  google-cloud-notebooks/CHANGELOG.md
  google-cloud-notebooks/lib/google/cloud/notebooks/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dataplex-v1 0.2.1
  .release-please-manifest.json
  google-cloud-dataplex-v1/CHANGELOG.md
  google-cloud-dataplex-v1/lib/google/cloud/dataplex/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dialogflow 1.4.0
  .release-please-manifest.json
  google-cloud-dialogflow/CHANGELOG.md
  google-cloud-dialogflow/lib/google/cloud/dialogflow/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-recaptcha_enterprise-v1beta1 0.5.0
  .release-please-manifest.json
  google-cloud-recaptcha_enterprise-v1beta1/CHANGELOG.md
  google-cloud-recaptcha_enterprise-v1beta1/lib/google/cloud/recaptcha_enterprise/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-speech-v1 0.7.3
  .release-please-manifest.json
  google-cloud-speech-v1/CHANGELOG.md
  google-cloud-speech-v1/lib/google/cloud/speech/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-speech-v1p1beta1 0.12.3
  .release-please-manifest.json
  google-cloud-speech-v1p1beta1/CHANGELOG.md
  google-cloud-speech-v1p1beta1/lib/google/cloud/speech/v1p1beta1/version.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dataplex-v1/snippets/snippet_metadata_google.cloud.dataplex.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-recaptcha_enterprise-v1beta1/snippets/snippet_metadata_google.cloud.recaptchaenterprise.v1beta1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-speech-v1/snippets/snippet_metadata_google.cloud.speech.v1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-speech-v1p1beta1/snippets/snippet_metadata_google.cloud.speech.v1p1beta1.json
Owners: @googleapis/yoshi-ruby

Synchronize new proto/yaml changes.
  owl-bot-staging/google-analytics-data-v1beta/.gitignore
  owl-bot-staging/google-analytics-data-v1beta/.repo-metadata.json
  owl-bot-staging/google-analytics-data-v1beta/.rubocop.yml
  owl-bot-staging/google-analytics-data-v1beta/.yardopts
  owl-bot-staging/google-analytics-data-v1beta/AUTHENTICATION.md
  owl-bot-staging/google-analytics-data-v1beta/CHANGELOG.md
  owl-bot-staging/google-analytics-data-v1beta/Gemfile
  owl-bot-staging/google-analytics-data-v1beta/LICENSE.md
  owl-bot-staging/google-analytics-data-v1beta/README.md
  owl-bot-staging/google-analytics-data-v1beta/Rakefile
  owl-bot-staging/google-analytics-data-v1beta/gapic_metadata.json
  owl-bot-staging/google-analytics-data-v1beta/google-analytics-data-v1beta.gemspec
  owl-bot-staging/google-analytics-data-v1beta/lib/google-analytics-data-v1beta.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data/client.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data/credentials.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data/paths.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data_api_pb.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data_api_services_pb.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/data_pb.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/version.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/README.md
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/analytics/data/v1beta/analytics_data_api.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/analytics/data/v1beta/data.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/api/resource.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/Gemfile
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/batch_run_pivot_reports.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/batch_run_reports.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/check_compatibility.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/get_metadata.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/run_pivot_report.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/run_realtime_report.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/run_report.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/snippet_metadata_google.analytics.data.v1beta.json
  owl-bot-staging/google-analytics-data-v1beta/test/google/analytics/data/v1beta/analytics_data_paths_test.rb
  owl-bot-staging/google-analytics-data-v1beta/test/google/analytics/data/v1beta/analytics_data_test.rb
  owl-bot-staging/google-analytics-data-v1beta/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-analytics-data-v1beta/proto_docs/google/analytics/data/v1beta/data.rb
  owl-bot-staging/google-analytics-data-v1beta/.gitignore
  owl-bot-staging/google-analytics-data-v1beta/.repo-metadata.json
  owl-bot-staging/google-analytics-data-v1beta/.rubocop.yml
  owl-bot-staging/google-analytics-data-v1beta/.yardopts
  owl-bot-staging/google-analytics-data-v1beta/AUTHENTICATION.md
  owl-bot-staging/google-analytics-data-v1beta/CHANGELOG.md
  owl-bot-staging/google-analytics-data-v1beta/Gemfile
  owl-bot-staging/google-analytics-data-v1beta/LICENSE.md
  owl-bot-staging/google-analytics-data-v1beta/README.md
  owl-bot-staging/google-analytics-data-v1beta/Rakefile
  owl-bot-staging/google-analytics-data-v1beta/gapic_metadata.json
  owl-bot-staging/google-analytics-data-v1beta/google-analytics-data-v1beta.gemspec
  owl-bot-staging/google-analytics-data-v1beta/lib/google-analytics-data-v1beta.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data/client.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data/credentials.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data/paths.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data_api_pb.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data_api_services_pb.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/data_pb.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/version.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/README.md
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/analytics/data/v1beta/analytics_data_api.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/analytics/data/v1beta/data.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/api/resource.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/Gemfile
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/batch_run_pivot_reports.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/batch_run_reports.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/check_compatibility.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/get_metadata.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/run_pivot_report.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/run_realtime_report.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/run_report.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/snippet_metadata_google.analytics.data.v1beta.json
  owl-bot-staging/google-analytics-data-v1beta/test/google/analytics/data/v1beta/analytics_data_paths_test.rb
  owl-bot-staging/google-analytics-data-v1beta/test/google/analytics/data/v1beta/analytics_data_test.rb
  owl-bot-staging/google-analytics-data-v1beta/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dataplex-v1 0.2.1 (#18181)
  .release-please-manifest.json
  google-cloud-dataplex-v1/CHANGELOG.md
  google-cloud-dataplex-v1/lib/google/cloud/dataplex/v1/version.rb
  google-cloud-dataplex-v1/snippets/snippet_metadata_google.cloud.dataplex.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dialogflow 1.4.0 (#18182)
  .release-please-manifest.json
  google-cloud-dialogflow/CHANGELOG.md
  google-cloud-dialogflow/lib/google/cloud/dialogflow/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-recaptcha_enterprise-v1beta1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-speech-v1 0.7.3 (#18184)
  .release-please-manifest.json
  google-cloud-speech-v1/CHANGELOG.md
  google-cloud-speech-v1/lib/google/cloud/speech/v1/version.rb
  google-cloud-speech-v1/snippets/snippet_metadata_google.cloud.speech.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-recaptcha_enterprise-v1beta1 0.5.0 (#18183)
  .release-please-manifest.json
  google-cloud-recaptcha_enterprise-v1beta1/CHANGELOG.md
  google-cloud-recaptcha_enterprise-v1beta1/lib/google/cloud/recaptcha_enterprise/v1beta1/version.rb
  google-cloud-recaptcha_enterprise-v1beta1/snippets/snippet_metadata_google.cloud.recaptchaenterprise.v1beta1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-speech-v1p1beta1 0.12.3 (#18185)
  .release-please-manifest.json
  google-cloud-speech-v1p1beta1/CHANGELOG.md
  google-cloud-speech-v1p1beta1/lib/google/cloud/speech/v1p1beta1/version.rb
  google-cloud-speech-v1p1beta1/snippets/snippet_metadata_google.cloud.speech.v1p1beta1.json
Owners: @googleapis/yoshi-ruby

chore: add tests for pg date and arrays
  acceptance/data/fixtures.rb
  google-cloud-spanner/acceptance/spanner/client/params/date_test.rb
  google-cloud-spanner/acceptance/spanner/client/single_use_test.rb
  google-cloud-spanner/acceptance/spanner/client/snapshot_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/date_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Add OLM conditions for prefix & suffix matches
  google-cloud-storage/acceptance/storage/bucket_test.rb
  google-cloud-storage/lib/google/cloud/storage/bucket/lifecycle.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: cleanup linting issues
  google-cloud-spanner/acceptance/spanner/client/params/date_test.rb
  google-cloud-spanner/acceptance/spanner/client/single_use_test.rb
  google-cloud-spanner/acceptance/spanner/client/snapshot_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/date_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Fix a test
  google-cloud-storage/acceptance/storage/bucket_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Fix a typo
  google-cloud-storage/acceptance/storage/bucket_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

fix!: Remove google-cloud-dataproc-v1beta2 from dependencies
  owl-bot-staging/google-cloud-dataproc/.gitignore
  owl-bot-staging/google-cloud-dataproc/.repo-metadata.json
  owl-bot-staging/google-cloud-dataproc/.rubocop.yml
  owl-bot-staging/google-cloud-dataproc/.yardopts
  owl-bot-staging/google-cloud-dataproc/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dataproc/CHANGELOG.md
  owl-bot-staging/google-cloud-dataproc/Gemfile
  owl-bot-staging/google-cloud-dataproc/LICENSE.md
  owl-bot-staging/google-cloud-dataproc/README.md
  owl-bot-staging/google-cloud-dataproc/Rakefile
  owl-bot-staging/google-cloud-dataproc/google-cloud-dataproc.gemspec
  owl-bot-staging/google-cloud-dataproc/lib/google-cloud-dataproc.rb
  owl-bot-staging/google-cloud-dataproc/lib/google/cloud/dataproc.rb
  owl-bot-staging/google-cloud-dataproc/lib/google/cloud/dataproc/version.rb
  owl-bot-staging/google-cloud-dataproc/test/google/cloud/dataproc/client_test.rb
  owl-bot-staging/google-cloud-dataproc/test/google/cloud/dataproc/version_test.rb
  owl-bot-staging/google-cloud-dataproc/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dataproc/Gemfile
  google-cloud-dataproc/README.md
  google-cloud-dataproc/google-cloud-dataproc.gemspec
  owl-bot-staging/google-cloud-dataproc/.gitignore
  owl-bot-staging/google-cloud-dataproc/.repo-metadata.json
  owl-bot-staging/google-cloud-dataproc/.rubocop.yml
  owl-bot-staging/google-cloud-dataproc/.yardopts
  owl-bot-staging/google-cloud-dataproc/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dataproc/CHANGELOG.md
  owl-bot-staging/google-cloud-dataproc/Gemfile
  owl-bot-staging/google-cloud-dataproc/LICENSE.md
  owl-bot-staging/google-cloud-dataproc/README.md
  owl-bot-staging/google-cloud-dataproc/Rakefile
  owl-bot-staging/google-cloud-dataproc/google-cloud-dataproc.gemspec
  owl-bot-staging/google-cloud-dataproc/lib/google-cloud-dataproc.rb
  owl-bot-staging/google-cloud-dataproc/lib/google/cloud/dataproc.rb
  owl-bot-staging/google-cloud-dataproc/lib/google/cloud/dataproc/version.rb
  owl-bot-staging/google-cloud-dataproc/test/google/cloud/dataproc/client_test.rb
  owl-bot-staging/google-cloud-dataproc/test/google/cloud/dataproc/version_test.rb
  owl-bot-staging/google-cloud-dataproc/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(private_ca-v1): Clean up unused snippet metadata files
  google-cloud-security-private_ca-v1/.owlbot-manifest.json
  google-cloud-security-private_ca-v1/.owlbot.rb
  google-cloud-security-private_ca-v1/snippets/snippet_metadata_google.cloud.location.json
  google-cloud-security-private_ca-v1/snippets/snippet_metadata_google.iam.v1.json
Owners: @googleapis/yoshi-ruby

Remove v1beta2 acceptance test
  google-cloud-dataproc/acceptance/google/cloud/dataproc/cluster_controller_smoke_test.rb
Owners: @googleapis/yoshi-ruby

chore(private_ca-v1): Clean up unused snippet metadata files (#18195)
  google-cloud-security-private_ca-v1/.owlbot-manifest.json
  google-cloud-security-private_ca-v1/.owlbot.rb
  google-cloud-security-private_ca-v1/snippets/snippet_metadata_google.cloud.location.json
  google-cloud-security-private_ca-v1/snippets/snippet_metadata_google.iam.v1.json
Owners: @googleapis/yoshi-ruby

chore: Bootstrap release manifest for new packages
  .release-please-manifest.json
  release-please-config.json
Owners: @googleapis/yoshi-ruby

chore: Bootstrap release manifest for new packages (#18197)
  .release-please-manifest.json
  release-please-config.json
Owners: @googleapis/yoshi-ruby

chore: add helper method to construct params
  google-cloud-spanner/acceptance/spanner/client/params/date_test.rb
  google-cloud-spanner/acceptance/spanner/client/single_use_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/date_test.rb
  google-cloud-spanner/acceptance/spanner_helper.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby
