Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

chore: Update tools to use the shared pull request generator
  .toys/.lib/pull_request_generator.rb
  .toys/.toys.rb
  .toys/new-library.rb
  .toys/owlbot.rb
  .toys/update-release-levels.rb
Owners: @googleapis/yoshi-ruby

feat: Initial generation of google-cloud-eventarc-publishing-v1
  google-cloud-eventarc-publishing-v1/.OwlBot.yaml
  google-cloud-eventarc-publishing-v1/.gitignore
  google-cloud-eventarc-publishing-v1/.owlbot-manifest.json
  google-cloud-eventarc-publishing-v1/.repo-metadata.json
  google-cloud-eventarc-publishing-v1/.rubocop.yml
  google-cloud-eventarc-publishing-v1/.yardopts
  google-cloud-eventarc-publishing-v1/AUTHENTICATION.md
  google-cloud-eventarc-publishing-v1/CHANGELOG.md
  google-cloud-eventarc-publishing-v1/Gemfile
  google-cloud-eventarc-publishing-v1/LICENSE.md
  google-cloud-eventarc-publishing-v1/README.md
  google-cloud-eventarc-publishing-v1/Rakefile
  google-cloud-eventarc-publishing-v1/gapic_metadata.json
  google-cloud-eventarc-publishing-v1/google-cloud-eventarc-publishing-v1.gemspec
  google-cloud-eventarc-publishing-v1/lib/google-cloud-eventarc-publishing-v1.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher/client.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher/credentials.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher_pb.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher_services_pb.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/version.rb
  google-cloud-eventarc-publishing-v1/proto_docs/README.md
  google-cloud-eventarc-publishing-v1/proto_docs/google/api/resource.rb
  google-cloud-eventarc-publishing-v1/proto_docs/google/cloud/eventarc/publishing/v1/publisher.rb
  google-cloud-eventarc-publishing-v1/proto_docs/google/protobuf/any.rb
  google-cloud-eventarc-publishing-v1/snippets/Gemfile
  google-cloud-eventarc-publishing-v1/snippets/publisher/publish_channel_connection_events.rb
  google-cloud-eventarc-publishing-v1/test/google/cloud/eventarc/publishing/v1/publisher_test.rb
  google-cloud-eventarc-publishing-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

[CHANGE ME] OwlBot on-demand for google-cloud-service_management-v1
  google-cloud-service_management-v1/lib/google/api/servicemanagement/v1/resources_pb.rb
Owners: @googleapis/yoshi-ruby

chore(asset): Fix typo in quickstart sample tags
  google-cloud-asset/samples/quickstart.rb
Owners: @googleapis/yoshi-ruby

chore: Update tools to use the shared pull request generator (#17592)
  .toys/.lib/pull_request_generator.rb
  .toys/.toys.rb
  .toys/new-library.rb
  .toys/owlbot.rb
  .toys/update-release-levels.rb
Owners: @googleapis/yoshi-ruby

feat: Initial generation of google-cloud-eventarc-publishing-v1
  google-cloud-eventarc-publishing-v1/.OwlBot.yaml
  google-cloud-eventarc-publishing-v1/.gitignore
  google-cloud-eventarc-publishing-v1/.owlbot-manifest.json
  google-cloud-eventarc-publishing-v1/.repo-metadata.json
  google-cloud-eventarc-publishing-v1/.rubocop.yml
  google-cloud-eventarc-publishing-v1/.yardopts
  google-cloud-eventarc-publishing-v1/AUTHENTICATION.md
  google-cloud-eventarc-publishing-v1/CHANGELOG.md
  google-cloud-eventarc-publishing-v1/Gemfile
  google-cloud-eventarc-publishing-v1/LICENSE.md
  google-cloud-eventarc-publishing-v1/README.md
  google-cloud-eventarc-publishing-v1/Rakefile
  google-cloud-eventarc-publishing-v1/gapic_metadata.json
  google-cloud-eventarc-publishing-v1/google-cloud-eventarc-publishing-v1.gemspec
  google-cloud-eventarc-publishing-v1/lib/google-cloud-eventarc-publishing-v1.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher/client.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher/credentials.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher_pb.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher_services_pb.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/version.rb
  google-cloud-eventarc-publishing-v1/proto_docs/README.md
  google-cloud-eventarc-publishing-v1/proto_docs/google/api/resource.rb
  google-cloud-eventarc-publishing-v1/proto_docs/google/cloud/eventarc/publishing/v1/publisher.rb
  google-cloud-eventarc-publishing-v1/proto_docs/google/protobuf/any.rb
  google-cloud-eventarc-publishing-v1/snippets/Gemfile
  google-cloud-eventarc-publishing-v1/snippets/publisher/publish_channel_connection_events.rb
  google-cloud-eventarc-publishing-v1/test/google/cloud/eventarc/publishing/v1/publisher_test.rb
  google-cloud-eventarc-publishing-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore: Attempt to fix git creds for googleapis-gen
  .github/workflows/new-library.yml
  .toys/owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: Attempt to fix git creds for googleapis-gen (#17595)
  .github/workflows/new-library.yml
  .toys/owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-gke_hub-v1 0.2.0
  google-cloud-gke_hub-v1/CHANGELOG.md
  google-cloud-gke_hub-v1/lib/google/cloud/gke_hub/v1/version.rb
Owners: @googleapis/yoshi-ruby

Remove the samples migrated to individual files
  google-cloud-storage/samples/acceptance/acls_test.rb
  google-cloud-storage/samples/acls.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

add pg_numeric and tests
  acceptance/data/fixtures.rb
  google-cloud-spanner/acceptance/spanner/batch_client/execute_partition_test.rb
  google-cloud-spanner/acceptance/spanner/client/batch_update_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/pgnumeric_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/pgnumeric_test.rb
  google-cloud-spanner/acceptance/spanner/database_client_test.rb
  google-cloud-spanner/acceptance/spanner_helper.rb
  google-cloud-spanner/lib/google/cloud/spanner/convert.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

update crud test
  google-cloud-spanner/acceptance/spanner/client/crud_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

update dml test for pg
  google-cloud-spanner/acceptance/spanner/client/dml_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

update execute test for pg
  google-cloud-spanner/acceptance/spanner/client/execute_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Add namespace to a sample
  google-cloud-storage/samples/acceptance/acls_test.rb
  google-cloud-storage/samples/storage_add_bucket_default_owner.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

update pdml tests for pg
  google-cloud-spanner/acceptance/spanner/client/crud_test.rb
  google-cloud-spanner/acceptance/spanner/client/dml_test.rb
  google-cloud-spanner/acceptance/spanner/client/execute_test.rb
  google-cloud-spanner/acceptance/spanner/client/pdml_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Add a namespace for a sample
  google-cloud-storage/samples/acceptance/acls_test.rb
  google-cloud-storage/samples/storage_add_bucket_owner.rb
  google-cloud-storage/samples/storage_add_file_owner.rb
  google-cloud-storage/samples/storage_print_bucket_acl.rb
  google-cloud-storage/samples/storage_print_bucket_acl_for_user.rb
  google-cloud-storage/samples/storage_print_file_acl.rb
  google-cloud-storage/samples/storage_print_file_acl_for_user.rb
  google-cloud-storage/samples/storage_remove_bucket_acl.rb
  google-cloud-storage/samples/storage_remove_bucket_default_acl.rb
  google-cloud-storage/samples/storage_remove_file_acl.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

feat: Initial generation of google-cloud-eventarc-publishing-v1
  google-cloud-eventarc-publishing-v1/.OwlBot.yaml
  google-cloud-eventarc-publishing-v1/.gitignore
  google-cloud-eventarc-publishing-v1/.owlbot-manifest.json
  google-cloud-eventarc-publishing-v1/.repo-metadata.json
  google-cloud-eventarc-publishing-v1/.rubocop.yml
  google-cloud-eventarc-publishing-v1/.yardopts
  google-cloud-eventarc-publishing-v1/AUTHENTICATION.md
  google-cloud-eventarc-publishing-v1/CHANGELOG.md
  google-cloud-eventarc-publishing-v1/Gemfile
  google-cloud-eventarc-publishing-v1/LICENSE.md
  google-cloud-eventarc-publishing-v1/README.md
  google-cloud-eventarc-publishing-v1/Rakefile
  google-cloud-eventarc-publishing-v1/gapic_metadata.json
  google-cloud-eventarc-publishing-v1/google-cloud-eventarc-publishing-v1.gemspec
  google-cloud-eventarc-publishing-v1/lib/google-cloud-eventarc-publishing-v1.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher/client.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher/credentials.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher_pb.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/publisher_services_pb.rb
  google-cloud-eventarc-publishing-v1/lib/google/cloud/eventarc/publishing/v1/version.rb
  google-cloud-eventarc-publishing-v1/proto_docs/README.md
  google-cloud-eventarc-publishing-v1/proto_docs/google/api/resource.rb
  google-cloud-eventarc-publishing-v1/proto_docs/google/cloud/eventarc/publishing/v1/publisher.rb
  google-cloud-eventarc-publishing-v1/proto_docs/google/protobuf/any.rb
  google-cloud-eventarc-publishing-v1/snippets/Gemfile
  google-cloud-eventarc-publishing-v1/snippets/publisher/publish_channel_connection_events.rb
  google-cloud-eventarc-publishing-v1/test/google/cloud/eventarc/publishing/v1/publisher_test.rb
  google-cloud-eventarc-publishing-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  owl-bot-staging/google-cloud-kms/.gitignore
  owl-bot-staging/google-cloud-kms/.repo-metadata.json
  owl-bot-staging/google-cloud-kms/.rubocop.yml
  owl-bot-staging/google-cloud-kms/.yardopts
  owl-bot-staging/google-cloud-kms/AUTHENTICATION.md
  owl-bot-staging/google-cloud-kms/CHANGELOG.md
  owl-bot-staging/google-cloud-kms/Gemfile
  owl-bot-staging/google-cloud-kms/LICENSE.md
  owl-bot-staging/google-cloud-kms/README.md
  owl-bot-staging/google-cloud-kms/Rakefile
  owl-bot-staging/google-cloud-kms/google-cloud-kms.gemspec
  owl-bot-staging/google-cloud-kms/lib/google-cloud-kms.rb
  owl-bot-staging/google-cloud-kms/lib/google/cloud/kms.rb
  owl-bot-staging/google-cloud-kms/lib/google/cloud/kms/version.rb
  owl-bot-staging/google-cloud-kms/test/google/cloud/kms/client_test.rb
  owl-bot-staging/google-cloud-kms/test/google/cloud/kms/version_test.rb
  owl-bot-staging/google-cloud-kms/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  google-cloud-kms/.repo-metadata.json
  google-cloud-kms/AUTHENTICATION.md
  google-cloud-kms/README.md
  google-cloud-kms/Rakefile
  google-cloud-kms/lib/google/cloud/kms.rb
  google-cloud-kms/test/google/cloud/kms/client_test.rb
  owl-bot-staging/google-cloud-kms/.gitignore
  owl-bot-staging/google-cloud-kms/.repo-metadata.json
  owl-bot-staging/google-cloud-kms/.rubocop.yml
  owl-bot-staging/google-cloud-kms/.yardopts
  owl-bot-staging/google-cloud-kms/AUTHENTICATION.md
  owl-bot-staging/google-cloud-kms/CHANGELOG.md
  owl-bot-staging/google-cloud-kms/Gemfile
  owl-bot-staging/google-cloud-kms/LICENSE.md
  owl-bot-staging/google-cloud-kms/README.md
  owl-bot-staging/google-cloud-kms/Rakefile
  owl-bot-staging/google-cloud-kms/google-cloud-kms.gemspec
  owl-bot-staging/google-cloud-kms/lib/google-cloud-kms.rb
  owl-bot-staging/google-cloud-kms/lib/google/cloud/kms.rb
  owl-bot-staging/google-cloud-kms/lib/google/cloud/kms/version.rb
  owl-bot-staging/google-cloud-kms/test/google/cloud/kms/client_test.rb
  owl-bot-staging/google-cloud-kms/test/google/cloud/kms/version_test.rb
  owl-bot-staging/google-cloud-kms/test/helper.rb
Owners: @googleapis/yoshi-ruby

[CHANGE ME] OwlBot on-demand for google-cloud-kms
  google-cloud-kms/AUTHENTICATION.md
  google-cloud-kms/Rakefile
  google-cloud-kms/lib/google/cloud/kms.rb
  google-cloud-kms/test/google/cloud/kms/client_test.rb
Owners: @googleapis/yoshi-ruby

fix(ruby): Update kms-v1 dependency to 0.11 to ensure support for managing EKM connections
  owl-bot-staging/google-cloud-kms/.gitignore
  owl-bot-staging/google-cloud-kms/.repo-metadata.json
  owl-bot-staging/google-cloud-kms/.rubocop.yml
  owl-bot-staging/google-cloud-kms/.yardopts
  owl-bot-staging/google-cloud-kms/AUTHENTICATION.md
  owl-bot-staging/google-cloud-kms/CHANGELOG.md
  owl-bot-staging/google-cloud-kms/Gemfile
  owl-bot-staging/google-cloud-kms/LICENSE.md
  owl-bot-staging/google-cloud-kms/README.md
  owl-bot-staging/google-cloud-kms/Rakefile
  owl-bot-staging/google-cloud-kms/google-cloud-kms.gemspec
  owl-bot-staging/google-cloud-kms/lib/google-cloud-kms.rb
  owl-bot-staging/google-cloud-kms/lib/google/cloud/kms.rb
  owl-bot-staging/google-cloud-kms/lib/google/cloud/kms/version.rb
  owl-bot-staging/google-cloud-kms/test/google/cloud/kms/client_test.rb
  owl-bot-staging/google-cloud-kms/test/google/cloud/kms/version_test.rb
  owl-bot-staging/google-cloud-kms/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  google-cloud-kms/AUTHENTICATION.md
  google-cloud-kms/Rakefile
  google-cloud-kms/google-cloud-kms.gemspec
  google-cloud-kms/lib/google/cloud/kms.rb
  google-cloud-kms/test/google/cloud/kms/client_test.rb
  owl-bot-staging/google-cloud-kms/.gitignore
  owl-bot-staging/google-cloud-kms/.repo-metadata.json
  owl-bot-staging/google-cloud-kms/.rubocop.yml
  owl-bot-staging/google-cloud-kms/.yardopts
  owl-bot-staging/google-cloud-kms/AUTHENTICATION.md
  owl-bot-staging/google-cloud-kms/CHANGELOG.md
  owl-bot-staging/google-cloud-kms/Gemfile
  owl-bot-staging/google-cloud-kms/LICENSE.md
  owl-bot-staging/google-cloud-kms/README.md
  owl-bot-staging/google-cloud-kms/Rakefile
  owl-bot-staging/google-cloud-kms/google-cloud-kms.gemspec
  owl-bot-staging/google-cloud-kms/lib/google-cloud-kms.rb
  owl-bot-staging/google-cloud-kms/lib/google/cloud/kms.rb
  owl-bot-staging/google-cloud-kms/lib/google/cloud/kms/version.rb
  owl-bot-staging/google-cloud-kms/test/google/cloud/kms/client_test.rb
  owl-bot-staging/google-cloud-kms/test/google/cloud/kms/version_test.rb
  owl-bot-staging/google-cloud-kms/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(private_ca-v1): Custom owlbot config to disable generation of iam and location files
  google-cloud-security-private_ca-v1/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore(private_ca-v1): Custom owlbot config to disable generation of iam and location files
  google-cloud-security-private_ca-v1/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-gke_hub-v1 0.2.0 (#17268)
  google-cloud-gke_hub-v1/CHANGELOG.md
  google-cloud-gke_hub-v1/lib/google/cloud/gke_hub/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(private_ca-v1): Update owlbot config
  google-cloud-security-private_ca-v1/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore(private_ca-v1): Update owlbot config (#17607)
  google-cloud-security-private_ca-v1/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: Update owlbot config
  google-cloud-security-private_ca-v1/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore(private_ca-v1): Update owlbot config (#17608)
  google-cloud-security-private_ca-v1/.owlbot.rb
Owners: @googleapis/yoshi-ruby

feat!: Remove EnableService and DisableService RPC methods and related protos from service management API BREAKING CHANGE:
  owl-bot-staging/google-cloud-service_management/.gitignore
  owl-bot-staging/google-cloud-service_management/.repo-metadata.json
  owl-bot-staging/google-cloud-service_management/.rubocop.yml
  owl-bot-staging/google-cloud-service_management/.yardopts
  owl-bot-staging/google-cloud-service_management/AUTHENTICATION.md
  owl-bot-staging/google-cloud-service_management/CHANGELOG.md
  owl-bot-staging/google-cloud-service_management/Gemfile
  owl-bot-staging/google-cloud-service_management/LICENSE.md
  owl-bot-staging/google-cloud-service_management/README.md
  owl-bot-staging/google-cloud-service_management/Rakefile
  owl-bot-staging/google-cloud-service_management/google-cloud-service_management.gemspec
  owl-bot-staging/google-cloud-service_management/lib/google-cloud-service_management.rb
  owl-bot-staging/google-cloud-service_management/lib/google/cloud/service_management.rb
  owl-bot-staging/google-cloud-service_management/lib/google/cloud/service_management/version.rb
  owl-bot-staging/google-cloud-service_management/test/google/cloud/service_management/client_test.rb
  owl-bot-staging/google-cloud-service_management/test/google/cloud/service_management/version_test.rb
  owl-bot-staging/google-cloud-service_management/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  google-cloud-service_management/lib/google/cloud/service_management.rb
  owl-bot-staging/google-cloud-service_management/.gitignore
  owl-bot-staging/google-cloud-service_management/.repo-metadata.json
  owl-bot-staging/google-cloud-service_management/.rubocop.yml
  owl-bot-staging/google-cloud-service_management/.yardopts
  owl-bot-staging/google-cloud-service_management/AUTHENTICATION.md
  owl-bot-staging/google-cloud-service_management/CHANGELOG.md
  owl-bot-staging/google-cloud-service_management/Gemfile
  owl-bot-staging/google-cloud-service_management/LICENSE.md
  owl-bot-staging/google-cloud-service_management/README.md
  owl-bot-staging/google-cloud-service_management/Rakefile
  owl-bot-staging/google-cloud-service_management/google-cloud-service_management.gemspec
  owl-bot-staging/google-cloud-service_management/lib/google-cloud-service_management.rb
  owl-bot-staging/google-cloud-service_management/lib/google/cloud/service_management.rb
  owl-bot-staging/google-cloud-service_management/lib/google/cloud/service_management/version.rb
  owl-bot-staging/google-cloud-service_management/test/google/cloud/service_management/client_test.rb
  owl-bot-staging/google-cloud-service_management/test/google/cloud/service_management/version_test.rb
  owl-bot-staging/google-cloud-service_management/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-billing-budgets-v1beta1 0.6.5
  google-cloud-billing-budgets-v1beta1/CHANGELOG.md
  google-cloud-billing-budgets-v1beta1/lib/google/cloud/billing/budgets/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-pubsub-v1 0.7.1
  google-cloud-pubsub-v1/CHANGELOG.md
  google-cloud-pubsub-v1/lib/google/cloud/pubsub/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-redis-v1beta1 0.7.0
  google-cloud-redis-v1beta1/CHANGELOG.md
  google-cloud-redis-v1beta1/lib/google/cloud/redis/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-access_approval-v1 0.5.0
  google-cloud-access_approval-v1/CHANGELOG.md
  google-cloud-access_approval-v1/lib/google/cloud/access_approval/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-container_analysis-v1 0.4.7
  google-cloud-container_analysis-v1/CHANGELOG.md
  google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-text_to_speech-v1 0.5.2
  google-cloud-text_to_speech-v1/CHANGELOG.md
  google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-compute-v1 1.1.0
  google-cloud-compute-v1/CHANGELOG.md
  google-cloud-compute-v1/lib/google/cloud/compute/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-spanner-v1 0.8.0
  google-cloud-spanner-v1/CHANGELOG.md
  google-cloud-spanner-v1/lib/google/cloud/spanner/v1/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
