Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

feat: update compute API to revision 20220322 (#710)
  owl-bot-staging/google-cloud-compute/.gitignore
  owl-bot-staging/google-cloud-compute/.repo-metadata.json
  owl-bot-staging/google-cloud-compute/.rubocop.yml
  owl-bot-staging/google-cloud-compute/.yardopts
  owl-bot-staging/google-cloud-compute/AUTHENTICATION.md
  owl-bot-staging/google-cloud-compute/CHANGELOG.md
  owl-bot-staging/google-cloud-compute/Gemfile
  owl-bot-staging/google-cloud-compute/LICENSE.md
  owl-bot-staging/google-cloud-compute/README.md
  owl-bot-staging/google-cloud-compute/Rakefile
  owl-bot-staging/google-cloud-compute/google-cloud-compute.gemspec
  owl-bot-staging/google-cloud-compute/lib/google-cloud-compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute/version.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/version_test.rb
  owl-bot-staging/google-cloud-compute/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-compute/lib/google/cloud/compute.rb
  google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/.gitignore
  owl-bot-staging/google-cloud-compute/.repo-metadata.json
  owl-bot-staging/google-cloud-compute/.rubocop.yml
  owl-bot-staging/google-cloud-compute/.yardopts
  owl-bot-staging/google-cloud-compute/AUTHENTICATION.md
  owl-bot-staging/google-cloud-compute/CHANGELOG.md
  owl-bot-staging/google-cloud-compute/Gemfile
  owl-bot-staging/google-cloud-compute/LICENSE.md
  owl-bot-staging/google-cloud-compute/README.md
  owl-bot-staging/google-cloud-compute/Rakefile
  owl-bot-staging/google-cloud-compute/google-cloud-compute.gemspec
  owl-bot-staging/google-cloud-compute/lib/google-cloud-compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute/version.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/version_test.rb
  owl-bot-staging/google-cloud-compute/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-compute/lib/google/cloud/compute.rb
  google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/.gitignore
  owl-bot-staging/google-cloud-compute/.repo-metadata.json
  owl-bot-staging/google-cloud-compute/.rubocop.yml
  owl-bot-staging/google-cloud-compute/.yardopts
  owl-bot-staging/google-cloud-compute/AUTHENTICATION.md
  owl-bot-staging/google-cloud-compute/CHANGELOG.md
  owl-bot-staging/google-cloud-compute/Gemfile
  owl-bot-staging/google-cloud-compute/LICENSE.md
  owl-bot-staging/google-cloud-compute/README.md
  owl-bot-staging/google-cloud-compute/Rakefile
  owl-bot-staging/google-cloud-compute/google-cloud-compute.gemspec
  owl-bot-staging/google-cloud-compute/lib/google-cloud-compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute/version.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/version_test.rb
  owl-bot-staging/google-cloud-compute/test/helper.rb
Owners: @googleapis/yoshi-ruby

samples(storage): Remove the samples migrated to individual files (#17596)
  google-cloud-storage/samples/acceptance/acls_test.rb
  google-cloud-storage/samples/acls.rb
  google-cloud-storage/samples/storage_print_file_acl.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

fix: Update grpc-google-iam-v1 dependency to 1.1
  google-cloud-artifact_registry-v1/google-cloud-artifact_registry-v1.gemspec
  google-cloud-artifact_registry-v1beta2/google-cloud-artifact_registry-v1beta2.gemspec
  google-cloud-asset-v1/google-cloud-asset-v1.gemspec
  google-cloud-asset-v1beta1/google-cloud-asset-v1beta1.gemspec
  google-cloud-bigquery-connection-v1/google-cloud-bigquery-connection-v1.gemspec
  google-cloud-bigtable-admin-v2/google-cloud-bigtable-admin-v2.gemspec
  google-cloud-billing-v1/google-cloud-billing-v1.gemspec
  google-cloud-container_analysis-v1/google-cloud-container_analysis-v1.gemspec
  google-cloud-data_catalog-v1/google-cloud-data_catalog-v1.gemspec
  google-cloud-functions-v1/google-cloud-functions-v1.gemspec
  google-cloud-iap-v1/google-cloud-iap-v1.gemspec
  google-cloud-iot-v1/google-cloud-iot-v1.gemspec
  google-cloud-kms-v1/google-cloud-kms-v1.gemspec
  google-cloud-policy_troubleshooter-v1/google-cloud-policy_troubleshooter-v1.gemspec
  google-cloud-pubsub-v1/google-cloud-pubsub-v1.gemspec
  google-cloud-resource_manager-v3/google-cloud-resource_manager-v3.gemspec
  google-cloud-secret_manager-v1/google-cloud-secret_manager-v1.gemspec
  google-cloud-secret_manager-v1beta1/google-cloud-secret_manager-v1beta1.gemspec
  google-cloud-security-private_ca-v1/google-cloud-security-private_ca-v1.gemspec
  google-cloud-security_center-v1/google-cloud-security_center-v1.gemspec
  google-cloud-security_center-v1p1beta1/google-cloud-security_center-v1p1beta1.gemspec
  google-cloud-service_directory-v1/google-cloud-service_directory-v1.gemspec
  google-cloud-service_directory-v1beta1/google-cloud-service_directory-v1beta1.gemspec
  google-cloud-spanner-admin-database-v1/google-cloud-spanner-admin-database-v1.gemspec
  google-cloud-spanner-admin-instance-v1/google-cloud-spanner-admin-instance-v1.gemspec
  google-cloud-tasks-v2/google-cloud-tasks-v2.gemspec
  google-cloud-tasks-v2beta2/google-cloud-tasks-v2beta2.gemspec
  google-cloud-tasks-v2beta3/google-cloud-tasks-v2beta3.gemspec
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

fix: Update grpc-google-iam-v1 dependency to 1.1 (#17990)
  google-cloud-artifact_registry-v1/google-cloud-artifact_registry-v1.gemspec
  google-cloud-artifact_registry-v1beta2/google-cloud-artifact_registry-v1beta2.gemspec
  google-cloud-asset-v1/google-cloud-asset-v1.gemspec
  google-cloud-asset-v1beta1/google-cloud-asset-v1beta1.gemspec
  google-cloud-bigquery-connection-v1/google-cloud-bigquery-connection-v1.gemspec
  google-cloud-bigtable-admin-v2/google-cloud-bigtable-admin-v2.gemspec
  google-cloud-billing-v1/google-cloud-billing-v1.gemspec
  google-cloud-container_analysis-v1/google-cloud-container_analysis-v1.gemspec
  google-cloud-data_catalog-v1/google-cloud-data_catalog-v1.gemspec
  google-cloud-functions-v1/google-cloud-functions-v1.gemspec
  google-cloud-iap-v1/google-cloud-iap-v1.gemspec
  google-cloud-iot-v1/google-cloud-iot-v1.gemspec
  google-cloud-kms-v1/google-cloud-kms-v1.gemspec
  google-cloud-policy_troubleshooter-v1/google-cloud-policy_troubleshooter-v1.gemspec
  google-cloud-pubsub-v1/google-cloud-pubsub-v1.gemspec
  google-cloud-resource_manager-v3/google-cloud-resource_manager-v3.gemspec
  google-cloud-secret_manager-v1/google-cloud-secret_manager-v1.gemspec
  google-cloud-secret_manager-v1beta1/google-cloud-secret_manager-v1beta1.gemspec
  google-cloud-security-private_ca-v1/google-cloud-security-private_ca-v1.gemspec
  google-cloud-security_center-v1/google-cloud-security_center-v1.gemspec
  google-cloud-security_center-v1p1beta1/google-cloud-security_center-v1p1beta1.gemspec
  google-cloud-service_directory-v1/google-cloud-service_directory-v1.gemspec
  google-cloud-service_directory-v1beta1/google-cloud-service_directory-v1beta1.gemspec
  google-cloud-spanner-admin-database-v1/google-cloud-spanner-admin-database-v1.gemspec
  google-cloud-spanner-admin-instance-v1/google-cloud-spanner-admin-instance-v1.gemspec
  google-cloud-tasks-v2/google-cloud-tasks-v2.gemspec
  google-cloud-tasks-v2beta2/google-cloud-tasks-v2beta2.gemspec
  google-cloud-tasks-v2beta3/google-cloud-tasks-v2beta3.gemspec
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Add sample for dual region bucket
  google-cloud-storage/samples/acceptance/buckets_test.rb
  google-cloud-storage/samples/storage_create_bucket_dual_region.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Adds an integration test for dual region test
  google-cloud-storage/acceptance/storage/bucket_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Fix a failing spec
  google-cloud-storage/acceptance/storage/bucket_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

feat: Remove dependency on the obsolete v1alpha version
  owl-bot-staging/google-analytics-data/.gitignore
  owl-bot-staging/google-analytics-data/.repo-metadata.json
  owl-bot-staging/google-analytics-data/.rubocop.yml
  owl-bot-staging/google-analytics-data/.yardopts
  owl-bot-staging/google-analytics-data/AUTHENTICATION.md
  owl-bot-staging/google-analytics-data/CHANGELOG.md
  owl-bot-staging/google-analytics-data/Gemfile
  owl-bot-staging/google-analytics-data/LICENSE.md
  owl-bot-staging/google-analytics-data/README.md
  owl-bot-staging/google-analytics-data/Rakefile
  owl-bot-staging/google-analytics-data/google-analytics-data.gemspec
  owl-bot-staging/google-analytics-data/lib/google-analytics-data.rb
  owl-bot-staging/google-analytics-data/lib/google/analytics/data.rb
  owl-bot-staging/google-analytics-data/lib/google/analytics/data/version.rb
  owl-bot-staging/google-analytics-data/test/google/analytics/data/client_test.rb
  owl-bot-staging/google-analytics-data/test/google/analytics/data/version_test.rb
  owl-bot-staging/google-analytics-data/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-analytics-data/Gemfile
  google-analytics-data/README.md
  google-analytics-data/google-analytics-data.gemspec
  owl-bot-staging/google-analytics-data/.gitignore
  owl-bot-staging/google-analytics-data/.repo-metadata.json
  owl-bot-staging/google-analytics-data/.rubocop.yml
  owl-bot-staging/google-analytics-data/.yardopts
  owl-bot-staging/google-analytics-data/AUTHENTICATION.md
  owl-bot-staging/google-analytics-data/CHANGELOG.md
  owl-bot-staging/google-analytics-data/Gemfile
  owl-bot-staging/google-analytics-data/LICENSE.md
  owl-bot-staging/google-analytics-data/README.md
  owl-bot-staging/google-analytics-data/Rakefile
  owl-bot-staging/google-analytics-data/google-analytics-data.gemspec
  owl-bot-staging/google-analytics-data/lib/google-analytics-data.rb
  owl-bot-staging/google-analytics-data/lib/google/analytics/data.rb
  owl-bot-staging/google-analytics-data/lib/google/analytics/data/version.rb
  owl-bot-staging/google-analytics-data/test/google/analytics/data/client_test.rb
  owl-bot-staging/google-analytics-data/test/google/analytics/data/version_test.rb
  owl-bot-staging/google-analytics-data/test/helper.rb
Owners: @googleapis/yoshi-ruby

fix: Update grpc-google-iam-v1 dependency
  owl-bot-staging/google-cloud-container_analysis-v1/.gitignore
  owl-bot-staging/google-cloud-container_analysis-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-container_analysis-v1/.rubocop.yml
  owl-bot-staging/google-cloud-container_analysis-v1/.yardopts
  owl-bot-staging/google-cloud-container_analysis-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-container_analysis-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-container_analysis-v1/Gemfile
  owl-bot-staging/google-cloud-container_analysis-v1/LICENSE.md
  owl-bot-staging/google-cloud-container_analysis-v1/README.md
  owl-bot-staging/google-cloud-container_analysis-v1/Rakefile
  owl-bot-staging/google-cloud-container_analysis-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-container_analysis-v1/google-cloud-container_analysis-v1.gemspec
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google-cloud-container_analysis-v1.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis/client.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis/credentials.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis/paths.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/version.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/devtools/containeranalysis/v1/containeranalysis_pb.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/devtools/containeranalysis/v1/containeranalysis_services_pb.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/devtools/containeranalysis/v1/containeranalysis.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/iam/v1/iam_policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/iam/v1/options.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/iam/v1/policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/protobuf/field_mask.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/type/expr.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/grafeas/v1/severity.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/get_iam_policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/get_vulnerability_occurrences_summary.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/set_iam_policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/test_iam_permissions.rb
  owl-bot-staging/google-cloud-container_analysis-v1/test/google/cloud/container_analysis/v1/container_analysis_paths_test.rb
  owl-bot-staging/google-cloud-container_analysis-v1/test/google/cloud/container_analysis/v1/container_analysis_test.rb
  owl-bot-staging/google-cloud-container_analysis-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-container_analysis-v1/google-cloud-container_analysis-v1.gemspec
  owl-bot-staging/google-cloud-container_analysis-v1/.gitignore
  owl-bot-staging/google-cloud-container_analysis-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-container_analysis-v1/.rubocop.yml
  owl-bot-staging/google-cloud-container_analysis-v1/.yardopts
  owl-bot-staging/google-cloud-container_analysis-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-container_analysis-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-container_analysis-v1/Gemfile
  owl-bot-staging/google-cloud-container_analysis-v1/LICENSE.md
  owl-bot-staging/google-cloud-container_analysis-v1/README.md
  owl-bot-staging/google-cloud-container_analysis-v1/Rakefile
  owl-bot-staging/google-cloud-container_analysis-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-container_analysis-v1/google-cloud-container_analysis-v1.gemspec
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google-cloud-container_analysis-v1.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis/client.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis/credentials.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/container_analysis/paths.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/cloud/container_analysis/v1/version.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/devtools/containeranalysis/v1/containeranalysis_pb.rb
  owl-bot-staging/google-cloud-container_analysis-v1/lib/google/devtools/containeranalysis/v1/containeranalysis_services_pb.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/devtools/containeranalysis/v1/containeranalysis.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/iam/v1/iam_policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/iam/v1/options.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/iam/v1/policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/protobuf/field_mask.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/google/type/expr.rb
  owl-bot-staging/google-cloud-container_analysis-v1/proto_docs/grafeas/v1/severity.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/get_iam_policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/get_vulnerability_occurrences_summary.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/set_iam_policy.rb
  owl-bot-staging/google-cloud-container_analysis-v1/snippets/container_analysis/test_iam_permissions.rb
  owl-bot-staging/google-cloud-container_analysis-v1/test/google/cloud/container_analysis/v1/container_analysis_paths_test.rb
  owl-bot-staging/google-cloud-container_analysis-v1/test/google/cloud/container_analysis/v1/container_analysis_test.rb
  owl-bot-staging/google-cloud-container_analysis-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

Can't use same bucket name
  google-cloud-storage/acceptance/storage/bucket_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Fix failing spec
  google-cloud-storage/acceptance/storage/bucket_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Add documentation to record changes
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
  google-cloud-storage/lib/google/cloud/storage/project.rb
  google-cloud-storage/samples/README.md
  google-cloud-storage/samples/storage_create_bucket_dual_region.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Address review comments
  google-cloud-storage/samples/acceptance/buckets_test.rb
  google-cloud-storage/samples/storage_create_bucket_dual_region.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Fix Rubocop issues
  google-cloud-storage/samples/storage_create_bucket_dual_region.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(main): release google-cloud-compute-v1 1.3.0
  .release-please-manifest.json
  google-cloud-compute-v1/CHANGELOG.md
  google-cloud-compute-v1/lib/google/cloud/compute/v1/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-compute-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-compute-v1 1.3.0 (#18004)
  .release-please-manifest.json
  google-cloud-compute-v1/CHANGELOG.md
  google-cloud-compute-v1/lib/google/cloud/compute/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-reservation-v1 0.5.0
  .release-please-manifest.json
  google-cloud-bigquery-reservation-v1/CHANGELOG.md
  google-cloud-bigquery-reservation-v1/lib/google/cloud/bigquery/reservation/v1/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-bigquery-reservation-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

enumtest
  google-cloud-compute-v1/test/google/cloud/compute/v1/misc_test.rb
Owners: @googleapis/yoshi-ruby

update
  google-cloud-compute-v1/test/google/cloud/compute/v1/misc_test.rb
Owners: @googleapis/yoshi-ruby

fixup
  google-cloud-compute-v1/test/google/cloud/compute/v1/misc_test.rb
Owners: @googleapis/yoshi-ruby

fixup
  google-cloud-compute-v1/test/google/cloud/compute/v1/misc_test.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-data_catalog-v1 0.11.0
  .release-please-manifest.json
  google-cloud-data_catalog-v1/CHANGELOG.md
  google-cloud-data_catalog-v1/lib/google/cloud/data_catalog/v1/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-data_catalog-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-reservation-v1 0.5.0 (#18007)
  .release-please-manifest.json
  google-cloud-bigquery-reservation-v1/CHANGELOG.md
  google-cloud-bigquery-reservation-v1/lib/google/cloud/bigquery/reservation/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-monitoring-dashboard-v1 0.7.0
  .release-please-manifest.json
  google-cloud-monitoring-dashboard-v1/CHANGELOG.md
  google-cloud-monitoring-dashboard-v1/lib/google/cloud/monitoring/dashboard/v1/version.rb
Owners: @googleapis/yoshi-ruby

Update .release-please-manifest.json
  .release-please-manifest.json
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-monitoring-dashboard-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

feat: Require google-cloud-compute-v1 version 1.3
  owl-bot-staging/google-cloud-compute/.gitignore
  owl-bot-staging/google-cloud-compute/.repo-metadata.json
  owl-bot-staging/google-cloud-compute/.rubocop.yml
  owl-bot-staging/google-cloud-compute/.yardopts
  owl-bot-staging/google-cloud-compute/AUTHENTICATION.md
  owl-bot-staging/google-cloud-compute/CHANGELOG.md
  owl-bot-staging/google-cloud-compute/Gemfile
  owl-bot-staging/google-cloud-compute/LICENSE.md
  owl-bot-staging/google-cloud-compute/README.md
  owl-bot-staging/google-cloud-compute/Rakefile
  owl-bot-staging/google-cloud-compute/google-cloud-compute.gemspec
  owl-bot-staging/google-cloud-compute/lib/google-cloud-compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute/version.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/version_test.rb
  owl-bot-staging/google-cloud-compute/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-compute/google-cloud-compute.gemspec
  owl-bot-staging/google-cloud-compute/.gitignore
  owl-bot-staging/google-cloud-compute/.repo-metadata.json
  owl-bot-staging/google-cloud-compute/.rubocop.yml
  owl-bot-staging/google-cloud-compute/.yardopts
  owl-bot-staging/google-cloud-compute/AUTHENTICATION.md
  owl-bot-staging/google-cloud-compute/CHANGELOG.md
  owl-bot-staging/google-cloud-compute/Gemfile
  owl-bot-staging/google-cloud-compute/LICENSE.md
  owl-bot-staging/google-cloud-compute/README.md
  owl-bot-staging/google-cloud-compute/Rakefile
  owl-bot-staging/google-cloud-compute/google-cloud-compute.gemspec
  owl-bot-staging/google-cloud-compute/lib/google-cloud-compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute/version.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/version_test.rb
  owl-bot-staging/google-cloud-compute/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-security_center-v1 0.14.0
  .release-please-manifest.json
  google-cloud-security_center-v1/CHANGELOG.md
  google-cloud-security_center-v1/lib/google/cloud/security_center/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-security_center-v1 0.14.0
  .release-please-manifest.json
  google-cloud-security_center-v1/CHANGELOG.md
  google-cloud-security_center-v1/lib/google/cloud/security_center/v1/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-security_center-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-security_center-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-deploy-v1 0.2.0
  .release-please-manifest.json
  google-cloud-deploy-v1/CHANGELOG.md
  google-cloud-deploy-v1/lib/google/cloud/deploy/v1/version.rb
Owners: @googleapis/yoshi-ruby

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
