Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

Update storage_set_metadata.rb
  google-cloud-storage/samples/storage_set_metadata.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Update storage_change_file_storage_class.rb
  google-cloud-storage/samples/storage_change_file_storage_class.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Update storage_copy_file.rb
  google-cloud-storage/samples/storage_copy_file.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Update storage_set_bucket_default_kms_key.rb
  google-cloud-storage/samples/storage_set_bucket_default_kms_key.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

samples(storage): Skip separate request to received metdata (#17865)
  google-cloud-storage/samples/storage_change_file_storage_class.rb
  google-cloud-storage/samples/storage_compose_file.rb
  google-cloud-storage/samples/storage_copy_file.rb
  google-cloud-storage/samples/storage_copy_file_archived_generation.rb
  google-cloud-storage/samples/storage_delete_file.rb
  google-cloud-storage/samples/storage_delete_file_archived_generation.rb
  google-cloud-storage/samples/storage_download_encrypted_file.rb
  google-cloud-storage/samples/storage_get_metadata.rb
  google-cloud-storage/samples/storage_make_public.rb
  google-cloud-storage/samples/storage_move_file.rb
  google-cloud-storage/samples/storage_object_csek_to_cmek.rb
  google-cloud-storage/samples/storage_release_event_based_hold.rb
  google-cloud-storage/samples/storage_release_temporary_hold.rb
  google-cloud-storage/samples/storage_rotate_encryption_key.rb
  google-cloud-storage/samples/storage_set_event_based_hold.rb
  google-cloud-storage/samples/storage_set_metadata.rb
  google-cloud-storage/samples/storage_set_temporary_hold.rb
  google-cloud-storage/samples/storage_upload_encrypted_file.rb
  google-cloud-storage/samples/storage_upload_with_kms_key.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

samples(storage): Add a Storage sample to set endpoint on client (#17680)
  google-cloud-storage/samples/acceptance/storage_set_client_endpoint_test.rb
  google-cloud-storage/samples/storage_set_client_endpoint.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(deps): update actions/checkout action to v3 (#17855)
  .github/workflows/ci.yml
  .github/workflows/new-library.yml
  .github/workflows/owlbot.yml
  .github/workflows/release-please.yml
  .github/workflows/spanner-integration-tests-against-emulator.yaml
  .github/workflows/update-pr.yml
  .github/workflows/update-release-levels.yml
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery-storage-v1 0.10.0 (#17859)
  google-cloud-bigquery-storage-v1/CHANGELOG.md
  google-cloud-bigquery-storage-v1/lib/google/cloud/bigquery/storage/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-security_center-v1 0.13.0 (#17860)
  google-cloud-security_center-v1/CHANGELOG.md
  google-cloud-security_center-v1/lib/google/cloud/security_center/v1/version.rb
Owners: @googleapis/yoshi-ruby

Update storage_create_bucket_turbo_replication.rb
  google-cloud-storage/samples/storage_create_bucket_turbo_replication.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-logging-v2 0.7.0
  google-cloud-logging-v2/CHANGELOG.md
  google-cloud-logging-v2/lib/google/cloud/logging/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-v2 0.15.0
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-logging-v2 0.7.0 (#17867)
  google-cloud-logging-v2/CHANGELOG.md
  google-cloud-logging-v2/lib/google/cloud/logging/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-v2 0.15.0 (#17868)
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-firestore-v1 0.4.7
  google-cloud-firestore-v1/CHANGELOG.md
  google-cloud-firestore-v1/lib/google/cloud/firestore/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-logging-v2 0.7.0
  google-cloud-logging-v2/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-logging-v2 0.7.0 (#17872)
  google-cloud-logging-v2/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

Fix a failing spec
  google-cloud-storage/samples/storage_print_file_acl.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-firestore-v1 0.4.7 (#17871)
  google-cloud-firestore-v1/CHANGELOG.md
  google-cloud-firestore-v1/lib/google/cloud/firestore/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery-connection-v1 0.6.0
  google-cloud-bigquery-connection-v1/CHANGELOG.md
  google-cloud-bigquery-connection-v1/lib/google/cloud/bigquery/connection/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery-connection-v1 0.6.0 (#17875)
  google-cloud-bigquery-connection-v1/CHANGELOG.md
  google-cloud-bigquery-connection-v1/lib/google/cloud/bigquery/connection/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-analytics-admin-v1alpha 0.11.0
  google-analytics-admin-v1alpha/CHANGELOG.md
  google-analytics-admin-v1alpha/lib/google/analytics/admin/v1alpha/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-cx-v3 0.6.0
  google-cloud-dialogflow-cx-v3/CHANGELOG.md
  google-cloud-dialogflow-cx-v3/lib/google/cloud/dialogflow/cx/v3/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-analytics-admin-v1alpha 0.11.0 (#17877)
  google-analytics-admin-v1alpha/CHANGELOG.md
  google-analytics-admin-v1alpha/lib/google/analytics/admin/v1alpha/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-cx-v3 0.6.0 (#17878)
  google-cloud-dialogflow-cx-v3/CHANGELOG.md
  google-cloud-dialogflow-cx-v3/lib/google/cloud/dialogflow/cx/v3/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-v2 0.15.1
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
Owners: @googleapis/yoshi-ruby

remove custom waits from tests
  google-cloud-compute-v1/acceptance/google/cloud/compute/v1/addresses_smoke_test.rb
  google-cloud-compute-v1/acceptance/google/cloud/compute/v1/instances_smoke_test.rb
  google-cloud-compute-v1/acceptance/google/cloud/compute/v1/query_params_smoke_test.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-v2 0.15.1 (#17879)
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
Owners: @googleapis/yoshi-ruby

feat: promote CustomVoiceParams to v1
  owl-bot-staging/google-cloud-text_to_speech-v1/.gitignore
  owl-bot-staging/google-cloud-text_to_speech-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/.rubocop.yml
  owl-bot-staging/google-cloud-text_to_speech-v1/.yardopts
  owl-bot-staging/google-cloud-text_to_speech-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-text_to_speech-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/LICENSE.md
  owl-bot-staging/google-cloud-text_to_speech-v1/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Rakefile
  owl-bot-staging/google-cloud-text_to_speech-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/google-cloud-text_to_speech-v1.gemspec
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google-cloud-text_to_speech-v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/client.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/credentials.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/paths.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/version.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_services_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/cloud/texttospeech/v1/cloud_tts.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/list_voices.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/synthesize_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/google/cloud/text_to_speech/v1/text_to_speech_paths_test.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/google/cloud/text_to_speech/v1/text_to_speech_test.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-text_to_speech-v1/.owlbot-manifest.json
  google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech.rb
  google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/client.rb
  google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/paths.rb
  google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_pb.rb
  google-cloud-text_to_speech-v1/proto_docs/google/cloud/texttospeech/v1/cloud_tts.rb
  google-cloud-text_to_speech-v1/test/google/cloud/text_to_speech/v1/text_to_speech_paths_test.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/.gitignore
  owl-bot-staging/google-cloud-text_to_speech-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/.rubocop.yml
  owl-bot-staging/google-cloud-text_to_speech-v1/.yardopts
  owl-bot-staging/google-cloud-text_to_speech-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-text_to_speech-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/LICENSE.md
  owl-bot-staging/google-cloud-text_to_speech-v1/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Rakefile
  owl-bot-staging/google-cloud-text_to_speech-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/google-cloud-text_to_speech-v1.gemspec
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google-cloud-text_to_speech-v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/client.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/credentials.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/version.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_services_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/cloud/texttospeech/v1/cloud_tts.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/list_voices.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/synthesize_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/google/cloud/text_to_speech/v1/text_to_speech_test.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-text_to_speech-v1/.owlbot-manifest.json
  google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech.rb
  google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/client.rb
  google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/paths.rb
  google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_pb.rb
  google-cloud-text_to_speech-v1/proto_docs/google/cloud/texttospeech/v1/cloud_tts.rb
  google-cloud-text_to_speech-v1/test/google/cloud/text_to_speech/v1/text_to_speech_paths_test.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/.gitignore
  owl-bot-staging/google-cloud-text_to_speech-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/.rubocop.yml
  owl-bot-staging/google-cloud-text_to_speech-v1/.yardopts
  owl-bot-staging/google-cloud-text_to_speech-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-text_to_speech-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/LICENSE.md
  owl-bot-staging/google-cloud-text_to_speech-v1/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Rakefile
  owl-bot-staging/google-cloud-text_to_speech-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/google-cloud-text_to_speech-v1.gemspec
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google-cloud-text_to_speech-v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/client.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/credentials.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/version.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_services_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/cloud/texttospeech/v1/cloud_tts.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/list_voices.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/synthesize_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/google/cloud/text_to_speech/v1/text_to_speech_test.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(spanner): [Benchmark] Update benchwrapper script to run ruby script in foreground.
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] Update benchwrapper script to run ruby script in foreground (#17884)
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] Start spanner emulator outside the script
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] Start spanner emulator outside the script (#17885)
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

remove quota-project config
  google-cloud-spanner/acceptance/spanner_helper.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] Run the benchwrapper ruby script at port 80
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): [Benchmark] Run the benchwrapper ruby script at port 80 (#17887)
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Revert "chore(spanner): [Benchmark] Run the benchwrapper ruby script at port 80 (#17887)"
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(spanner): "Revert: [Benchmark] Run the benchwrapper ruby script at port 80 (#17887)" (#17888)
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
