Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

docs: fix docstring formatting
  owl-bot-staging/google-cloud-text_to_speech-v1/.gitignore
  owl-bot-staging/google-cloud-text_to_speech-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/.rubocop.yml
  owl-bot-staging/google-cloud-text_to_speech-v1/.yardopts
  owl-bot-staging/google-cloud-text_to_speech-v1/.yardopts-cloudrad
  owl-bot-staging/google-cloud-text_to_speech-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-text_to_speech-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/LICENSE.md
  owl-bot-staging/google-cloud-text_to_speech-v1/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Rakefile
  owl-bot-staging/google-cloud-text_to_speech-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/google-cloud-text_to_speech-v1.gemspec
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google-cloud-text_to_speech-v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/client.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/credentials.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/version.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_services_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/cloud/texttospeech/v1/cloud_tts.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/list_voices.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/synthesize_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/google/cloud/text_to_speech/v1/text_to_speech_test.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/client.rb
  google-cloud-text_to_speech-v1/proto_docs/google/cloud/texttospeech/v1/cloud_tts.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/.gitignore
  owl-bot-staging/google-cloud-text_to_speech-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/.rubocop.yml
  owl-bot-staging/google-cloud-text_to_speech-v1/.yardopts
  owl-bot-staging/google-cloud-text_to_speech-v1/.yardopts-cloudrad
  owl-bot-staging/google-cloud-text_to_speech-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-text_to_speech-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/LICENSE.md
  owl-bot-staging/google-cloud-text_to_speech-v1/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Rakefile
  owl-bot-staging/google-cloud-text_to_speech-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/google-cloud-text_to_speech-v1.gemspec
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google-cloud-text_to_speech-v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/client.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/credentials.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/version.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_services_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/cloud/texttospeech/v1/cloud_tts.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/list_voices.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/synthesize_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/google/cloud/text_to_speech/v1/text_to_speech_test.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore: Switch cloud-rad build script and templates to ruby-common-tools repo
  .toys/cloud-rad.rb
  .toys/release.rb
Owners: @googleapis/yoshi-ruby

chore: Switch cloud-rad build script and templates to ruby-common-tools repo
  .toys/cloud-rad.rb
  .toys/release.rb
Owners: @googleapis/yoshi-ruby

feat: update v1 proto
  owl-bot-staging/google-cloud-text_to_speech-v1/.gitignore
  owl-bot-staging/google-cloud-text_to_speech-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/.rubocop.yml
  owl-bot-staging/google-cloud-text_to_speech-v1/.yardopts
  owl-bot-staging/google-cloud-text_to_speech-v1/.yardopts-cloudrad
  owl-bot-staging/google-cloud-text_to_speech-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-text_to_speech-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/LICENSE.md
  owl-bot-staging/google-cloud-text_to_speech-v1/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Rakefile
  owl-bot-staging/google-cloud-text_to_speech-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/google-cloud-text_to_speech-v1.gemspec
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google-cloud-text_to_speech-v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/client.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/credentials.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/version.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_services_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/cloud/texttospeech/v1/cloud_tts.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/list_voices.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/synthesize_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/google/cloud/text_to_speech/v1/text_to_speech_test.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/client.rb
  google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_pb.rb
  google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_services_pb.rb
  google-cloud-text_to_speech-v1/proto_docs/google/cloud/texttospeech/v1/cloud_tts.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/.gitignore
  owl-bot-staging/google-cloud-text_to_speech-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/.rubocop.yml
  owl-bot-staging/google-cloud-text_to_speech-v1/.yardopts
  owl-bot-staging/google-cloud-text_to_speech-v1/.yardopts-cloudrad
  owl-bot-staging/google-cloud-text_to_speech-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-text_to_speech-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/LICENSE.md
  owl-bot-staging/google-cloud-text_to_speech-v1/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/Rakefile
  owl-bot-staging/google-cloud-text_to_speech-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-text_to_speech-v1/google-cloud-text_to_speech-v1.gemspec
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google-cloud-text_to_speech-v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/client.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/text_to_speech/credentials.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/version.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/lib/google/cloud/texttospeech/v1/cloud_tts_services_pb.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/proto_docs/google/cloud/texttospeech/v1/cloud_tts.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/list_voices.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/snippets/text_to_speech/synthesize_speech.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/google/cloud/text_to_speech/v1/text_to_speech_test.rb
  owl-bot-staging/google-cloud-text_to_speech-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

feat(bigquery): Add session support
  google-cloud-bigquery/.rubocop.yml
  google-cloud-bigquery/acceptance/bigquery/advanced_test.rb
  google-cloud-bigquery/acceptance/bigquery/dataset_reference_test.rb
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/project.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/support/doctest_helper.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_query_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_query_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_query_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_query_test.rb
  google-cloud-bigquery/test/helper.rb
Owners: @googleapis/yoshi-ruby

Run job in sample, lint
  google-cloud-storage_transfer-v1/samples/Gemfile
  google-cloud-storage_transfer-v1/samples/Rakefile
  google-cloud-storage_transfer-v1/samples/acceptance/helper.rb
  google-cloud-storage_transfer-v1/samples/acceptance/quickstart_test.rb
  google-cloud-storage_transfer-v1/samples/quickstart.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery 1.38.0
  google-cloud-bigquery/CHANGELOG.md
  google-cloud-bigquery/lib/google/cloud/bigquery/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery 1.38.0 (#16072)
  google-cloud-bigquery/CHANGELOG.md
  google-cloud-bigquery/lib/google/cloud/bigquery/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-os_config-v1 0.9.0
  google-cloud-os_config-v1/CHANGELOG.md
  google-cloud-os_config-v1/lib/google/cloud/os_config/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-security_center-v1 0.11.0
  google-cloud-security_center-v1/CHANGELOG.md
  google-cloud-security_center-v1/lib/google/cloud/security_center/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-text_to_speech-v1 0.4.5
  google-cloud-text_to_speech-v1/CHANGELOG.md
  google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-channel-v1 0.9.2
  google-cloud-channel-v1/CHANGELOG.md
  google-cloud-channel-v1/lib/google/cloud/channel/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-text_to_speech-v1beta1 0.7.0
  google-cloud-text_to_speech-v1beta1/CHANGELOG.md
  google-cloud-text_to_speech-v1beta1/lib/google/cloud/text_to_speech/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-storage 1.35.0
  google-cloud-storage/CHANGELOG.md
  google-cloud-storage/lib/google/cloud/storage/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-resource_manager-v3 0.1.2
  google-cloud-resource_manager-v3/CHANGELOG.md
  google-cloud-resource_manager-v3/lib/google/cloud/resource_manager/v3/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-v2 0.12.0
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
Owners: @googleapis/yoshi-ruby

Move directory and fix formatting
  google-cloud-storage_transfer-v1/samples/acceptance/quickstart_test.rb
  google-cloud-storage_transfer/samples/Gemfile
  google-cloud-storage_transfer/samples/Rakefile
  google-cloud-storage_transfer/samples/acceptance/helper.rb
  google-cloud-storage_transfer/samples/acceptance/quickstart_test.rb
  google-cloud-storage_transfer/samples/quickstart.rb
Owners: @googleapis/yoshi-ruby

rubocop
  google-cloud-storage_transfer/samples/acceptance/helper.rb
  google-cloud-storage_transfer/samples/acceptance/quickstart_test.rb
Owners: @googleapis/yoshi-ruby

chore(deps): update dependency rails to '~> 5.2.0', '>= 5.2.6'
  integration/rails5_app/Gemfile
Owners: @googleapis/yoshi-ruby

chore(deps): update dependency coffee-rails to v5
  integration/rails4_app/Gemfile
  integration/rails5_app/Gemfile
Owners: @googleapis/yoshi-ruby

samples(storage): update region tags for samples
  google-cloud-storage/samples/acls.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Fix in client_test.
  google-cloud-spanner/test/google/cloud/spanner/database/client_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Add instructions for running tests against local parent gem
  google-cloud-firestore/samples/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

chore: Support staging multiple libraries via toys-cloud-rad
  .toys/cloud-rad.rb
  .toys/release.rb
Owners: @googleapis/yoshi-ruby

chore: Support staging multiple libraries via toys-cloud-rad
  .toys/cloud-rad.rb
  .toys/release.rb
Owners: @googleapis/yoshi-ruby

use storagetransfer instead of v1
  google-cloud-storage_transfer/samples/Gemfile
  google-cloud-storage_transfer/samples/acceptance/helper.rb
  google-cloud-storage_transfer/samples/quickstart.rb
Owners: @googleapis/yoshi-ruby

rubocop
  google-cloud-storage_transfer/samples/quickstart.rb
Owners: @googleapis/yoshi-ruby

add odd tags back
  google-cloud-storage/samples/acls.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

add sample to print bucket notification
  google-cloud-storage/samples/Gemfile
  google-cloud-storage/samples/acceptance/helper.rb
  google-cloud-storage/samples/acceptance/notification_test.rb
  google-cloud-storage/samples/storage_print_pubsub_bucket_notification.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

correct style by robocop
  google-cloud-storage/samples/Gemfile
  google-cloud-storage/samples/acceptance/notification_test.rb
  google-cloud-storage/samples/storage_print_pubsub_bucket_notification.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(storage_transfer): Add storage transfer service quickstart
  google-cloud-storage_transfer/samples/Gemfile
  google-cloud-storage_transfer/samples/Rakefile
  google-cloud-storage_transfer/samples/acceptance/helper.rb
  google-cloud-storage_transfer/samples/acceptance/quickstart_test.rb
  google-cloud-storage_transfer/samples/quickstart.rb
Owners: @googleapis/yoshi-ruby

samples(storage): update region tags for samples (#16086)
  google-cloud-storage/samples/acls.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

samples(storage): remove old unused tags
  google-cloud-storage/samples/acls.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: Support running tests and producing a combined pull request from owlbot
  .github/workflows/owlbot.yml
  .toys/owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: Activate cloud-rad upload
  .kokoro/backfill-rad.sh
  .toys/rad/backfill.rb
  .toys/rad/local.rb
Owners: @googleapis/yoshi-ruby

chore: Support running tests and producing a combined pull request from owlbot
  .github/workflows/owlbot.yml
  .toys/owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: Activate cloud-rad upload
  .kokoro/backfill-rad.sh
  .toys/rad/backfill.rb
  .toys/rad/local.rb
Owners: @googleapis/yoshi-ruby

Add dazuma suggested edits
  google-cloud-firestore/samples/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby
