Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

chore(main): release google-cloud-tasks-v2 0.4.6
  google-cloud-tasks-v2/CHANGELOG.md
  google-cloud-tasks-v2/lib/google/cloud/tasks/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-speech-v1 0.7.1
  google-cloud-speech-v1/CHANGELOG.md
  google-cloud-speech-v1/lib/google/cloud/speech/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-binary_authorization-v1 1.0.0
  google-cloud-binary_authorization-v1/CHANGELOG.md
  google-cloud-binary_authorization-v1/lib/google/cloud/binary_authorization/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-storage 1.35.1
  google-cloud-storage/CHANGELOG.md
  google-cloud-storage/lib/google/cloud/storage/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

fix!: updating metadata messages for all long running operations
  owl-bot-staging/google-cloud-network_security/.gitignore
  owl-bot-staging/google-cloud-network_security/.repo-metadata.json
  owl-bot-staging/google-cloud-network_security/.rubocop.yml
  owl-bot-staging/google-cloud-network_security/.yardopts
  owl-bot-staging/google-cloud-network_security/.yardopts-cloudrad
  owl-bot-staging/google-cloud-network_security/AUTHENTICATION.md
  owl-bot-staging/google-cloud-network_security/CHANGELOG.md
  owl-bot-staging/google-cloud-network_security/Gemfile
  owl-bot-staging/google-cloud-network_security/LICENSE.md
  owl-bot-staging/google-cloud-network_security/README.md
  owl-bot-staging/google-cloud-network_security/Rakefile
  owl-bot-staging/google-cloud-network_security/google-cloud-network_security.gemspec
  owl-bot-staging/google-cloud-network_security/lib/google-cloud-network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security/version.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/client_test.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/version_test.rb
  owl-bot-staging/google-cloud-network_security/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  google-cloud-network_security/lib/google/cloud/network_security.rb
  owl-bot-staging/google-cloud-network_security/.gitignore
  owl-bot-staging/google-cloud-network_security/.repo-metadata.json
  owl-bot-staging/google-cloud-network_security/.rubocop.yml
  owl-bot-staging/google-cloud-network_security/.yardopts
  owl-bot-staging/google-cloud-network_security/.yardopts-cloudrad
  owl-bot-staging/google-cloud-network_security/AUTHENTICATION.md
  owl-bot-staging/google-cloud-network_security/CHANGELOG.md
  owl-bot-staging/google-cloud-network_security/Gemfile
  owl-bot-staging/google-cloud-network_security/LICENSE.md
  owl-bot-staging/google-cloud-network_security/README.md
  owl-bot-staging/google-cloud-network_security/Rakefile
  owl-bot-staging/google-cloud-network_security/google-cloud-network_security.gemspec
  owl-bot-staging/google-cloud-network_security/lib/google-cloud-network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security/version.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/client_test.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/version_test.rb
  owl-bot-staging/google-cloud-network_security/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-vm_migration-v1 0.1.1
  google-cloud-vm_migration-v1/CHANGELOG.md
  google-cloud-vm_migration-v1/lib/google/cloud/vm_migration/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-talent-v4 1.0.0
  google-cloud-talent-v4/CHANGELOG.md
  google-cloud-talent-v4/lib/google/cloud/talent/v4/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-bigquery-storage-v1 0.9.1
  google-cloud-bigquery-storage-v1/CHANGELOG.md
  google-cloud-bigquery-storage-v1/lib/google/cloud/bigquery/storage/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-data_catalog-v1 1.0.0
  google-cloud-data_catalog-v1/CHANGELOG.md
  google-cloud-data_catalog-v1/lib/google/cloud/data_catalog/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-spanner 2.12.0
  google-cloud-spanner/CHANGELOG.md
  google-cloud-spanner/lib/google/cloud/spanner/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: Update release please workflow to install the correct pinned version
  .github/workflows/release-please.yml
Owners: @googleapis/yoshi-ruby

chore: Update release please workflow to install the correct pinned version
  .github/workflows/release-please.yml
Owners: @googleapis/yoshi-ruby

chore(storage): Update storage_delete_bucket sample to require fewer permissions
  google-cloud-storage/samples/storage_delete_bucket.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(spanner): add vendor dir to rubocop exclude list
  google-cloud-spanner/.rubocop.yml
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

fix stylings for readme
  google-cloud-recaptcha_enterprise/samples/README.md
Owners: @googleapis/yoshi-ruby

samples(recaptcha): add sample for creating assessment (#16376)
  google-cloud-recaptcha_enterprise/samples/.rubocop.yml
  google-cloud-recaptcha_enterprise/samples/Gemfile
  google-cloud-recaptcha_enterprise/samples/README.md
  google-cloud-recaptcha_enterprise/samples/Rakefile
  google-cloud-recaptcha_enterprise/samples/acceptance/create_assessment_test.rb
  google-cloud-recaptcha_enterprise/samples/acceptance/data/test_template.html
  google-cloud-recaptcha_enterprise/samples/recaptcha_enterprise_create_assessment.rb
Owners: @googleapis/yoshi-ruby

Update storage_upload_file.rb
  google-cloud-storage/samples/storage_upload_file.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(storage): Update samples to minimize IAM permission requirements
  google-cloud-storage/samples/storage_upload_file.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: Remove rubocop:disable tags that are unnecessary with recent rubocop releases
  google-cloud-asset/samples/Gemfile
  google-cloud-bigquery-data_transfer/samples/Gemfile
  google-cloud-security_center/samples/Gemfile
  google-cloud-storage/samples/Gemfile
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: Remove rubocop:disable tags that are unnecessary with recent rubocop releases
  google-cloud-asset/samples/Gemfile
  google-cloud-bigquery-data_transfer/samples/Gemfile
  google-cloud-security_center/samples/Gemfile
  google-cloud-storage/samples/Gemfile
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

remove extra blank lines
  google-cloud-compute-v1/samples/default_values.rb
Owners: @googleapis/yoshi-ruby

fix test
  google-cloud-compute-v1/samples/acceptance/firewall_test.rb
Owners: @googleapis/yoshi-ruby

s/assert/assert_equal/
  google-cloud-compute-v1/samples/acceptance/firewall_test.rb
Owners: @googleapis/yoshi-ruby

chore(ruby): Regenerated using Ruby gapic-generator 0.10.4
  owl-bot-staging/grafeas/.gitignore
  owl-bot-staging/grafeas/.repo-metadata.json
  owl-bot-staging/grafeas/.rubocop.yml
  owl-bot-staging/grafeas/.yardopts
  owl-bot-staging/grafeas/CHANGELOG.md
  owl-bot-staging/grafeas/Gemfile
  owl-bot-staging/grafeas/LICENSE.md
  owl-bot-staging/grafeas/README.md
  owl-bot-staging/grafeas/Rakefile
  owl-bot-staging/grafeas/grafeas.gemspec
  owl-bot-staging/grafeas/lib/grafeas.rb
  owl-bot-staging/grafeas/lib/grafeas/version.rb
  owl-bot-staging/grafeas/test/grafeas/client_test.rb
  owl-bot-staging/grafeas/test/grafeas/version_test.rb
  owl-bot-staging/grafeas/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(ruby): Regenerated using Ruby gapic-generator 0.10.4
  owl-bot-staging/google-identity-access_context_manager/.gitignore
  owl-bot-staging/google-identity-access_context_manager/.repo-metadata.json
  owl-bot-staging/google-identity-access_context_manager/.rubocop.yml
  owl-bot-staging/google-identity-access_context_manager/.yardopts
  owl-bot-staging/google-identity-access_context_manager/AUTHENTICATION.md
  owl-bot-staging/google-identity-access_context_manager/CHANGELOG.md
  owl-bot-staging/google-identity-access_context_manager/Gemfile
  owl-bot-staging/google-identity-access_context_manager/LICENSE.md
  owl-bot-staging/google-identity-access_context_manager/README.md
  owl-bot-staging/google-identity-access_context_manager/Rakefile
  owl-bot-staging/google-identity-access_context_manager/google-identity-access_context_manager.gemspec
  owl-bot-staging/google-identity-access_context_manager/lib/google-identity-access_context_manager.rb
  owl-bot-staging/google-identity-access_context_manager/lib/google/identity/access_context_manager.rb
  owl-bot-staging/google-identity-access_context_manager/lib/google/identity/access_context_manager/version.rb
  owl-bot-staging/google-identity-access_context_manager/test/google/identity/access_context_manager/client_test.rb
  owl-bot-staging/google-identity-access_context_manager/test/google/identity/access_context_manager/version_test.rb
  owl-bot-staging/google-identity-access_context_manager/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  owl-bot-staging/google-identity-access_context_manager/.gitignore
  owl-bot-staging/google-identity-access_context_manager/.repo-metadata.json
  owl-bot-staging/google-identity-access_context_manager/.rubocop.yml
  owl-bot-staging/google-identity-access_context_manager/.yardopts
  owl-bot-staging/google-identity-access_context_manager/AUTHENTICATION.md
  owl-bot-staging/google-identity-access_context_manager/CHANGELOG.md
  owl-bot-staging/google-identity-access_context_manager/Gemfile
  owl-bot-staging/google-identity-access_context_manager/LICENSE.md
  owl-bot-staging/google-identity-access_context_manager/README.md
  owl-bot-staging/google-identity-access_context_manager/Rakefile
  owl-bot-staging/google-identity-access_context_manager/google-identity-access_context_manager.gemspec
  owl-bot-staging/google-identity-access_context_manager/lib/google-identity-access_context_manager.rb
  owl-bot-staging/google-identity-access_context_manager/lib/google/identity/access_context_manager.rb
  owl-bot-staging/google-identity-access_context_manager/lib/google/identity/access_context_manager/version.rb
  owl-bot-staging/google-identity-access_context_manager/test/google/identity/access_context_manager/client_test.rb
  owl-bot-staging/google-identity-access_context_manager/test/google/identity/access_context_manager/version_test.rb
  owl-bot-staging/google-identity-access_context_manager/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(ruby): Regenerated using Ruby gapic-generator 0.10.4
  owl-bot-staging/google-iam-credentials/.gitignore
  owl-bot-staging/google-iam-credentials/.repo-metadata.json
  owl-bot-staging/google-iam-credentials/.rubocop.yml
  owl-bot-staging/google-iam-credentials/.yardopts
  owl-bot-staging/google-iam-credentials/AUTHENTICATION.md
  owl-bot-staging/google-iam-credentials/CHANGELOG.md
  owl-bot-staging/google-iam-credentials/Gemfile
  owl-bot-staging/google-iam-credentials/LICENSE.md
  owl-bot-staging/google-iam-credentials/README.md
  owl-bot-staging/google-iam-credentials/Rakefile
  owl-bot-staging/google-iam-credentials/google-iam-credentials.gemspec
  owl-bot-staging/google-iam-credentials/lib/google-iam-credentials.rb
  owl-bot-staging/google-iam-credentials/lib/google/iam/credentials.rb
  owl-bot-staging/google-iam-credentials/lib/google/iam/credentials/version.rb
  owl-bot-staging/google-iam-credentials/test/google/iam/credentials/client_test.rb
  owl-bot-staging/google-iam-credentials/test/google/iam/credentials/version_test.rb
  owl-bot-staging/google-iam-credentials/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  owl-bot-staging/grafeas/.gitignore
  owl-bot-staging/grafeas/.repo-metadata.json
  owl-bot-staging/grafeas/.rubocop.yml
  owl-bot-staging/grafeas/.yardopts
  owl-bot-staging/grafeas/CHANGELOG.md
  owl-bot-staging/grafeas/Gemfile
  owl-bot-staging/grafeas/LICENSE.md
  owl-bot-staging/grafeas/README.md
  owl-bot-staging/grafeas/Rakefile
  owl-bot-staging/grafeas/grafeas.gemspec
  owl-bot-staging/grafeas/lib/grafeas.rb
  owl-bot-staging/grafeas/lib/grafeas/version.rb
  owl-bot-staging/grafeas/test/grafeas/client_test.rb
  owl-bot-staging/grafeas/test/grafeas/version_test.rb
  owl-bot-staging/grafeas/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(ruby): Regenerated using Ruby gapic-generator 0.10.4
  owl-bot-staging/google-iam-credentials-v1/.gitignore
  owl-bot-staging/google-iam-credentials-v1/.repo-metadata.json
  owl-bot-staging/google-iam-credentials-v1/.rubocop.yml
  owl-bot-staging/google-iam-credentials-v1/.yardopts
  owl-bot-staging/google-iam-credentials-v1/AUTHENTICATION.md
  owl-bot-staging/google-iam-credentials-v1/CHANGELOG.md
  owl-bot-staging/google-iam-credentials-v1/Gemfile
  owl-bot-staging/google-iam-credentials-v1/LICENSE.md
  owl-bot-staging/google-iam-credentials-v1/README.md
  owl-bot-staging/google-iam-credentials-v1/Rakefile
  owl-bot-staging/google-iam-credentials-v1/gapic_metadata.json
  owl-bot-staging/google-iam-credentials-v1/google-iam-credentials-v1.gemspec
  owl-bot-staging/google-iam-credentials-v1/lib/google-iam-credentials-v1.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/common_pb.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iam_credentials.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iam_credentials/client.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iam_credentials/credentials.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iam_credentials/paths.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iamcredentials_pb.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iamcredentials_services_pb.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/version.rb
  owl-bot-staging/google-iam-credentials-v1/proto_docs/README.md
  owl-bot-staging/google-iam-credentials-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-iam-credentials-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-iam-credentials-v1/proto_docs/google/iam/credentials/v1/common.rb
  owl-bot-staging/google-iam-credentials-v1/proto_docs/google/protobuf/duration.rb
  owl-bot-staging/google-iam-credentials-v1/proto_docs/google/protobuf/timestamp.rb
  owl-bot-staging/google-iam-credentials-v1/snippets/Gemfile
  owl-bot-staging/google-iam-credentials-v1/snippets/iam_credentials/generate_access_token.rb
  owl-bot-staging/google-iam-credentials-v1/snippets/iam_credentials/generate_id_token.rb
  owl-bot-staging/google-iam-credentials-v1/snippets/iam_credentials/sign_blob.rb
  owl-bot-staging/google-iam-credentials-v1/snippets/iam_credentials/sign_jwt.rb
  owl-bot-staging/google-iam-credentials-v1/test/google/iam/credentials/v1/iam_credentials_paths_test.rb
  owl-bot-staging/google-iam-credentials-v1/test/google/iam/credentials/v1/iam_credentials_test.rb
  owl-bot-staging/google-iam-credentials-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  owl-bot-staging/google-iam-credentials/.gitignore
  owl-bot-staging/google-iam-credentials/.repo-metadata.json
  owl-bot-staging/google-iam-credentials/.rubocop.yml
  owl-bot-staging/google-iam-credentials/.yardopts
  owl-bot-staging/google-iam-credentials/AUTHENTICATION.md
  owl-bot-staging/google-iam-credentials/CHANGELOG.md
  owl-bot-staging/google-iam-credentials/Gemfile
  owl-bot-staging/google-iam-credentials/LICENSE.md
  owl-bot-staging/google-iam-credentials/README.md
  owl-bot-staging/google-iam-credentials/Rakefile
  owl-bot-staging/google-iam-credentials/google-iam-credentials.gemspec
  owl-bot-staging/google-iam-credentials/lib/google-iam-credentials.rb
  owl-bot-staging/google-iam-credentials/lib/google/iam/credentials.rb
  owl-bot-staging/google-iam-credentials/lib/google/iam/credentials/version.rb
  owl-bot-staging/google-iam-credentials/test/google/iam/credentials/client_test.rb
  owl-bot-staging/google-iam-credentials/test/google/iam/credentials/version_test.rb
  owl-bot-staging/google-iam-credentials/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(ruby): Regenerated using Ruby gapic-generator 0.10.4
  owl-bot-staging/google-cloud-workflows/.gitignore
  owl-bot-staging/google-cloud-workflows/.repo-metadata.json
  owl-bot-staging/google-cloud-workflows/.rubocop.yml
  owl-bot-staging/google-cloud-workflows/.yardopts
  owl-bot-staging/google-cloud-workflows/AUTHENTICATION.md
  owl-bot-staging/google-cloud-workflows/CHANGELOG.md
  owl-bot-staging/google-cloud-workflows/Gemfile
  owl-bot-staging/google-cloud-workflows/LICENSE.md
  owl-bot-staging/google-cloud-workflows/README.md
  owl-bot-staging/google-cloud-workflows/Rakefile
  owl-bot-staging/google-cloud-workflows/google-cloud-workflows.gemspec
  owl-bot-staging/google-cloud-workflows/lib/google-cloud-workflows.rb
  owl-bot-staging/google-cloud-workflows/lib/google/cloud/workflows.rb
  owl-bot-staging/google-cloud-workflows/lib/google/cloud/workflows/executions.rb
  owl-bot-staging/google-cloud-workflows/lib/google/cloud/workflows/version.rb
  owl-bot-staging/google-cloud-workflows/test/google/cloud/workflows/client_test.rb
  owl-bot-staging/google-cloud-workflows/test/google/cloud/workflows/executions/client_test.rb
  owl-bot-staging/google-cloud-workflows/test/google/cloud/workflows/version_test.rb
  owl-bot-staging/google-cloud-workflows/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  owl-bot-staging/google-iam-credentials-v1/.gitignore
  owl-bot-staging/google-iam-credentials-v1/.repo-metadata.json
  owl-bot-staging/google-iam-credentials-v1/.rubocop.yml
  owl-bot-staging/google-iam-credentials-v1/.yardopts
  owl-bot-staging/google-iam-credentials-v1/AUTHENTICATION.md
  owl-bot-staging/google-iam-credentials-v1/CHANGELOG.md
  owl-bot-staging/google-iam-credentials-v1/Gemfile
  owl-bot-staging/google-iam-credentials-v1/LICENSE.md
  owl-bot-staging/google-iam-credentials-v1/README.md
  owl-bot-staging/google-iam-credentials-v1/Rakefile
  owl-bot-staging/google-iam-credentials-v1/gapic_metadata.json
  owl-bot-staging/google-iam-credentials-v1/google-iam-credentials-v1.gemspec
  owl-bot-staging/google-iam-credentials-v1/lib/google-iam-credentials-v1.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/common_pb.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iam_credentials.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iam_credentials/client.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iam_credentials/credentials.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iam_credentials/paths.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iamcredentials_pb.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/iamcredentials_services_pb.rb
  owl-bot-staging/google-iam-credentials-v1/lib/google/iam/credentials/v1/version.rb
  owl-bot-staging/google-iam-credentials-v1/proto_docs/README.md
  owl-bot-staging/google-iam-credentials-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-iam-credentials-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-iam-credentials-v1/proto_docs/google/iam/credentials/v1/common.rb
  owl-bot-staging/google-iam-credentials-v1/proto_docs/google/protobuf/duration.rb
  owl-bot-staging/google-iam-credentials-v1/proto_docs/google/protobuf/timestamp.rb
  owl-bot-staging/google-iam-credentials-v1/snippets/Gemfile
  owl-bot-staging/google-iam-credentials-v1/snippets/iam_credentials/generate_access_token.rb
  owl-bot-staging/google-iam-credentials-v1/snippets/iam_credentials/generate_id_token.rb
  owl-bot-staging/google-iam-credentials-v1/snippets/iam_credentials/sign_blob.rb
  owl-bot-staging/google-iam-credentials-v1/snippets/iam_credentials/sign_jwt.rb
  owl-bot-staging/google-iam-credentials-v1/test/google/iam/credentials/v1/iam_credentials_paths_test.rb
  owl-bot-staging/google-iam-credentials-v1/test/google/iam/credentials/v1/iam_credentials_test.rb
  owl-bot-staging/google-iam-credentials-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  owl-bot-staging/google-cloud-workflows/.gitignore
  owl-bot-staging/google-cloud-workflows/.repo-metadata.json
  owl-bot-staging/google-cloud-workflows/.rubocop.yml
  owl-bot-staging/google-cloud-workflows/.yardopts
  owl-bot-staging/google-cloud-workflows/AUTHENTICATION.md
  owl-bot-staging/google-cloud-workflows/CHANGELOG.md
  owl-bot-staging/google-cloud-workflows/Gemfile
  owl-bot-staging/google-cloud-workflows/LICENSE.md
  owl-bot-staging/google-cloud-workflows/README.md
  owl-bot-staging/google-cloud-workflows/Rakefile
  owl-bot-staging/google-cloud-workflows/google-cloud-workflows.gemspec
  owl-bot-staging/google-cloud-workflows/lib/google-cloud-workflows.rb
  owl-bot-staging/google-cloud-workflows/lib/google/cloud/workflows.rb
  owl-bot-staging/google-cloud-workflows/lib/google/cloud/workflows/executions.rb
  owl-bot-staging/google-cloud-workflows/lib/google/cloud/workflows/version.rb
  owl-bot-staging/google-cloud-workflows/test/google/cloud/workflows/client_test.rb
  owl-bot-staging/google-cloud-workflows/test/google/cloud/workflows/executions/client_test.rb
  owl-bot-staging/google-cloud-workflows/test/google/cloud/workflows/version_test.rb
  owl-bot-staging/google-cloud-workflows/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(ruby): Regenerated using Ruby gapic-generator 0.10.4
  owl-bot-staging/google-cloud-workflows-executions-v1beta/.gitignore
  owl-bot-staging/google-cloud-workflows-executions-v1beta/.repo-metadata.json
  owl-bot-staging/google-cloud-workflows-executions-v1beta/.rubocop.yml
  owl-bot-staging/google-cloud-workflows-executions-v1beta/.yardopts
  owl-bot-staging/google-cloud-workflows-executions-v1beta/AUTHENTICATION.md
  owl-bot-staging/google-cloud-workflows-executions-v1beta/CHANGELOG.md
  owl-bot-staging/google-cloud-workflows-executions-v1beta/Gemfile
  owl-bot-staging/google-cloud-workflows-executions-v1beta/LICENSE.md
  owl-bot-staging/google-cloud-workflows-executions-v1beta/README.md
  owl-bot-staging/google-cloud-workflows-executions-v1beta/Rakefile
  owl-bot-staging/google-cloud-workflows-executions-v1beta/gapic_metadata.json
  owl-bot-staging/google-cloud-workflows-executions-v1beta/google-cloud-workflows-executions-v1beta.gemspec
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google-cloud-workflows-executions-v1beta.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions/client.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions/credentials.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions/paths.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions_pb.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions_services_pb.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/version.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/proto_docs/README.md
  owl-bot-staging/google-cloud-workflows-executions-v1beta/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/proto_docs/google/cloud/workflows/executions/v1beta/executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/proto_docs/google/protobuf/timestamp.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/snippets/Gemfile
  owl-bot-staging/google-cloud-workflows-executions-v1beta/snippets/executions/cancel_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/snippets/executions/create_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/snippets/executions/get_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/snippets/executions/list_executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/test/google/cloud/workflows/executions/v1beta/executions_paths_test.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/test/google/cloud/workflows/executions/v1beta/executions_test.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(ruby): Regenerated using Ruby gapic-generator 0.10.4
  owl-bot-staging/google-cloud-workflows-executions-v1/.gitignore
  owl-bot-staging/google-cloud-workflows-executions-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-workflows-executions-v1/.rubocop.yml
  owl-bot-staging/google-cloud-workflows-executions-v1/.yardopts
  owl-bot-staging/google-cloud-workflows-executions-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-workflows-executions-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-workflows-executions-v1/Gemfile
  owl-bot-staging/google-cloud-workflows-executions-v1/LICENSE.md
  owl-bot-staging/google-cloud-workflows-executions-v1/README.md
  owl-bot-staging/google-cloud-workflows-executions-v1/Rakefile
  owl-bot-staging/google-cloud-workflows-executions-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-workflows-executions-v1/google-cloud-workflows-executions-v1.gemspec
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google-cloud-workflows-executions-v1.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions/client.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions/credentials.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions/paths.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions_pb.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions_services_pb.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/version.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-workflows-executions-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/proto_docs/google/cloud/workflows/executions/v1/executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/proto_docs/google/protobuf/timestamp.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-workflows-executions-v1/snippets/executions/cancel_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/snippets/executions/create_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/snippets/executions/get_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/snippets/executions/list_executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/test/google/cloud/workflows/executions/v1/executions_paths_test.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/test/google/cloud/workflows/executions/v1/executions_test.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  owl-bot-staging/google-cloud-workflows-executions-v1beta/.gitignore
  owl-bot-staging/google-cloud-workflows-executions-v1beta/.repo-metadata.json
  owl-bot-staging/google-cloud-workflows-executions-v1beta/.rubocop.yml
  owl-bot-staging/google-cloud-workflows-executions-v1beta/.yardopts
  owl-bot-staging/google-cloud-workflows-executions-v1beta/AUTHENTICATION.md
  owl-bot-staging/google-cloud-workflows-executions-v1beta/CHANGELOG.md
  owl-bot-staging/google-cloud-workflows-executions-v1beta/Gemfile
  owl-bot-staging/google-cloud-workflows-executions-v1beta/LICENSE.md
  owl-bot-staging/google-cloud-workflows-executions-v1beta/README.md
  owl-bot-staging/google-cloud-workflows-executions-v1beta/Rakefile
  owl-bot-staging/google-cloud-workflows-executions-v1beta/gapic_metadata.json
  owl-bot-staging/google-cloud-workflows-executions-v1beta/google-cloud-workflows-executions-v1beta.gemspec
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google-cloud-workflows-executions-v1beta.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions/client.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions/credentials.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions/paths.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions_pb.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/executions_services_pb.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/lib/google/cloud/workflows/executions/v1beta/version.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/proto_docs/README.md
  owl-bot-staging/google-cloud-workflows-executions-v1beta/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/proto_docs/google/cloud/workflows/executions/v1beta/executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/proto_docs/google/protobuf/timestamp.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/snippets/Gemfile
  owl-bot-staging/google-cloud-workflows-executions-v1beta/snippets/executions/cancel_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/snippets/executions/create_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/snippets/executions/get_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/snippets/executions/list_executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/test/google/cloud/workflows/executions/v1beta/executions_paths_test.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/test/google/cloud/workflows/executions/v1beta/executions_test.rb
  owl-bot-staging/google-cloud-workflows-executions-v1beta/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(ruby): Regenerated using Ruby gapic-generator 0.10.4
  owl-bot-staging/google-cloud-web_security_scanner/.gitignore
  owl-bot-staging/google-cloud-web_security_scanner/.repo-metadata.json
  owl-bot-staging/google-cloud-web_security_scanner/.rubocop.yml
  owl-bot-staging/google-cloud-web_security_scanner/.yardopts
  owl-bot-staging/google-cloud-web_security_scanner/AUTHENTICATION.md
  owl-bot-staging/google-cloud-web_security_scanner/CHANGELOG.md
  owl-bot-staging/google-cloud-web_security_scanner/Gemfile
  owl-bot-staging/google-cloud-web_security_scanner/LICENSE.md
  owl-bot-staging/google-cloud-web_security_scanner/README.md
  owl-bot-staging/google-cloud-web_security_scanner/Rakefile
  owl-bot-staging/google-cloud-web_security_scanner/google-cloud-web_security_scanner.gemspec
  owl-bot-staging/google-cloud-web_security_scanner/lib/google-cloud-web_security_scanner.rb
  owl-bot-staging/google-cloud-web_security_scanner/lib/google/cloud/web_security_scanner.rb
  owl-bot-staging/google-cloud-web_security_scanner/lib/google/cloud/web_security_scanner/version.rb
  owl-bot-staging/google-cloud-web_security_scanner/test/google/cloud/web_security_scanner/client_test.rb
  owl-bot-staging/google-cloud-web_security_scanner/test/google/cloud/web_security_scanner/version_test.rb
  owl-bot-staging/google-cloud-web_security_scanner/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  owl-bot-staging/google-cloud-workflows-executions-v1/.gitignore
  owl-bot-staging/google-cloud-workflows-executions-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-workflows-executions-v1/.rubocop.yml
  owl-bot-staging/google-cloud-workflows-executions-v1/.yardopts
  owl-bot-staging/google-cloud-workflows-executions-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-workflows-executions-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-workflows-executions-v1/Gemfile
  owl-bot-staging/google-cloud-workflows-executions-v1/LICENSE.md
  owl-bot-staging/google-cloud-workflows-executions-v1/README.md
  owl-bot-staging/google-cloud-workflows-executions-v1/Rakefile
  owl-bot-staging/google-cloud-workflows-executions-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-workflows-executions-v1/google-cloud-workflows-executions-v1.gemspec
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google-cloud-workflows-executions-v1.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions/client.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions/credentials.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions/paths.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions_pb.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/executions_services_pb.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/lib/google/cloud/workflows/executions/v1/version.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-workflows-executions-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/proto_docs/google/cloud/workflows/executions/v1/executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/proto_docs/google/protobuf/timestamp.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-workflows-executions-v1/snippets/executions/cancel_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/snippets/executions/create_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/snippets/executions/get_execution.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/snippets/executions/list_executions.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/test/google/cloud/workflows/executions/v1/executions_paths_test.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/test/google/cloud/workflows/executions/v1/executions_test.rb
  owl-bot-staging/google-cloud-workflows-executions-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  owl-bot-staging/google-cloud-web_security_scanner/.gitignore
  owl-bot-staging/google-cloud-web_security_scanner/.repo-metadata.json
  owl-bot-staging/google-cloud-web_security_scanner/.rubocop.yml
  owl-bot-staging/google-cloud-web_security_scanner/.yardopts
  owl-bot-staging/google-cloud-web_security_scanner/AUTHENTICATION.md
  owl-bot-staging/google-cloud-web_security_scanner/CHANGELOG.md
  owl-bot-staging/google-cloud-web_security_scanner/Gemfile
  owl-bot-staging/google-cloud-web_security_scanner/LICENSE.md
  owl-bot-staging/google-cloud-web_security_scanner/README.md
  owl-bot-staging/google-cloud-web_security_scanner/Rakefile
  owl-bot-staging/google-cloud-web_security_scanner/google-cloud-web_security_scanner.gemspec
  owl-bot-staging/google-cloud-web_security_scanner/lib/google-cloud-web_security_scanner.rb
  owl-bot-staging/google-cloud-web_security_scanner/lib/google/cloud/web_security_scanner.rb
  owl-bot-staging/google-cloud-web_security_scanner/lib/google/cloud/web_security_scanner/version.rb
  owl-bot-staging/google-cloud-web_security_scanner/test/google/cloud/web_security_scanner/client_test.rb
  owl-bot-staging/google-cloud-web_security_scanner/test/google/cloud/web_security_scanner/version_test.rb
  owl-bot-staging/google-cloud-web_security_scanner/test/helper.rb
Owners: @googleapis/yoshi-ruby
