Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

fix: update resource descriptor to handle paged enum
  google-cloud-logging/lib/google/cloud/logging/service.rb
  google-cloud-logging/test/google/cloud/logging/project/resource_descriptors_test.rb
Owners: @googleapis/yoshi-ruby

docs(trace): Fix example in FaradayMiddleware (#18850)
  google-cloud-trace/lib/google/cloud/trace/faraday_middleware.rb
Owners: @googleapis/yoshi-ruby

fix(logging): update resource descriptor to handle paged enum (#18856)
  google-cloud-logging/lib/google/cloud/logging/service.rb
  google-cloud-logging/test/google/cloud/logging/project/resource_descriptors_test.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-logging 2.3.1
  .release-please-manifest.json
  google-cloud-logging/CHANGELOG.md
  google-cloud-logging/lib/google/cloud/logging/version.rb
Owners: @googleapis/yoshi-ruby

Update storage API for dual region
  google-cloud-storage/acceptance/storage/bucket_test.rb
  google-cloud-storage/lib/google/cloud/storage/project.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Edit samples for dual region API
  google-cloud-storage/samples/acceptance/buckets_test.rb
  google-cloud-storage/samples/storage_create_bucket_dual_region.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(main): release google-cloud-logging 2.3.1 (#18858)
  .release-please-manifest.json
  google-cloud-logging/CHANGELOG.md
  google-cloud-logging/lib/google/cloud/logging/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-assured_workloads-v1beta1 0.11.0
  .release-please-manifest.json
  google-cloud-assured_workloads-v1beta1/CHANGELOG.md
  google-cloud-assured_workloads-v1beta1/lib/google/cloud/assured_workloads/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-security_center-v1 0.18.0
  .release-please-manifest.json
  google-cloud-security_center-v1/CHANGELOG.md
  google-cloud-security_center-v1/lib/google/cloud/security_center/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-spanner-admin-database-v1 0.11.0
  .release-please-manifest.json
  google-cloud-spanner-admin-database-v1/CHANGELOG.md
  google-cloud-spanner-admin-database-v1/lib/google/cloud/spanner/admin/database/v1/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-assured_workloads-v1beta1/snippets/snippet_metadata_google.cloud.assuredworkloads.v1beta1.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-spanner-admin-database-v1/snippets/snippet_metadata_google.spanner.admin.database.v1.json
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-security_center-v1/snippets/snippet_metadata_google.cloud.securitycenter.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-assured_workloads-v1beta1 0.11.0 (#18857)
  .release-please-manifest.json
  google-cloud-assured_workloads-v1beta1/CHANGELOG.md
  google-cloud-assured_workloads-v1beta1/lib/google/cloud/assured_workloads/v1beta1/version.rb
  google-cloud-assured_workloads-v1beta1/snippets/snippet_metadata_google.cloud.assuredworkloads.v1beta1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-security_center-v1 0.18.0 (#18859)
  .release-please-manifest.json
  google-cloud-security_center-v1/CHANGELOG.md
  google-cloud-security_center-v1/lib/google/cloud/security_center/v1/version.rb
  google-cloud-security_center-v1/snippets/snippet_metadata_google.cloud.securitycenter.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-spanner-admin-database-v1 0.11.0 (#18860)
  .release-please-manifest.json
  google-cloud-spanner-admin-database-v1/CHANGELOG.md
  google-cloud-spanner-admin-database-v1/lib/google/cloud/spanner/admin/database/v1/version.rb
  google-cloud-spanner-admin-database-v1/snippets/snippet_metadata_google.spanner.admin.database.v1.json
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Add a getter for data_locations
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Remove focus keyword
  google-cloud-storage/acceptance/storage/bucket_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Correct API in specs
  google-cloud-storage/acceptance/storage/bucket_test.rb
  google-cloud-storage/samples/storage_create_bucket_dual_region.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: Fix some lingering Rubocop and Minitest issues
  google-cloud-monitoring/.owlbot.rb
  google-cloud-recaptcha_enterprise/samples/acceptance/create_assessment_test.rb
  google-cloud-speech/samples/speech_samples.rb
  google-cloud-trace/test/google/cloud/trace/patches/call_with_trace_test.rb
  google-cloud-workflows/.owlbot.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-trace 0.42.1
  .release-please-manifest.json
  google-cloud-trace/CHANGELOG.md
  google-cloud-trace/lib/google/cloud/trace/version.rb
Owners: @googleapis/yoshi-ruby

feat: Automated Release Blessing
  .kokoro/presubmit/spanner_perf_bench.cfg
Owners: @googleapis/yoshi-ruby

chore: Fix some lingering Rubocop and Minitest issues (#18865)
  google-cloud-monitoring/.owlbot.rb
  google-cloud-recaptcha_enterprise/samples/acceptance/create_assessment_test.rb
  google-cloud-speech/samples/speech_samples.rb
  google-cloud-trace/test/google/cloud/trace/patches/call_with_trace_test.rb
  google-cloud-workflows/.owlbot.rb
Owners: @googleapis/yoshi-ruby

feat(translate-v2): Update minimum Ruby version to 2.6
  google-cloud-translate-v2/README.md
  google-cloud-translate-v2/google-cloud-translate-v2.gemspec
  google-cloud-translate-v2/test/google/cloud/translate/v2/translate_test.rb
Owners: @googleapis/yoshi-ruby

feat(dns): Update minimum Ruby version to 2.6
  google-cloud-dns/README.md
  google-cloud-dns/google-cloud-dns.gemspec
  google-cloud-dns/lib/google/cloud/dns/change.rb
  google-cloud-dns/lib/google/cloud/dns/zone.rb
  google-cloud-dns/test/google/cloud/dns/project_test.rb
  google-cloud-dns/test/google/cloud/dns/zone_import_export_test.rb
  google-cloud-dns/test/google/cloud/dns/zone_test.rb
Owners: @googleapis/yoshi-ruby

chore(kms): Fixes for new Rubocop version
  google-cloud-kms/samples/snippets.rb
Owners: @googleapis/yoshi-ruby

chore(kms): Fixes for new Rubocop version (#18870)
  google-cloud-kms/samples/snippets.rb
Owners: @googleapis/yoshi-ruby

feat(dns): Update minimum Ruby version to 2.6 (#18869)
  google-cloud-dns/README.md
  google-cloud-dns/google-cloud-dns.gemspec
  google-cloud-dns/lib/google/cloud/dns/change.rb
  google-cloud-dns/lib/google/cloud/dns/zone.rb
  google-cloud-dns/test/google/cloud/dns/project_test.rb
  google-cloud-dns/test/google/cloud/dns/zone_import_export_test.rb
  google-cloud-dns/test/google/cloud/dns/zone_test.rb
Owners: @googleapis/yoshi-ruby

feat(translate-v2): Update minimum Ruby version to 2.6 (#18868)
  google-cloud-translate-v2/README.md
  google-cloud-translate-v2/google-cloud-translate-v2.gemspec
  google-cloud-translate-v2/test/google/cloud/translate/v2/translate_test.rb
Owners: @googleapis/yoshi-ruby

chore: Support passing flags to manual CI runs
  .github/workflows/ci.yml
Owners: @googleapis/yoshi-ruby

chore: Support passing flags to manual CI runs (#18873)
  .github/workflows/ci.yml
Owners: @googleapis/yoshi-ruby

chore(ruby): Regenerate using microgenerator 0.15.1
  owl-bot-staging/google-cloud-dataplex/.gitignore
  owl-bot-staging/google-cloud-dataplex/.repo-metadata.json
  owl-bot-staging/google-cloud-dataplex/.rubocop.yml
  owl-bot-staging/google-cloud-dataplex/.yardopts
  owl-bot-staging/google-cloud-dataplex/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dataplex/CHANGELOG.md
  owl-bot-staging/google-cloud-dataplex/Gemfile
  owl-bot-staging/google-cloud-dataplex/LICENSE.md
  owl-bot-staging/google-cloud-dataplex/README.md
  owl-bot-staging/google-cloud-dataplex/Rakefile
  owl-bot-staging/google-cloud-dataplex/google-cloud-dataplex.gemspec
  owl-bot-staging/google-cloud-dataplex/lib/google-cloud-dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex/version.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/client_test.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/version_test.rb
  owl-bot-staging/google-cloud-dataplex/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(ruby): Regenerate using microgenerator 0.15.1
  owl-bot-staging/google-cloud-network_security/.gitignore
  owl-bot-staging/google-cloud-network_security/.repo-metadata.json
  owl-bot-staging/google-cloud-network_security/.rubocop.yml
  owl-bot-staging/google-cloud-network_security/.yardopts
  owl-bot-staging/google-cloud-network_security/AUTHENTICATION.md
  owl-bot-staging/google-cloud-network_security/CHANGELOG.md
  owl-bot-staging/google-cloud-network_security/Gemfile
  owl-bot-staging/google-cloud-network_security/LICENSE.md
  owl-bot-staging/google-cloud-network_security/README.md
  owl-bot-staging/google-cloud-network_security/Rakefile
  owl-bot-staging/google-cloud-network_security/google-cloud-network_security.gemspec
  owl-bot-staging/google-cloud-network_security/lib/google-cloud-network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security/version.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/client_test.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/version_test.rb
  owl-bot-staging/google-cloud-network_security/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dataplex/AUTHENTICATION.md
  google-cloud-dataplex/Rakefile
  google-cloud-dataplex/lib/google/cloud/dataplex.rb
  owl-bot-staging/google-cloud-dataplex/.gitignore
  owl-bot-staging/google-cloud-dataplex/.repo-metadata.json
  owl-bot-staging/google-cloud-dataplex/.rubocop.yml
  owl-bot-staging/google-cloud-dataplex/.yardopts
  owl-bot-staging/google-cloud-dataplex/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dataplex/CHANGELOG.md
  owl-bot-staging/google-cloud-dataplex/Gemfile
  owl-bot-staging/google-cloud-dataplex/LICENSE.md
  owl-bot-staging/google-cloud-dataplex/README.md
  owl-bot-staging/google-cloud-dataplex/Rakefile
  owl-bot-staging/google-cloud-dataplex/google-cloud-dataplex.gemspec
  owl-bot-staging/google-cloud-dataplex/lib/google-cloud-dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex/version.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/client_test.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/version_test.rb
  owl-bot-staging/google-cloud-dataplex/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-network_security/lib/google/cloud/network_security.rb
  google-cloud-network_security/test/google/cloud/network_security/client_test.rb
  owl-bot-staging/google-cloud-network_security/.gitignore
  owl-bot-staging/google-cloud-network_security/.repo-metadata.json
  owl-bot-staging/google-cloud-network_security/.rubocop.yml
  owl-bot-staging/google-cloud-network_security/.yardopts
  owl-bot-staging/google-cloud-network_security/AUTHENTICATION.md
  owl-bot-staging/google-cloud-network_security/CHANGELOG.md
  owl-bot-staging/google-cloud-network_security/Gemfile
  owl-bot-staging/google-cloud-network_security/LICENSE.md
  owl-bot-staging/google-cloud-network_security/README.md
  owl-bot-staging/google-cloud-network_security/Rakefile
  owl-bot-staging/google-cloud-network_security/google-cloud-network_security.gemspec
  owl-bot-staging/google-cloud-network_security/lib/google-cloud-network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security.rb
  owl-bot-staging/google-cloud-network_security/lib/google/cloud/network_security/version.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/client_test.rb
  owl-bot-staging/google-cloud-network_security/test/google/cloud/network_security/version_test.rb
  owl-bot-staging/google-cloud-network_security/test/helper.rb
Owners: @googleapis/yoshi-ruby

docs: Remove a broken link
  owl-bot-staging/google-cloud-dataqna/.gitignore
  owl-bot-staging/google-cloud-dataqna/.repo-metadata.json
  owl-bot-staging/google-cloud-dataqna/.rubocop.yml
  owl-bot-staging/google-cloud-dataqna/.yardopts
  owl-bot-staging/google-cloud-dataqna/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dataqna/CHANGELOG.md
  owl-bot-staging/google-cloud-dataqna/Gemfile
  owl-bot-staging/google-cloud-dataqna/LICENSE.md
  owl-bot-staging/google-cloud-dataqna/README.md
  owl-bot-staging/google-cloud-dataqna/Rakefile
  owl-bot-staging/google-cloud-dataqna/google-cloud-dataqna.gemspec
  owl-bot-staging/google-cloud-dataqna/lib/google-cloud-dataqna.rb
  owl-bot-staging/google-cloud-dataqna/lib/google/cloud/dataqna.rb
  owl-bot-staging/google-cloud-dataqna/lib/google/cloud/dataqna/version.rb
  owl-bot-staging/google-cloud-dataqna/test/google/cloud/dataqna/client_test.rb
  owl-bot-staging/google-cloud-dataqna/test/google/cloud/dataqna/version_test.rb
  owl-bot-staging/google-cloud-dataqna/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dataqna/.repo-metadata.json
  google-cloud-dataqna/README.md
  owl-bot-staging/google-cloud-dataqna/.gitignore
  owl-bot-staging/google-cloud-dataqna/.repo-metadata.json
  owl-bot-staging/google-cloud-dataqna/.rubocop.yml
  owl-bot-staging/google-cloud-dataqna/.yardopts
  owl-bot-staging/google-cloud-dataqna/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dataqna/CHANGELOG.md
  owl-bot-staging/google-cloud-dataqna/Gemfile
  owl-bot-staging/google-cloud-dataqna/LICENSE.md
  owl-bot-staging/google-cloud-dataqna/README.md
  owl-bot-staging/google-cloud-dataqna/Rakefile
  owl-bot-staging/google-cloud-dataqna/google-cloud-dataqna.gemspec
  owl-bot-staging/google-cloud-dataqna/lib/google-cloud-dataqna.rb
  owl-bot-staging/google-cloud-dataqna/lib/google/cloud/dataqna.rb
  owl-bot-staging/google-cloud-dataqna/lib/google/cloud/dataqna/version.rb
  owl-bot-staging/google-cloud-dataqna/test/google/cloud/dataqna/client_test.rb
  owl-bot-staging/google-cloud-dataqna/test/google/cloud/dataqna/version_test.rb
  owl-bot-staging/google-cloud-dataqna/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore(kms): Move iam_policy factory to a helper ahead of removing the generated method
  google-cloud-kms/lib/google/cloud/kms/helpers.rb
Owners: @googleapis/yoshi-ruby

[CHANGE ME] OwlBot on-demand for google-cloud-ai_platform-v1
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/dataset_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/dataset_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/endpoint_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/endpoint_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/featurestore_online_serving_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/featurestore_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/featurestore_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/index_endpoint_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/index_endpoint_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/index_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/index_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/job_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/job_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/metadata_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/metadata_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/migration_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/migration_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/model_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/model_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/pipeline_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/pipeline_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/prediction_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/specialist_pool_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/specialist_pool_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/tensorboard_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/tensorboard_service/operations.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/vizier_service/client.rb
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/vizier_service/operations.rb
Owners: @googleapis/yoshi-ruby

[CHANGE ME] OwlBot on-demand for google-cloud-binary_authorization-v1
  google-cloud-binary_authorization-v1/proto_docs/google/cloud/binaryauthorization/v1/service.rb
Owners: @googleapis/yoshi-ruby
