Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

🦉 Updates from OwlBot
  owl-bot-staging/google-analytics-data-v1beta/.gitignore
  owl-bot-staging/google-analytics-data-v1beta/.repo-metadata.json
  owl-bot-staging/google-analytics-data-v1beta/.rubocop.yml
  owl-bot-staging/google-analytics-data-v1beta/.yardopts
  owl-bot-staging/google-analytics-data-v1beta/AUTHENTICATION.md
  owl-bot-staging/google-analytics-data-v1beta/CHANGELOG.md
  owl-bot-staging/google-analytics-data-v1beta/Gemfile
  owl-bot-staging/google-analytics-data-v1beta/LICENSE.md
  owl-bot-staging/google-analytics-data-v1beta/README.md
  owl-bot-staging/google-analytics-data-v1beta/Rakefile
  owl-bot-staging/google-analytics-data-v1beta/gapic_metadata.json
  owl-bot-staging/google-analytics-data-v1beta/google-analytics-data-v1beta.gemspec
  owl-bot-staging/google-analytics-data-v1beta/lib/google-analytics-data-v1beta.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data/client.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data/credentials.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data/paths.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data_api_pb.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/analytics_data_api_services_pb.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/data_pb.rb
  owl-bot-staging/google-analytics-data-v1beta/lib/google/analytics/data/v1beta/version.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/README.md
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/analytics/data/v1beta/analytics_data_api.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/analytics/data/v1beta/data.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-analytics-data-v1beta/proto_docs/google/api/resource.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/Gemfile
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/batch_run_pivot_reports.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/batch_run_reports.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/check_compatibility.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/get_metadata.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/run_pivot_report.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/run_realtime_report.rb
  owl-bot-staging/google-analytics-data-v1beta/snippets/analytics_data/run_report.rb
  owl-bot-staging/google-analytics-data-v1beta/test/google/analytics/data/v1beta/analytics_data_paths_test.rb
  owl-bot-staging/google-analytics-data-v1beta/test/google/analytics/data/v1beta/analytics_data_test.rb
  owl-bot-staging/google-analytics-data-v1beta/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  owl-bot-staging/google-analytics-admin/.gitignore
  owl-bot-staging/google-analytics-admin/.repo-metadata.json
  owl-bot-staging/google-analytics-admin/.rubocop.yml
  owl-bot-staging/google-analytics-admin/.yardopts
  owl-bot-staging/google-analytics-admin/AUTHENTICATION.md
  owl-bot-staging/google-analytics-admin/CHANGELOG.md
  owl-bot-staging/google-analytics-admin/Gemfile
  owl-bot-staging/google-analytics-admin/LICENSE.md
  owl-bot-staging/google-analytics-admin/README.md
  owl-bot-staging/google-analytics-admin/Rakefile
  owl-bot-staging/google-analytics-admin/google-analytics-admin.gemspec
  owl-bot-staging/google-analytics-admin/lib/google-analytics-admin.rb
  owl-bot-staging/google-analytics-admin/lib/google/analytics/admin.rb
  owl-bot-staging/google-analytics-admin/lib/google/analytics/admin/version.rb
  owl-bot-staging/google-analytics-admin/test/google/analytics/admin/client_test.rb
  owl-bot-staging/google-analytics-admin/test/google/analytics/admin/version_test.rb
  owl-bot-staging/google-analytics-admin/test/helper.rb
Owners: @googleapis/yoshi-ruby

fix(spanner): pass quota_project_id from credentials
  google-cloud-spanner/lib/google/cloud/spanner.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/database.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/instance.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
  google-cloud-spanner/test/google/cloud/spanner_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

fix the failing test case
  google-cloud-spanner/test/google/cloud/spanner_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: Fixes for owlbot tool
  .github/.OwlBot.lock.yaml
  .github/workflows/owlbot.yml
  .toys/owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: Fixes for owlbot tool
  .github/.OwlBot.lock.yaml
  .github/workflows/owlbot.yml
  .toys/owlbot.rb
Owners: @googleapis/yoshi-ruby

chore: New tools for release level updating and cloud-rad
  .github/workflows/update-release-levels.yml
  .toys/rad/list-built-versions.rb
  .toys/update-release-levels.rb
Owners: @googleapis/yoshi-ruby

Correct the region tag
  google-cloud-storage/samples/storage_download_file_into_memory.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-compute 0.1.0
  google-cloud-compute/CHANGELOG.md
  google-cloud-compute/lib/google/cloud/compute/version.rb
Owners: @googleapis/yoshi-ruby

fix setting quota_project in service
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
  google-cloud-spanner/test/google/cloud/spanner/service_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

docs(storage): Update the RPO sample output. (#17277)
  google-cloud-storage/samples/storage_set_rpo_default.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

sample(storage): Add samples for storage upload and reorganise existing ones (#17276)
  google-cloud-storage/samples/acceptance/acls_test.rb
  google-cloud-storage/samples/acceptance/files_test.rb
  google-cloud-storage/samples/storage_add_bucket_default_owner.rb
  google-cloud-storage/samples/storage_add_bucket_owner.rb
  google-cloud-storage/samples/storage_add_file_owner.rb
  google-cloud-storage/samples/storage_download_file_into_memory.rb
  google-cloud-storage/samples/storage_print_bucket_acl.rb
  google-cloud-storage/samples/storage_print_bucket_acl_for_user.rb
  google-cloud-storage/samples/storage_print_file_acl.rb
  google-cloud-storage/samples/storage_print_file_acl_for_user.rb
  google-cloud-storage/samples/storage_remove_bucket_acl.rb
  google-cloud-storage/samples/storage_remove_bucket_default_acl.rb
  google-cloud-storage/samples/storage_remove_file_acl.rb
  google-cloud-storage/samples/storage_upload_from_memory.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: New tools for release level updating and cloud-rad
  .github/workflows/update-release-levels.yml
  .toys/rad/list-built-versions.rb
  .toys/update-release-levels.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-compute 0.1.0 (#17238)
  google-cloud-compute/CHANGELOG.md
  google-cloud-compute/lib/google/cloud/compute/version.rb
Owners: @googleapis/yoshi-ruby

fix(spanner): pass quota_project_id from credentials (#17549)
  google-cloud-spanner/lib/google/cloud/spanner.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/database.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/instance.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
  google-cloud-spanner/test/google/cloud/spanner/service_test.rb
  google-cloud-spanner/test/google/cloud/spanner_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: release google-cloud-bigtable-v2 0.4.0
  google-cloud-bigtable-v2/CHANGELOG.md
  google-cloud-bigtable-v2/lib/google/cloud/bigtable/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-kms-v1 0.11.0
  google-cloud-kms-v1/CHANGELOG.md
  google-cloud-kms-v1/lib/google/cloud/kms/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-secret_manager-v1 0.12.0
  google-cloud-secret_manager-v1/CHANGELOG.md
  google-cloud-secret_manager-v1/lib/google/cloud/secret_manager/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-pubsub-v1 0.7.0
  google-cloud-pubsub-v1/CHANGELOG.md
  google-cloud-pubsub-v1/lib/google/cloud/pubsub/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-document_ai-v1beta3 0.10.0
  google-cloud-document_ai-v1beta3/CHANGELOG.md
  google-cloud-document_ai-v1beta3/lib/google/cloud/document_ai/v1beta3/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-storage 1.36.1
  google-cloud-storage/CHANGELOG.md
  google-cloud-storage/lib/google/cloud/storage/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-recommender-v1 0.9.0
  google-cloud-recommender-v1/CHANGELOG.md
  google-cloud-recommender-v1/lib/google/cloud/recommender/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-eventarc-v1 0.2.0
  google-cloud-eventarc-v1/CHANGELOG.md
  google-cloud-eventarc-v1/lib/google/cloud/eventarc/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigtable-v2 0.4.0 (#17558)
  google-cloud-bigtable-v2/CHANGELOG.md
  google-cloud-bigtable-v2/lib/google/cloud/bigtable/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-kms-v1 0.11.0 (#17559)
  google-cloud-kms-v1/CHANGELOG.md
  google-cloud-kms-v1/lib/google/cloud/kms/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-secret_manager-v1 0.12.0 (#17560)
  google-cloud-secret_manager-v1/CHANGELOG.md
  google-cloud-secret_manager-v1/lib/google/cloud/secret_manager/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-pubsub-v1 0.7.0 (#17563)
  google-cloud-pubsub-v1/CHANGELOG.md
  google-cloud-pubsub-v1/lib/google/cloud/pubsub/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-document_ai-v1beta3 0.10.0 (#17564)
  google-cloud-document_ai-v1beta3/CHANGELOG.md
  google-cloud-document_ai-v1beta3/lib/google/cloud/document_ai/v1beta3/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-os_config-v1 0.10.0
  google-cloud-os_config-v1/CHANGELOG.md
  google-cloud-os_config-v1/lib/google/cloud/os_config/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-recommender-v1 0.9.0 (#17269)
  google-cloud-recommender-v1/CHANGELOG.md
  google-cloud-recommender-v1/lib/google/cloud/recommender/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-eventarc-v1 0.2.0 (#17571)
  google-cloud-eventarc-v1/CHANGELOG.md
  google-cloud-eventarc-v1/lib/google/cloud/eventarc/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-os_config-v1 0.10.0 (#17573)
  google-cloud-os_config-v1/CHANGELOG.md
  google-cloud-os_config-v1/lib/google/cloud/os_config/v1/version.rb
Owners: @googleapis/yoshi-ruby

docs: added resource annotations feat: added flag for implicit dismissal for `DismissDecision`
  owl-bot-staging/google-cloud-access_approval/.gitignore
  owl-bot-staging/google-cloud-access_approval/.repo-metadata.json
  owl-bot-staging/google-cloud-access_approval/.rubocop.yml
  owl-bot-staging/google-cloud-access_approval/.yardopts
  owl-bot-staging/google-cloud-access_approval/AUTHENTICATION.md
  owl-bot-staging/google-cloud-access_approval/CHANGELOG.md
  owl-bot-staging/google-cloud-access_approval/Gemfile
  owl-bot-staging/google-cloud-access_approval/LICENSE.md
  owl-bot-staging/google-cloud-access_approval/README.md
  owl-bot-staging/google-cloud-access_approval/Rakefile
  owl-bot-staging/google-cloud-access_approval/google-cloud-access_approval.gemspec
  owl-bot-staging/google-cloud-access_approval/lib/google-cloud-access_approval.rb
  owl-bot-staging/google-cloud-access_approval/lib/google/cloud/access_approval.rb
  owl-bot-staging/google-cloud-access_approval/lib/google/cloud/access_approval/version.rb
  owl-bot-staging/google-cloud-access_approval/test/google/cloud/access_approval/client_test.rb
  owl-bot-staging/google-cloud-access_approval/test/google/cloud/access_approval/version_test.rb
  owl-bot-staging/google-cloud-access_approval/test/helper.rb
Owners: @googleapis/yoshi-ruby

docs: added resource annotations feat: added flag for implicit dismissal for `DismissDecision`
  owl-bot-staging/google-cloud-access_approval-v1/.gitignore
  owl-bot-staging/google-cloud-access_approval-v1/.repo-metadata.json
  owl-bot-staging/google-cloud-access_approval-v1/.rubocop.yml
  owl-bot-staging/google-cloud-access_approval-v1/.yardopts
  owl-bot-staging/google-cloud-access_approval-v1/AUTHENTICATION.md
  owl-bot-staging/google-cloud-access_approval-v1/CHANGELOG.md
  owl-bot-staging/google-cloud-access_approval-v1/Gemfile
  owl-bot-staging/google-cloud-access_approval-v1/LICENSE.md
  owl-bot-staging/google-cloud-access_approval-v1/README.md
  owl-bot-staging/google-cloud-access_approval-v1/Rakefile
  owl-bot-staging/google-cloud-access_approval-v1/gapic_metadata.json
  owl-bot-staging/google-cloud-access_approval-v1/google-cloud-access_approval-v1.gemspec
  owl-bot-staging/google-cloud-access_approval-v1/lib/google-cloud-access_approval-v1.rb
  owl-bot-staging/google-cloud-access_approval-v1/lib/google/cloud/access_approval/v1.rb
  owl-bot-staging/google-cloud-access_approval-v1/lib/google/cloud/access_approval/v1/access_approval.rb
  owl-bot-staging/google-cloud-access_approval-v1/lib/google/cloud/access_approval/v1/access_approval/client.rb
  owl-bot-staging/google-cloud-access_approval-v1/lib/google/cloud/access_approval/v1/access_approval/credentials.rb
  owl-bot-staging/google-cloud-access_approval-v1/lib/google/cloud/access_approval/v1/access_approval/paths.rb
  owl-bot-staging/google-cloud-access_approval-v1/lib/google/cloud/access_approval/v1/version.rb
  owl-bot-staging/google-cloud-access_approval-v1/lib/google/cloud/accessapproval/v1/accessapproval_pb.rb
  owl-bot-staging/google-cloud-access_approval-v1/lib/google/cloud/accessapproval/v1/accessapproval_services_pb.rb
  owl-bot-staging/google-cloud-access_approval-v1/proto_docs/README.md
  owl-bot-staging/google-cloud-access_approval-v1/proto_docs/google/api/field_behavior.rb
  owl-bot-staging/google-cloud-access_approval-v1/proto_docs/google/api/resource.rb
  owl-bot-staging/google-cloud-access_approval-v1/proto_docs/google/cloud/accessapproval/v1/accessapproval.rb
  owl-bot-staging/google-cloud-access_approval-v1/proto_docs/google/protobuf/empty.rb
  owl-bot-staging/google-cloud-access_approval-v1/proto_docs/google/protobuf/field_mask.rb
  owl-bot-staging/google-cloud-access_approval-v1/proto_docs/google/protobuf/timestamp.rb
  owl-bot-staging/google-cloud-access_approval-v1/snippets/Gemfile
  owl-bot-staging/google-cloud-access_approval-v1/snippets/access_approval/approve_approval_request.rb
  owl-bot-staging/google-cloud-access_approval-v1/snippets/access_approval/delete_access_approval_settings.rb
  owl-bot-staging/google-cloud-access_approval-v1/snippets/access_approval/dismiss_approval_request.rb
  owl-bot-staging/google-cloud-access_approval-v1/snippets/access_approval/get_access_approval_settings.rb
  owl-bot-staging/google-cloud-access_approval-v1/snippets/access_approval/get_approval_request.rb
  owl-bot-staging/google-cloud-access_approval-v1/snippets/access_approval/list_approval_requests.rb
  owl-bot-staging/google-cloud-access_approval-v1/snippets/access_approval/update_access_approval_settings.rb
  owl-bot-staging/google-cloud-access_approval-v1/test/google/cloud/access_approval/v1/access_approval_paths_test.rb
  owl-bot-staging/google-cloud-access_approval-v1/test/google/cloud/access_approval/v1/access_approval_test.rb
  owl-bot-staging/google-cloud-access_approval-v1/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  google-cloud-access_approval/lib/google/cloud/access_approval.rb
  owl-bot-staging/google-cloud-access_approval/.gitignore
  owl-bot-staging/google-cloud-access_approval/.repo-metadata.json
  owl-bot-staging/google-cloud-access_approval/.rubocop.yml
  owl-bot-staging/google-cloud-access_approval/.yardopts
  owl-bot-staging/google-cloud-access_approval/AUTHENTICATION.md
  owl-bot-staging/google-cloud-access_approval/CHANGELOG.md
  owl-bot-staging/google-cloud-access_approval/Gemfile
  owl-bot-staging/google-cloud-access_approval/LICENSE.md
  owl-bot-staging/google-cloud-access_approval/README.md
  owl-bot-staging/google-cloud-access_approval/Rakefile
  owl-bot-staging/google-cloud-access_approval/google-cloud-access_approval.gemspec
  owl-bot-staging/google-cloud-access_approval/lib/google-cloud-access_approval.rb
  owl-bot-staging/google-cloud-access_approval/lib/google/cloud/access_approval.rb
  owl-bot-staging/google-cloud-access_approval/lib/google/cloud/access_approval/version.rb
  owl-bot-staging/google-cloud-access_approval/test/google/cloud/access_approval/client_test.rb
  owl-bot-staging/google-cloud-access_approval/test/google/cloud/access_approval/version_test.rb
  owl-bot-staging/google-cloud-access_approval/test/helper.rb
Owners: @googleapis/yoshi-ruby

feat: update compute API to revision 20220112 (#700)
  owl-bot-staging/google-cloud-compute/.gitignore
  owl-bot-staging/google-cloud-compute/.repo-metadata.json
  owl-bot-staging/google-cloud-compute/.rubocop.yml
  owl-bot-staging/google-cloud-compute/.yardopts
  owl-bot-staging/google-cloud-compute/AUTHENTICATION.md
  owl-bot-staging/google-cloud-compute/CHANGELOG.md
  owl-bot-staging/google-cloud-compute/Gemfile
  owl-bot-staging/google-cloud-compute/LICENSE.md
  owl-bot-staging/google-cloud-compute/README.md
  owl-bot-staging/google-cloud-compute/Rakefile
  owl-bot-staging/google-cloud-compute/google-cloud-compute.gemspec
  owl-bot-staging/google-cloud-compute/lib/google-cloud-compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute/version.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/version_test.rb
  owl-bot-staging/google-cloud-compute/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  google-cloud-compute/lib/google/cloud/compute.rb
  google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/.gitignore
  owl-bot-staging/google-cloud-compute/.repo-metadata.json
  owl-bot-staging/google-cloud-compute/.rubocop.yml
  owl-bot-staging/google-cloud-compute/.yardopts
  owl-bot-staging/google-cloud-compute/AUTHENTICATION.md
  owl-bot-staging/google-cloud-compute/CHANGELOG.md
  owl-bot-staging/google-cloud-compute/Gemfile
  owl-bot-staging/google-cloud-compute/LICENSE.md
  owl-bot-staging/google-cloud-compute/README.md
  owl-bot-staging/google-cloud-compute/Rakefile
  owl-bot-staging/google-cloud-compute/google-cloud-compute.gemspec
  owl-bot-staging/google-cloud-compute/lib/google-cloud-compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute/version.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/version_test.rb
  owl-bot-staging/google-cloud-compute/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-storage 1.36.1 (#17566)
  google-cloud-storage/CHANGELOG.md
  google-cloud-storage/lib/google/cloud/storage/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(deps): update actions/github-script action to v6
  .github/workflows/release-please-label.yml
Owners: @googleapis/yoshi-ruby

Update quickstart.rb
  google-cloud-asset/samples/quickstart.rb
Owners: @googleapis/yoshi-ruby
