Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

Update snippets_test.rb
  google-cloud-secret_manager/samples/acceptance/snippets_test.rb
Owners: @googleapis/yoshi-ruby

Update snippets.rb
  google-cloud-secret_manager/samples/snippets.rb
Owners: @googleapis/yoshi-ruby

Update snippets.rb
  google-cloud-secret_manager/samples/snippets.rb
Owners: @googleapis/yoshi-ruby

chore: revert rakefile changes
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/timed_unary_buffer_test.rb
  google-cloud-storage/Rakefile
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(secret_manager): Add sample for secretmanager_update_secret_with_alias
  google-cloud-secret_manager/samples/acceptance/snippets_test.rb
  google-cloud-secret_manager/samples/snippets.rb
Owners: @googleapis/yoshi-ruby

feat: Update minimum Ruby version to 2.6
  google-cloud-logging/README.md
  google-cloud-logging/google-cloud-logging.gemspec
  google-cloud-logging/lib/google/cloud/logging/convert.rb
  google-cloud-logging/lib/google/cloud/logging/entry.rb
  google-cloud-logging/lib/google/cloud/logging/rails.rb
  google-cloud-logging/lib/google/cloud/logging/resource.rb
  google-cloud-logging/lib/google/cloud/logging/service.rb
  google-cloud-logging/samples/sample.rb
  google-cloud-logging/test/google/cloud/logging/async_writer_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/add_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/debug_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/error_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/fatal_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/info_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/unknown_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/warn_test.rb
  google-cloud-logging/test/google/cloud/logging/logger_test.rb
  google-cloud-logging/test/google/cloud/logging/metric_test.rb
  google-cloud-logging/test/google/cloud/logging/project/list_entries_test.rb
  google-cloud-logging/test/google/cloud/logging/project/list_logs_test.rb
  google-cloud-logging/test/google/cloud/logging/project/metrics_test.rb
  google-cloud-logging/test/google/cloud/logging/project/resource_descriptors_test.rb
  google-cloud-logging/test/google/cloud/logging/project/sinks_test.rb
  google-cloud-logging/test/google/cloud/logging/project/write_entries_test.rb
  google-cloud-logging/test/google/cloud/logging/project_test.rb
  google-cloud-logging/test/google/cloud/logging/sink_test.rb
  google-cloud-resource_manager/README.md
  google-cloud-resource_manager/google-cloud-resource_manager.gemspec
  google-cloud-resource_manager/test/google/cloud/resource_manager/manager_test.rb
Owners: @googleapis/yoshi-ruby

chore(debugger): Updates for compatibility with Minitest 5.16
  .toys/ci.rb
  google-cloud-debugger/google-cloud-debugger.gemspec
  google-cloud-debugger/test/google/cloud/debugger/breakpoint_test.rb
  google-cloud-debugger/test/google/cloud/debugger/middleware_test.rb
  google-cloud-debugger/test/google/cloud/debugger/transmitter_test.rb
Owners: @googleapis/yoshi-ruby

chore(debugger): Updates for compatibility with Minitest 5.16 (#18445)
  .toys/ci.rb
  google-cloud-debugger/google-cloud-debugger.gemspec
  google-cloud-debugger/test/google/cloud/debugger/breakpoint_test.rb
  google-cloud-debugger/test/google/cloud/debugger/middleware_test.rb
  google-cloud-debugger/test/google/cloud/debugger/transmitter_test.rb
Owners: @googleapis/yoshi-ruby

feat: Update minimum Ruby version to 2.6 (#18444)
  google-cloud-logging/README.md
  google-cloud-logging/google-cloud-logging.gemspec
  google-cloud-logging/lib/google/cloud/logging/convert.rb
  google-cloud-logging/lib/google/cloud/logging/entry.rb
  google-cloud-logging/lib/google/cloud/logging/rails.rb
  google-cloud-logging/lib/google/cloud/logging/resource.rb
  google-cloud-logging/lib/google/cloud/logging/service.rb
  google-cloud-logging/samples/sample.rb
  google-cloud-logging/test/google/cloud/logging/async_writer_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/add_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/debug_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/error_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/fatal_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/info_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/unknown_test.rb
  google-cloud-logging/test/google/cloud/logging/logger/warn_test.rb
  google-cloud-logging/test/google/cloud/logging/logger_test.rb
  google-cloud-logging/test/google/cloud/logging/metric_test.rb
  google-cloud-logging/test/google/cloud/logging/project/list_entries_test.rb
  google-cloud-logging/test/google/cloud/logging/project/list_logs_test.rb
  google-cloud-logging/test/google/cloud/logging/project/metrics_test.rb
  google-cloud-logging/test/google/cloud/logging/project/resource_descriptors_test.rb
  google-cloud-logging/test/google/cloud/logging/project/sinks_test.rb
  google-cloud-logging/test/google/cloud/logging/project/write_entries_test.rb
  google-cloud-logging/test/google/cloud/logging/project_test.rb
  google-cloud-logging/test/google/cloud/logging/sink_test.rb
  google-cloud-resource_manager/README.md
  google-cloud-resource_manager/google-cloud-resource_manager.gemspec
  google-cloud-resource_manager/test/google/cloud/resource_manager/manager_test.rb
Owners: @googleapis/yoshi-ruby

feat(google-cloud-storage): support OLM Prefix/Suffix (#18190)
  google-cloud-dataproc-v1/snippets/snippet_metadata_google.cloud.dataproc.v1.json
  google-cloud-storage/acceptance/storage/bucket_test.rb
  google-cloud-storage/lib/google/cloud/storage/bucket/lifecycle.rb
  google-cloud-storage/test/google/cloud/storage/bucket_test.rb
  google-cloud-storage/test/helper.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

feat(firestore): Updated minimum Ruby version to 2.6
  google-cloud-firestore/README.md
  google-cloud-firestore/google-cloud-firestore.gemspec
  google-cloud-firestore/lib/google/cloud/firestore/client.rb
  google-cloud-firestore/lib/google/cloud/firestore/convert.rb
  google-cloud-firestore/lib/google/cloud/firestore/watch/inventory.rb
  google-cloud-firestore/test/google/cloud/firestore/collection_reference/list_documents_test.rb
Owners: @googleapis/yoshi-ruby

feature(storage): Support AbortIncompleteMultipartUpload LifecycleAction (#18430)
  google-cloud-storage/acceptance/storage/bucket_test.rb
  google-cloud-storage/lib/google/cloud/storage/bucket/lifecycle.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(main): release google-cloud-bigtable-admin-v2 0.12.0
  .release-please-manifest.json
  google-cloud-bigtable-admin-v2/CHANGELOG.md
  google-cloud-bigtable-admin-v2/lib/google/cloud/bigtable/admin/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dataflow-v1beta3 0.4.0
  .release-please-manifest.json
  google-cloud-dataflow-v1beta3/CHANGELOG.md
  google-cloud-dataflow-v1beta3/lib/google/cloud/dataflow/v1beta3/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dataproc-v1 0.11.0
  .release-please-manifest.json
  google-cloud-dataproc-v1/CHANGELOG.md
  google-cloud-dataproc-v1/lib/google/cloud/dataproc/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-logging 2.3.0
  .release-please-manifest.json
  google-cloud-logging/CHANGELOG.md
  google-cloud-logging/lib/google/cloud/logging/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-resource_manager 0.37.0
  .release-please-manifest.json
  google-cloud-resource_manager/CHANGELOG.md
  google-cloud-resource_manager/lib/google/cloud/resource_manager/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-storage 1.37.0
  .release-please-manifest.json
  google-cloud-storage/CHANGELOG.md
  google-cloud-storage/lib/google/cloud/storage/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

🦉 Updates from OwlBot post-processor
  google-cloud-bigtable-admin-v2/snippets/snippet_metadata_google.bigtable.admin.v2.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dataflow-v1beta3/snippets/snippet_metadata_google.dataflow.v1beta3.json
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dataproc-v1/snippets/snippet_metadata_google.cloud.dataproc.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-storage 1.37.0 (#18431)
  .release-please-manifest.json
  google-cloud-storage/CHANGELOG.md
  google-cloud-storage/lib/google/cloud/storage/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore(main): release google-cloud-bigtable-admin-v2 0.12.0 (#18447)
  .release-please-manifest.json
  google-cloud-bigtable-admin-v2/CHANGELOG.md
  google-cloud-bigtable-admin-v2/lib/google/cloud/bigtable/admin/v2/version.rb
  google-cloud-bigtable-admin-v2/snippets/snippet_metadata_google.bigtable.admin.v2.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dataflow-v1beta3 0.4.0 (#18448)
  .release-please-manifest.json
  google-cloud-dataflow-v1beta3/CHANGELOG.md
  google-cloud-dataflow-v1beta3/lib/google/cloud/dataflow/v1beta3/version.rb
  google-cloud-dataflow-v1beta3/snippets/snippet_metadata_google.dataflow.v1beta3.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-dataproc-v1 0.11.0 (#18449)
  .release-please-manifest.json
  google-cloud-dataproc-v1/CHANGELOG.md
  google-cloud-dataproc-v1/lib/google/cloud/dataproc/v1/version.rb
  google-cloud-dataproc-v1/snippets/snippet_metadata_google.cloud.dataproc.v1.json
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-logging 2.3.0 (#18450)
  .release-please-manifest.json
  google-cloud-logging/CHANGELOG.md
  google-cloud-logging/lib/google/cloud/logging/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-cloud-resource_manager 0.37.0 (#18451)
  .release-please-manifest.json
  google-cloud-resource_manager/CHANGELOG.md
  google-cloud-resource_manager/lib/google/cloud/resource_manager/version.rb
Owners: @googleapis/yoshi-ruby

chore: fix test assertion
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/timed_unary_buffer_test.rb
Owners: @googleapis/yoshi-ruby

chore: add more tests
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/timed_unary_buffer.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/timed_unary_buffer_test.rb
Owners: @googleapis/yoshi-ruby

feat: support getting results for ack/nack/modack
  google-cloud-pubsub/lib/google/cloud/pubsub/acknowledge_result.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/received_message.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/timed_unary_buffer.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/timed_unary_buffer_test.rb
Owners: @googleapis/yoshi-ruby

chore: update retriable options
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/timed_unary_buffer.rb
Owners: @googleapis/yoshi-ruby

feat(firestore): Updated minimum Ruby version to 2.6 (#18446)
  google-cloud-firestore/README.md
  google-cloud-firestore/google-cloud-firestore.gemspec
  google-cloud-firestore/lib/google/cloud/firestore/client.rb
  google-cloud-firestore/lib/google/cloud/firestore/convert.rb
  google-cloud-firestore/lib/google/cloud/firestore/watch/inventory.rb
  google-cloud-firestore/test/google/cloud/firestore/collection_reference/list_documents_test.rb
Owners: @googleapis/yoshi-ruby

feat(spanner): Updated minimum Ruby version to 2.6
  google-cloud-spanner/README.md
  google-cloud-spanner/acceptance/spanner/client/large_data_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/struct_test.rb
  google-cloud-spanner/google-cloud-spanner.gemspec
  google-cloud-spanner/lib/google/cloud/spanner/data.rb
  google-cloud-spanner/lib/google/cloud/spanner/database.rb
  google-cloud-spanner/lib/google/cloud/spanner/fields.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

feat(trace): Updated minimum Ruby version to 2.6
  google-cloud-trace/README.md
  google-cloud-trace/google-cloud-trace.gemspec
  google-cloud-trace/lib/google/cloud/trace/patches/call_with_trace.rb
  google-cloud-trace/lib/google/cloud/trace/rails.rb
  google-cloud-trace/test/google/cloud/trace/middleware_test.rb
  google-cloud-trace/test/google/cloud/trace/project_test.rb
Owners: @googleapis/yoshi-ruby

feat(trace): Updated minimum Ruby version to 2.6 (#18455)
  google-cloud-trace/README.md
  google-cloud-trace/google-cloud-trace.gemspec
  google-cloud-trace/lib/google/cloud/trace/patches/call_with_trace.rb
  google-cloud-trace/lib/google/cloud/trace/rails.rb
  google-cloud-trace/test/google/cloud/trace/middleware_test.rb
  google-cloud-trace/test/google/cloud/trace/project_test.rb
Owners: @googleapis/yoshi-ruby

feat(spanner): Updated minimum Ruby version to 2.6 (#18454)
  google-cloud-spanner/README.md
  google-cloud-spanner/acceptance/spanner/client/large_data_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/struct_test.rb
  google-cloud-spanner/google-cloud-spanner.gemspec
  google-cloud-spanner/lib/google/cloud/spanner/data.rb
  google-cloud-spanner/lib/google/cloud/spanner/database.rb
  google-cloud-spanner/lib/google/cloud/spanner/fields.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore(main): release google-analytics-admin 0.2.0
  .release-please-manifest.json
  google-analytics-admin/CHANGELOG.md
  google-analytics-admin/lib/google/analytics/admin/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-analytics-admin-v1alpha 0.12.0
  .release-please-manifest.json
  google-analytics-admin-v1alpha/CHANGELOG.md
  google-analytics-admin-v1alpha/lib/google/analytics/admin/v1alpha/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-analytics-data 0.3.0
  .release-please-manifest.json
  google-analytics-data/CHANGELOG.md
  google-analytics-data/lib/google/analytics/data/version.rb
Owners: @googleapis/yoshi-ruby

chore(main): release google-analytics-data-v1beta 0.5.0
  .release-please-manifest.json
  google-analytics-data-v1beta/CHANGELOG.md
  google-analytics-data-v1beta/lib/google/analytics/data/v1beta/version.rb
Owners: @googleapis/yoshi-ruby
