Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-security-private_ca-v1 0.1.6 (#17641)
  google-cloud-security-private_ca-v1/CHANGELOG.md
  google-cloud-security-private_ca-v1/lib/google/cloud/security/private_ca/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-video-transcoder 1.1.0 (#17649)
  google-cloud-video-transcoder/CHANGELOG.md
  google-cloud-video-transcoder/lib/google/cloud/video/transcoder/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-container-v1 0.8.0 (#17569)
  google-cloud-container-v1/CHANGELOG.md
  google-cloud-container-v1/lib/google/cloud/container/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore(monitoring): Fix test case failures
  google-cloud-monitoring/samples/acceptance/metrics_test.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-spanner/CHANGELOG.md
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

feat(ruby): Update google-cloud-compute-v1 dependency to 1.1.0 or later
  owl-bot-staging/google-cloud-compute/.gitignore
  owl-bot-staging/google-cloud-compute/.repo-metadata.json
  owl-bot-staging/google-cloud-compute/.rubocop.yml
  owl-bot-staging/google-cloud-compute/.yardopts
  owl-bot-staging/google-cloud-compute/AUTHENTICATION.md
  owl-bot-staging/google-cloud-compute/CHANGELOG.md
  owl-bot-staging/google-cloud-compute/Gemfile
  owl-bot-staging/google-cloud-compute/LICENSE.md
  owl-bot-staging/google-cloud-compute/README.md
  owl-bot-staging/google-cloud-compute/Rakefile
  owl-bot-staging/google-cloud-compute/google-cloud-compute.gemspec
  owl-bot-staging/google-cloud-compute/lib/google-cloud-compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute/version.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/version_test.rb
  owl-bot-staging/google-cloud-compute/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  google-cloud-compute/google-cloud-compute.gemspec
  google-cloud-compute/lib/google/cloud/compute.rb
  google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/.gitignore
  owl-bot-staging/google-cloud-compute/.repo-metadata.json
  owl-bot-staging/google-cloud-compute/.rubocop.yml
  owl-bot-staging/google-cloud-compute/.yardopts
  owl-bot-staging/google-cloud-compute/AUTHENTICATION.md
  owl-bot-staging/google-cloud-compute/CHANGELOG.md
  owl-bot-staging/google-cloud-compute/Gemfile
  owl-bot-staging/google-cloud-compute/LICENSE.md
  owl-bot-staging/google-cloud-compute/README.md
  owl-bot-staging/google-cloud-compute/Rakefile
  owl-bot-staging/google-cloud-compute/google-cloud-compute.gemspec
  owl-bot-staging/google-cloud-compute/lib/google-cloud-compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute.rb
  owl-bot-staging/google-cloud-compute/lib/google/cloud/compute/version.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/client_test.rb
  owl-bot-staging/google-cloud-compute/test/google/cloud/compute/version_test.rb
  owl-bot-staging/google-cloud-compute/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-spanner 2.12.1 (#17574)
  google-cloud-spanner/CHANGELOG.md
  google-cloud-spanner/lib/google/cloud/spanner/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: release google-cloud-dataplex-v1 0.2.0
  google-cloud-dataplex-v1/CHANGELOG.md
  google-cloud-dataplex-v1/lib/google/cloud/dataplex/v1/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-dataplex-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

skip test for emulator
  google-cloud-spanner/acceptance/spanner/client/batch_update_test.rb
  google-cloud-spanner/acceptance/spanner/client/crud_test.rb
  google-cloud-spanner/acceptance/spanner/client/dml_test.rb
  google-cloud-spanner/acceptance/spanner/client/execute_test.rb
  google-cloud-spanner/acceptance/spanner/client/pdml_test.rb
  google-cloud-spanner/acceptance/spanner/client/single_use_test.rb
  google-cloud-spanner/acceptance/spanner/client/snapshot_test.rb
  google-cloud-spanner/acceptance/spanner/database_client_test.rb
  google-cloud-spanner/acceptance/spanner_helper.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

cleanup client creation
  google-cloud-spanner/acceptance/spanner_helper.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

update fixture
  acceptance/data/fixtures.rb
Owners: @googleapis/yoshi-ruby

skip pg tests for emulator
  google-cloud-spanner/acceptance/spanner/batch_client/execute_partition_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/pgnumeric_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: release google-cloud-dataplex-v1 0.2.0 (#17660)
  google-cloud-dataplex-v1/CHANGELOG.md
  google-cloud-dataplex-v1/lib/google/cloud/dataplex/v1/version.rb
Owners: @googleapis/yoshi-ruby

Add a sample for bigquery legacy sql query
  google-cloud-bigquery/samples/snippets/acceptance/query_legacy_sql_test.rb
  google-cloud-bigquery/samples/snippets/query_legacy_sql.rb
Owners: @googleapis/yoshi-ruby

Correct the method name
  google-cloud-bigquery/samples/snippets/acceptance/query_legacy_sql_test.rb
Owners: @googleapis/yoshi-ruby

clean up execute_partition_test
  google-cloud-spanner/acceptance/spanner/batch_client/execute_partition_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

cleanup for emulator run
  google-cloud-spanner/acceptance/spanner/client/crud_test.rb
  google-cloud-spanner/acceptance/spanner_helper.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: release google-cloud-compute 0.2.0
  google-cloud-compute/CHANGELOG.md
  google-cloud-compute/lib/google/cloud/compute/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-ai_platform-v1 0.1.0
  google-cloud-ai_platform-v1/CHANGELOG.md
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-automl-v1 0.4.8
  google-cloud-automl-v1/CHANGELOG.md
  google-cloud-automl-v1/lib/google/cloud/automl/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-service_management-v1 0.3.7
  google-cloud-service_management-v1/CHANGELOG.md
  google-cloud-service_management-v1/lib/google/cloud/service_management/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-org_policy-v2 0.2.6
  google-cloud-org_policy-v2/CHANGELOG.md
  google-cloud-org_policy-v2/lib/google/cloud/org_policy/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dataproc-v1 0.9.0
  google-cloud-dataproc-v1/CHANGELOG.md
  google-cloud-dataproc-v1/lib/google/cloud/dataproc/v1/version.rb
Owners: @googleapis/yoshi-ruby

Keep file & method names same as region tag
  google-cloud-bigquery/samples/snippets/acceptance/query_legacy_test.rb
  google-cloud-bigquery/samples/snippets/query_legacy.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  owl-bot-staging/google-cloud-dataplex/.gitignore
  owl-bot-staging/google-cloud-dataplex/.repo-metadata.json
  owl-bot-staging/google-cloud-dataplex/.rubocop.yml
  owl-bot-staging/google-cloud-dataplex/.yardopts
  owl-bot-staging/google-cloud-dataplex/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dataplex/CHANGELOG.md
  owl-bot-staging/google-cloud-dataplex/Gemfile
  owl-bot-staging/google-cloud-dataplex/LICENSE.md
  owl-bot-staging/google-cloud-dataplex/README.md
  owl-bot-staging/google-cloud-dataplex/Rakefile
  owl-bot-staging/google-cloud-dataplex/google-cloud-dataplex.gemspec
  owl-bot-staging/google-cloud-dataplex/lib/google-cloud-dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex/version.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/client_test.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/version_test.rb
  owl-bot-staging/google-cloud-dataplex/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  google-cloud-dataplex/AUTHENTICATION.md
  google-cloud-dataplex/Rakefile
  google-cloud-dataplex/lib/google/cloud/dataplex.rb
  google-cloud-dataplex/test/google/cloud/dataplex/client_test.rb
  owl-bot-staging/google-cloud-dataplex/.gitignore
  owl-bot-staging/google-cloud-dataplex/.repo-metadata.json
  owl-bot-staging/google-cloud-dataplex/.rubocop.yml
  owl-bot-staging/google-cloud-dataplex/.yardopts
  owl-bot-staging/google-cloud-dataplex/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dataplex/CHANGELOG.md
  owl-bot-staging/google-cloud-dataplex/Gemfile
  owl-bot-staging/google-cloud-dataplex/LICENSE.md
  owl-bot-staging/google-cloud-dataplex/README.md
  owl-bot-staging/google-cloud-dataplex/Rakefile
  owl-bot-staging/google-cloud-dataplex/google-cloud-dataplex.gemspec
  owl-bot-staging/google-cloud-dataplex/lib/google-cloud-dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex/version.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/client_test.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/version_test.rb
  owl-bot-staging/google-cloud-dataplex/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-ai_platform-v1 0.1.0 (#17664)
  google-cloud-ai_platform-v1/CHANGELOG.md
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-compute 0.2.0 (#17663)
  google-cloud-compute/CHANGELOG.md
  google-cloud-compute/lib/google/cloud/compute/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-automl-v1 0.4.8 (#17665)
  google-cloud-automl-v1/CHANGELOG.md
  google-cloud-automl-v1/lib/google/cloud/automl/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-org_policy-v2 0.2.6 (#17666)
  google-cloud-org_policy-v2/CHANGELOG.md
  google-cloud-org_policy-v2/lib/google/cloud/org_policy/v2/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-dataproc-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-service_management-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-service_management-v1 0.3.7 (#17644)
  google-cloud-service_management-v1/CHANGELOG.md
  google-cloud-service_management-v1/lib/google/cloud/service_management/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dataproc-v1 0.9.0 (#17667)
  google-cloud-dataproc-v1/CHANGELOG.md
  google-cloud-dataproc-v1/lib/google/cloud/dataproc/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: Update repo-metadata files
  gcloud/.repo-metadata.json
  google-analytics-data-v1alpha/.owlbot-manifest.json
  google-analytics-data-v1alpha/.repo-metadata.json
  google-cloud-ai_platform-v1/.repo-metadata.json
  google-cloud-asset-v1beta1/.repo-metadata.json
  google-cloud-bigquery/.repo-metadata.json
  google-cloud-dataplex-v1/.repo-metadata.json
  google-cloud-dataplex/.repo-metadata.json
  google-cloud-dataproc-v1beta2/.repo-metadata.json
  google-cloud-dns/.repo-metadata.json
  google-cloud-eventarc-publishing-v1/.repo-metadata.json
  google-cloud-eventarc-publishing/.repo-metadata.json
  google-cloud-storage/.repo-metadata.json
  google-cloud-video-live_stream-v1/.repo-metadata.json
  google-cloud-video-live_stream/.repo-metadata.json
  google-cloud-video-stitcher-v1/.repo-metadata.json
  google-cloud-video-stitcher/.repo-metadata.json
  google-cloud-webrisk/.repo-metadata.json
  google-cloud/.repo-metadata.json
  grafeas-client/.repo-metadata.json
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: Update repo-metadata files
  gcloud/.repo-metadata.json
  google-analytics-data-v1alpha/.owlbot-manifest.json
  google-analytics-data-v1alpha/.repo-metadata.json
  google-cloud-ai_platform-v1/.repo-metadata.json
  google-cloud-asset-v1beta1/.repo-metadata.json
  google-cloud-bigquery/.repo-metadata.json
  google-cloud-dataplex-v1/.repo-metadata.json
  google-cloud-dataplex/.repo-metadata.json
  google-cloud-dataproc-v1beta2/.repo-metadata.json
  google-cloud-dns/.repo-metadata.json
  google-cloud-eventarc-publishing-v1/.repo-metadata.json
  google-cloud-eventarc-publishing/.repo-metadata.json
  google-cloud-storage/.repo-metadata.json
  google-cloud-video-live_stream-v1/.repo-metadata.json
  google-cloud-video-live_stream/.repo-metadata.json
  google-cloud-video-stitcher-v1/.repo-metadata.json
  google-cloud-video-stitcher/.repo-metadata.json
  google-cloud-webrisk/.repo-metadata.json
  google-cloud/.repo-metadata.json
  grafeas-client/.repo-metadata.json
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

fix(ruby): Update the google-cloud-dataplex-v1 dependency to version 0.2
  owl-bot-staging/google-cloud-dataplex/.gitignore
  owl-bot-staging/google-cloud-dataplex/.repo-metadata.json
  owl-bot-staging/google-cloud-dataplex/.rubocop.yml
  owl-bot-staging/google-cloud-dataplex/.yardopts
  owl-bot-staging/google-cloud-dataplex/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dataplex/CHANGELOG.md
  owl-bot-staging/google-cloud-dataplex/Gemfile
  owl-bot-staging/google-cloud-dataplex/LICENSE.md
  owl-bot-staging/google-cloud-dataplex/README.md
  owl-bot-staging/google-cloud-dataplex/Rakefile
  owl-bot-staging/google-cloud-dataplex/google-cloud-dataplex.gemspec
  owl-bot-staging/google-cloud-dataplex/lib/google-cloud-dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex/version.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/client_test.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/version_test.rb
  owl-bot-staging/google-cloud-dataplex/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot post-processor
  google-cloud-dataplex/AUTHENTICATION.md
  google-cloud-dataplex/Rakefile
  google-cloud-dataplex/google-cloud-dataplex.gemspec
  google-cloud-dataplex/lib/google/cloud/dataplex.rb
  google-cloud-dataplex/test/google/cloud/dataplex/client_test.rb
  owl-bot-staging/google-cloud-dataplex/.gitignore
  owl-bot-staging/google-cloud-dataplex/.repo-metadata.json
  owl-bot-staging/google-cloud-dataplex/.rubocop.yml
  owl-bot-staging/google-cloud-dataplex/.yardopts
  owl-bot-staging/google-cloud-dataplex/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dataplex/CHANGELOG.md
  owl-bot-staging/google-cloud-dataplex/Gemfile
  owl-bot-staging/google-cloud-dataplex/LICENSE.md
  owl-bot-staging/google-cloud-dataplex/README.md
  owl-bot-staging/google-cloud-dataplex/Rakefile
  owl-bot-staging/google-cloud-dataplex/google-cloud-dataplex.gemspec
  owl-bot-staging/google-cloud-dataplex/lib/google-cloud-dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex.rb
  owl-bot-staging/google-cloud-dataplex/lib/google/cloud/dataplex/version.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/client_test.rb
  owl-bot-staging/google-cloud-dataplex/test/google/cloud/dataplex/version_test.rb
  owl-bot-staging/google-cloud-dataplex/test/helper.rb
Owners: @googleapis/yoshi-ruby

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
