Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

Update CHANGELOG.md
  google-cloud-retail-v2/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dataflow-v1beta3 0.3.0 (#17927)
  google-cloud-dataflow-v1beta3/CHANGELOG.md
  google-cloud-dataflow-v1beta3/lib/google/cloud/dataflow/v1beta3/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-ai_platform-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dlp-v2 0.9.0 (#17929)
  google-cloud-dlp-v2/CHANGELOG.md
  google-cloud-dlp-v2/lib/google/cloud/dlp/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-talent-v4 0.6.4 (#17930)
  google-cloud-talent-v4/CHANGELOG.md
  google-cloud-talent-v4/lib/google/cloud/talent/v4/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-redis-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-cx-v3 0.7.0 (#17932)
  google-cloud-dialogflow-cx-v3/CHANGELOG.md
  google-cloud-dialogflow-cx-v3/lib/google/cloud/dialogflow/cx/v3/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-datastore-v1 0.4.0 (#17933)
  google-cloud-datastore-v1/CHANGELOG.md
  google-cloud-datastore-v1/lib/google/cloud/datastore/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-optimization-v1 0.1.0 (#17934)
  google-cloud-optimization-v1/CHANGELOG.md
  google-cloud-optimization-v1/lib/google/cloud/optimization/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-gaming-v1 0.4.4 (#17935)
  google-cloud-gaming-v1/CHANGELOG.md
  google-cloud-gaming-v1/lib/google/cloud/gaming/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigtable-admin-v2 0.9.0 (#17936)
  google-cloud-bigtable-admin-v2/CHANGELOG.md
  google-cloud-bigtable-admin-v2/lib/google/cloud/bigtable/admin/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-retail 1.2.0 (#17925)
  google-cloud-retail/CHANGELOG.md
  google-cloud-retail/lib/google/cloud/retail/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-retail-v2 0.7.0 (#17926)
  google-cloud-retail-v2/CHANGELOG.md
  google-cloud-retail-v2/lib/google/cloud/retail/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-ai_platform-v1 0.2.0 (#17928)
  google-cloud-ai_platform-v1/CHANGELOG.md
  google-cloud-ai_platform-v1/lib/google/cloud/ai_platform/v1/version.rb
Owners: @googleapis/yoshi-ruby

feat: Initial generation of google-cloud-optimization
  google-cloud-optimization/.OwlBot.yaml
  google-cloud-optimization/.gitignore
  google-cloud-optimization/.owlbot-manifest.json
  google-cloud-optimization/.repo-metadata.json
  google-cloud-optimization/.rubocop.yml
  google-cloud-optimization/.yardopts
  google-cloud-optimization/AUTHENTICATION.md
  google-cloud-optimization/CHANGELOG.md
  google-cloud-optimization/Gemfile
  google-cloud-optimization/LICENSE.md
  google-cloud-optimization/README.md
  google-cloud-optimization/Rakefile
  google-cloud-optimization/google-cloud-optimization.gemspec
  google-cloud-optimization/lib/google-cloud-optimization.rb
  google-cloud-optimization/lib/google/cloud/optimization.rb
  google-cloud-optimization/lib/google/cloud/optimization/version.rb
  google-cloud-optimization/test/google/cloud/optimization/client_test.rb
  google-cloud-optimization/test/google/cloud/optimization/version_test.rb
  google-cloud-optimization/test/helper.rb
Owners: @googleapis/yoshi-ruby

Add samples for stream download, upload & byte range
  google-cloud-storage/samples/storage_download_byte_range.rb
  google-cloud-storage/samples/storage_stream_file_download.rb
  google-cloud-storage/samples/storage_stream_file_upload.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-redis-v1 0.7.0
  google-cloud-redis-v1/CHANGELOG.md
  google-cloud-redis-v1/lib/google/cloud/redis/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-certificate_manager-v1 0.1.0
  google-cloud-certificate_manager-v1/CHANGELOG.md
  google-cloud-certificate_manager-v1/lib/google/cloud/certificate_manager/v1/version.rb
Owners: @googleapis/yoshi-ruby

feat: Initial generation of google-cloud-ai_platform
  google-cloud-ai_platform/.OwlBot.yaml
  google-cloud-ai_platform/.gitignore
  google-cloud-ai_platform/.owlbot-manifest.json
  google-cloud-ai_platform/.repo-metadata.json
  google-cloud-ai_platform/.rubocop.yml
  google-cloud-ai_platform/.yardopts
  google-cloud-ai_platform/AUTHENTICATION.md
  google-cloud-ai_platform/CHANGELOG.md
  google-cloud-ai_platform/Gemfile
  google-cloud-ai_platform/LICENSE.md
  google-cloud-ai_platform/README.md
  google-cloud-ai_platform/Rakefile
  google-cloud-ai_platform/google-cloud-ai_platform.gemspec
  google-cloud-ai_platform/lib/google-cloud-ai_platform.rb
  google-cloud-ai_platform/lib/google/cloud/ai_platform.rb
  google-cloud-ai_platform/lib/google/cloud/ai_platform/version.rb
  google-cloud-ai_platform/test/google/cloud/ai_platform/client_test.rb
  google-cloud-ai_platform/test/google/cloud/ai_platform/version_test.rb
  google-cloud-ai_platform/test/helper.rb
Owners: @googleapis/yoshi-ruby

feat: Initial generation of google-cloud-optimization
  google-cloud-optimization/.OwlBot.yaml
  google-cloud-optimization/.gitignore
  google-cloud-optimization/.owlbot-manifest.json
  google-cloud-optimization/.repo-metadata.json
  google-cloud-optimization/.rubocop.yml
  google-cloud-optimization/.yardopts
  google-cloud-optimization/AUTHENTICATION.md
  google-cloud-optimization/CHANGELOG.md
  google-cloud-optimization/Gemfile
  google-cloud-optimization/LICENSE.md
  google-cloud-optimization/README.md
  google-cloud-optimization/Rakefile
  google-cloud-optimization/google-cloud-optimization.gemspec
  google-cloud-optimization/lib/google-cloud-optimization.rb
  google-cloud-optimization/lib/google/cloud/optimization.rb
  google-cloud-optimization/lib/google/cloud/optimization/version.rb
  google-cloud-optimization/test/google/cloud/optimization/client_test.rb
  google-cloud-optimization/test/google/cloud/optimization/version_test.rb
  google-cloud-optimization/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-certificate_manager-v1 0.1.0 (#17939)
  google-cloud-certificate_manager-v1/CHANGELOG.md
  google-cloud-certificate_manager-v1/lib/google/cloud/certificate_manager/v1/version.rb
Owners: @googleapis/yoshi-ruby

feat: Initial generation of google-cloud-certificate_manager
  google-cloud-certificate_manager/.OwlBot.yaml
  google-cloud-certificate_manager/.gitignore
  google-cloud-certificate_manager/.owlbot-manifest.json
  google-cloud-certificate_manager/.repo-metadata.json
  google-cloud-certificate_manager/.rubocop.yml
  google-cloud-certificate_manager/.yardopts
  google-cloud-certificate_manager/AUTHENTICATION.md
  google-cloud-certificate_manager/CHANGELOG.md
  google-cloud-certificate_manager/Gemfile
  google-cloud-certificate_manager/LICENSE.md
  google-cloud-certificate_manager/README.md
  google-cloud-certificate_manager/Rakefile
  google-cloud-certificate_manager/google-cloud-certificate_manager.gemspec
  google-cloud-certificate_manager/lib/google-cloud-certificate_manager.rb
  google-cloud-certificate_manager/lib/google/cloud/certificate_manager.rb
  google-cloud-certificate_manager/lib/google/cloud/certificate_manager/version.rb
  google-cloud-certificate_manager/test/google/cloud/certificate_manager/client_test.rb
  google-cloud-certificate_manager/test/google/cloud/certificate_manager/version_test.rb
  google-cloud-certificate_manager/test/helper.rb
Owners: @googleapis/yoshi-ruby

feat: Initial generation of google-cloud-certificate_manager
  google-cloud-certificate_manager/.OwlBot.yaml
  google-cloud-certificate_manager/.gitignore
  google-cloud-certificate_manager/.owlbot-manifest.json
  google-cloud-certificate_manager/.repo-metadata.json
  google-cloud-certificate_manager/.rubocop.yml
  google-cloud-certificate_manager/.yardopts
  google-cloud-certificate_manager/AUTHENTICATION.md
  google-cloud-certificate_manager/CHANGELOG.md
  google-cloud-certificate_manager/Gemfile
  google-cloud-certificate_manager/LICENSE.md
  google-cloud-certificate_manager/README.md
  google-cloud-certificate_manager/Rakefile
  google-cloud-certificate_manager/google-cloud-certificate_manager.gemspec
  google-cloud-certificate_manager/lib/google-cloud-certificate_manager.rb
  google-cloud-certificate_manager/lib/google/cloud/certificate_manager.rb
  google-cloud-certificate_manager/lib/google/cloud/certificate_manager/version.rb
  google-cloud-certificate_manager/test/google/cloud/certificate_manager/client_test.rb
  google-cloud-certificate_manager/test/google/cloud/certificate_manager/version_test.rb
  google-cloud-certificate_manager/test/helper.rb
Owners: @googleapis/yoshi-ruby

feat: Initial generation of google-cloud-ai_platform
  google-cloud-ai_platform/.OwlBot.yaml
  google-cloud-ai_platform/.gitignore
  google-cloud-ai_platform/.owlbot-manifest.json
  google-cloud-ai_platform/.repo-metadata.json
  google-cloud-ai_platform/.rubocop.yml
  google-cloud-ai_platform/.yardopts
  google-cloud-ai_platform/AUTHENTICATION.md
  google-cloud-ai_platform/CHANGELOG.md
  google-cloud-ai_platform/Gemfile
  google-cloud-ai_platform/LICENSE.md
  google-cloud-ai_platform/README.md
  google-cloud-ai_platform/Rakefile
  google-cloud-ai_platform/google-cloud-ai_platform.gemspec
  google-cloud-ai_platform/lib/google-cloud-ai_platform.rb
  google-cloud-ai_platform/lib/google/cloud/ai_platform.rb
  google-cloud-ai_platform/lib/google/cloud/ai_platform/version.rb
  google-cloud-ai_platform/test/google/cloud/ai_platform/client_test.rb
  google-cloud-ai_platform/test/google/cloud/ai_platform/version_test.rb
  google-cloud-ai_platform/test/helper.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigtable-admin-v2 0.9.1
  google-cloud-bigtable-admin-v2/CHANGELOG.md
  google-cloud-bigtable-admin-v2/lib/google/cloud/bigtable/admin/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-v2 0.15.2
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-optimization 0.1.0
  google-cloud-optimization/CHANGELOG.md
  google-cloud-optimization/lib/google/cloud/optimization/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-ai_platform 0.1.0
  google-cloud-ai_platform/CHANGELOG.md
  google-cloud-ai_platform/lib/google/cloud/ai_platform/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-certificate_manager 0.1.0
  google-cloud-certificate_manager/CHANGELOG.md
  google-cloud-certificate_manager/lib/google/cloud/certificate_manager/version.rb
Owners: @googleapis/yoshi-ruby

Add tests for samples
  google-cloud-storage/samples/acceptance/files_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Add missing imports in tests
  google-cloud-storage/samples/acceptance/files_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

feat(spanner): add spangres support (#17661)
  acceptance/data/fixtures.rb
  google-cloud-spanner/.rubocop.yml
  google-cloud-spanner/acceptance/instance_client_test.rb
  google-cloud-spanner/acceptance/spanner/backup_operations_test.rb
  google-cloud-spanner/acceptance/spanner/backup_test.rb
  google-cloud-spanner/acceptance/spanner/batch_client/execute_partition_test.rb
  google-cloud-spanner/acceptance/spanner/client/batch_update_test.rb
  google-cloud-spanner/acceptance/spanner/client/crud_test.rb
  google-cloud-spanner/acceptance/spanner/client/dml_test.rb
  google-cloud-spanner/acceptance/spanner/client/execute_test.rb
  google-cloud-spanner/acceptance/spanner/client/large_data_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/bool_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/bytes_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/date_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/float64_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/json_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/pgnumeric_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/struct_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/timestamp_test.rb
  google-cloud-spanner/acceptance/spanner/client/pdml_test.rb
  google-cloud-spanner/acceptance/spanner/client/read_test.rb
  google-cloud-spanner/acceptance/spanner/client/single_use_test.rb
  google-cloud-spanner/acceptance/spanner/client/snapshot_test.rb
  google-cloud-spanner/acceptance/spanner/client/transaction_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/bytes_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/date_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/json_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/numeric_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/pgnumeric_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/timestamp_test.rb
  google-cloud-spanner/acceptance/spanner/database_client_test.rb
  google-cloud-spanner/acceptance/spanner/database_test.rb
  google-cloud-spanner/acceptance/spanner_helper.rb
  google-cloud-spanner/lib/google/cloud/spanner/convert.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Fix specs
  google-cloud-storage/samples/acceptance/files_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-bigtable-admin-v2 0.9.1 (#17945)
  google-cloud-bigtable-admin-v2/CHANGELOG.md
  google-cloud-bigtable-admin-v2/lib/google/cloud/bigtable/admin/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-v2 0.15.2 (#17946)
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: Remove duplicate "API" reference in google-cloud-service_management
  google-cloud-service_management/.repo-metadata.json
Owners: @googleapis/yoshi-ruby

chore: Remove duplicate "API" reference in google-cloud-service_management
  google-cloud-service_management-v1/.repo-metadata.json
  google-cloud-service_management/.repo-metadata.json
Owners: @googleapis/yoshi-ruby

chore: Add cloud-rad URL to linkinator skips for new libraries
  .toys/ci.rb
Owners: @googleapis/yoshi-ruby

chore: Add cloud-rad URL to linkinator skips for new libraries (#17954)
  .toys/ci.rb
Owners: @googleapis/yoshi-ruby

Update storage_create_bucket_turbo_replication.rb
  google-cloud-storage/samples/storage_create_bucket_turbo_replication.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe
