Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

Show usage in samples directory
  google-cloud-firestore/samples/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

fix stylings for require and expected_output
  google-cloud-storage/samples/acceptance/notification_test.rb
  google-cloud-storage/samples/storage_print_pubsub_bucket_notification.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

samples(storage): remove old unused tags (#16091)
  google-cloud-storage/samples/acls.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

fix(storage): Changing the test email id.
  google-cloud-storage/acceptance/storage/bucket_acl_test.rb
  google-cloud-storage/acceptance/storage/bucket_default_acl_test.rb
  google-cloud-storage/acceptance/storage/bucket_requester_pays_test.rb
  google-cloud-storage/acceptance/storage/bucket_uniform_bucket_level_access_test.rb
  google-cloud-storage/acceptance/storage/file_acl_test.rb
  google-cloud-storage/samples/acceptance/acls_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

feat(spanner): Instance admin wrapper.
  google-cloud-spanner/acceptance/instance_client_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/instance.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

adding test cases.
  google-cloud-spanner/acceptance/instance_client_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/instance.rb
  google-cloud-spanner/test/google/cloud/spanner/admin/instance/client_config_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Fxing the acceptance test case failure. Skipping the update_instance test case.
  google-cloud-spanner/acceptance/instance_client_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Require gapic/config for configuration.
  google-cloud-spanner/lib/google/cloud/spanner/admin/instance.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Adding admin instance client test.
  google-cloud-spanner/test/google/cloud/spanner/admin/instance/client_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

test for credentials too.
  google-cloud-spanner/test/google/cloud/spanner/admin/instance/client_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

test for credentials too.
  google-cloud-spanner/test/google/cloud/spanner/database/client_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

feat(spanner): wrapper to create generated admin database client. (#13456)
  google-cloud-spanner/acceptance/spanner/database_client_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/database.rb
  google-cloud-spanner/test/google/cloud/spanner/admin/database/client_config_test.rb
  google-cloud-spanner/test/google/cloud/spanner/database/client_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

feat(spanner): add admin instance wrapper (#16080)
  google-cloud-spanner/acceptance/instance_client_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/instance.rb
  google-cloud-spanner/test/google/cloud/spanner/admin/instance/client_config_test.rb
  google-cloud-spanner/test/google/cloud/spanner/admin/instance/client_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

add sample for list_bucket_notifications
  google-cloud-storage/samples/acceptance/notification_test.rb
  google-cloud-storage/samples/storage_list_bucket_notifications.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

add sample for create notification
  google-cloud-storage/samples/acceptance/notification_test.rb
  google-cloud-storage/samples/storage_create_bucket_notifications.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

add sample for delete_bucket_notification
  google-cloud-storage/samples/acceptance/notification_test.rb
  google-cloud-storage/samples/storage_delete_bucket_notification.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Reformat #ddl? methods' arrays over multiple lines
  google-cloud-bigquery/lib/google/cloud/bigquery/data.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
Owners: @googleapis/yoshi-ruby

Determine ALTER TABLE to be a DDL statement
  google-cloud-bigquery/lib/google/cloud/bigquery/data.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
Owners: @googleapis/yoshi-ruby

Update word style per dazuma
  google-cloud-firestore/samples/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

Fix links
  google-cloud-firestore/samples/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

chore(firestore): Add samples/CONTRIBUTING.md
  google-cloud-firestore/samples/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

chore: Support backfilling cloud rad
  .kokoro/backfill-rad.cfg
  .kokoro/backfill-rad.sh
  .toys/rad/backfill.rb
Owners: @googleapis/yoshi-ruby

fix(storage): Changing the test email id. (#16095)
  google-cloud-storage/acceptance/storage/bucket_acl_test.rb
  google-cloud-storage/acceptance/storage/bucket_default_acl_test.rb
  google-cloud-storage/acceptance/storage/bucket_requester_pays_test.rb
  google-cloud-storage/acceptance/storage/bucket_uniform_bucket_level_access_test.rb
  google-cloud-storage/acceptance/storage/file_acl_test.rb
  google-cloud-storage/samples/acceptance/acls_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

samples(storage): add sample to print bucket notification (#16090)
  google-cloud-storage/samples/Gemfile
  google-cloud-storage/samples/acceptance/helper.rb
  google-cloud-storage/samples/acceptance/notification_test.rb
  google-cloud-storage/samples/storage_print_pubsub_bucket_notification.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

fix linting errors
  google-cloud-storage/samples/acceptance/notification_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: Support backfilling cloud rad
  .kokoro/backfill-rad.cfg
  .kokoro/backfill-rad.sh
  .toys/rad/backfill.rb
Owners: @googleapis/yoshi-ruby

chore(rad): Use a different environment variable name for rad backfill input
  .kokoro/backfill-rad.sh
  .trampolinerc
Owners: @googleapis/yoshi-ruby

chore(rad): Use a different environment variable name for rad backfill input
  .kokoro/backfill-rad.sh
  .trampolinerc
Owners: @googleapis/yoshi-ruby

chore(rad): Fix permissions of the backfill entrypoint
  .kokoro/backfill-rad.sh
Owners: @googleapis/yoshi-ruby

chore(rad): Fix permissions of the backfill entrypoint
  .kokoro/backfill-rad.sh
Owners: @googleapis/yoshi-ruby

chore(rad): Fix for older git versions
  .toys/rad/backfill.rb
Owners: @googleapis/yoshi-ruby

chore(rad): Fix for older git versions
  .toys/rad/backfill.rb
Owners: @googleapis/yoshi-ruby

samples(storage): add samples for bucket notifications (#16101)
  google-cloud-storage/samples/acceptance/notification_test.rb
  google-cloud-storage/samples/storage_create_bucket_notifications.rb
  google-cloud-storage/samples/storage_delete_bucket_notification.rb
  google-cloud-storage/samples/storage_list_bucket_notifications.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: Delete obsolete rake tasks and yard templates
  .rubocop_root.yml
  .toys/synth.rb
  Rakefile
  rakelib/devsite/devsite_builder.rb
  rakelib/devsite/gem_version_doc.rb
  rakelib/devsite/repo_doc_common.rb
  rakelib/devsite/repo_metadata.rb
  rakelib/devsite/yard_builder.rb
  rakelib/kokoro/command.rb
  rakelib/kokoro/kokoro.rb
  rakelib/link_transformer.rb
  template/default/class_example.yml
  template/default/fulldoc/yaml/full_list.erb
  template/default/fulldoc/yaml/setup.rb
  template/default/layout/yaml/_constant.erb
  template/default/layout/yaml/_method.erb
  template/default/layout/yaml/_object.erb
  template/default/layout/yaml/_reference.erb
  template/default/layout/yaml/format.rb
  template/default/layout/yaml/layout.erb
  template/default/layout/yaml/method.rb
  template/default/layout/yaml/setup.rb
  template/default/toc/yaml/setup.rb
  template/default/toc/yaml/toc.erb
  template/default/toc_example.yml
  test/link_transformer_test.rb
  test/test_helper.rb
Owners: @googleapis/yoshi-ruby

chore: Delete obsolete rake tasks and yard templates
  .rubocop_root.yml
  .toys/synth.rb
  Rakefile
  rakelib/devsite/devsite_builder.rb
  rakelib/devsite/gem_version_doc.rb
  rakelib/devsite/repo_doc_common.rb
  rakelib/devsite/repo_metadata.rb
  rakelib/devsite/yard_builder.rb
  rakelib/kokoro/command.rb
  rakelib/kokoro/kokoro.rb
  rakelib/link_transformer.rb
  template/default/class_example.yml
  template/default/fulldoc/yaml/full_list.erb
  template/default/fulldoc/yaml/setup.rb
  template/default/layout/yaml/_constant.erb
  template/default/layout/yaml/_method.erb
  template/default/layout/yaml/_object.erb
  template/default/layout/yaml/_reference.erb
  template/default/layout/yaml/format.rb
  template/default/layout/yaml/layout.erb
  template/default/layout/yaml/method.rb
  template/default/layout/yaml/setup.rb
  template/default/toc/yaml/setup.rb
  template/default/toc/yaml/toc.erb
  template/default/toc_example.yml
  test/link_transformer_test.rb
  test/test_helper.rb
Owners: @googleapis/yoshi-ruby

chore: Script to precreate temporary access restrictions for cloud-rad
  .toys/rad/restrict-access.rb
Owners: @googleapis/yoshi-ruby

chore: Script to precreate temporary access restrictions for cloud-rad
  .toys/rad/restrict-access.rb
Owners: @googleapis/yoshi-ruby

feat: added support for custom content types docs: reformat comments
  owl-bot-staging/google-cloud-dialogflow-cx/.gitignore
  owl-bot-staging/google-cloud-dialogflow-cx/.repo-metadata.json
  owl-bot-staging/google-cloud-dialogflow-cx/.rubocop.yml
  owl-bot-staging/google-cloud-dialogflow-cx/.yardopts
  owl-bot-staging/google-cloud-dialogflow-cx/.yardopts-cloudrad
  owl-bot-staging/google-cloud-dialogflow-cx/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dialogflow-cx/CHANGELOG.md
  owl-bot-staging/google-cloud-dialogflow-cx/Gemfile
  owl-bot-staging/google-cloud-dialogflow-cx/LICENSE.md
  owl-bot-staging/google-cloud-dialogflow-cx/README.md
  owl-bot-staging/google-cloud-dialogflow-cx/Rakefile
  owl-bot-staging/google-cloud-dialogflow-cx/google-cloud-dialogflow-cx.gemspec
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google-cloud-dialogflow-cx.rb
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google/cloud/dialogflow/cx.rb
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google/cloud/dialogflow/cx/version.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/google/cloud/dialogflow/cx/client_test.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/google/cloud/dialogflow/cx/version_test.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/helper.rb
Owners: @googleapis/yoshi-ruby

🦉 Updates from OwlBot
  google-cloud-dialogflow-cx/lib/google/cloud/dialogflow/cx.rb
  google-cloud-dialogflow-cx/test/google/cloud/dialogflow/cx/client_test.rb
  owl-bot-staging/google-cloud-dialogflow-cx/.gitignore
  owl-bot-staging/google-cloud-dialogflow-cx/.repo-metadata.json
  owl-bot-staging/google-cloud-dialogflow-cx/.rubocop.yml
  owl-bot-staging/google-cloud-dialogflow-cx/.yardopts
  owl-bot-staging/google-cloud-dialogflow-cx/.yardopts-cloudrad
  owl-bot-staging/google-cloud-dialogflow-cx/AUTHENTICATION.md
  owl-bot-staging/google-cloud-dialogflow-cx/CHANGELOG.md
  owl-bot-staging/google-cloud-dialogflow-cx/Gemfile
  owl-bot-staging/google-cloud-dialogflow-cx/LICENSE.md
  owl-bot-staging/google-cloud-dialogflow-cx/README.md
  owl-bot-staging/google-cloud-dialogflow-cx/Rakefile
  owl-bot-staging/google-cloud-dialogflow-cx/google-cloud-dialogflow-cx.gemspec
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google-cloud-dialogflow-cx.rb
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google/cloud/dialogflow/cx.rb
  owl-bot-staging/google-cloud-dialogflow-cx/lib/google/cloud/dialogflow/cx/version.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/google/cloud/dialogflow/cx/client_test.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/google/cloud/dialogflow/cx/version_test.rb
  owl-bot-staging/google-cloud-dialogflow-cx/test/helper.rb
Owners: @googleapis/yoshi-ruby

no reason to have a enum conversion test without enums
  google-cloud-compute-v1/test/google/cloud/compute/v1/misc_test.rb
Owners: @googleapis/yoshi-ruby

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
