Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-tasks-v2beta3 0.6.5 (#16146)
  google-cloud-tasks-v2beta3/CHANGELOG.md
  google-cloud-tasks-v2beta3/lib/google/cloud/tasks/v2beta3/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-text_to_speech-v1 0.5.0 (#16145)
  google-cloud-text_to_speech-v1/CHANGELOG.md
  google-cloud-text_to_speech-v1/lib/google/cloud/text_to_speech/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-cx-v3 0.4.0 (#16143)
  google-cloud-dialogflow-cx-v3/CHANGELOG.md
  google-cloud-dialogflow-cx-v3/lib/google/cloud/dialogflow/cx/v3/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-retail-v2 0.6.3 (#16142)
  google-cloud-retail-v2/CHANGELOG.md
  google-cloud-retail-v2/lib/google/cloud/retail/v2/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-dlp-v2/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-speech-v1 0.7.0 (#16153)
  google-cloud-speech-v1/CHANGELOG.md
  google-cloud-speech-v1/lib/google/cloud/speech/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dlp-v2 0.8.0 (#16141)
  google-cloud-dlp-v2/CHANGELOG.md
  google-cloud-dlp-v2/lib/google/cloud/dlp/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-channel-v1 0.9.2 (#16140)
  google-cloud-channel-v1/CHANGELOG.md
  google-cloud-channel-v1/lib/google/cloud/channel/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-vm_migration-v1 0.1.0 (#16139)
  google-cloud-vm_migration-v1/CHANGELOG.md
  google-cloud-vm_migration-v1/lib/google/cloud/vm_migration/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-ids-v1 0.1.0 (#16138)
  google-cloud-ids-v1/CHANGELOG.md
  google-cloud-ids-v1/lib/google/cloud/ids/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-contact_center_insights-v1 0.6.0 (#16136)
  google-cloud-contact_center_insights-v1/CHANGELOG.md
  google-cloud-contact_center_insights-v1/lib/google/cloud/contact_center_insights/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-resource_manager-v3 0.1.2 (#16134)
  google-cloud-resource_manager-v3/CHANGELOG.md
  google-cloud-resource_manager-v3/lib/google/cloud/resource_manager/v3/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigtable-admin-v2 0.8.0 (#16130)
  google-cloud-bigtable-admin-v2/CHANGELOG.md
  google-cloud-bigtable-admin-v2/lib/google/cloud/bigtable/admin/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-speech-v1p1beta1 0.12.0 (#16132)
  google-cloud-speech-v1p1beta1/CHANGELOG.md
  google-cloud-speech-v1p1beta1/lib/google/cloud/speech/v1p1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-recaptcha_enterprise-v1 0.7.0 (#16131)
  google-cloud-recaptcha_enterprise-v1/CHANGELOG.md
  google-cloud-recaptcha_enterprise-v1/lib/google/cloud/recaptcha_enterprise/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-v2 0.12.0 (#16123)
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-monitoring-v3 0.7.0 (#16124)
  google-cloud-monitoring-v3/CHANGELOG.md
  google-cloud-monitoring-v3/lib/google/cloud/monitoring/v3/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-ids 0.0.1
  google-cloud-ids/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-compute-v1 0.5.0
  google-cloud-compute-v1/CHANGELOG.md
  google-cloud-compute-v1/lib/google/cloud/compute/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-storage 1.35.0
  google-cloud-storage/CHANGELOG.md
  google-cloud-storage/lib/google/cloud/storage/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-ids 0.1.0
  google-cloud-ids/CHANGELOG.md
  google-cloud-ids/lib/google/cloud/ids/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-vm_migration 0.1.0
  google-cloud-vm_migration/CHANGELOG.md
  google-cloud-vm_migration/lib/google/cloud/vm_migration/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-ids 0.1.0 (#16137)
  google-cloud-ids/CHANGELOG.md
  google-cloud-ids/lib/google/cloud/ids/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-compute-v1/CHANGELOG.md
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-vm_migration 0.1.0 (#16144)
  google-cloud-vm_migration/CHANGELOG.md
  google-cloud-vm_migration/lib/google/cloud/vm_migration/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery-storage-v1 0.9.0
  google-cloud-bigquery-storage-v1/CHANGELOG.md
  google-cloud-bigquery-storage-v1/lib/google/cloud/bigquery/storage/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-compute-v1 0.5.0 (#16133)
  google-cloud-compute-v1/CHANGELOG.md
  google-cloud-compute-v1/lib/google/cloud/compute/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigquery-storage-v1 0.9.0 (#16159)
  google-cloud-bigquery-storage-v1/CHANGELOG.md
  google-cloud-bigquery-storage-v1/lib/google/cloud/bigquery/storage/v1/version.rb
Owners: @googleapis/yoshi-ruby

Update CHANGELOG.md
  google-cloud-storage/CHANGELOG.md
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-storage 1.35.0 (#16135)
  google-cloud-storage/CHANGELOG.md
  google-cloud-storage/lib/google/cloud/storage/version.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

Update storage_upload_file.rb
  google-cloud-storage/samples/storage_upload_file.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

docs(bigquery): Update CONTRIBUTING.md
  google-cloud-bigquery/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

Add samples/CONTRIBUTING.md
  google-cloud-bigquery/samples/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

docs(firestore): Fix samples/CONTRIBUTING.md
  google-cloud-firestore/samples/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

fix: updated to use admin clients wrapper
  google-cloud-spanner/OVERVIEW.md
  google-cloud-spanner/README.md
  google-cloud-spanner/lib/google/cloud/spanner/backup.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/job/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/restore/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/database.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/backup_info.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/job/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/restore_info.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/config.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/config/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

samples: fixed formatting and inputs
  google-cloud-spanner/OVERVIEW.md
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

docs: updated README to include more details
  google-cloud-spanner/README.md
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

feat(spanner): use gRPC clients for instance/database management
  google-cloud-spanner/OVERVIEW.md
  google-cloud-spanner/README.md
  google-cloud-spanner/lib/google/cloud/spanner/database.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

docs: added deprecation notices where possible
  google-cloud-spanner/lib/google/cloud/spanner/backup.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/job/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/restore/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/database.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/backup_info.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/job/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/restore_info.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/config.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/config/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

docs: fixed the doc strings
  google-cloud-spanner/lib/google/cloud/spanner/backup.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/job/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/restore/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/database.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/backup_info.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/job/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/restore_info.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/config.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/config/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
