Repository googleapis/google-cloud-ruby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-ruby, @googleapis/ml-apis, @googleapis/api-bigquery, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/api-spanner-ruby, @googleapis/cloud-storage-dpe

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                                    @googleapis/yoshi-ruby

/google-cloud-automl*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-bigquery*/.            @googleapis/yoshi-ruby @googleapis/api-bigquery
/google-cloud-bigtable*/.            @googleapis/yoshi-ruby @googleapis/api-bigtable
/google-cloud-datastore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-firestore*/.           @googleapis/yoshi-ruby @googleapis/firestore-dpe
/google-cloud-language*/.            @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-pubsub*/.              @googleapis/yoshi-ruby @googleapis/api-pubsub
/google-cloud-spanner*/              @googleapis/yoshi-ruby @googleapis/api-spanner-ruby
/google-cloud-speech*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-storage/               @googleapis/yoshi-ruby @googleapis/cloud-storage-dpe
/google-cloud-talent*/.              @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-text_to_speech*/.      @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-translate*/.           @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-video_intelligence*/.  @googleapis/yoshi-ruby @googleapis/ml-apis
/google-cloud-vision*/.              @googleapis/yoshi-ruby @googleapis/ml-apis

doc(cloudrad): add example yml detailing fields used for cloudrad
  template/default/class_example.yml
  template/default/toc_example.yml
Owners: @googleapis/yoshi-ruby

Fix some merge artifacts
  google-cloud-pubsub-v1/.rubocop.yml
  google-cloud-vision-v1/.rubocop.yml
Owners: @googleapis/yoshi-ruby

add clarification for a few fields and clean up some of the formatting
  template/default/class_example.yml
Owners: @googleapis/yoshi-ruby

add url explanation
  template/default/class_example.yml
Owners: @googleapis/yoshi-ruby

remove .html
  template/default/class_example.yml
Owners: @googleapis/yoshi-ruby

doc(cloudrad): add example yml detailing fields used for cloudrad (#14465)
  template/default/class_example.yml
  template/default/toc_example.yml
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-bigtable-admin-v2 0.7.0 (#14448)
  google-cloud-bigtable-admin-v2/CHANGELOG.md
  google-cloud-bigtable-admin-v2/lib/google/cloud/bigtable/admin/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-firestore 2.6.5 (#14438)
  google-cloud-firestore/CHANGELOG.md
  google-cloud-firestore/lib/google/cloud/firestore/version.rb
Owners: @googleapis/yoshi-ruby

chore(firestore): Document development and testing processes for contributors
  google-cloud-firestore/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

Add a Toys tool that runs cloud-rad
  .toys/cloud-rad.rb
Owners: @googleapis/yoshi-ruby

Add example names
  template/default/layout/yaml/method.rb
Owners: @googleapis/yoshi-ruby

Addressing review comments.
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

fix: init database client with config options
  google-cloud-spanner/acceptance/spanner/database_client_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/database.rb
  google-cloud-spanner/test/google/cloud/spanner/database/client_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Reverting changes done in project.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

feat: add database admin client wrapper
  google-cloud-spanner/acceptance/spanner/database_client_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/database.rb
  google-cloud-spanner/test/google/cloud/spanner/database/client_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

feat: helpers to create generated admin clients
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: release google-cloud-service_directory-v1 0.3.4
  google-cloud-service_directory-v1/CHANGELOG.md
  google-cloud-service_directory-v1/lib/google/cloud/service_directory/v1/version.rb
Owners: @googleapis/yoshi-ruby

Add conformance tests section
  google-cloud-firestore/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

Update acceptance test setup
  google-cloud-firestore/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

chore: Script that generates bazel configs for wrappers
  .toys/.data/wrapper-bazel-template.erb
  .toys/gen-wrapper-bazel.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-service_directory-v1 0.3.4 (#14472)
  google-cloud-service_directory-v1/CHANGELOG.md
  google-cloud-service_directory-v1/lib/google/cloud/service_directory/v1/version.rb
Owners: @googleapis/yoshi-ruby

Renaming the factory method to database_admin.
  google-cloud-spanner/acceptance/spanner/database_client_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/database.rb
  google-cloud-spanner/test/google/cloud/spanner/database/client_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

Disabling rebocop MethodLength.
  google-cloud-spanner/lib/google/cloud/spanner/admin/database.rb
Owners: @googleapis/yoshi-ruby, @googleapis/api-spanner-ruby

chore: Minor fixes to peek-client
  .toys/peek-client.rb
Owners: @googleapis/yoshi-ruby

chore: Minor fixes to peek-client
  .toys/peek-client.rb
Owners: @googleapis/yoshi-ruby

Add console setup instructions
  google-cloud-firestore/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

Small changes
  google-cloud-firestore/CONTRIBUTING.md
Owners: @googleapis/yoshi-ruby

Add storage transfer service samples
  google-cloud-storage_transfer-v1/samples/Gemfile
  google-cloud-storage_transfer-v1/samples/Rakefile
  google-cloud-storage_transfer-v1/samples/acceptance/helper.rb
  google-cloud-storage_transfer-v1/samples/acceptance/quickstart_test.rb
  google-cloud-storage_transfer-v1/samples/quickstart.rb
Owners: @googleapis/yoshi-ruby

feat(storage): changed PAP unspecified to inherited (#14141)
  google-cloud-storage/acceptance/storage/bucket_uniform_bucket_level_access_test.rb
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
  google-cloud-storage/samples/acceptance/buckets_test.rb
  google-cloud-storage/samples/storage_set_public_access_prevention_inherited.rb
  google-cloud-storage/support/doctest_helper.rb
  google-cloud-storage/test/google/cloud/storage/bucket_public_access_prevention_test.rb
Owners: @googleapis/yoshi-ruby, @googleapis/cloud-storage-dpe

chore: release google-cloud-dialogflow-v2 0.11.4
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-security-private_ca-v1beta1 0.3.4
  google-cloud-security-private_ca-v1beta1/CHANGELOG.md
  google-cloud-security-private_ca-v1beta1/lib/google/cloud/security/private_ca/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-pubsub 2.9.0
  google-cloud-pubsub/CHANGELOG.md
  google-cloud-pubsub/lib/google/cloud/pubsub/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-filestore-v1 0.1.1
  google-cloud-filestore-v1/CHANGELOG.md
  google-cloud-filestore-v1/lib/google/cloud/filestore/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-recommendation_engine-v1beta1 0.3.5
  google-cloud-recommendation_engine-v1beta1/CHANGELOG.md
  google-cloud-recommendation_engine-v1beta1/lib/google/cloud/recommendation_engine/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-pubsub 2.9.0 (#14467)
  google-cloud-pubsub/CHANGELOG.md
  google-cloud-pubsub/lib/google/cloud/pubsub/version.rb
Owners: @googleapis/yoshi-ruby

chore: Script that generates bazel configs for wrappers
  .toys/.data/wrapper-bazel-template.erb
  .toys/gen-wrapper-bazel.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-dialogflow-v2 0.11.4 (#14466)
  google-cloud-dialogflow-v2/CHANGELOG.md
  google-cloud-dialogflow-v2/lib/google/cloud/dialogflow/v2/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-filestore-v1 0.1.1 (#14470)
  google-cloud-filestore-v1/CHANGELOG.md
  google-cloud-filestore-v1/lib/google/cloud/filestore/v1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-recommendation_engine-v1beta1 0.3.5 (#14471)
  google-cloud-recommendation_engine-v1beta1/CHANGELOG.md
  google-cloud-recommendation_engine-v1beta1/lib/google/cloud/recommendation_engine/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby

chore: release google-cloud-security-private_ca-v1beta1 0.3.4 (#14477)
  google-cloud-security-private_ca-v1beta1/CHANGELOG.md
  google-cloud-security-private_ca-v1beta1/lib/google/cloud/security/private_ca/v1beta1/version.rb
Owners: @googleapis/yoshi-ruby
