Repository googleapis/google-cloud-ruby, pull requests merged in 2018-04, with the labels that each got.

#2034 BigQuery: Unset Job Location
  google-cloud-bigquery/lib/google/cloud/bigquery/copy_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/extract_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_query_job_updater_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_copy_job_updater_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_extract_job_updater_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_load_job_updater_storage_test.rb
Labels: api: bigquery, cla: yes

#2028 Update versioning info on documentation
  google-cloud-datastore/lib/google/cloud/datastore/v1/doc/overview.rb
  google-cloud-debugger/lib/google/cloud/debugger/v2/doc/overview.rb
  google-cloud-error_reporting/lib/google/cloud/error_reporting/v1beta1/doc/overview.rb
  google-cloud-logging/lib/google/cloud/logging/v2/doc/overview.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/v1/doc/overview.rb
  google-cloud-spanner/lib/google/cloud/spanner/v1/doc/overview.rb
  google-cloud-trace/lib/google/cloud/trace/v2/doc/overview.rb
Labels: cla: yes

#2035 Refresh DLP v2 library
  google-cloud-dlp/.rubocop.yml
  google-cloud-dlp/.yardopts
  google-cloud-dlp/README.md
  google-cloud-dlp/google-cloud-dlp.gemspec
  google-cloud-dlp/lib/google/cloud/dlp.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/dlp_service_client.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/doc/google/privacy/dlp/v2/dlp.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/doc/google/privacy/dlp/v2/storage.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/doc/overview.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2/dlp_pb.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2/dlp_services_pb.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2/storage_pb.rb
Labels: api: data loss prevention, cla: yes

#2036 BigQuery: Refactor Job methods
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/project.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
Labels: api: bigquery, cla: yes, type: cleanup

#2039 Add insert_ids option to BigQuery #insert and #insert_async
  google-cloud-bigquery/.rubocop.yml
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table/async_inserter.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_insert_async_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_insert_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_async_inserter_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_insert_test.rb
Labels: api: bigquery, cla: yes

#2040 Add BigQuery Project#service_account_email
  google-cloud-bigquery/acceptance/bigquery/bigquery_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/project.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_test.rb
Labels: api: bigquery, cla: yes

#2042 Storage: Add File Rewrite
  google-cloud-storage/lib/google/cloud/storage/file.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/support/doctest_helper.rb
  google-cloud-storage/test/google/cloud/storage/file_test.rb
Labels: api: storage, cla: yes, type: feature request

#2020 Updated generated unit tests for google-gax 1.1.x changes
  google-cloud-bigquery-data_transfer/test/google/cloud/bigquery/data_transfer/v1/data_transfer_service_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/admin/v2/bigtable_instance_admin_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/admin/v2/bigtable_table_admin_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance_admin_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table_admin_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/v2/bigtable_client_test.rb
  google-cloud-container/google-cloud-container.gemspec
  google-cloud-container/test/google/cloud/container/v1/cluster_manager_client_test.rb
  google-cloud-dataproc/google-cloud-dataproc.gemspec
  google-cloud-dataproc/test/google/cloud/dataproc/v1/cluster_controller_client_test.rb
  google-cloud-dataproc/test/google/cloud/dataproc/v1/job_controller_client_test.rb
  google-cloud-dlp/test/google/cloud/dlp/v2/dlp_service_client_test.rb
  google-cloud-dlp/test/google/cloud/dlp/v2beta1/dlp_service_client_test.rb
  google-cloud-firestore/test/google/cloud/firestore/v1beta1/firestore_client_test.rb
  google-cloud-language/test/google/cloud/language/v1/language_service_client_test.rb
  google-cloud-language/test/google/cloud/language/v1beta2/language_service_client_test.rb
  google-cloud-monitoring/test/google/cloud/monitoring/v3/group_service_client_test.rb
  google-cloud-monitoring/test/google/cloud/monitoring/v3/metric_service_client_test.rb
  google-cloud-os_login/google-cloud-os_login.gemspec
  google-cloud-os_login/test/google/cloud/os_login/v1beta/os_login_service_client_test.rb
  google-cloud-spanner/test/google/cloud/spanner/admin/database/v1/database_admin_client_test.rb
  google-cloud-spanner/test/google/cloud/spanner/admin/instance/v1/instance_admin_client_test.rb
  google-cloud-video_intelligence/test/google/cloud/video_intelligence/v1/video_intelligence_service_client_test.rb
  google-cloud-video_intelligence/test/google/cloud/video_intelligence/v1beta1/video_intelligence_service_client_test.rb
  google-cloud-video_intelligence/test/google/cloud/video_intelligence/v1beta2/video_intelligence_service_client_test.rb
Labels: cla: yes

#2001 Bigtable: Data api wrapper for table operations
  google-cloud-bigtable/.gitignore
  google-cloud-bigtable/.rubocop.yml
  google-cloud-bigtable/acceptance/data/read-rows-acceptance-test.json
  google-cloud-bigtable/lib/google-cloud-bigtable.rb
  google-cloud-bigtable/lib/google/cloud/bigtable.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/chunk_reader.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/data_client.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/errors.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/flat_row.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance_admin_client.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/mutation_entry.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/rows_reader.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table_admin_client.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table_data_operations.rb
  google-cloud-bigtable/test/google/cloud/bigtable/data_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance_admin_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/read_rows_state_machine_acceptance_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/rows_reader_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table_admin_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table_data_operations_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable_test.rb
  google-cloud-bigtable/test/test_helper.rb
Labels: api: bigtable, cla: yes

#2045 Remove all beta artifacts from DLP V2
  google-cloud-dlp/acceptance/google/cloud/dlp/v2beta1/dlp_service_smoke_test.rb
  google-cloud-dlp/docs/toc.json
  google-cloud-dlp/lib/google/cloud/dlp/v2beta1.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2beta1/dlp_service_client.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2beta1/dlp_service_client_config.json
  google-cloud-dlp/lib/google/cloud/dlp/v2beta1/doc/google/privacy/dlp/v2beta1/dlp.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2beta1/doc/google/privacy/dlp/v2beta1/storage.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2beta1/doc/google/protobuf/any.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2beta1/doc/google/protobuf/timestamp.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2beta1/doc/google/rpc/status.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2beta1/doc/google/type/date.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2beta1/doc/google/type/timeofday.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2beta1/doc/overview.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2beta1/dlp_pb.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2beta1/dlp_services_pb.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2beta1/storage_pb.rb
  google-cloud-dlp/test/google/cloud/dlp/v2beta1/dlp_service_client_test.rb
Labels: api: data loss prevention, cla: yes

#2041 Storage: Clarify File/IO documentation
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
  google-cloud-storage/lib/google/cloud/storage/file.rb
Labels: api: storage, cla: yes, documentation

#2044 Dialogflow V2
  Gemfile
  google-cloud-dialogflow/.gitignore
  google-cloud-dialogflow/.rubocop.yml
  google-cloud-dialogflow/.yardopts
  google-cloud-dialogflow/Gemfile
  google-cloud-dialogflow/LICENSE
  google-cloud-dialogflow/README.md
  google-cloud-dialogflow/Rakefile
  google-cloud-dialogflow/docs/toc.json
  google-cloud-dialogflow/google-cloud-dialogflow.gemspec
  google-cloud-dialogflow/lib/google/cloud/dialogflow.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/credentials.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/agent_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/agent_services_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/agents_client.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/agents_client_config.json
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/context_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/context_services_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/contexts_client.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/contexts_client_config.json
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/google/cloud/dialogflow/v2/agent.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/google/cloud/dialogflow/v2/context.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/google/cloud/dialogflow/v2/entity_type.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/google/cloud/dialogflow/v2/intent.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/google/cloud/dialogflow/v2/session.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/google/cloud/dialogflow/v2/session_entity_type.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/google/protobuf/any.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/google/protobuf/field_mask.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/google/protobuf/struct.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/google/rpc/status.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/google/type/latlng.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/overview.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/entity_type_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/entity_type_services_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/entity_types_client.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/entity_types_client_config.json
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/intent_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/intent_services_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/intents_client.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/intents_client_config.json
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/session_entity_type_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/session_entity_type_services_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/session_entity_types_client.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/session_entity_types_client_config.json
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/session_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/session_services_pb.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/sessions_client.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/sessions_client_config.json
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/webhook_pb.rb
  google-cloud-dialogflow/test/google/cloud/dialogflow/v2/agents_client_test.rb
  google-cloud-dialogflow/test/google/cloud/dialogflow/v2/contexts_client_test.rb
  google-cloud-dialogflow/test/google/cloud/dialogflow/v2/entity_types_client_test.rb
  google-cloud-dialogflow/test/google/cloud/dialogflow/v2/intents_client_test.rb
  google-cloud-dialogflow/test/google/cloud/dialogflow/v2/session_entity_types_client_test.rb
  google-cloud-dialogflow/test/google/cloud/dialogflow/v2/sessions_client_test.rb
Labels: api: dialogflow, cla: yes

#2055 fix links to enable api in constructor
  google-cloud-dialogflow/lib/google/cloud/dialogflow.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2.rb
  google-cloud-dialogflow/lib/google/cloud/dialogflow/v2/doc/overview.rb
Labels: api: dialogflow, cla: yes

#2056 Fix missing homepage links
  google-cloud-bigquery-data_transfer/google-cloud-bigquery-data_transfer.gemspec
  google-cloud-bigtable/google-cloud-bigtable.gemspec
  google-cloud-container/google-cloud-container.gemspec
  google-cloud-dataproc/google-cloud-dataproc.gemspec
  google-cloud-dialogflow/google-cloud-dialogflow.gemspec
  google-cloud-dlp/google-cloud-dlp.gemspec
  google-cloud-language/google-cloud-language.gemspec
  google-cloud-monitoring/google-cloud-monitoring.gemspec
  google-cloud-os_login/google-cloud-os_login.gemspec
  google-cloud-video_intelligence/google-cloud-video_intelligence.gemspec
Labels: cla: yes

#2054 Firestore: Fix DocumentSnapshot bug
  google-cloud-firestore/lib/google/cloud/firestore/query.rb
  google-cloud-firestore/lib/google/cloud/firestore/transaction.rb
  google-cloud-firestore/test/google/cloud/firestore/client/get_all_test.rb
  google-cloud-firestore/test/google/cloud/firestore/client/transaction_test.rb
  google-cloud-firestore/test/google/cloud/firestore/collection_reference/get_test.rb
  google-cloud-firestore/test/google/cloud/firestore/collection_reference/query_test.rb
  google-cloud-firestore/test/google/cloud/firestore/query_test.rb
  google-cloud-firestore/test/google/cloud/firestore/transaction/empty/get_all_test.rb
  google-cloud-firestore/test/google/cloud/firestore/transaction/empty/get_test.rb
  google-cloud-firestore/test/google/cloud/firestore/transaction/empty/query_test.rb
  google-cloud-firestore/test/google/cloud/firestore/transaction/get_all_test.rb
  google-cloud-firestore/test/google/cloud/firestore/transaction/get_test.rb
  google-cloud-firestore/test/google/cloud/firestore/transaction/query_test.rb
Labels: api: firestore, cla: yes, type: bug

#2058 Add missing nav index entries
  google-cloud-monitoring/docs/toc.json
Labels: api: monitoring, cla: yes

#2053 Firestore Documentation Updates
  google-cloud-firestore/lib/google/cloud/firestore.rb
  google-cloud-firestore/lib/google/cloud/firestore/batch.rb
  google-cloud-firestore/lib/google/cloud/firestore/client.rb
  google-cloud-firestore/lib/google/cloud/firestore/collection_reference.rb
  google-cloud-firestore/lib/google/cloud/firestore/document_reference.rb
  google-cloud-firestore/lib/google/cloud/firestore/field_path.rb
  google-cloud-firestore/lib/google/cloud/firestore/query.rb
  google-cloud-firestore/lib/google/cloud/firestore/transaction.rb
Labels: api: firestore, cla: yes, documentation

#2060 Update RELEASING.md
  RELEASING.md
Labels: cla: yes, documentation

#2065 Monitoring V3 Documentation Fixes
  google-cloud-monitoring/docs/toc.json
  google-cloud/docs/toc.json
Labels: api: monitoring, cla: yes, documentation

#2066 Refresh DLP V2
  google-cloud-dlp/README.md
  google-cloud-dlp/lib/google/cloud/dlp.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/dlp_service_client.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/doc/google/privacy/dlp/v2/dlp.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/doc/google/privacy/dlp/v2/storage.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/doc/overview.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2/dlp_pb.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2/dlp_services_pb.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2/storage_pb.rb
Labels: api: data loss prevention, cla: yes
