Repository googleapis/google-cloud-ruby, pull requests merged in 2018-02, with the labels that each got.

#1970 Update google-cloud docs TOC
  google-cloud/docs/toc.json
Labels: api: language, cla: yes, documentation

#1968 BigQuery: Updates public dataset project name used in docs
  google-cloud-bigquery/lib/google/cloud/bigquery.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/data.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
Labels: api: bigquery, cla: yes, documentation

#1973 BigQuery: Add LoadJob::Updater to allow for additional properties on load jobs
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/test/google/cloud/bigquery/load_job_updater_test.rb
Labels: api: bigquery, cla: yes

#1974 Add google-cloud-firestore to google-cloud docs whitelist.
  Rakefile
Labels: api: firestore, cla: yes, documentation

#1976 BigQuery yield LoadJob::Updater for `dataset.load` and `table.load`
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
Labels: cla: yes

#1978 Add partitioning by field to BigQuery
  google-cloud-bigquery/acceptance/bigquery/table_reference_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_reference_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_reference_update_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_update_test.rb
Labels: api: bigquery, cla: yes

#1981 Add table acceptance test for BigQuery partitioning by field
  google-cloud-bigquery/acceptance/bigquery/table_reference_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
Labels: api: bigquery, cla: yes
