Repository googleapis/google-cloud-ruby, pull requests merged in 2018-12, with the labels that each got.

#2608 Add '/healthz' to the health check log + minor doc fix
  google-cloud-logging/CONTRIBUTING.md
  google-cloud-logging/lib/google/cloud/logging/middleware.rb
  google-cloud-logging/test/google/cloud/logging/middleware_test.rb
Labels: api: logging, cla: yes

#2661 [CHANGE ME] Re-generated google-cloud-spanner to pick up changes in the API or client library generator.
  google-cloud-spanner/lib/google/cloud/spanner/v1/spanner_client_config.json
Labels: cla: yes

#2611 Add buffering and batches to AsyncWriter
  google-cloud-logging/Gemfile
  google-cloud-logging/lib/google/cloud/logging/async_writer.rb
  google-cloud-logging/lib/google/cloud/logging/errors.rb
  google-cloud-logging/lib/google/cloud/logging/project.rb
  google-cloud-logging/test/google/cloud/logging/async_writer_test.rb
  google-cloud-logging/test/google/cloud/logging/project/async_writer_test.rb
  google-cloud-logging/test/google/cloud/logging/project/shared_async_writer_test.rb
Labels: api: logging, cla: yes

#2706 Use Concurrent::Promises
  google-cloud-logging/lib/google/cloud/logging/async_writer.rb
Labels: api: logging, cla: yes

#2691 Refactor Subscriber message updates
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/async_stream_pusher.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/async_unary_pusher.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/timed_unary_buffer.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/acknowledge_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/modify_ack_deadline_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/nack_test.rb
Labels: api: pubsub, cla: yes

#2709 Fix Pub/Sub code example test configuration
  google-cloud-pubsub/support/doctest_helper.rb
Labels: api: pubsub, cla: yes

#2707 Refactor Logging buffer
  google-cloud-logging/lib/google/cloud/logging/async_writer.rb
  google-cloud-logging/lib/google/cloud/logging/entry.rb
  google-cloud-logging/lib/google/cloud/logging/project.rb
  google-cloud-logging/lib/google/cloud/logging/service.rb
  google-cloud-logging/test/google/cloud/logging/async_writer_test.rb
  google-cloud-logging/test/google/cloud/logging/project_test.rb
Labels: api: logging, cla: yes

#2704 Fix remaining Logging documentation warnings
  google-cloud-logging/Rakefile
  google-cloud-logging/lib/google/cloud/logging/async_writer.rb
  google-cloud-logging/lib/google/cloud/logging/rails.rb
Labels: api: logging, cla: yes, type: docs

#2713 Add new inventory renew lease mechanics
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/inventory.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/timed_unary_buffer.rb
Labels: api: pubsub, cla: yes

#2711 Move deprecated dryrun argument
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
Labels: api: bigquery, cla: yes

#2712 Update naming convention for dryrun
  google-cloud-bigquery/acceptance/bigquery/bigquery_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/project.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_query_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_query_job_test.rb
Labels: api: bigquery, cla: yes

#2710 Releases 2018-12-05
  google-cloud-bigquery/CHANGELOG.md
  google-cloud-bigquery/lib/google/cloud/bigquery/version.rb
Labels: api: bigquery, cla: yes

#2714 Release google-cloud-container 0.3.0
  google-cloud-container/CHANGELOG.md
  google-cloud-container/google-cloud-container.gemspec
Labels: api: container, cla: yes

#2722 Fix for Stackdriver Instrumentation Configuration
  stackdriver/INSTRUMENTATION_CONFIGURATION.md
Labels: api: logging, cla: yes, stackdriver, type: docs

#2719 add instance aliases for KeyManagementServiceClient class methods
  google-cloud-kms/Rakefile
  google-cloud-kms/lib/google/cloud/kms/v1.rb
  google-cloud-kms/lib/google/cloud/kms/v1/helpers.rb
  google-cloud-kms/synth.py
  google-cloud-kms/synth/helpers.rb.erb
  google-cloud-kms/synth/helpers_test.rb.erb
  google-cloud-kms/test/google/cloud/kms/v1/helpers_test.rb
Labels: api: cloudkms, cla: yes

#2721 Update .rubocop.yml in all gems
  gcloud/.rubocop.yml
  google-cloud-asset/.rubocop.yml
  google-cloud-bigquery-data_transfer/.rubocop.yml
  google-cloud-bigquery/.rubocop.yml
  google-cloud-bigtable/.rubocop.yml
  google-cloud-container/.rubocop.yml
  google-cloud-core/.rubocop.yml
  google-cloud-dataproc/.rubocop.yml
  google-cloud-datastore/.rubocop.yml
  google-cloud-debugger/.rubocop.yml
  google-cloud-dialogflow/.rubocop.yml
  google-cloud-dlp/.rubocop.yml
  google-cloud-dns/.rubocop.yml
  google-cloud-env/.rubocop.yml
  google-cloud-error_reporting/.rubocop.yml
  google-cloud-firestore/.rubocop.yml
  google-cloud-kms/.rubocop.yml
  google-cloud-language/.rubocop.yml
  google-cloud-logging/.rubocop.yml
  google-cloud-monitoring/.rubocop.yml
  google-cloud-os_login/.rubocop.yml
  google-cloud-pubsub/.rubocop.yml
  google-cloud-redis/.rubocop.yml
  google-cloud-resource_manager/.rubocop.yml
  google-cloud-spanner/.rubocop.yml
  google-cloud-speech/.rubocop.yml
  google-cloud-storage/.rubocop.yml
  google-cloud-tasks/.rubocop.yml
  google-cloud-text_to_speech/.rubocop.yml
  google-cloud-trace/.rubocop.yml
  google-cloud-translate/.rubocop.yml
  google-cloud-video_intelligence/.rubocop.yml
  google-cloud-vision/.rubocop.yml
  google-cloud/.rubocop.yml
  stackdriver-core/.rubocop.yml
  stackdriver/.rubocop.yml
Labels: cla: yes

#2724 [KMS] Release 0.2.5
  google-cloud-kms/CHANGELOG.md
  google-cloud-kms/google-cloud-kms.gemspec
Labels: api: cloudkms, cla: yes

#2715 [Scheduler] generate initial client
  .kokoro/continuous/linux/scheduler.cfg
  .kokoro/continuous/osx/scheduler.cfg
  .kokoro/continuous/windows/scheduler.cfg
  .kokoro/nightly/linux/scheduler.cfg
  .kokoro/nightly/osx/scheduler.cfg
  .kokoro/nightly/windows/scheduler.cfg
  .kokoro/presubmit/linux/scheduler.cfg
  .kokoro/presubmit/osx/scheduler.cfg
  .kokoro/presubmit/windows/scheduler.cfg
  README.md
  google-cloud-scheduler/.gitignore
  google-cloud-scheduler/.rubocop.yml
  google-cloud-scheduler/.yardopts
  google-cloud-scheduler/CHANGELOG.md
  google-cloud-scheduler/Gemfile
  google-cloud-scheduler/LICENSE
  google-cloud-scheduler/README.md
  google-cloud-scheduler/Rakefile
  google-cloud-scheduler/google-cloud-scheduler.gemspec
  google-cloud-scheduler/lib/google/cloud/scheduler.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/cloud_scheduler_client.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/cloud_scheduler_client_config.json
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/cloudscheduler_pb.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/cloudscheduler_services_pb.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/credentials.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/doc/google/cloud/scheduler/v1beta1/cloudscheduler.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/doc/google/cloud/scheduler/v1beta1/job.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/doc/google/cloud/scheduler/v1beta1/target.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/doc/google/protobuf/any.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/doc/google/protobuf/duration.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/doc/google/protobuf/empty.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/doc/google/protobuf/field_mask.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/doc/google/protobuf/timestamp.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/doc/google/rpc/status.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/helpers.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/job_pb.rb
  google-cloud-scheduler/lib/google/cloud/scheduler/v1beta1/target_pb.rb
  google-cloud-scheduler/synth.py
  google-cloud-scheduler/synth/helpers.rb.erb
  google-cloud-scheduler/synth/helpers_test.rb.erb
  google-cloud-scheduler/test/google/cloud/scheduler/v1beta1/cloud_scheduler_client_test.rb
  google-cloud-scheduler/test/google/cloud/scheduler/v1beta1/helpers_test.rb
Labels: cla: yes

#2725 Update Pub/Sub reference/resource documentation
  google-cloud-pubsub/OVERVIEW.md
  google-cloud-pubsub/acceptance/pubsub/pubsub_test.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/project.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/snapshot.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscription.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscription/list.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/topic.rb
  google-cloud-pubsub/test/google/cloud/pubsub/message_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/project_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/received_message_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/snapshot_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/acknowledge_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/attrs_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/delete_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/exists_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/lazy_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/modify_ack_deadline_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/name_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/pull_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/seek_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/update_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/autocreate_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/exists_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/lazy_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/name_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/policy_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/publish_async_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/publish_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/subscribe_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/subscription_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/subscriptions_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/update_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic_test.rb
Labels: api: pubsub, cla: yes, type: cleanup, type: docs

#2728 Release google-cloud-scheduler 0.1.0
  google-cloud-scheduler/CHANGELOG.md
Labels: cla: yes

#2720 [Vision] Add image_context param, acceptance tests, and instance aliases
  google-cloud-vision/Rakefile
  google-cloud-vision/acceptance/google/cloud/vision/v1/helpers_smoke_test.rb
  google-cloud-vision/acceptance/google/cloud/vision/v1p3beta1/helpers_smoke_test.rb
  google-cloud-vision/lib/google/cloud/vision/v1/helpers.rb
  google-cloud-vision/lib/google/cloud/vision/v1p3beta1/helpers.rb
  google-cloud-vision/synth.py
  google-cloud-vision/synth/helpers.rb.erb
  google-cloud-vision/synth/helpers_smoke_test.rb.erb
  google-cloud-vision/synth/helpers_test.rb.erb
  google-cloud-vision/test/google/cloud/vision/v1/helpers_test.rb
  google-cloud-vision/test/google/cloud/vision/v1p3beta1/helpers_test.rb
Labels: api: vision, cla: yes

#2730 [Vision] Release 0.32.2
  google-cloud-vision/CHANGELOG.md
  google-cloud-vision/google-cloud-vision.gemspec
Labels: api: vision, cla: yes

#2731 Release google-cloud 0.56.4
  google-cloud/CHANGELOG.md
  google-cloud/Gemfile
  google-cloud/README.md
  google-cloud/google-cloud.gemspec
  google-cloud/lib/google/cloud/version.rb
Labels: cla: yes

#2732 Allow overriding bigquery table in acceptance tests
  google-cloud-bigquery/acceptance/bigquery/bigquery_test.rb
  google-cloud-bigquery/acceptance/bigquery_helper.rb
Labels: api: bigquery, cla: yes

#2727 Improve middleware error handling
  google-cloud-trace/lib/google-cloud-trace.rb
  google-cloud-trace/lib/google/cloud/trace.rb
  google-cloud-trace/lib/google/cloud/trace/middleware.rb
Labels: api: cloudtrace, cla: yes

#2735 Add on_error configuration
  google-cloud-core/lib/google/cloud.rb
  google-cloud-pubsub/lib/google-cloud-pubsub.rb
  google-cloud-pubsub/lib/google/cloud/pubsub.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber.rb
  google-cloud-trace/lib/google/cloud/trace/middleware.rb
Labels: api: cloudtrace, api: core, api: pubsub, cla: yes

#2733 Changes to Rails default Logger
  google-cloud-logging/lib/google-cloud-logging.rb
  google-cloud-logging/lib/google/cloud/logging.rb
  google-cloud-logging/lib/google/cloud/logging/middleware.rb
  google-cloud-logging/lib/google/cloud/logging/rails.rb
  google-cloud-logging/test/google/cloud/logging/middleware_test.rb
Labels: api: logging, cla: yes

#2739 Cleanup ErrorReporting documentation
  google-cloud-error_reporting/Rakefile
  google-cloud-error_reporting/lib/google/cloud/error_reporting/rails.rb
  google-cloud-error_reporting/support/doctest_helper.rb
Labels: api: clouderrorreporting, cla: yes

#2734 AsyncWriter buffer entries and make batch API calls
  google-cloud-logging/.rubocop.yml
  google-cloud-logging/Gemfile
  google-cloud-logging/acceptance/logging/logging_test.rb
  google-cloud-logging/lib/google-cloud-logging.rb
  google-cloud-logging/lib/google/cloud/logging.rb
  google-cloud-logging/lib/google/cloud/logging/async_writer.rb
  google-cloud-logging/lib/google/cloud/logging/entry.rb
  google-cloud-logging/lib/google/cloud/logging/errors.rb
  google-cloud-logging/lib/google/cloud/logging/project.rb
  google-cloud-logging/lib/google/cloud/logging/service.rb
  google-cloud-logging/test/google/cloud/logging/async_writer_test.rb
  google-cloud-logging/test/google/cloud/logging/project/async_writer_test.rb
  google-cloud-logging/test/google/cloud/logging/project/shared_async_writer_test.rb
  google-cloud-logging/test/google/cloud/logging/project_test.rb
Labels: api: logging, cla: yes

#2740 Add Logging trace_sampled
  google-cloud-logging/lib/google/cloud/logging/entry.rb
  google-cloud-logging/lib/google/cloud/logging/logger.rb
  google-cloud-logging/test/google/cloud/logging/entry_test.rb
  google-cloud-logging/test/google/cloud/logging/logger_test.rb
  google-cloud-logging/test/helper.rb
Labels: api: logging, cla: yes

#2741 Spanner Performance Improvements
  google-cloud-spanner/lib/google/cloud/spanner/data.rb
  google-cloud-spanner/lib/google/cloud/spanner/fields.rb
  google-cloud-spanner/test/google/cloud/spanner/results/duplicate_struct_test.rb
  google-cloud-spanner/test/google/cloud/spanner/results/duplicate_test.rb
Labels: api: spanner, cla: yes

#2742 Fix NoMethodError on Rails object
  google-cloud-logging/lib/google/cloud/logging/rails.rb
Labels: cla: yes
