Repository googleapis/google-cloud-ruby, pull requests merged in 2018-06, with the labels that each got.

#2118 Fix broken link in README.md
  README.md
Labels: cla: yes

#2125 Fix YARD build in Ruby 2.0.0
  Gemfile
  gcloud/Gemfile
  google-cloud-bigquery-data_transfer/Gemfile
  google-cloud-bigquery/Gemfile
  google-cloud-bigtable/Gemfile
  google-cloud-container/Gemfile
  google-cloud-core/Gemfile
  google-cloud-dataproc/Gemfile
  google-cloud-datastore/Gemfile
  google-cloud-debugger/Gemfile
  google-cloud-dialogflow/Gemfile
  google-cloud-dlp/Gemfile
  google-cloud-dns/Gemfile
  google-cloud-env/Gemfile
  google-cloud-error_reporting/Gemfile
  google-cloud-firestore/Gemfile
  google-cloud-language/Gemfile
  google-cloud-logging/Gemfile
  google-cloud-monitoring/Gemfile
  google-cloud-os_login/Gemfile
  google-cloud-pubsub/Gemfile
  google-cloud-redis/Gemfile
  google-cloud-resource_manager/Gemfile
  google-cloud-spanner/Gemfile
  google-cloud-speech/Gemfile
  google-cloud-storage/Gemfile
  google-cloud-tasks/Gemfile
  google-cloud-trace/Gemfile
  google-cloud-translate/Gemfile
  google-cloud-video_intelligence/Gemfile
  google-cloud-vision/Gemfile
  google-cloud/Gemfile
  stackdriver-core/Gemfile
  stackdriver/Gemfile
Labels: cla: yes, type: cleanup

#2106 Add necessary requires to bigtable tests
  google-cloud-bigtable/test/google/cloud/bigtable/instance_admin_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table_admin_client_test.rb
  google-cloud-bigtable/test/test_helper.rb
Labels: cla: yes

#2121 Add /healthz to the ignored requests
  google-cloud-trace/lib/google/cloud/trace/time_sampler.rb
Labels: api: trace, cla: yes

#2129 Upgrade Google API Client dependency
  google-cloud-bigquery/google-cloud-bigquery.gemspec
  google-cloud-core/Gemfile
  google-cloud-dns/google-cloud-dns.gemspec
  google-cloud-resource_manager/google-cloud-resource_manager.gemspec
  google-cloud-storage/google-cloud-storage.gemspec
Labels: api: bigquery, api: core, api: dns, api: resource manager, api: storage, cla: yes

#2126 Correct the argument type for the schema in Schema::dump
  google-cloud-bigquery/lib/google/cloud/bigquery/schema.rb
Labels: api: bigquery, cla: yes

#2127 Add Session labels to Project#client and #batch_client
  google-cloud-spanner/acceptance/spanner/client/edge_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/batch_client.rb
  google-cloud-spanner/lib/google/cloud/spanner/client.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
  google-cloud-spanner/lib/google/cloud/spanner/results.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
  google-cloud-spanner/lib/google/cloud/spanner/session.rb
  google-cloud-spanner/test/google/cloud/spanner/batch_client_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/commit_field_values_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/commit_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/execute_resume_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/execute_single_use_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/execute_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/fields_for_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/read_error_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/read_resume_buffer_bound_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/read_resume_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/read_single_use_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/read_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/snapshot_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/transaction_retry_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/transaction_rollback_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/transaction_test.rb
  google-cloud-spanner/test/google/cloud/spanner/pool/write_ratio_test.rb
  google-cloud-spanner/test/google/cloud/spanner/pool_test.rb
  google-cloud-spanner/test/google/cloud/spanner/session/keepalive_test.rb
  google-cloud-spanner/test/google/cloud/spanner/session/reload_test.rb
Labels: api: spanner, cla: yes

#2133 Build: Remove yard-doctest autoloading
  google-cloud-bigquery/Rakefile
  google-cloud-datastore/Rakefile
  google-cloud-debugger/Rakefile
  google-cloud-dns/Rakefile
  google-cloud-error_reporting/Rakefile
  google-cloud-firestore/Rakefile
  google-cloud-logging/Rakefile
  google-cloud-pubsub/Rakefile
  google-cloud-resource_manager/Rakefile
  google-cloud-spanner/Rakefile
  google-cloud-storage/Rakefile
  google-cloud-trace/Rakefile
  google-cloud-translate/Rakefile
  google-cloud-vision/Rakefile
Labels: cla: yes, type: docs

#2132 [Bigtable] Admin instance apis re-designed and cleanup old apis wrappers
  google-cloud-bigtable/.gitignore
  google-cloud-bigtable/CHANGELOG.md
  google-cloud-bigtable/Rakefile
  google-cloud-bigtable/acceptance/bigtable/cluster_test.rb
  google-cloud-bigtable/acceptance/bigtable/instance_test.rb
  google-cloud-bigtable/acceptance/bigtable_helper.rb
  google-cloud-bigtable/docs/toc.json
  google-cloud-bigtable/lib/google-cloud-bigtable.rb
  google-cloud-bigtable/lib/google/cloud/bigtable.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/chunk_reader.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/cluster.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/cluster/job.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/cluster/list.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/data_client.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/flat_row.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance/cluster_map.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance/job.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance/list.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance_admin_client.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/mutation_entry.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/project.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/rows_reader.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/service.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table_admin_client.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table_data_operations.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/version.rb
  google-cloud-bigtable/test/google/cloud/bigtable/cluster/delete_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/cluster/save_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/cluster_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/data_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/cluster_map_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/cluster_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/clusters_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/create_cluster_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/delete_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/save_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance_admin_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/clusters_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/create_instance_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/instance_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/instances_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/read_rows_state_machine_acceptance_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/rows_reader_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table_admin_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table_data_operations_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable_test.rb
  google-cloud-bigtable/test/helper.rb
  google-cloud-bigtable/test/test_helper.rb
Labels: api: bigtable, cla: yes

#2134 Disable Stackdriver components with Rails.env.production
  google-cloud-debugger/lib/google/cloud/debugger/rails.rb
  google-cloud-debugger/test/google/cloud/debugger/rails_test.rb
  google-cloud-error_reporting/lib/google/cloud/error_reporting/rails.rb
  google-cloud-error_reporting/test/google/cloud/error_reporting/rails_test.rb
  google-cloud-logging/lib/google/cloud/logging/rails.rb
  google-cloud-logging/test/google/cloud/logging/rails_test.rb
  google-cloud-trace/lib/google/cloud/trace/rails.rb
  google-cloud-trace/test/google/cloud/trace/rails_test.rb
Labels: api: debugger, api: error reporting, api: logging, api: trace, cla: yes, stackdriver

#2137 Generate initial gapic of texttospeech v1
  Gemfile
  google-cloud-text_to_speech/.gitignore
  google-cloud-text_to_speech/.rubocop.yml
  google-cloud-text_to_speech/.yardopts
  google-cloud-text_to_speech/CHANGELOG.md
  google-cloud-text_to_speech/Gemfile
  google-cloud-text_to_speech/LICENSE
  google-cloud-text_to_speech/README.md
  google-cloud-text_to_speech/Rakefile
  google-cloud-text_to_speech/docs/toc.json
  google-cloud-text_to_speech/google-cloud-text_to_speech.gemspec
  google-cloud-text_to_speech/lib/google/cloud/text_to_speech.rb
  google-cloud-text_to_speech/lib/google/cloud/text_to_speech/v1.rb
  google-cloud-text_to_speech/lib/google/cloud/text_to_speech/v1/credentials.rb
  google-cloud-text_to_speech/lib/google/cloud/text_to_speech/v1/doc/google/cloud/texttospeech/v1/cloud_tts.rb
  google-cloud-text_to_speech/lib/google/cloud/text_to_speech/v1/doc/overview.rb
  google-cloud-text_to_speech/lib/google/cloud/text_to_speech/v1/text_to_speech_client.rb
  google-cloud-text_to_speech/lib/google/cloud/text_to_speech/v1/text_to_speech_client_config.json
  google-cloud-text_to_speech/lib/google/cloud/texttospeech/v1/cloud_tts_pb.rb
  google-cloud-text_to_speech/lib/google/cloud/texttospeech/v1/cloud_tts_services_pb.rb
  google-cloud-text_to_speech/synth.py
  google-cloud-text_to_speech/test/google/cloud/text_to_speech/v1/text_to_speech_client_test.rb
Labels: cla: yes

#2143 Speech Migration Guide
  google-cloud-speech/README.md
  google-cloud-speech/google-cloud-speech.gemspec
  google-cloud-speech/lib/google/cloud/speech.rb
  google-cloud-speech/lib/google/cloud/speech/v1/speech_client.rb
  google-cloud-speech/lib/google/cloud/speech/v1p1beta1/speech_client.rb
  google-cloud-speech/test/google/cloud/speech/v1/speech_client_test.rb
  google-cloud-speech/test/google/cloud/speech/v1p1beta1/speech_client_test.rb
Labels: api: speech, cla: yes, type: docs

#2146 [Speech] Update documented quickstarts.
  google-cloud-speech/lib/google/cloud/speech.rb
  google-cloud-speech/lib/google/cloud/speech/v1.rb
  google-cloud-speech/lib/google/cloud/speech/v1p1beta1.rb
Labels: cla: yes

#2145 add synth.py and run gapic gen for v1
  .gitignore
  google-cloud-vision/Rakefile
  google-cloud-vision/lib/google/cloud/vision/v1.rb
  google-cloud-vision/lib/google/cloud/vision/v1/credentials.rb
  google-cloud-vision/lib/google/cloud/vision/v1/doc/google/cloud/vision/v1/geometry.rb
  google-cloud-vision/lib/google/cloud/vision/v1/doc/google/cloud/vision/v1/image_annotator.rb
  google-cloud-vision/lib/google/cloud/vision/v1/doc/google/cloud/vision/v1/text_annotation.rb
  google-cloud-vision/lib/google/cloud/vision/v1/doc/google/cloud/vision/v1/web_detection.rb
  google-cloud-vision/lib/google/cloud/vision/v1/doc/google/longrunning/operations.rb
  google-cloud-vision/lib/google/cloud/vision/v1/doc/google/protobuf/any.rb
  google-cloud-vision/lib/google/cloud/vision/v1/doc/google/protobuf/wrappers.rb
  google-cloud-vision/lib/google/cloud/vision/v1/doc/google/rpc/status.rb
  google-cloud-vision/lib/google/cloud/vision/v1/doc/google/type/color.rb
  google-cloud-vision/lib/google/cloud/vision/v1/doc/google/type/latlng.rb
  google-cloud-vision/lib/google/cloud/vision/v1/doc/overview.rb
  google-cloud-vision/lib/google/cloud/vision/v1/geometry_pb.rb
  google-cloud-vision/lib/google/cloud/vision/v1/image_annotator_client.rb
  google-cloud-vision/lib/google/cloud/vision/v1/image_annotator_client_config.json
  google-cloud-vision/lib/google/cloud/vision/v1/image_annotator_pb.rb
  google-cloud-vision/lib/google/cloud/vision/v1/image_annotator_services_pb.rb
  google-cloud-vision/lib/google/cloud/vision/v1/text_annotation_pb.rb
  google-cloud-vision/lib/google/cloud/vision/v1/web_detection_pb.rb
  google-cloud-vision/synth.py
Labels: api: vision, cla: yes, gapic

#2144 [Bigtable] Table and column family admin APIs
  google-cloud-bigtable/acceptance/bigtable/column_family_test.rb
  google-cloud-bigtable/acceptance/bigtable/instance_test.rb
  google-cloud-bigtable/acceptance/bigtable/table_test.rb
  google-cloud-bigtable/acceptance/bigtable_helper.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/cluster/job.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/column_family.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/convert.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/gc_rule.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance/job.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/longrunning_job.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/project.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/service.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table/cluster_state.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table/column_family_map.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table/list.rb
  google-cloud-bigtable/test/google/cloud/bigtable/column_family/modifications_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/column_family_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/convert_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/gc_rule_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/create_table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/tables_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/create_table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/modify_column_families_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/tables_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/cluster_state_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/column_family_map_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/delete_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/modify_column_families_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table_test.rb
  google-cloud-bigtable/test/helper.rb
Labels: api: bigtable, cla: yes

#2148 Add schema_update_options and time_partitioning to Jobs
  google-cloud-bigquery/acceptance/bigquery/bigquery_test.rb
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery/query_destination_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_load_job_schema_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_query_job_test.rb
Labels: api: bigquery, cla: yes

#2155 Update synth scripts for vision and text-to-speech
  google-cloud-text_to_speech/synth.py
  google-cloud-vision/synth.py
Labels: cla: yes

#2158 Auto-load the latest version only
  google-cloud-core/lib/google/cloud.rb
Labels: cla: yes, type: bug

#2159 Tasks v2beta2
  google-cloud-tasks/README.md
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/cloud_tasks_client.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/cloud_tasks_client_config.json
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/cloudtasks_pb.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/cloudtasks_services_pb.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/credentials.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/cloud/tasks/v2beta2/cloudtasks.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/cloud/tasks/v2beta2/queue.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/cloud/tasks/v2beta2/target.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/cloud/tasks/v2beta2/task.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/iam/v1/iam_policy.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/protobuf/empty.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/overview.rb
  google-cloud-tasks/synth.py
  google-cloud-tasks/test/google/cloud/tasks/v2beta2/cloud_tasks_client_test.rb
Labels: cla: yes

#2161 Regenerate speech and provide a synth script
  google-cloud-speech/lib/google/cloud/speech.rb
  google-cloud-speech/lib/google/cloud/speech/v1.rb
  google-cloud-speech/lib/google/cloud/speech/v1/doc/overview.rb
  google-cloud-speech/lib/google/cloud/speech/v1/speech_client.rb
  google-cloud-speech/lib/google/cloud/speech/v1p1beta1.rb
  google-cloud-speech/lib/google/cloud/speech/v1p1beta1/doc/overview.rb
  google-cloud-speech/lib/google/cloud/speech/v1p1beta1/speech_client.rb
  google-cloud-speech/synth.py
Labels: api: speech, cla: yes, gapic

#2164 Add DDL statistics fields to Bigquery::QueryJob
  google-cloud-bigquery/acceptance/bigquery/bigquery_test.rb
  google-cloud-bigquery/acceptance/bigquery/dataset_ddl_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_query_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/query_job_test.rb
Labels: api: bigquery, cla: yes

#2167 Enhance changes rake tasks
  Rakefile
Labels: cla: yes, type: cleanup
