Repository googleapis/google-cloud-ruby, pull requests merged in 2018-10, with the labels that each got.

#2470 Spanner DML/Partitioned DML
  google-cloud-spanner/acceptance/spanner/client/dml_test.rb
  google-cloud-spanner/acceptance/spanner/client/pdml_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/client.rb
  google-cloud-spanner/lib/google/cloud/spanner/results.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
  google-cloud-spanner/lib/google/cloud/spanner/session.rb
  google-cloud-spanner/lib/google/cloud/spanner/transaction.rb
  google-cloud-spanner/support/doctest_helper.rb
  google-cloud-spanner/test/google/cloud/spanner/batch_snapshot/execute_partition_test.rb
  google-cloud-spanner/test/google/cloud/spanner/batch_snapshot/execute_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/execute_partition_update_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/execute_resume_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/execute_single_use_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/execute_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/fields_for_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/snapshot_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/transaction_retry_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/transaction_rollback_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/transaction_test.rb
  google-cloud-spanner/test/google/cloud/spanner/pool/keepalive_or_release_test.rb
  google-cloud-spanner/test/google/cloud/spanner/results/row_count_test.rb
  google-cloud-spanner/test/google/cloud/spanner/session/execute_test.rb
  google-cloud-spanner/test/google/cloud/spanner/session/keepalive_test.rb
  google-cloud-spanner/test/google/cloud/spanner/snapshot/execute_test.rb
  google-cloud-spanner/test/google/cloud/spanner/transaction/execute_test.rb
  google-cloud-spanner/test/google/cloud/spanner/transaction/execute_update_test.rb
  google-cloud-spanner/test/google/cloud/spanner/transaction/fields_for_test.rb
Labels: api: spanner, cla: yes

#2500 Rename execute_query method
  google-cloud-spanner/README.md
  google-cloud-spanner/acceptance/spanner/client/crud_test.rb
  google-cloud-spanner/acceptance/spanner/client/dml_test.rb
  google-cloud-spanner/acceptance/spanner/client/edge_test.rb
  google-cloud-spanner/acceptance/spanner/client/execute_test.rb
  google-cloud-spanner/acceptance/spanner/client/large_data_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/bool_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/bytes_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/date_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/float64_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/int64_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/string_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/struct_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/timestamp_test.rb
  google-cloud-spanner/acceptance/spanner/client/pdml_test.rb
  google-cloud-spanner/acceptance/spanner/client/single_use_test.rb
  google-cloud-spanner/acceptance/spanner/client/snapshot_test.rb
  google-cloud-spanner/acceptance/spanner/client/transaction_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/bool_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/bytes_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/date_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/float64_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/int64_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/string_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/struct_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/timestamp_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/batch_snapshot.rb
  google-cloud-spanner/lib/google/cloud/spanner/client.rb
  google-cloud-spanner/lib/google/cloud/spanner/data.rb
  google-cloud-spanner/lib/google/cloud/spanner/fields.rb
  google-cloud-spanner/lib/google/cloud/spanner/partition.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
  google-cloud-spanner/lib/google/cloud/spanner/results.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
  google-cloud-spanner/lib/google/cloud/spanner/session.rb
  google-cloud-spanner/lib/google/cloud/spanner/snapshot.rb
  google-cloud-spanner/lib/google/cloud/spanner/transaction.rb
  google-cloud-spanner/support/doctest_helper.rb
  google-cloud-spanner/test/google/cloud/spanner/batch_snapshot/execute_partition_test.rb
  google-cloud-spanner/test/google/cloud/spanner/batch_snapshot/execute_query_test.rb
  google-cloud-spanner/test/google/cloud/spanner/batch_snapshot/partition_query_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/close_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/execute_query_resume_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/execute_query_single_use_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/execute_query_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/snapshot_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/transaction_retry_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/transaction_rollback_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/transaction_test.rb
  google-cloud-spanner/test/google/cloud/spanner/session/execute_query_test.rb
  google-cloud-spanner/test/google/cloud/spanner/snapshot/execute_query_test.rb
  google-cloud-spanner/test/google/cloud/spanner/transaction/execute_query_test.rb
Labels: api: spanner, cla: yes

#2501 Release Spanner 1.7.0
  google-cloud-spanner/CHANGELOG.md
  google-cloud-spanner/lib/google/cloud/spanner/version.rb
Labels: api: spanner, cla: yes

#2504 Fix acceptance test query_destination_test
  google-cloud-bigquery/acceptance/bigquery/query_destination_test.rb
Labels: api: bigquery, cla: yes, testing

#2509 Release Spanner 1.7.1
  google-cloud-spanner/CHANGELOG.md
  google-cloud-spanner/lib/google/cloud/spanner/version.rb
Labels: api: spanner, cla: yes

#2510 remove acceptance tests from travis
  .travis.yml
  Rakefile
Labels: cla: yes

#2514 add env_var loader to nightly task
  Rakefile
Labels: cla: yes, type: cleanup

#2518 Allow overriding KMS keys in acceptance tests.
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery/query_destination_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/acceptance/bigquery_helper.rb
Labels: api: bigquery, api: kms, cla: yes, testing

#2522 Allow overriding samples bucket in acceptance tests.
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery_helper.rb
Labels: cla: yes

#2521 Add BigQuery clustering
  google-cloud-bigquery/acceptance/bigquery/bigquery_test.rb
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery/query_destination_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_load_job_schema_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_query_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_reference_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_update_test.rb
Labels: api: bigquery, cla: yes

#2517 Raise if dataset_id or table_id is nil in Table#new_reference
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_test.rb
Labels: api: bigquery, cla: yes

#2527 fix stackdriver configuration links
  google-cloud-debugger/README.md
  google-cloud-logging/README.md
  google-cloud-trace/README.md
Labels: cla: yes, type: cleanup, type: docs

#2528 Allow override of KMS keys in storage acceptance tests
  google-cloud-storage/acceptance/storage/bucket_encryption_test.rb
  google-cloud-storage/acceptance/storage/file_encryption_test.rb
Labels: api: kms, api: storage, cla: yes

#2531 Allow overriding storage bucket in acceptance tests
  google-cloud-storage/acceptance/storage/file_test.rb
  google-cloud-storage/acceptance/storage/filename_test.rb
Labels: api: storage, cla: yes

#2529 Tasks v2beta3
  google-cloud-tasks/CHANGELOG.md
  google-cloud-tasks/README.md
  google-cloud-tasks/lib/google/cloud/tasks.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/cloud_tasks_client.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/cloud_tasks_client_config.json
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/cloudtasks_pb.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/cloudtasks_services_pb.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/credentials.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/cloud/tasks/v2beta3/cloudtasks.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/cloud/tasks/v2beta3/queue.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/cloud/tasks/v2beta3/target.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/cloud/tasks/v2beta3/task.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/iam/v1/iam_policy.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/iam/v1/policy.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/protobuf/any.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/protobuf/duration.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/protobuf/empty.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/protobuf/field_mask.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/protobuf/timestamp.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/doc/google/rpc/status.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/queue_pb.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/target_pb.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta3/task_pb.rb
  google-cloud-tasks/synth.py
  google-cloud-tasks/test/google/cloud/tasks/v2beta3/cloud_tasks_client_test.rb
Labels: api: tasks, cla: yes

#2532 Update conformance tests for cursors
  google-cloud-firestore/conformance/test-suite.binproto
Labels: api: firestore, cla: yes, testing

#2530 Add QueryJob#num_dml_affected_rows and DDL/DML docs
  google-cloud-bigquery/acceptance/bigquery/dataset_ddl_dml_test.rb
  google-cloud-bigquery/acceptance/bigquery/dataset_ddl_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/data.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/project.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/support/doctest_helper.rb
  google-cloud-bigquery/test/google/cloud/bigquery/data_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_query_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_query_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/query_job_test.rb
  google-cloud-bigquery/test/helper.rb
Labels: api: bigquery, cla: yes

#2539 fix windows symlinks for presubmits and nightlies
  Rakefile
Labels: cla: yes

#2538 Add #numeric Google::Cloud::Bigquery::Table::Updater
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_load_job_schema_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_test.rb
Labels: api: bigquery

#2536 Edits to Ruby client comments
  google-cloud-bigtable/lib/google/cloud/bigtable/admin.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/app_profile.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/chunk_processor.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/cluster.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/column_family.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/column_range.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/gc_rule.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/longrunning_job.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/mutation_entry.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/mutation_operations.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/policy.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/project.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/read_modify_write_rule.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/read_operations.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/row_filter.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/service.rb
Labels: api: bigtable, cla: yes, type: docs

#2543 Rename modify ack deadline method
  google-cloud-pubsub/OVERVIEW.md
  google-cloud-pubsub/lib/google/cloud/pubsub/received_message.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/async_stream_pusher.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/async_unary_pusher.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscription.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/modify_ack_deadline_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/modify_ack_deadline_test.rb
Labels: api: pubsub, cla: yes, type: cleanup

#2544 Releases 2018-10-29
  google-cloud-pubsub/CHANGELOG.md
  google-cloud-pubsub/lib/google/cloud/pubsub/version.rb
Labels: api: pubsub, cla: yes

#2564 Synth transform to update the rubocop version
  google-cloud-asset/synth.py
  google-cloud-bigquery-data_transfer/synth.py
  google-cloud-container/synth.py
  google-cloud-dataproc/synth.py
  google-cloud-dialogflow/synth.py
  google-cloud-dlp/synth.py
  google-cloud-kms/synth.py
  google-cloud-language/synth.py
  google-cloud-monitoring/synth.py
  google-cloud-os_login/synth.py
  google-cloud-redis/synth.py
  google-cloud-speech/synth.py
  google-cloud-tasks/synth.py
  google-cloud-text_to_speech/synth.py
  google-cloud-video_intelligence/synth.py
Labels: cla: yes

#2546 Additional batch of edits.
  google-cloud-bigtable/lib/google-cloud-bigtable.rb
  google-cloud-bigtable/lib/google/cloud/bigtable.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/app_profile/list.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/cluster/job.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/cluster/list.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance/cluster_map.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance/list.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/row_filter.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/row_filter/chain_filter.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/row_filter/condition_filter.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/value_range.rb
Labels: cla: yes
