Repository googleapis/google-cloud-ruby, pull requests merged in 2018-07, with the labels that each got.

#2152 Fix undefined method `split' for nil:NilClass with an empty array
  google-cloud-error_reporting/lib/google/cloud/error_reporting/error_event.rb
  google-cloud-error_reporting/test/google/cloud/error_reporting/error_event_test.rb
Labels: cla: yes

#2160 [Bigtable] Table consistency and app profile APIs
  google-cloud-bigtable/acceptance/bigtable/app_profile_test.rb
  google-cloud-bigtable/acceptance/bigtable/table_test.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/app_profile.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/app_profile/job.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/app_profile/list.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/service.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table.rb
  google-cloud-bigtable/test/google/cloud/bigtable/app_profile/delete_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/app_profile/save_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/app_profile_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/replication_test.rb
Labels: api: bigtable, cla: yes

#2166 Firestore: remove unneeded base64 encoding applied to BLOB fields
  google-cloud-firestore/lib/google/cloud/firestore/convert.rb
  google-cloud-firestore/test/google/cloud/firestore/convert/raw_to_value_test.rb
  google-cloud-firestore/test/google/cloud/firestore/convert/value_to_raw_test.rb
  google-cloud-firestore/test/google/cloud/firestore/document_snapshot/data_test.rb
Labels: api: firestore, cla: yes

#2165 Fix #2162 - insufficient node quota limit
  google-cloud-bigtable/acceptance/bigtable/cluster_test.rb
  google-cloud-bigtable/acceptance/bigtable_helper.rb
Labels: api: bigtable, cla: yes

#2170 Fix Acceptance test for northamerica-northeast1-a zone and added Europe zones
  google-cloud-bigtable/acceptance/bigtable_helper.rb
Labels: api: bigtable, cla: yes

#2172 Tasks: set google-gax dependency to v1.3
  google-cloud-tasks/google-cloud-tasks.gemspec
Labels: api: tasks, cla: yes, type: cleanup

#2174 Reduce string memory usage
  google-cloud-bigtable/lib/google/cloud/bigtable/cluster/list.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance/list.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/project.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/service.rb
  google-cloud-datastore/test/google/cloud/datastore/dataset_test.rb
  google-cloud-dns/lib/google/cloud/dns/change/list.rb
  google-cloud-dns/lib/google/cloud/dns/record/list.rb
  google-cloud-dns/lib/google/cloud/dns/zone/list.rb
  google-cloud-logging/lib/google/cloud/logging/entry.rb
  google-cloud-logging/lib/google/cloud/logging/entry/list.rb
  google-cloud-logging/lib/google/cloud/logging/log/list.rb
  google-cloud-logging/lib/google/cloud/logging/metric/list.rb
  google-cloud-logging/lib/google/cloud/logging/resource_descriptor.rb
  google-cloud-logging/lib/google/cloud/logging/resource_descriptor/list.rb
  google-cloud-logging/lib/google/cloud/logging/sink/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/config/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/list.rb
  google-cloud-storage/lib/google/cloud/storage/policy.rb
Labels: cla: yes, type: cleanup

#2175 Propagate Logging list arguments
  google-cloud-logging/lib/google/cloud/logging/entry/list.rb
  google-cloud-logging/lib/google/cloud/logging/log/list.rb
  google-cloud-logging/lib/google/cloud/logging/metric/list.rb
  google-cloud-logging/lib/google/cloud/logging/resource_descriptor/list.rb
  google-cloud-logging/lib/google/cloud/logging/sink/list.rb
  google-cloud-logging/test/google/cloud/logging/project/list_entries_test.rb
  google-cloud-logging/test/google/cloud/logging/project/list_logs_test.rb
  google-cloud-logging/test/google/cloud/logging/project/metrics_test.rb
  google-cloud-logging/test/google/cloud/logging/project/resource_descriptors_test.rb
  google-cloud-logging/test/google/cloud/logging/project/sinks_test.rb
Labels: api: logging, cla: yes

#2169 Disable warnings while auto-loading gems
  google-cloud-core/lib/google/cloud.rb
Labels: api: core, cla: yes, type: cleanup

#2178 Update google-gax dependency
  google-cloud-speech/google-cloud-speech.gemspec
  google-cloud-text_to_speech/google-cloud-text_to_speech.gemspec
  google-cloud-video_intelligence/google-cloud-video_intelligence.gemspec
  google-cloud-vision/google-cloud-vision.gemspec
Labels: api: speech, api: video intelligence, api: vision, cla: yes

#2180 Initial gapic gen for kms
  Gemfile
  google-cloud-kms/.gitignore
  google-cloud-kms/.rubocop.yml
  google-cloud-kms/.yardopts
  google-cloud-kms/CHANGELOG.md
  google-cloud-kms/Gemfile
  google-cloud-kms/LICENSE
  google-cloud-kms/README.md
  google-cloud-kms/Rakefile
  google-cloud-kms/docs/toc.json
  google-cloud-kms/google-cloud-kms.gemspec
  google-cloud-kms/lib/google/cloud/kms.rb
  google-cloud-kms/lib/google/cloud/kms/v1.rb
  google-cloud-kms/lib/google/cloud/kms/v1/credentials.rb
  google-cloud-kms/lib/google/cloud/kms/v1/doc/google/cloud/kms/v1/resources.rb
  google-cloud-kms/lib/google/cloud/kms/v1/doc/google/cloud/kms/v1/service.rb
  google-cloud-kms/lib/google/cloud/kms/v1/doc/google/iam/v1/iam_policy.rb
  google-cloud-kms/lib/google/cloud/kms/v1/doc/google/iam/v1/policy.rb
  google-cloud-kms/lib/google/cloud/kms/v1/doc/google/protobuf/duration.rb
  google-cloud-kms/lib/google/cloud/kms/v1/doc/google/protobuf/field_mask.rb
  google-cloud-kms/lib/google/cloud/kms/v1/doc/google/protobuf/timestamp.rb
  google-cloud-kms/lib/google/cloud/kms/v1/doc/overview.rb
  google-cloud-kms/lib/google/cloud/kms/v1/key_management_service_client.rb
  google-cloud-kms/lib/google/cloud/kms/v1/key_management_service_client_config.json
  google-cloud-kms/lib/google/cloud/kms/v1/resources_pb.rb
  google-cloud-kms/lib/google/cloud/kms/v1/service_pb.rb
  google-cloud-kms/lib/google/cloud/kms/v1/service_services_pb.rb
  google-cloud-kms/synth.py
  google-cloud-kms/test/google/cloud/kms/v1/key_management_service_client_test.rb
  google-cloud/Gemfile
Labels: api: kms, cla: yes

#2157 Regenerate the autogen part of trace and provide a synth script
  google-cloud-trace/google-cloud-trace.gemspec
  google-cloud-trace/lib/google/cloud/trace/v1/credentials.rb
  google-cloud-trace/lib/google/cloud/trace/v1/doc/google/devtools/cloudtrace/v1/trace.rb
  google-cloud-trace/lib/google/cloud/trace/v1/doc/google/protobuf/empty.rb
  google-cloud-trace/lib/google/cloud/trace/v1/doc/google/protobuf/timestamp.rb
  google-cloud-trace/lib/google/cloud/trace/v1/doc/overview.rb
  google-cloud-trace/lib/google/cloud/trace/v1/trace_service_client.rb
  google-cloud-trace/lib/google/cloud/trace/v1/trace_service_client_config.json
  google-cloud-trace/lib/google/cloud/trace/v2/credentials.rb
  google-cloud-trace/lib/google/cloud/trace/v2/doc/google/devtools/cloudtrace/v2/trace.rb
  google-cloud-trace/lib/google/cloud/trace/v2/doc/google/devtools/cloudtrace/v2/tracing.rb
  google-cloud-trace/lib/google/cloud/trace/v2/doc/google/protobuf/any.rb
  google-cloud-trace/lib/google/cloud/trace/v2/doc/google/protobuf/empty.rb
  google-cloud-trace/lib/google/cloud/trace/v2/doc/google/protobuf/timestamp.rb
  google-cloud-trace/lib/google/cloud/trace/v2/doc/google/protobuf/wrappers.rb
  google-cloud-trace/lib/google/cloud/trace/v2/doc/google/rpc/status.rb
  google-cloud-trace/lib/google/cloud/trace/v2/doc/overview.rb
  google-cloud-trace/lib/google/cloud/trace/v2/trace_service_client.rb
  google-cloud-trace/lib/google/devtools/cloudtrace/v1/trace_services_pb.rb
  google-cloud-trace/synth.py
Labels: api: trace, cla: yes, gapic

#2179 Alias V1 Credentials
  google-cloud-video_intelligence/Rakefile
  google-cloud-video_intelligence/lib/google/cloud/video_intelligence/credentials.rb
Labels: api: video intelligence, cla: yes

#2181 DLP synth.py and gapic refresh
  google-cloud-dlp/Rakefile
  google-cloud-dlp/google-cloud-dlp.gemspec
  google-cloud-dlp/lib/google/cloud/dlp.rb
  google-cloud-dlp/lib/google/cloud/dlp/credentials.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/credentials.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/dlp_service_client.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/doc/google/privacy/dlp/v2/dlp.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/doc/google/privacy/dlp/v2/storage.rb
  google-cloud-dlp/lib/google/cloud/dlp/v2/doc/overview.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2/dlp_pb.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2/dlp_services_pb.rb
  google-cloud-dlp/lib/google/privacy/dlp/v2/storage_pb.rb
  google-cloud-dlp/synth.py
  google-cloud-dlp/test/google/cloud/dlp/v2/dlp_service_client_test.rb
Labels: api: data loss prevention, cla: yes

#2177 Instance IAM policy apis
  google-cloud-bigtable/acceptance/bigtable/instance_test.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/policy.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/service.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/iam_policy_test.rb
Labels: api: bigtable, cla: yes

#2183 Update Gemfile
  Gemfile
  gcloud/Gemfile
Labels: cla: yes, type: cleanup

#2185 Tasks autosynth prep
  google-cloud-tasks/synth.py
Labels: cla: yes

#2195 Add Storage::Project#service_account_email
  google-cloud-storage/acceptance/storage/project_test.rb
  google-cloud-storage/lib/google/cloud/storage/project.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage/project_test.rb
Labels: api: storage, cla: yes

#2184 Bigtable Data client: mutations apis
  google-cloud-bigtable/.yardopts
  google-cloud-bigtable/acceptance/bigtable/table_test.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/client.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/mutation_entry.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/mutation_operations.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/project.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/read_modify_write_rule.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/row.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/rows_mutator.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/service.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/mutation_entry_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/read_modify_write_rule_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/exists_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/mutate_row_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/mutate_rows_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/read_modify_write_row_test.rb
  google-cloud-bigtable/test/helper.rb
Labels: api: bigtable, cla: yes

#2190 Migrate to CircleCI 2.0
  .circleci/config.yml
  build/post_test.rb
  build/test.rb
  circle.yml
Labels: cla: yes, type: cleanup

#2198 Vision batch async
  google-cloud-vision/lib/google/cloud/vision/project.rb
  google-cloud-vision/support/doctest_helper.rb
Labels: api: vision, cla: yes

#2205 Update bigquery.rb
  google-cloud-bigquery/lib/google/cloud/bigquery.rb
Labels: api: bigquery, cla: yes

#2188 Support DocumentSnapshot objects as cursors
  google-cloud-firestore/acceptance/firestore/query_test.rb
  google-cloud-firestore/lib/google/cloud/firestore/client.rb
  google-cloud-firestore/lib/google/cloud/firestore/field_path.rb
  google-cloud-firestore/lib/google/cloud/firestore/query.rb
  google-cloud-firestore/support/doctest_helper.rb
  google-cloud-firestore/test/google/cloud/firestore/collection_reference/query_test.rb
  google-cloud-firestore/test/google/cloud/firestore/query/cursors_test.rb
  google-cloud-firestore/test/google/cloud/firestore/query/get_test.rb
Labels: api: firestore, cla: yes

#2207 Add Firestore conformance tests
  google-cloud-firestore/.rubocop.yml
  google-cloud-firestore/Rakefile
  google-cloud-firestore/conformance/test-definition.proto
  google-cloud-firestore/conformance/test-definition_pb.rb
  google-cloud-firestore/conformance/test-suite.binproto
  google-cloud-firestore/lib/google/cloud/firestore/convert.rb
  google-cloud-firestore/lib/google/cloud/firestore/query.rb
  google-cloud-firestore/test/google/cloud/firestore/collection_reference/query_test.rb
  google-cloud-firestore/test/google/cloud/firestore/conformance_test.rb
  google-cloud-firestore/test/google/cloud/firestore/convert/writes_for_set_test.rb
  google-cloud-firestore/test/google/cloud/firestore/convert/writes_for_update_test.rb
  google-cloud-firestore/test/google/cloud/firestore/generated/create_test.rb
  google-cloud-firestore/test/google/cloud/firestore/generated/delete_test.rb
  google-cloud-firestore/test/google/cloud/firestore/generated/get_test.rb
  google-cloud-firestore/test/google/cloud/firestore/generated/set_test.rb
  google-cloud-firestore/test/google/cloud/firestore/generated/update_test.rb
  google-cloud-firestore/test/google/cloud/firestore/query/cursors_test.rb
  google-cloud-firestore/test/google/cloud/firestore/query/get_test.rb
Labels: api: firestore, cla: yes

#2208 Remove skip in conformance tests
  google-cloud-firestore/test/google/cloud/firestore/conformance_test.rb
Labels: api: firestore, cla: yes, testing
