Repository googleapis/google-cloud-ruby, pull requests merged in 2018-05, with the labels that each got.

#2069 Add Parquet support to BigQuery
  acceptance/data/us-states.parquet
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/convert.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_load_job_storage_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_load_storage_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/load_job_updater_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_load_job_storage_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_load_storage_test.rb
Labels: api: bigquery, cla: yes

#2068 Facilitate partial file downloads
  google-cloud-storage/acceptance/storage/file_test.rb
  google-cloud-storage/lib/google/cloud/storage/file.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/support/doctest_helper.rb
  google-cloud-storage/test/google/cloud/storage/file_test.rb
Labels: api: storage, cla: yes

#2064 labels should be instance_of?(::String) as per Protobuf expectation
  google-cloud-trace/lib/google/cloud/trace/notifications.rb
  google-cloud-trace/test/google/cloud/trace/notifications_test.rb
  google-cloud-trace/test/helper.rb
Labels: api: trace, cla: yes

#2071 Fixed Kubernetes Engine names in some methods, and implemented an alternate mechanism to get the kubernetes namespace
  google-cloud-env/lib/google/cloud/env.rb
  google-cloud-env/test/google/cloud/env_test.rb
Labels: cla: yes

#2078 Generate redis
  Gemfile
  google-cloud-redis/.gitignore
  google-cloud-redis/.rubocop.yml
  google-cloud-redis/.yardopts
  google-cloud-redis/Gemfile
  google-cloud-redis/LICENSE
  google-cloud-redis/README.md
  google-cloud-redis/Rakefile
  google-cloud-redis/docs/toc.json
  google-cloud-redis/google-cloud-redis.gemspec
  google-cloud-redis/lib/google/cloud/redis.rb
  google-cloud-redis/lib/google/cloud/redis/credentials.rb
  google-cloud-redis/lib/google/cloud/redis/v1beta1.rb
  google-cloud-redis/lib/google/cloud/redis/v1beta1/cloud_redis_client.rb
  google-cloud-redis/lib/google/cloud/redis/v1beta1/cloud_redis_client_config.json
  google-cloud-redis/lib/google/cloud/redis/v1beta1/cloud_redis_pb.rb
  google-cloud-redis/lib/google/cloud/redis/v1beta1/cloud_redis_services_pb.rb
  google-cloud-redis/lib/google/cloud/redis/v1beta1/doc/google/cloud/redis/v1beta1/cloud_redis.rb
  google-cloud-redis/lib/google/cloud/redis/v1beta1/doc/google/protobuf/any.rb
  google-cloud-redis/lib/google/cloud/redis/v1beta1/doc/google/protobuf/field_mask.rb
  google-cloud-redis/lib/google/cloud/redis/v1beta1/doc/google/protobuf/timestamp.rb
  google-cloud-redis/lib/google/cloud/redis/v1beta1/doc/google/rpc/status.rb
  google-cloud-redis/lib/google/cloud/redis/v1beta1/doc/overview.rb
  google-cloud-redis/test/google/cloud/redis/v1beta1/cloud_redis_client_test.rb
Labels: api: redis, cla: no

#2059 Storage KMS encryption key support
  acceptance/data/abc.txt
  google-cloud-storage/acceptance/storage/bucket_encryption_test.rb
  google-cloud-storage/acceptance/storage/file_encryption_test.rb
  google-cloud-storage/acceptance/storage/file_test.rb
  google-cloud-storage/acceptance/storage_helper.rb
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
  google-cloud-storage/lib/google/cloud/storage/file.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/support/doctest_helper.rb
  google-cloud-storage/test/google/cloud/storage/bucket_encryption_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_test.rb
  google-cloud-storage/test/google/cloud/storage/file_test.rb
  google-cloud-storage/test/google/cloud/storage/file_update_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/file_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/file_update_test.rb
  google-cloud-storage/test/google/cloud/storage/project_test.rb
  google-cloud-storage/test/helper.rb
Labels: api: storage, cla: yes

#2086 Update README
  README.md
Labels: cla: yes

#2090 Guard against GCS rate limits
  google-cloud-bigquery/acceptance/bigquery/dataset_reference_test.rb
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery/location_test.rb
  google-cloud-bigquery/acceptance/bigquery/query_external_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_external_test.rb
  google-cloud-bigquery/acceptance/bigquery_helper.rb
  google-cloud-speech/acceptance/speech/async_test.rb
  google-cloud-speech/acceptance/speech/sync_test.rb
  google-cloud-speech/acceptance/speech_helper.rb
  google-cloud-storage/acceptance/storage/bucket_acl_test.rb
  google-cloud-storage/acceptance/storage/bucket_default_acl_test.rb
  google-cloud-storage/acceptance/storage/bucket_encryption_test.rb
  google-cloud-storage/acceptance/storage/bucket_notification_test.rb
  google-cloud-storage/acceptance/storage/bucket_requester_pays_test.rb
  google-cloud-storage/acceptance/storage/bucket_test.rb
  google-cloud-storage/acceptance/storage/buckets_test.rb
  google-cloud-storage/acceptance/storage/file_acl_test.rb
  google-cloud-storage/acceptance/storage/file_encryption_test.rb
  google-cloud-storage/acceptance/storage/file_test.rb
  google-cloud-storage/acceptance/storage/files_test.rb
  google-cloud-storage/acceptance/storage_helper.rb
  google-cloud-vision/acceptance/vision/vision_test.rb
  google-cloud-vision/acceptance/vision_helper.rb
Labels: api: bigquery, api: speech, api: storage, api: vision, cla: yes, testing

#2089 Capture env["rack.exception"] errors from Rack env
  google-cloud-error_reporting/lib/google/cloud/error_reporting/middleware.rb
  google-cloud-error_reporting/test/google/cloud/error_reporting/middleware_test.rb
Labels: api: error reporting, cla: yes, type: feature request

#2083 Storage: Protect against duplicate members on a Policy role
  google-cloud-storage/lib/google/cloud/storage/policy.rb
  google-cloud-storage/test/google/cloud/storage/policy_test.rb
Labels: api: storage, cla: yes, iam

#2061 BigQuery: Load and dump schema from/to a file
  acceptance/data/schema.json
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/schema.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/schema/field.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/support/doctest_helper.rb
  google-cloud-bigquery/test/data
  google-cloud-bigquery/test/google/cloud/bigquery/schema_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_schema_test.rb
Labels: api: bigquery, cla: yes

#2093 Defer starting debugger agents created by middleware
  google-cloud-debugger/lib/google/cloud/debugger/middleware.rb
  google-cloud-debugger/lib/google/cloud/debugger/rails.rb
  google-cloud-debugger/test/google/cloud/debugger/middleware_test.rb
Labels: api: debugger, cla: yes

#2105 Storage: Custom error message
  google-cloud-storage/acceptance/storage/file_test.rb
Labels: api: storage, cla: yes, testing

#2094 Add documentation for enabling gRPC logging
  google-cloud-bigquery-data_transfer/README.md
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer.rb
  google-cloud-bigtable/README.md
  google-cloud-bigtable/lib/google/cloud/bigtable.rb
  google-cloud-container/README.md
  google-cloud-container/lib/google/cloud/container.rb
  google-cloud-dataproc/README.md
  google-cloud-dataproc/lib/google/cloud/dataproc.rb
  google-cloud-datastore/README.md
  google-cloud-datastore/lib/google/cloud/datastore.rb
  google-cloud-debugger/README.md
  google-cloud-debugger/lib/google/cloud/debugger.rb
  google-cloud-dialogflow/README.md
  google-cloud-dialogflow/lib/google/cloud/dialogflow.rb
  google-cloud-dlp/README.md
  google-cloud-dlp/lib/google/cloud/dlp.rb
  google-cloud-error_reporting/README.md
  google-cloud-error_reporting/lib/google/cloud/error_reporting.rb
  google-cloud-firestore/README.md
  google-cloud-firestore/lib/google/cloud/firestore.rb
  google-cloud-language/README.md
  google-cloud-language/lib/google/cloud/language.rb
  google-cloud-logging/README.md
  google-cloud-logging/lib/google/cloud/logging.rb
  google-cloud-monitoring/README.md
  google-cloud-monitoring/lib/google/cloud/monitoring.rb
  google-cloud-os_login/README.md
  google-cloud-os_login/lib/google/cloud/os_login.rb
  google-cloud-pubsub/README.md
  google-cloud-pubsub/lib/google/cloud/pubsub.rb
  google-cloud-redis/README.md
  google-cloud-redis/lib/google/cloud/redis.rb
  google-cloud-spanner/README.md
  google-cloud-spanner/lib/google/cloud/spanner.rb
  google-cloud-speech/README.md
  google-cloud-speech/lib/google/cloud/speech.rb
  google-cloud-trace/README.md
  google-cloud-trace/lib/google/cloud/trace.rb
  google-cloud-translate/README.md
  google-cloud-translate/lib/google/cloud/translate.rb
  google-cloud-video_intelligence/README.md
  google-cloud-video_intelligence/lib/google/cloud/video_intelligence.rb
  google-cloud-vision/README.md
  google-cloud-vision/lib/google/cloud/vision.rb
  stackdriver/README.md
Labels: cla: yes, do not merge, documentation, grpc

#2100 Generate tasks v2beta2
  Gemfile
  google-cloud-tasks/.gitignore
  google-cloud-tasks/.rubocop.yml
  google-cloud-tasks/.yardopts
  google-cloud-tasks/Gemfile
  google-cloud-tasks/LICENSE
  google-cloud-tasks/README.md
  google-cloud-tasks/Rakefile
  google-cloud-tasks/docs/toc.json
  google-cloud-tasks/google-cloud-tasks.gemspec
  google-cloud-tasks/lib/google/cloud/tasks.rb
  google-cloud-tasks/lib/google/cloud/tasks/credentials.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/cloud_tasks_client.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/cloud_tasks_client_config.json
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/cloudtasks_pb.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/cloudtasks_services_pb.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/cloud/tasks/v2beta2/queue.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/cloud/tasks/v2beta2/target.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/cloud/tasks/v2beta2/task.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/iam/v1/policy.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/protobuf/any.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/protobuf/duration.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/protobuf/field_mask.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/protobuf/timestamp.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/google/rpc/status.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/doc/overview.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/queue_pb.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/target_pb.rb
  google-cloud-tasks/lib/google/cloud/tasks/v2beta2/task_pb.rb
  google-cloud-tasks/test/google/cloud/tasks/v2beta2/cloud_tasks_client_test.rb
Labels: cla: yes

#2109 Spanner: Code Examples
  google-cloud-spanner/lib/google/cloud/spanner/fields.rb
  google-cloud-spanner/lib/google/cloud/spanner/results.rb
Labels: api: spanner, cla: yes, documentation

#2111 Update RELEASING.MD
  RELEASING.md
Labels: cla: yes, documentation

#2110 Release google-cloud-tasks 0.1.0
  README.md
  Rakefile
  docs/manifest.json
  gcloud/Gemfile
  google-cloud-tasks/CHANGELOG.md
  google-cloud/Gemfile
  google-cloud/docs/toc.json
  google-cloud/google-cloud.gemspec
Labels: cla: yes

#2113 Release google-cloud v0.54.0
  docs/manifest.json
  google-cloud/CHANGELOG.md
Labels: cla: yes

#2114 update version in version.rb
  google-cloud/lib/google/cloud/version.rb
Labels: cla: yes
