Repository googleapis/google-cloud-ruby, pull requests merged in 2018-03, with the labels that each got.

#1988 Document and check for unsupported Ruby versions
  README.md
  gcloud/README.md
  google-cloud-bigquery/README.md
  google-cloud-bigtable/README.md
  google-cloud-container/README.md
  google-cloud-core/README.md
  google-cloud-core/lib/google/cloud.rb
  google-cloud-dataproc/README.md
  google-cloud-datastore/README.md
  google-cloud-debugger/README.md
  google-cloud-dlp/README.md
  google-cloud-dns/README.md
  google-cloud-env/README.md
  google-cloud-error_reporting/README.md
  google-cloud-firestore/README.md
  google-cloud-language/README.md
  google-cloud-logging/README.md
  google-cloud-monitoring/README.md
  google-cloud-os_login/README.md
  google-cloud-pubsub/README.md
  google-cloud-resource_manager/README.md
  google-cloud-spanner/README.md
  google-cloud-speech/README.md
  google-cloud-storage/README.md
  google-cloud-trace/README.md
  google-cloud-translate/README.md
  google-cloud-video_intelligence/README.md
  google-cloud-vision/README.md
  google-cloud/README.md
  stackdriver-core/README.md
  stackdriver/README.md
Labels: api: core, cla: yes

#1992 Update Ruby version warning and allow suppression
  google-cloud-core/lib/google/cloud.rb
Labels: api: core, cla: yes

#1961 Bigtable admin api wrapper
  google-cloud-bigtable/.gitignore
  google-cloud-bigtable/.rubocop.yml
  google-cloud-bigtable/Gemfile
  google-cloud-bigtable/google-cloud-bigtable.gemspec
  google-cloud-bigtable/lib/google-cloud-bigtable.rb
  google-cloud-bigtable/lib/google/cloud/bigtable.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance_admin_client.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table_admin_client.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance_admin_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table_admin_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/v2/bigtable_client_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable_test.rb
  google-cloud-bigtable/test/test_helper.rb
Labels: cla: yes

#1995 BigQuery: Remove unused service.query_config method
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
Labels: api: bigquery, cla: yes, type: cleanup

#1998 Pub/Sub Subscriber Thread Fix
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/enumerator_queue.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
Labels: api: pubsub, cla: yes, type: bug

#1996 Generate Bigquery Data Transfer
  Gemfile
  google-cloud-bigquery-data_transfer/.gitignore
  google-cloud-bigquery-data_transfer/.rubocop.yml
  google-cloud-bigquery-data_transfer/.yardopts
  google-cloud-bigquery-data_transfer/Gemfile
  google-cloud-bigquery-data_transfer/LICENSE
  google-cloud-bigquery-data_transfer/README.md
  google-cloud-bigquery-data_transfer/Rakefile
  google-cloud-bigquery-data_transfer/acceptance/google/cloud/bigquery/data_transfer/v1/data_transfer_service_smoke_test.rb
  google-cloud-bigquery-data_transfer/docs/toc.json
  google-cloud-bigquery-data_transfer/google-cloud-bigquery-data_transfer.gemspec
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/credentials.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/data_transfer_pb.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/data_transfer_service_client.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/data_transfer_service_client_config.json
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/data_transfer_services_pb.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/doc/google/cloud/bigquery/data_transfer/v1/data_transfer.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/doc/google/cloud/bigquery/data_transfer/v1/transfer.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/doc/google/protobuf/any.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/doc/google/protobuf/duration.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/doc/google/protobuf/field_mask.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/doc/google/protobuf/struct.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/doc/google/protobuf/timestamp.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/doc/google/protobuf/wrappers.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/doc/google/rpc/status.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/doc/overview.rb
  google-cloud-bigquery-data_transfer/lib/google/cloud/bigquery/data_transfer/v1/transfer_pb.rb
  google-cloud-bigquery-data_transfer/test/google/cloud/bigquery/data_transfer/v1/data_transfer_service_client_test.rb
Labels: cla: yes

#2003 BigQuery: Add QueryJob::Updater class
  google-cloud-bigquery/lib/google/cloud/bigquery/convert.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/project.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
Labels: api: bigquery, cla: yes

#2000 BigQuery: Allow loading data from a list of URLs
  google-cloud-bigquery/acceptance/bigquery/dataset_reference_test.rb
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_reference_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/support/doctest_helper.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_load_job_storage_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_load_storage_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_load_job_storage_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_load_storage_test.rb
  google-cloud-bigquery/test/helper.rb
Labels: api: bigquery, cla: yes

#2009 Version and documentation updates for v2 release
  Rakefile
  google-cloud-dlp/README.md
  google-cloud-dlp/docs/toc.json
  google-cloud/docs/toc.json
Labels: cla: yes

#2014 BigQuery: Add ExtractJob::Updater
  google-cloud-bigquery/lib/google/cloud/bigquery/convert.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/extract_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
Labels: api: bigquery, cla: yes

#2015 BigQuery: Add CopyJob::Updater class.
  google-cloud-bigquery/lib/google/cloud/bigquery/copy_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
Labels: cla: yes

#2019 Spanner commit_timestamp
  google-cloud-spanner/acceptance/spanner/client/commit_timestamp_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/timestamp_test.rb
  google-cloud-spanner/acceptance/spanner_helper.rb
  google-cloud-spanner/lib/google/cloud/spanner/client.rb
  google-cloud-spanner/lib/google/cloud/spanner/column_value.rb
  google-cloud-spanner/lib/google/cloud/spanner/convert.rb
  google-cloud-spanner/lib/google/cloud/spanner/transaction.rb
  google-cloud-spanner/support/doctest_helper.rb
  google-cloud-spanner/test/google/cloud/spanner/client/commit_field_values_test.rb
  google-cloud-spanner/test/google/cloud/spanner/client/commit_timestamp.rb
  google-cloud-spanner/test/google/cloud/spanner/column_value_test.rb
  google-cloud-spanner/test/google/cloud/spanner/transaction/commit_timestamp.rb
Labels: api: spanner, cla: yes, type: feature request

#2016 BigQuery: Add encryption properties to jobs classes.
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery/query_destination_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/copy_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/encryption_configuration.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/project.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/support/doctest_helper.rb
  google-cloud-bigquery/test/google/cloud/bigquery/encryption_configuration_test.rb
Labels: api: bigquery, cla: yes, type: feature request

#2022 BigQuery Job Updaters and EncryptionConfiguration
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery/query_destination_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/convert.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/copy_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/encryption_configuration.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/extract_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/project.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/support/doctest_helper.rb
  google-cloud-bigquery/test/google/cloud/bigquery/encryption_configuration_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/load_job_updater_test.rb
Labels: api: bigquery, cla: yes

#2026 Add tests for BigQuery Job Updaters
  google-cloud-bigquery/acceptance/bigquery/bigquery_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_query_job_updater_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_copy_job_updater_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_extract_job_updater_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_load_job_updater_storage_test.rb
  google-cloud-bigquery/test/helper.rb
Labels: api: bigquery, cla: yes, testing

#2031 Fix Schema::Field type helpers
  google-cloud-bigquery/lib/google/cloud/bigquery/schema/field.rb
  google-cloud-bigquery/test/google/cloud/bigquery/schema_test.rb
Labels: api: bigquery, cla: yes, type: bug

#2030 Pub/Sub: Recover from GRPC::Core::CallError
  google-cloud-pubsub/lib/google/cloud/pubsub/async_publisher.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/async_pusher.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/test/google/cloud/pubsub/async_publisher_test.rb
  google-cloud-pubsub/test/helper.rb
Labels: api: pubsub, cla: yes, type: bug
