Repository googleapis/google-cloud-ruby, pull requests merged in 2021-12, with the labels that each got.

#16101 samples(storage): add samples for bucket notifications
  google-cloud-storage/samples/acceptance/notification_test.rb
  google-cloud-storage/samples/storage_create_bucket_notifications.rb
  google-cloud-storage/samples/storage_delete_bucket_notification.rb
  google-cloud-storage/samples/storage_list_bucket_notifications.rb
Labels: cla: yes, api: storage, samples

#16105 chore: Delete obsolete rake tasks and yard templates
  .rubocop_root.yml
  .toys/synth.rb
  Rakefile
  rakelib/devsite/devsite_builder.rb
  rakelib/devsite/gem_version_doc.rb
  rakelib/devsite/repo_doc_common.rb
  rakelib/devsite/repo_metadata.rb
  rakelib/devsite/yard_builder.rb
  rakelib/kokoro/command.rb
  rakelib/kokoro/kokoro.rb
  rakelib/link_transformer.rb
  template/default/class_example.yml
  template/default/fulldoc/yaml/full_list.erb
  template/default/fulldoc/yaml/setup.rb
  template/default/layout/yaml/_constant.erb
  template/default/layout/yaml/_method.erb
  template/default/layout/yaml/_object.erb
  template/default/layout/yaml/_reference.erb
  template/default/layout/yaml/format.rb
  template/default/layout/yaml/layout.erb
  template/default/layout/yaml/method.rb
  template/default/layout/yaml/setup.rb
  template/default/toc/yaml/setup.rb
  template/default/toc/yaml/toc.erb
  template/default/toc_example.yml
  test/link_transformer_test.rb
  test/test_helper.rb
Labels: cla: yes

#16113 chore: Script to precreate temporary access restrictions for cloud-rad
  .toys/rad/restrict-access.rb
Labels: cla: yes

#16109 feat: Initial generation of google-cloud-ids-v1
  google-cloud-ids-v1/.OwlBot.yaml
  google-cloud-ids-v1/.gitignore
  google-cloud-ids-v1/.owlbot-manifest.json
  google-cloud-ids-v1/.repo-metadata.json
  google-cloud-ids-v1/.rubocop.yml
  google-cloud-ids-v1/.yardopts
  google-cloud-ids-v1/.yardopts-cloudrad
  google-cloud-ids-v1/AUTHENTICATION.md
  google-cloud-ids-v1/CHANGELOG.md
  google-cloud-ids-v1/Gemfile
  google-cloud-ids-v1/LICENSE.md
  google-cloud-ids-v1/README.md
  google-cloud-ids-v1/Rakefile
  google-cloud-ids-v1/gapic_metadata.json
  google-cloud-ids-v1/google-cloud-ids-v1.gemspec
  google-cloud-ids-v1/lib/google-cloud-ids-v1.rb
  google-cloud-ids-v1/lib/google/cloud/ids/v1.rb
  google-cloud-ids-v1/lib/google/cloud/ids/v1/ids.rb
  google-cloud-ids-v1/lib/google/cloud/ids/v1/ids/client.rb
  google-cloud-ids-v1/lib/google/cloud/ids/v1/ids/credentials.rb
  google-cloud-ids-v1/lib/google/cloud/ids/v1/ids/operations.rb
  google-cloud-ids-v1/lib/google/cloud/ids/v1/ids/paths.rb
  google-cloud-ids-v1/lib/google/cloud/ids/v1/ids_pb.rb
  google-cloud-ids-v1/lib/google/cloud/ids/v1/ids_services_pb.rb
  google-cloud-ids-v1/lib/google/cloud/ids/v1/version.rb
  google-cloud-ids-v1/proto_docs/README.md
  google-cloud-ids-v1/proto_docs/google/api/field_behavior.rb
  google-cloud-ids-v1/proto_docs/google/api/resource.rb
  google-cloud-ids-v1/proto_docs/google/cloud/ids/v1/ids.rb
  google-cloud-ids-v1/proto_docs/google/longrunning/operations.rb
  google-cloud-ids-v1/proto_docs/google/protobuf/any.rb
  google-cloud-ids-v1/proto_docs/google/protobuf/duration.rb
  google-cloud-ids-v1/proto_docs/google/protobuf/empty.rb
  google-cloud-ids-v1/proto_docs/google/protobuf/field_mask.rb
  google-cloud-ids-v1/proto_docs/google/protobuf/timestamp.rb
  google-cloud-ids-v1/proto_docs/google/rpc/status.rb
  google-cloud-ids-v1/snippets/Gemfile
  google-cloud-ids-v1/snippets/ids/create_endpoint.rb
  google-cloud-ids-v1/snippets/ids/delete_endpoint.rb
  google-cloud-ids-v1/snippets/ids/get_endpoint.rb
  google-cloud-ids-v1/snippets/ids/list_endpoints.rb
  google-cloud-ids-v1/test/google/cloud/ids/v1/ids_operations_test.rb
  google-cloud-ids-v1/test/google/cloud/ids/v1/ids_paths_test.rb
  google-cloud-ids-v1/test/google/cloud/ids/v1/ids_test.rb
  google-cloud-ids-v1/test/helper.rb
Labels: cla: yes

#16110 feat: Initial generation of google-cloud-ids
  google-cloud-ids/.OwlBot.yaml
  google-cloud-ids/.gitignore
  google-cloud-ids/.owlbot-manifest.json
  google-cloud-ids/.repo-metadata.json
  google-cloud-ids/.rubocop.yml
  google-cloud-ids/.yardopts
  google-cloud-ids/.yardopts-cloudrad
  google-cloud-ids/AUTHENTICATION.md
  google-cloud-ids/CHANGELOG.md
  google-cloud-ids/Gemfile
  google-cloud-ids/LICENSE.md
  google-cloud-ids/README.md
  google-cloud-ids/Rakefile
  google-cloud-ids/google-cloud-ids.gemspec
  google-cloud-ids/lib/google-cloud-ids.rb
  google-cloud-ids/lib/google/cloud/ids.rb
  google-cloud-ids/lib/google/cloud/ids/version.rb
  google-cloud-ids/test/google/cloud/ids/client_test.rb
  google-cloud-ids/test/google/cloud/ids/version_test.rb
  google-cloud-ids/test/helper.rb
Labels: cla: yes

#16108 feat: Initial generation of google-cloud-vm_migration
  google-cloud-vm_migration/.OwlBot.yaml
  google-cloud-vm_migration/.gitignore
  google-cloud-vm_migration/.owlbot-manifest.json
  google-cloud-vm_migration/.repo-metadata.json
  google-cloud-vm_migration/.rubocop.yml
  google-cloud-vm_migration/.yardopts
  google-cloud-vm_migration/.yardopts-cloudrad
  google-cloud-vm_migration/AUTHENTICATION.md
  google-cloud-vm_migration/CHANGELOG.md
  google-cloud-vm_migration/Gemfile
  google-cloud-vm_migration/LICENSE.md
  google-cloud-vm_migration/README.md
  google-cloud-vm_migration/Rakefile
  google-cloud-vm_migration/google-cloud-vm_migration.gemspec
  google-cloud-vm_migration/lib/google-cloud-vm_migration.rb
  google-cloud-vm_migration/lib/google/cloud/vm_migration.rb
  google-cloud-vm_migration/lib/google/cloud/vm_migration/version.rb
  google-cloud-vm_migration/test/google/cloud/vm_migration/client_test.rb
  google-cloud-vm_migration/test/google/cloud/vm_migration/version_test.rb
  google-cloud-vm_migration/test/helper.rb
Labels: cla: yes

#16127 chore: auto-assign issues to new Spanner owner
  .github/blunderbuss.yml
Labels: api: spanner

#16162 docs(firestore): Fix samples/CONTRIBUTING.md
  google-cloud-firestore/samples/CONTRIBUTING.md
Labels: api: firestore, samples

#16161 docs(bigquery): Update CONTRIBUTING.md
  google-cloud-bigquery/CONTRIBUTING.md
  google-cloud-bigquery/samples/CONTRIBUTING.md
Labels: api: bigquery

#13157 feat(spanner): use gRPC clients for instance/database management
  google-cloud-spanner/OVERVIEW.md
  google-cloud-spanner/README.md
  google-cloud-spanner/lib/google/cloud/spanner/backup.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/job/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/backup/restore/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/database.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/backup_info.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/job/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/database/restore_info.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/config.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/config/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/job.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance/list.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
Labels: cla: yes, api: spanner, automerge

#16152 feat(spanner): benchwrapper and proto updated.
  google-cloud-spanner/benchmark/benchwrapper/benchwrapper.rb
  google-cloud-spanner/benchmark/benchwrapper/spanner.proto
  google-cloud-spanner/benchmark/benchwrapper/spanner_pb.rb
  google-cloud-spanner/benchmark/benchwrapper/spanner_services_pb.rb
Labels: api: spanner

#16181 test(firestore): Update conformance tests
  google-cloud-firestore/conformance/v1/proto/google/cloud/conformance/firestore/v1/tests.proto
  google-cloud-firestore/conformance/v1/query-cursor-startafter-docsnap.json
  google-cloud-firestore/conformance/v1/validator.go
Labels: api: firestore

#16180 docs(datastore): Update CONTRIBUTING.md
  google-cloud-datastore/CONTRIBUTING.md
  google-cloud-datastore/samples/CONTRIBUTING.md
Labels: api: datastore

#13955 tests: add tests for int64 field, capital letter field
  google-cloud-compute-v1/acceptance/google/cloud/compute/v1/firewalls_smoke_test.rb
  google-cloud-compute-v1/acceptance/google/cloud/compute/v1/images_smoke_test.rb
Labels: cla: yes, api: compute

#16188 docs(bigtable): Update CONTRIBUTING.md
  google-cloud-bigtable/CONTRIBUTING.md
  google-cloud-bigtable/samples/CONTRIBUTING.md
Labels: api: bigtable

#16364 docs(pubsub): Update CONTRIBUTING.md
  google-cloud-pubsub/CONTRIBUTING.md
  google-cloud-pubsub/samples/CONTRIBUTING.md
Labels: api: pubsub

#16366 feat(spanner): new environment variable to pass down to docker container
  .trampolinerc
Labels: api: spanner

#16367 chore(pubsub): Fix samples schema test
  google-cloud-pubsub/samples/acceptance/schemas_test.rb
Labels: api: pubsub, samples

#16361 samples(storage): remove unspecified sample.
  google-cloud-storage/samples/storage_set_public_access_prevention_unspecified.rb
Labels: api: storage, samples

#16363 docs(pubsub): Update LOGGING.md
  google-cloud-pubsub/LOGGING.md
  google-cloud-pubsub/OVERVIEW.md
Labels: api: pubsub

#16374 feat(spanner): Allowing env var TRAMPOLINE_VERBOSE to docker container.
  .trampolinerc
Labels: api: spanner

#16375 feat(spanner): Revert allowing env var TRAMPOLINE_VERBOSE to docker container.
  .trampolinerc
Labels: api: spanner

#16116 fix(bigquery): Update #ddl? to support ALTER TABLE
  google-cloud-bigquery/acceptance/bigquery/dataset_ddl_dml_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/data.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/test/google/cloud/bigquery/data_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_query_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/query_job_test.rb
Labels: cla: yes, api: bigquery

#13279 chore: Add Rake task for running rubocop against inline doc samples
  google-cloud-bigtable/.gitignore
  google-cloud-bigtable/.rubocop_yard_examples.yml
  google-cloud-bigtable/Rakefile
Labels: cla: yes, api: bigtable, samples
