Repository googleapis/google-cloud-ruby, pull requests merged in 2022-10, with the labels that each got.

#19221 feat(pubsub): support bigquery subscription
  google-cloud-pubsub/lib/google/cloud/pubsub/subscription.rb
  google-cloud-pubsub/samples/Gemfile
  google-cloud-pubsub/samples/acceptance/helper.rb
  google-cloud-pubsub/samples/acceptance/subscriptions_test.rb
  google-cloud-pubsub/samples/pubsub_create_bigquery_subscription.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/attrs_test.rb
Labels: api: pubsub

#19272 chore(pubsub): cleanup subscriptions after test run
  google-cloud-pubsub/samples/acceptance/subscriptions_test.rb
Labels: api: pubsub

#19279 docs(live_stream): Add Live Stream samples and tests
  google-cloud-video-live_stream/samples/acceptance/create_channel_event_test.rb
  google-cloud-video-live_stream/samples/acceptance/create_channel_with_backup_input_test.rb
  google-cloud-video-live_stream/samples/acceptance/delete_channel_event_test.rb
  google-cloud-video-live_stream/samples/acceptance/event_definition.rb
  google-cloud-video-live_stream/samples/acceptance/get_channel_event_test.rb
  google-cloud-video-live_stream/samples/acceptance/helper.rb
  google-cloud-video-live_stream/samples/acceptance/list_channel_events_test.rb
  google-cloud-video-live_stream/samples/create_channel_event.rb
  google-cloud-video-live_stream/samples/create_channel_with_backup_input.rb
  google-cloud-video-live_stream/samples/delete_channel_event.rb
  google-cloud-video-live_stream/samples/get_channel_event.rb
  google-cloud-video-live_stream/samples/list_channel_events.rb
Labels: samples

#19286 chore(pubsub): fix flow controller test
  google-cloud-pubsub/test/google/cloud/pubsub/flow_controller_test.rb
Labels: api: pubsub

#19285 fix(logging): update list logs response
  google-cloud-logging/lib/google/cloud/logging/service.rb
  google-cloud-logging/test/google/cloud/logging/project/list_logs_test.rb
Labels: api: logging

#19317 tests(pubsub): Don't use openstruct for dummy credentials
  google-cloud-pubsub/test/google/cloud/pubsub/service_test.rb
Labels: api: pubsub

#19116 feat(spanner): support pg jsonb
  acceptance/data/fixtures.rb
  google-cloud-spanner/acceptance/spanner/client/params/pgjsonb_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/pgjsonb_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/convert.rb
  google-cloud-spanner/test/google/cloud/spanner/convert/grpc_type_for_field_test.rb
Labels: api: spanner

#19333 docs(stitcher): Add Video Stitcher samples and tests
  google-cloud-video-stitcher/samples/Gemfile
  google-cloud-video-stitcher/samples/Rakefile
  google-cloud-video-stitcher/samples/acceptance/create_slate_test.rb
  google-cloud-video-stitcher/samples/acceptance/delete_slate_test.rb
  google-cloud-video-stitcher/samples/acceptance/get_slate_test.rb
  google-cloud-video-stitcher/samples/acceptance/helper.rb
  google-cloud-video-stitcher/samples/acceptance/list_slates_test.rb
  google-cloud-video-stitcher/samples/acceptance/slate_definition.rb
  google-cloud-video-stitcher/samples/acceptance/update_slate_test.rb
  google-cloud-video-stitcher/samples/create_slate.rb
  google-cloud-video-stitcher/samples/delete_slate.rb
  google-cloud-video-stitcher/samples/get_slate.rb
  google-cloud-video-stitcher/samples/list_slates.rb
  google-cloud-video-stitcher/samples/update_slate.rb
Labels: samples
