Repository googleapis/google-cloud-ruby, pull requests merged in 2022-07, with the labels that each got.

#18567 chore(dialogflow): Include owlbot hacks for location mixin
  google-cloud-dialogflow-v2/.owlbot.rb
  google-cloud-dialogflow/.owlbot.rb
Labels: api: dialogflow

#18438 chore(storage): use apiary code for download and remove redundancy
  google-cloud-storage/google-cloud-storage.gemspec
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage/file_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/file_test.rb
  google-cloud-storage/test/google/cloud/storage/project_anonymous_test.rb
Labels: api: storage

#18835 docs(firestore): Fix typo in data model reference
  google-cloud-firestore/OVERVIEW.md
Labels: api: firestore

#18395 feat(pubsub): retry transient failures in ack/modack in timed unary buffer
  google-cloud-pubsub/Gemfile
  google-cloud-pubsub/google-cloud-pubsub.gemspec
  google-cloud-pubsub/lib/google/cloud/pubsub/service.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/timed_unary_buffer.rb
  google-cloud-pubsub/test/google/cloud/pubsub/service_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/timed_unary_buffer_test.rb
Labels: api: pubsub

#18843 chore(dataplex): Update owlbot config to know about location and iam_policy mixins
  google-cloud-dataplex-v1/.owlbot.rb
  google-cloud-dataplex/.owlbot.rb
Labels: api: dataplex

#18870 chore(kms): Fixes for new Rubocop version
  google-cloud-kms/samples/snippets.rb
Labels: api: cloudkms

#18869 feat(dns): Update minimum Ruby version to 2.6
  google-cloud-dns/README.md
  google-cloud-dns/google-cloud-dns.gemspec
  google-cloud-dns/lib/google/cloud/dns/change.rb
  google-cloud-dns/lib/google/cloud/dns/zone.rb
  google-cloud-dns/test/google/cloud/dns/project_test.rb
  google-cloud-dns/test/google/cloud/dns/zone_import_export_test.rb
  google-cloud-dns/test/google/cloud/dns/zone_test.rb
Labels: api: dns

#18876 chore(kms): Move iam_policy factory to a helper ahead of removing the generated method
  google-cloud-kms/lib/google/cloud/kms/helpers.rb
Labels: api: cloudkms

#18893 chore(kms): Test for preserved IAM client factory
  google-cloud-kms/lib/google/cloud/kms/helpers.rb
  google-cloud-kms/test/google/cloud/kms/client_helper_test.rb
Labels: api: cloudkms

#18898 chore(bigtable): Fix tests for pre-Ruby 3 and minitest 5.16
  google-cloud-bigtable/lib/google/cloud/bigtable/service.rb
  google-cloud-bigtable/test/google/cloud/bigtable/conformance_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/create_table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/create_table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/row_reader/read_rows_state_machine_acceptance_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/check_and_mutate_row_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/mutate_row_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/mutate_rows_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/read_modify_write_row_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/read_rows_test.rb
Labels: api: bigtable

#18824 samples(pubsub): create exactly once delivery enabled subscription
  google-cloud-pubsub/lib/google/cloud/pubsub/service.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/topic.rb
  google-cloud-pubsub/samples/acceptance/subscriptions_test.rb
  google-cloud-pubsub/samples/pubsub_create_subscription_with_exactly_once_delivery.rb
  google-cloud-pubsub/test/helper.rb
Labels: api: pubsub, samples

#18862 feat(storage): Add support for dual region gcs buckets
  google-cloud-storage/acceptance/storage/bucket_test.rb
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
  google-cloud-storage/lib/google/cloud/storage/project.rb
  google-cloud-storage/samples/acceptance/buckets_test.rb
  google-cloud-storage/samples/storage_create_bucket_dual_region.rb
Labels: api: storage
