Repository googleapis/google-cloud-ruby, pull requests merged in 2022-11, with the labels that each got.

#19390 chore(firestore): updating obsolete region tag
  google-cloud-firestore/samples/get_data.rb
  google-cloud-firestore/samples/order_limit_data.rb
Labels: api: firestore

#19367 samples(stitcher): Add Video Stitcher samples and tests
  google-cloud-video-stitcher/samples/acceptance/akamai_cdn_key_definition.rb
  google-cloud-video-stitcher/samples/acceptance/cloud_cdn_key_definition.rb
  google-cloud-video-stitcher/samples/acceptance/create_cdn_key_test.rb
  google-cloud-video-stitcher/samples/acceptance/delete_cdn_key_test.rb
  google-cloud-video-stitcher/samples/acceptance/get_cdn_key_test.rb
  google-cloud-video-stitcher/samples/acceptance/helper.rb
  google-cloud-video-stitcher/samples/acceptance/list_cdn_keys_test.rb
  google-cloud-video-stitcher/samples/acceptance/update_cdn_key_test.rb
  google-cloud-video-stitcher/samples/create_cdn_key.rb
  google-cloud-video-stitcher/samples/delete_cdn_key.rb
  google-cloud-video-stitcher/samples/get_cdn_key.rb
  google-cloud-video-stitcher/samples/list_cdn_keys.rb
  google-cloud-video-stitcher/samples/update_cdn_key.rb
Labels: samples

#19398 chore(bigtable): delete table after test
  google-cloud-bigtable/acceptance/bigtable/backup_test.rb
  google-cloud-bigtable/acceptance/bigtable/table/drop_rows_test.rb
  google-cloud-bigtable/acceptance/bigtable_helper.rb
Labels: api: bigtable

#19410 chore(firestore): use exponential backoff for wait
  google-cloud-firestore/acceptance/firestore/watch_test.rb
  google-cloud-firestore/samples/query_watch.rb
  google-cloud-firestore/test/helper.rb
Labels: api: firestore

#19429 samples(stitcher): Add Video Stitcher samples and tests
  google-cloud-video-stitcher/samples/acceptance/create_live_session_test.rb
  google-cloud-video-stitcher/samples/acceptance/get_live_ad_tag_detail_test.rb
  google-cloud-video-stitcher/samples/acceptance/get_live_session_test.rb
  google-cloud-video-stitcher/samples/acceptance/helper.rb
  google-cloud-video-stitcher/samples/acceptance/list_live_ad_tag_details_test.rb
  google-cloud-video-stitcher/samples/acceptance/live_session_definition.rb
  google-cloud-video-stitcher/samples/create_live_session.rb
  google-cloud-video-stitcher/samples/get_live_ad_tag_detail.rb
  google-cloud-video-stitcher/samples/get_live_session.rb
  google-cloud-video-stitcher/samples/list_live_ad_tag_details.rb
Labels: samples

#19431 chore(translate_v2): fix acceptance tests
  google-cloud-translate-v2/acceptance/translate/translate_test.rb
Labels: api: translate

#19441 chore(monitoring): retry metric descriptor operations
  google-cloud-monitoring/samples/acceptance/metrics_test.rb
Labels: api: monitoring

#19456 fix(datastore): fixed request limit
  google-cloud-datastore/Gemfile
  google-cloud-datastore/acceptance/datastore/datastore_test.rb
  google-cloud-datastore/acceptance/datastore_helper.rb
  google-cloud-datastore/lib/google/cloud/datastore/dataset/query_results.rb
Labels: api: datastore

#19312 chore(storage): Add tests to cover empty string/file upload
  .github/workflows/storage-retry-conformance-test-against-emulator.yaml
  google-cloud-storage/acceptance/storage/file_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_test.rb
Labels: api: storage

#19467 samples(storage): Add Requester Pays Status Sample
  google-cloud-storage/samples/README.md
  google-cloud-storage/samples/acceptance/buckets_test.rb
  google-cloud-storage/samples/storage_get_requester_pays_status.rb
Labels: api: storage, samples

#19474 chore(bigquery): avoid reusing table variable
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
Labels: api: bigquery
