Repository googleapis/google-cloud-ruby, pull requests merged in 2022-12, with the labels that each got.

#19889 chore(trace): Fix rubocop warning
  google-cloud-trace/lib/google/cloud/trace.rb
Labels: api: cloudtrace

#19911 chore(bigquery): Updated unit test for partial table metadata view
  google-cloud-bigquery/test/google/cloud/bigquery/copy_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_insert_async_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_reference_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/extract_job_table_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/load_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/materialized_view_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/query_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_attributes_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_exists_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_external_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_reference_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_reference_update_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_reload_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_schema_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_update_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/view_attributes_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/view_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/view_update_test.rb
  google-cloud-bigquery/test/helper.rb
Labels: api: bigquery

#19466 fix(bigquery): Fix querying of array of structs in named parameters
  google-cloud-bigquery/acceptance/bigquery/named_params_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/convert.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_query_named_params_test.rb
Labels: api: bigquery

#19457 feat(firestore): Support query count for Firestore
  google-cloud-firestore/acceptance/firestore/aggregate_query_test.rb
  google-cloud-firestore/lib/google/cloud/firestore/aggregate_query.rb
  google-cloud-firestore/lib/google/cloud/firestore/aggregate_query_snapshot.rb
  google-cloud-firestore/lib/google/cloud/firestore/query.rb
  google-cloud-firestore/lib/google/cloud/firestore/service.rb
  google-cloud-firestore/lib/google/cloud/firestore/transaction.rb
  google-cloud-firestore/test/google/cloud/firestore/aggregate_query/get_test.rb
Labels: api: firestore

#19872 feat(bigquery): Add support for partial projection of table metadata
  google-cloud-bigquery/acceptance/bigquery/dataset_reference_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/acceptance/bigquery_helper.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/copy_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/extract_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/test/google/cloud/bigquery/copy_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_insert_async_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/extract_job_table_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/load_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/query_job_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_reload_test.rb
  google-cloud-bigquery/test/helper.rb
Labels: api: bigquery
