Repository googleapis/google-cloud-ruby, pull requests merged in 2022-02, with the labels that each got.

#17277 docs(storage): Update the RPO sample output.
  google-cloud-storage/samples/storage_set_rpo_default.rb
Labels: api: storage, samples

#17276 sample(storage): Add samples for storage upload and reorganise existing ones
  google-cloud-storage/samples/acceptance/acls_test.rb
  google-cloud-storage/samples/acceptance/files_test.rb
  google-cloud-storage/samples/storage_add_bucket_default_owner.rb
  google-cloud-storage/samples/storage_add_bucket_owner.rb
  google-cloud-storage/samples/storage_add_file_owner.rb
  google-cloud-storage/samples/storage_download_file_into_memory.rb
  google-cloud-storage/samples/storage_print_bucket_acl.rb
  google-cloud-storage/samples/storage_print_bucket_acl_for_user.rb
  google-cloud-storage/samples/storage_print_file_acl.rb
  google-cloud-storage/samples/storage_print_file_acl_for_user.rb
  google-cloud-storage/samples/storage_remove_bucket_acl.rb
  google-cloud-storage/samples/storage_remove_bucket_default_acl.rb
  google-cloud-storage/samples/storage_remove_file_acl.rb
  google-cloud-storage/samples/storage_upload_from_memory.rb
Labels: samples

#17549 fix(spanner): pass quota_project_id from credentials
  google-cloud-spanner/lib/google/cloud/spanner.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/database.rb
  google-cloud-spanner/lib/google/cloud/spanner/admin/instance.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
  google-cloud-spanner/test/google/cloud/spanner/service_test.rb
  google-cloud-spanner/test/google/cloud/spanner_test.rb
Labels: api: spanner

#17650 chore(monitoring): Fix test case failures.
  google-cloud-monitoring/samples/acceptance/metrics_test.rb
Labels: samples

#17597 chore(sample): Add namespaces to storage ACL samples
  google-cloud-storage/samples/acceptance/acls_test.rb
  google-cloud-storage/samples/storage_add_bucket_default_owner.rb
  google-cloud-storage/samples/storage_add_bucket_owner.rb
  google-cloud-storage/samples/storage_add_file_owner.rb
  google-cloud-storage/samples/storage_print_bucket_acl.rb
  google-cloud-storage/samples/storage_print_bucket_acl_for_user.rb
  google-cloud-storage/samples/storage_print_file_acl.rb
  google-cloud-storage/samples/storage_print_file_acl_for_user.rb
  google-cloud-storage/samples/storage_remove_bucket_acl.rb
  google-cloud-storage/samples/storage_remove_bucket_default_acl.rb
  google-cloud-storage/samples/storage_remove_file_acl.rb
Labels: samples

#17662 sample(bigquery): Add a sample for bigquery legacy sql query
  google-cloud-bigquery/samples/snippets/acceptance/query_legacy_test.rb
  google-cloud-bigquery/samples/snippets/query_legacy.rb
Labels: api: bigquery, samples

#17691 chore(spanner): Add shell script to run benchwrapper ruby script within kokoro
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Labels: api: spanner

#17692 chore(spanner): [Benchmark] Change to relative path for benchwrapper script
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Labels: api: spanner

#17694 chore(spanner): [Benchmark] debugging why bundle install is failing in kokoro job
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Labels: api: spanner

#17697 chore(spanner): [benchmark] use env variable PROJECT_ROOT for right path of benchwrapper script
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
Labels: api: spanner
