Repository googleapis/google-cloud-ruby, pull requests merged in 2022-01, with the labels that each got.

#16378 feat(spanner): Change spanner emulator port from 8080 to 9010.
  google-cloud-spanner/benchmark/benchwrapper/README.md
Labels: api: spanner

#8611 fix(spanner): rubocop failing due to bundler vendor directory
  google-cloud-spanner/.rubocop.yml
Labels: cla: yes, api: spanner, type: process

#16376 samples(recaptcha): add sample for creating assessment
  google-cloud-recaptcha_enterprise/samples/.rubocop.yml
  google-cloud-recaptcha_enterprise/samples/Gemfile
  google-cloud-recaptcha_enterprise/samples/README.md
  google-cloud-recaptcha_enterprise/samples/Rakefile
  google-cloud-recaptcha_enterprise/samples/acceptance/create_assessment_test.rb
  google-cloud-recaptcha_enterprise/samples/acceptance/data/test_template.html
  google-cloud-recaptcha_enterprise/samples/recaptcha_enterprise_create_assessment.rb
Labels: samples

#16191 docs(transcoder): add code sample and test for concatenating two inpu…
  google-cloud-video-transcoder/samples/acceptance/data/ForBiggerEscapes.mp4
  google-cloud-video-transcoder/samples/acceptance/data/ForBiggerJoyrides.mp4
  google-cloud-video-transcoder/samples/acceptance/job_test.rb
  google-cloud-video-transcoder/samples/create_job_with_concatenated_inputs.rb
Labels: samples, api: transcoder

#14407 feat(storage): add support for RPO (turbo replication).
  google-cloud-storage/acceptance/storage/bucket_test.rb
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
  google-cloud-storage/lib/google/cloud/storage/project.rb
  google-cloud-storage/support/doctest_helper.rb
  google-cloud-storage/test/google/cloud/storage/bucket_rpo_test.rb
  google-cloud-storage/test/google/cloud/storage/project_test.rb
  google-cloud-storage/test/helper.rb
Labels: cla: yes, api: storage

#16028 samples(storage): Adding turbo replication samples.
  google-cloud-storage/samples/acceptance/acls_test.rb
  google-cloud-storage/samples/storage_create_bucket_turbo_replication.rb
  google-cloud-storage/samples/storage_get_rpo.rb
  google-cloud-storage/samples/storage_set_rpo_async_turbo.rb
  google-cloud-storage/samples/storage_set_rpo_default.rb
Labels: cla: yes, api: storage, samples

#16354 chore(compute): add firewall samples
  google-cloud-compute-v1/samples/acceptance/firewall_test.rb
  google-cloud-compute-v1/samples/acceptance/helper.rb
  google-cloud-compute-v1/samples/default_values.rb
  google-cloud-compute-v1/samples/firewall.rb
Labels: api: compute, samples

#17210 chore(firestore): Fix rubocop warning
  google-cloud-firestore/lib/google/cloud/firestore/service.rb
Labels: api: firestore

#16924 samples(recaptcha_enterprise): add samples for site key
  google-cloud-recaptcha_enterprise/samples/README.md
  google-cloud-recaptcha_enterprise/samples/acceptance/site_key_test.rb
  google-cloud-recaptcha_enterprise/samples/recaptcha_enterprise_create_site_key.rb
  google-cloud-recaptcha_enterprise/samples/recaptcha_enterprise_delete_site_key.rb
  google-cloud-recaptcha_enterprise/samples/recaptcha_enterprise_get_metrics_site_key.rb
  google-cloud-recaptcha_enterprise/samples/recaptcha_enterprise_get_site_key.rb
  google-cloud-recaptcha_enterprise/samples/recaptcha_enterprise_list_site_keys.rb
  google-cloud-recaptcha_enterprise/samples/recaptcha_enterprise_migrate_site_key.rb
  google-cloud-recaptcha_enterprise/samples/recaptcha_enterprise_update_site_key.rb
Labels: samples
