Repository googleapis/google-cloud-ruby, pull requests merged in 2022-06, with the labels that each got.

#18341 feat(pubsub): introduce min_duration_per_lease_extension
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/inventory.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/inventory_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/stream_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/listen_test.rb
Labels: api: pubsub

#18332 feat(storage): allow retry options to be configurable on client initialization
  google-cloud-storage/lib/google-cloud-storage.rb
  google-cloud-storage/lib/google/cloud/storage.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage_test.rb
Labels: api: storage

#18396 chore(pubsub): fix regression in minitest version 5.16.0
  google-cloud-pubsub/google-cloud-pubsub.gemspec
  google-cloud-pubsub/test/google/cloud/pubsub/project/schemas_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/project/snapshots_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/project/subscriptions_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/project/topics_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/received_message_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/schema/partial/schema_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/schema/reference/schema_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/schema/resource/schema_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/snapshot_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/acknowledge_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/attrs_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/delete_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/detach_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/exists_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/modify_ack_deadline_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/policy_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/pull_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/pull_wait_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/reload_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/seek_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription/update_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscription_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/attrs_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/exists_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/message_ordering_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/policy_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/publish_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/reload_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/subscribe_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/subscription_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/subscriptions_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/update_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic_test.rb
  google-cloud-pubsub/test/helper.rb
Labels: api: pubsub

#18423 chore(datastore): fix tests for compatibility with minitest 5.16
  google-cloud-datastore/test/google/cloud/datastore/dataset_test.rb
  google-cloud-datastore/test/google/cloud/datastore/lookup_results/find_all_test.rb
  google-cloud-datastore/test/google/cloud/datastore/query_results/all_test.rb
  google-cloud-datastore/test/google/cloud/datastore/query_results/all_with_more_test.rb
  google-cloud-datastore/test/google/cloud/datastore/query_results/all_with_offset_test.rb
  google-cloud-datastore/test/google/cloud/datastore/query_results_test.rb
  google-cloud-datastore/test/google/cloud/datastore/read_only_transaction_test.rb
  google-cloud-datastore/test/google/cloud/datastore/transaction_test.rb
Labels: api: datastore

#18427 chore(datastore): Upgrade minitest in gemspec of datastore
  google-cloud-datastore/google-cloud-datastore.gemspec
Labels: api: datastore

#18445 chore(debugger): Updates for compatibility with Minitest 5.16
  .toys/ci.rb
  google-cloud-debugger/google-cloud-debugger.gemspec
  google-cloud-debugger/test/google/cloud/debugger/breakpoint_test.rb
  google-cloud-debugger/test/google/cloud/debugger/middleware_test.rb
  google-cloud-debugger/test/google/cloud/debugger/transmitter_test.rb
Labels: api: clouddebugger

#18430 feature(storage): Support AbortIncompleteMultipartUpload LifecycleAction
  google-cloud-storage/acceptance/storage/bucket_test.rb
  google-cloud-storage/lib/google/cloud/storage/bucket/lifecycle.rb
Labels: api: storage

#18453 feat(bigtable): Updated minimum Ruby version to 2.6
  google-cloud-bigtable/README.md
  google-cloud-bigtable/google-cloud-bigtable.gemspec
  google-cloud-bigtable/lib/google/cloud/bigtable/column_family_map.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/project.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/service.rb
  google-cloud-bigtable/samples/filter_samples.rb
  google-cloud-bigtable/test/google/cloud/bigtable/app_profile/delete_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/app_profile/save_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/app_profile_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/backup/iam_policy_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/backup_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/cluster/backup_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/cluster/backups_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/cluster/create_backup_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/cluster/delete_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/cluster/save_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/cluster_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/column_family/modifications_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/app_profile_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/app_profiles_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/cluster_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/clusters_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/create_app_profile_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/create_cluster_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/create_table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/delete_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/iam_policy_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/save_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance/tables_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/instance_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/clusters_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/create_instance_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/create_table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/instance_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/instances_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/tables_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/column_families_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/delete_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/exists_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/iam_policy_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/read_rows_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/replication_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table/sample_row_keys_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table_test.rb
Labels: api: bigtable

#18455 feat(trace): Updated minimum Ruby version to 2.6
  google-cloud-trace/README.md
  google-cloud-trace/google-cloud-trace.gemspec
  google-cloud-trace/lib/google/cloud/trace/patches/call_with_trace.rb
  google-cloud-trace/lib/google/cloud/trace/rails.rb
  google-cloud-trace/test/google/cloud/trace/middleware_test.rb
  google-cloud-trace/test/google/cloud/trace/project_test.rb
Labels: api: cloudtrace

#18454 feat(spanner): Updated minimum Ruby version to 2.6
  google-cloud-spanner/README.md
  google-cloud-spanner/acceptance/spanner/client/large_data_test.rb
  google-cloud-spanner/acceptance/spanner/client/types/struct_test.rb
  google-cloud-spanner/google-cloud-spanner.gemspec
  google-cloud-spanner/lib/google/cloud/spanner/data.rb
  google-cloud-spanner/lib/google/cloud/spanner/database.rb
  google-cloud-spanner/lib/google/cloud/spanner/fields.rb
  google-cloud-spanner/lib/google/cloud/spanner/instance.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
Labels: api: spanner
