Repository googleapis/google-cloud-ruby, pull requests merged in 2022-09, with the labels that each got.

#19067 feat(spanner): Support fine grained access control
  google-cloud-spanner/acceptance/spanner/client/batch_update_test.rb
  google-cloud-spanner/acceptance/spanner/fine_grain_access_control_test.rb
  google-cloud-spanner/lib/google/cloud/spanner/client.rb
  google-cloud-spanner/lib/google/cloud/spanner/pool.rb
  google-cloud-spanner/lib/google/cloud/spanner/project.rb
  google-cloud-spanner/lib/google/cloud/spanner/service.rb
  google-cloud-spanner/test/google/cloud/spanner/project_test.rb
  google-cloud-spanner/test/google/cloud/spanner/service_test.rb
Labels: api: spanner

#19117 feat(storage): Update all patch bucket helper methods to accept preconditions
  google-cloud-storage/lib/google/cloud/storage/bucket/acl.rb
Labels: api: storage

#19124 chore(translate): fix acceptance tests
  google-cloud-translate/acceptance/translate_v2_smoke_test.rb
Labels: api: translate

#19136 chore: fix samples acceptance test
  google-cloud-asset/samples/acceptance/helper.rb
  google-cloud-asset/samples/acceptance/quickstart_test.rb
Labels: samples

#19102 docs(live_stream): Add Live Stream samples and tests
  google-cloud-video-live_stream/samples/Gemfile
  google-cloud-video-live_stream/samples/Rakefile
  google-cloud-video-live_stream/samples/acceptance/create_input_test.rb
  google-cloud-video-live_stream/samples/acceptance/delete_input_test.rb
  google-cloud-video-live_stream/samples/acceptance/get_input_test.rb
  google-cloud-video-live_stream/samples/acceptance/helper.rb
  google-cloud-video-live_stream/samples/acceptance/list_inputs_test.rb
  google-cloud-video-live_stream/samples/acceptance/update_input_test.rb
  google-cloud-video-live_stream/samples/create_input.rb
  google-cloud-video-live_stream/samples/delete_input.rb
  google-cloud-video-live_stream/samples/get_input.rb
  google-cloud-video-live_stream/samples/list_inputs.rb
  google-cloud-video-live_stream/samples/update_input.rb
Labels: samples

#19135 fix(storage): Correct options checks in retry operations
  google-cloud-storage/lib/google/cloud/storage/service.rb
Labels: api: storage

#19134 feat(storage): add retry support for non-idempotent operations
  google-cloud-storage/OVERVIEW.md
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/samples/acceptance/hmac_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_default_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_notification_test.rb
  google-cloud-storage/test/google/cloud/storage/file_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_default_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/file_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/project_hmac_keys_test.rb
Labels: api: storage

#19110 fix(storage): Update api for bucket update
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage/bucket_update_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_update_test.rb
  google-cloud-storage/test/helper.rb
Labels: api: storage

#19161 feat(storage): send invocation_id header in all requests
  google-cloud-storage/lib/google/cloud/storage/service.rb
Labels: api: storage

#19171 sample(storage): Add sample for configuring retries
  google-cloud-storage/samples/acceptance/retry_test.rb
  google-cloud-storage/samples/storage_configure_retries.rb
Labels: api: storage, samples

#18230 feat(storage): Add retry conformance test
  .github/workflows/storage-retry-conformance-test-against-emulator.yaml
  google-cloud-storage/Rakefile
  google-cloud-storage/conformance/README.md
  google-cloud-storage/conformance/v1/proto/google/cloud/conformance/storage/v1/tests.proto
  google-cloud-storage/conformance/v1/proto/google/cloud/conformance/storage/v1/tests_pb.rb
  google-cloud-storage/conformance/v1/retry_tests.json
  google-cloud-storage/google-cloud-storage.gemspec
  google-cloud-storage/test/google/cloud/storage/retry/conformance_test.rb
  google-cloud-storage/test/google/cloud/storage/retry/utils.rb
  google-cloud-storage/test/helper.rb
Labels: api: storage
