Repository googleapis/google-cloud-ruby, pull requests merged in 2022-08, with the labels that each got.

#18836 samples(pubsub): add sample for eos subscription with ack results
  google-cloud-pubsub/lib/google/cloud/pubsub/service.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/topic.rb
  google-cloud-pubsub/samples/acceptance/subscriptions_test.rb
  google-cloud-pubsub/samples/pubsub_subscriber_exactly_once.rb
Labels: api: pubsub, samples

#18953 fix(pubsub): honour async options of topic
  google-cloud-pubsub/lib/google/cloud/pubsub/project.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/topic.rb
  google-cloud-pubsub/test/google/cloud/pubsub/project_test.rb
Labels: api: pubsub

#18981 samples(storage): Update Dual-Region Bucket Creation Metadata
  google-cloud-storage/samples/acceptance/buckets_test.rb
  google-cloud-storage/samples/storage_create_bucket_dual_region.rb
Labels: api: storage, samples

#18983 feat(pubsub): bump the minimum required version of pubsub v1
  google-cloud-pubsub/google-cloud-pubsub.gemspec
Labels: api: pubsub

#19015 chore(spanner): fix issues with licensing
  acceptance/data/fixtures.rb
  acceptance/data/index.yaml
  google-cloud-spanner/LICENSE
  google-cloud-spanner/acceptance/spanner/batch_client/execute_partition_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/date_test.rb
  google-cloud-spanner/acceptance/spanner/client/params/timestamp_test.rb
  google-cloud-spanner/benchmark/benchwrapper/kokoro/benchwrapper.sh
  google-cloud-spanner/benchmark/benchwrapper/spanner_pb.rb
  google-cloud-spanner/test/google/cloud/spanner/service_test.rb
Labels: api: spanner

#18834 feat(storage): add support for conditional idempotent operations
  google-cloud-storage/OVERVIEW.md
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/samples/acceptance/hmac_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_compose_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_default_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_encryption_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_iam_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_lock_retention_policy_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_notification_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_public_access_prevention_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_rpo_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_uniform_bucket_level_access_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_update_test.rb
  google-cloud-storage/test/google/cloud/storage/file_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/file_test.rb
  google-cloud-storage/test/google/cloud/storage/file_update_test.rb
  google-cloud-storage/test/google/cloud/storage/hmac_key_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_default_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_iam_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_update_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/file_acl_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/file_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/file_update_test.rb
  google-cloud-storage/test/google/cloud/storage/notification_test.rb
  google-cloud-storage/test/google/cloud/storage/project_anonymous_test.rb
  google-cloud-storage/test/google/cloud/storage/project_hmac_keys_test.rb
  google-cloud-storage/test/google/cloud/storage/project_test.rb
  google-cloud-storage/test/helper.rb
Labels: api: storage
