Repository googleapis/google-cloud-ruby, pull requests merged in 2023-04, with the labels that each got.

#21002 feat(datastore): Support OR filter
  google-cloud-datastore/acceptance/datastore/datastore_test.rb
  google-cloud-datastore/lib/google/cloud/datastore/dataset.rb
  google-cloud-datastore/lib/google/cloud/datastore/filter.rb
  google-cloud-datastore/lib/google/cloud/datastore/query.rb
  google-cloud-datastore/test/google/cloud/datastore/filter_test.rb
  google-cloud-datastore/test/google/cloud/datastore/query_test.rb
Labels: api: datastore

#21431 fix(pubsub): wait for successful receipt modack when exactly once delivery enabled
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/stream_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/timed_unary_buffer_test.rb
Labels: api: pubsub

#20920 feat(firestore): Add support for OR query
  google-cloud-firestore/acceptance/firestore/query_test.rb
  google-cloud-firestore/lib/google/cloud/firestore/client.rb
  google-cloud-firestore/lib/google/cloud/firestore/filter.rb
  google-cloud-firestore/lib/google/cloud/firestore/query.rb
  google-cloud-firestore/test/google/cloud/firestore/client/filter_test.rb
  google-cloud-firestore/test/google/cloud/firestore/filter_test.rb
  google-cloud-firestore/test/google/cloud/firestore/query/where/filter_test.rb
Labels: api: firestore

#21444 chore(scheduler): update region tag typo
  google-cloud-scheduler/samples/app.rb
  google-cloud-scheduler/samples/app.yaml
  google-cloud-scheduler/samples/create_job.rb
  google-cloud-scheduler/samples/delete_job.rb
Labels: api: cloudscheduler

#21488 chore(datastore): Add a missing type so cloud-rad doesn't complain
  google-cloud-datastore/lib/google/cloud/datastore/dataset.rb
Labels: api: datastore

#21495 chore(datastore): Refactor unit tests for AggregateQuery
  google-cloud-datastore/lib/google/cloud/datastore/aggregate_query.rb
  google-cloud-datastore/test/google/cloud/aggregate_query_test.rb
Labels: api: datastore
