Repository googleapis/google-cloud-ruby, pull requests merged in 2023-05, with the labels that each got.

#21426 feat(firestore): Added support for bulk writer
  google-cloud-firestore/acceptance/firestore/bulkwriter_test.rb
  google-cloud-firestore/acceptance/firestore/document_test.rb
  google-cloud-firestore/lib/google/cloud/firestore/bulk_commit_batch.rb
  google-cloud-firestore/lib/google/cloud/firestore/bulk_writer.rb
  google-cloud-firestore/lib/google/cloud/firestore/bulk_writer_exception.rb
  google-cloud-firestore/lib/google/cloud/firestore/bulk_writer_operation.rb
  google-cloud-firestore/lib/google/cloud/firestore/bulk_writer_scheduler.rb
  google-cloud-firestore/lib/google/cloud/firestore/client.rb
  google-cloud-firestore/lib/google/cloud/firestore/errors.rb
  google-cloud-firestore/lib/google/cloud/firestore/promise/future.rb
  google-cloud-firestore/lib/google/cloud/firestore/rate_limiter.rb
  google-cloud-firestore/lib/google/cloud/firestore/service.rb
  google-cloud-firestore/test/google/cloud/firestore/bulkwriter/create_test.rb
  google-cloud-firestore/test/google/cloud/firestore/bulkwriter/delete_test.rb
  google-cloud-firestore/test/google/cloud/firestore/bulkwriter/set_test.rb
  google-cloud-firestore/test/google/cloud/firestore/bulkwriter/update_test.rb
  google-cloud-firestore/test/google/cloud/firestore/bulkwriter_test.rb
  google-cloud-firestore/test/google/cloud/firestore/concurrent_test.rb
  google-cloud-firestore/test/google/cloud/firestore/rate_limiter_test.rb
  google-cloud-firestore/test/helper.rb
  grafeas-v1/snippets/snippet_metadata_grafeas.v1.json
Labels: api: firestore

#20136 feat(storage): Added support for configurable upload chunk
  google-cloud-storage/lib/google-cloud-storage.rb
  google-cloud-storage/lib/google/cloud/storage.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage_test.rb
  google-cloud-storage/test/helper.rb
Labels: api: storage

#21540 feat(bigquery): Added support for default value expression
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/schema.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/schema/field.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_load_job_schema_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_schema_test.rb
Labels: api: bigquery

#21609 test(monitoring): Try not to hide the actual failure for a test flake
  google-cloud-monitoring/samples/acceptance/metrics_test.rb
Labels: api: monitoring

#21616 fix(bigquery): ensure schema for data parsing
  google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb
  google-cloud-bigquery/test/google/cloud/bigquery/query_job_data_test.rb
Labels: api: bigquery

#21667 chore(samples): Pub/Sub samples split
  google-cloud-pubsub/samples/acceptance/schemas_test.rb
  google-cloud-pubsub/samples/acceptance/subscriptions_test.rb
  google-cloud-pubsub/samples/acceptance/topics_test.rb
  google-cloud-pubsub/samples/pubsub_create_avro_schema.rb
  google-cloud-pubsub/samples/pubsub_create_proto_schema.rb
  google-cloud-pubsub/samples/pubsub_create_pull_subscription.rb
  google-cloud-pubsub/samples/pubsub_create_push_subscription.rb
  google-cloud-pubsub/samples/pubsub_create_topic.rb
  google-cloud-pubsub/samples/pubsub_create_topic_with_schema.rb
  google-cloud-pubsub/samples/pubsub_dead_letter_create_subscription.rb
  google-cloud-pubsub/samples/pubsub_dead_letter_delivery_attempt.rb
  google-cloud-pubsub/samples/pubsub_dead_letter_remove.rb
  google-cloud-pubsub/samples/pubsub_dead_letter_update_subscription.rb
  google-cloud-pubsub/samples/pubsub_delete_schema.rb
  google-cloud-pubsub/samples/pubsub_delete_subscription.rb
  google-cloud-pubsub/samples/pubsub_delete_topic.rb
  google-cloud-pubsub/samples/pubsub_detach_subscription.rb
  google-cloud-pubsub/samples/pubsub_enable_subscription_ordering.rb
  google-cloud-pubsub/samples/pubsub_get_schema.rb
  google-cloud-pubsub/samples/pubsub_get_subscription_policy.rb
  google-cloud-pubsub/samples/pubsub_get_topic_policy.rb
  google-cloud-pubsub/samples/pubsub_list_schemas.rb
  google-cloud-pubsub/samples/pubsub_list_subscriptions.rb
  google-cloud-pubsub/samples/pubsub_list_topic_subscriptions.rb
  google-cloud-pubsub/samples/pubsub_list_topics.rb
  google-cloud-pubsub/samples/pubsub_publish.rb
  google-cloud-pubsub/samples/pubsub_publish_avro_records.rb
  google-cloud-pubsub/samples/pubsub_publish_custom_attributes.rb
  google-cloud-pubsub/samples/pubsub_publish_proto_messages.rb
  google-cloud-pubsub/samples/pubsub_publish_with_error_handler.rb
  google-cloud-pubsub/samples/pubsub_publish_with_ordering_keys.rb
  google-cloud-pubsub/samples/pubsub_publisher_batch_settings.rb
  google-cloud-pubsub/samples/pubsub_publisher_concurrency_control.rb
  google-cloud-pubsub/samples/pubsub_publisher_flow_control.rb
  google-cloud-pubsub/samples/pubsub_quickstart_publisher.rb
  google-cloud-pubsub/samples/pubsub_resume_publish_with_ordering_keys.rb
  google-cloud-pubsub/samples/pubsub_set_subscription_policy.rb
  google-cloud-pubsub/samples/pubsub_set_topic_policy.rb
  google-cloud-pubsub/samples/pubsub_subscribe_avro_records.rb
  google-cloud-pubsub/samples/pubsub_subscribe_proto_messages.rb
  google-cloud-pubsub/samples/pubsub_subscriber_async_pull.rb
  google-cloud-pubsub/samples/pubsub_subscriber_async_pull_custom_attributes.rb
  google-cloud-pubsub/samples/pubsub_subscriber_concurrency_control.rb
  google-cloud-pubsub/samples/pubsub_subscriber_error_listener.rb
  google-cloud-pubsub/samples/pubsub_subscriber_flow_settings.rb
  google-cloud-pubsub/samples/pubsub_subscriber_sync_pull.rb
  google-cloud-pubsub/samples/pubsub_subscriber_sync_pull_with_lease.rb
  google-cloud-pubsub/samples/pubsub_test_subscription_permissions.rb
  google-cloud-pubsub/samples/pubsub_test_topic_permissions.rb
  google-cloud-pubsub/samples/pubsub_update_push_configuration.rb
Labels: samples

#21670 sample(pubsub): update publish with ordering key
  google-cloud-pubsub/samples/topics.rb
Labels: api: pubsub, samples

#21690 chore(samples): updated sample changes made to original files before the split
  google-cloud-pubsub/samples/pubsub_publish_with_ordering_keys.rb
Labels: samples
