Repository googleapis/google-cloud-ruby, pull requests merged in 2023-03, with the labels that each got.

#20587 chore(automl): Ensure backward compatibility when the auto_ml factory method name changes
  google-cloud-automl/.owlbot-manifest.json
  google-cloud-automl/lib/google/cloud/automl/helpers.rb
Labels: api: automl

#20390 chore(storage): storage benchmark script
  google-cloud-storage/.toys/benchmark/Gemfile
  google-cloud-storage/.toys/benchmark/README.md
  google-cloud-storage/.toys/benchmark/perform.rb
Labels: api: storage

#20871 docs(samples): Added Quickstart for Document AI
  google-cloud-document_ai/samples/Gemfile
  google-cloud-document_ai/samples/README.md
  google-cloud-document_ai/samples/Rakefile
  google-cloud-document_ai/samples/acceptance/data/invoice.pdf
  google-cloud-document_ai/samples/acceptance/quickstart_test.rb
  google-cloud-document_ai/samples/quickstart.rb
Labels: samples

#20913 fix(pubsub): make batch handle publish interval
  google-cloud-pubsub/acceptance/pubsub/schema_test.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/async_publisher/batch.rb
  google-cloud-pubsub/test/google/cloud/pubsub/async_publisher/batch_test.rb
Labels: api: pubsub
