Repository googleapis/google-cloud-ruby, pull requests merged in 2023-01, with the labels that each got.

#19442 feat(bigquery): Added support for authorized dataset
  google-cloud-bigquery/acceptance/bigquery/dataset_access_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset/access.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/samples/snippets/acceptance/authorized_dataset_test.rb
  google-cloud-bigquery/samples/snippets/authorized_dataset.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_access_test.rb
Labels: api: bigquery

#19350 feat(bigquery): Added support for tags in dataset
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset/tag.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset/tag_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_attributes_test.rb
  google-cloud-bigquery/test/helper.rb
Labels: api: bigquery

#19910 feat(Pubsub): support publisher compression
  google-cloud-pubsub/lib/google/cloud/pubsub/async_publisher.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/async_publisher/batch.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/batch_publisher.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/project.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/service.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/topic.rb
  google-cloud-pubsub/test/google/cloud/pubsub/async_publisher_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/batch_publisher_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/project/topics_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/project_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/service_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/message_ordering_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic/publish_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub/topic_test.rb
  google-cloud-pubsub/test/helper.rb
Labels: api: pubsub

#19916 sample(pubsub): publisher compression sample
  google-cloud-pubsub/samples/Gemfile
  google-cloud-pubsub/samples/acceptance/helper.rb
  google-cloud-pubsub/samples/acceptance/topics_test.rb
  google-cloud-pubsub/samples/pubsub_publisher_with_compression.rb
Labels: api: pubsub, samples

#19851 feat(firestore): Added support for read time
  google-cloud-firestore/acceptance/firestore/collection_group_test.rb
  google-cloud-firestore/acceptance/firestore/collection_test.rb
  google-cloud-firestore/acceptance/firestore/document_test.rb
  google-cloud-firestore/acceptance/firestore/firestore_test.rb
  google-cloud-firestore/acceptance/firestore/query_test.rb
  google-cloud-firestore/acceptance/firestore/transaction_test.rb
  google-cloud-firestore/lib/google/cloud/firestore/client.rb
  google-cloud-firestore/lib/google/cloud/firestore/collection_group.rb
  google-cloud-firestore/lib/google/cloud/firestore/collection_reference.rb
  google-cloud-firestore/lib/google/cloud/firestore/collection_reference_list.rb
  google-cloud-firestore/lib/google/cloud/firestore/document_reference.rb
  google-cloud-firestore/lib/google/cloud/firestore/document_reference/list.rb
  google-cloud-firestore/lib/google/cloud/firestore/query.rb
  google-cloud-firestore/lib/google/cloud/firestore/service.rb
  google-cloud-firestore/lib/google/cloud/firestore/transaction.rb
  google-cloud-firestore/test/google/cloud/firestore/client/cols_test.rb
  google-cloud-firestore/test/google/cloud/firestore/client/get_all_test.rb
  google-cloud-firestore/test/google/cloud/firestore/client/transaction_test.rb
  google-cloud-firestore/test/google/cloud/firestore/collection_group_test.rb
  google-cloud-firestore/test/google/cloud/firestore/collection_reference/list_documents_test.rb
  google-cloud-firestore/test/google/cloud/firestore/document_reference/cols_test.rb
  google-cloud-firestore/test/google/cloud/firestore/query/get_test.rb
  google-cloud-firestore/test/helper.rb
Labels: api: firestore
