Repository googleapis/google-cloud-ruby, pull requests merged in 2023-02, with the labels that each got.

#20057 chore(storage): Added method for setting custom headers
  google-cloud-storage/lib/google/cloud/storage/project.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage/project_test.rb
Labels: api: storage

#20039 feat(datastore): Support query count for Datastore
  google-cloud-datastore/acceptance/datastore/aggregate_query_test.rb
  google-cloud-datastore/lib/google/cloud/datastore/aggregate_query.rb
  google-cloud-datastore/lib/google/cloud/datastore/dataset.rb
  google-cloud-datastore/lib/google/cloud/datastore/dataset/aggregate_query_results.rb
  google-cloud-datastore/lib/google/cloud/datastore/query.rb
  google-cloud-datastore/lib/google/cloud/datastore/read_only_transaction.rb
  google-cloud-datastore/lib/google/cloud/datastore/service.rb
  google-cloud-datastore/test/google/cloud/aggregate_query_test.rb
  google-cloud-datastore/test/google/cloud/datastore/read_only_transaction_test.rb
Labels: api: datastore

#20082 fix(firestore): Change "aggregate_alias" to optional param
  google-cloud-firestore/acceptance/firestore/aggregate_query_test.rb
  google-cloud-firestore/lib/google/cloud/firestore/aggregate_query.rb
  google-cloud-firestore/lib/google/cloud/firestore/aggregate_query_snapshot.rb
  google-cloud-firestore/lib/google/cloud/firestore/transaction.rb
  google-cloud-firestore/test/google/cloud/firestore/aggregate_query/get_test.rb
Labels: api: firestore

#20116 chore(bigquery): Correct typo in a unit test
  google-cloud-bigquery/test/google/cloud/bigquery/project_query_named_params_test.rb
Labels: api: bigquery, automerge

#20038 feat(datastore): Added support for multiple database
  google-cloud-datastore/acceptance/datastore/datastore_test.rb
  google-cloud-datastore/acceptance/datastore/service_test.rb
  google-cloud-datastore/acceptance/datastore_helper.rb
  google-cloud-datastore/lib/google-cloud-datastore.rb
  google-cloud-datastore/lib/google/cloud/datastore.rb
  google-cloud-datastore/lib/google/cloud/datastore/dataset.rb
  google-cloud-datastore/lib/google/cloud/datastore/key.rb
  google-cloud-datastore/lib/google/cloud/datastore/service.rb
  google-cloud-datastore/test/google/cloud/aggregate_query_test.rb
  google-cloud-datastore/test/google/cloud/datastore/dataset_test.rb
  google-cloud-datastore/test/google/cloud/datastore/lookup_results/find_all_test.rb
  google-cloud-datastore/test/google/cloud/datastore/query_results/all_test.rb
  google-cloud-datastore/test/google/cloud/datastore/query_results/all_with_more_test.rb
  google-cloud-datastore/test/google/cloud/datastore/query_results/all_with_offset_test.rb
  google-cloud-datastore/test/google/cloud/datastore/query_results_test.rb
  google-cloud-datastore/test/google/cloud/datastore/read_only_transaction_test.rb
  google-cloud-datastore/test/google/cloud/datastore/transaction_test.rb
  google-cloud-datastore/test/google/cloud/datastore_test.rb
  google-cloud-datastore/test/helper.rb
Labels: api: datastore

#20029 feat(firestore): Added support for multiple databases
  google-cloud-firestore/acceptance/firestore/collection_test.rb
  google-cloud-firestore/acceptance/firestore_helper.rb
  google-cloud-firestore/lib/google-cloud-firestore.rb
  google-cloud-firestore/lib/google/cloud/firestore.rb
  google-cloud-firestore/lib/google/cloud/firestore/client.rb
  google-cloud-firestore/lib/google/cloud/firestore/service.rb
  google-cloud-firestore/test/google/cloud/firestore/client_test.rb
  google-cloud-firestore/test/google/cloud/firestore_test.rb
  google-cloud-firestore/test/helper.rb
Labels: api: firestore

#19422 feat(datastore): Added support for snapshot read
  google-cloud-datastore/acceptance/datastore/aggregate_query_test.rb
  google-cloud-datastore/acceptance/datastore/datastore_test.rb
  google-cloud-datastore/acceptance/datastore_helper.rb
  google-cloud-datastore/lib/google/cloud/datastore/dataset.rb
  google-cloud-datastore/lib/google/cloud/datastore/dataset/lookup_results.rb
  google-cloud-datastore/lib/google/cloud/datastore/dataset/query_results.rb
  google-cloud-datastore/lib/google/cloud/datastore/read_only_transaction.rb
  google-cloud-datastore/lib/google/cloud/datastore/service.rb
  google-cloud-datastore/test/google/cloud/aggregate_query_test.rb
  google-cloud-datastore/test/google/cloud/datastore/dataset_test.rb
  google-cloud-datastore/test/google/cloud/datastore/lookup_results/find_all_test.rb
  google-cloud-datastore/test/google/cloud/datastore/query_results/all_test.rb
  google-cloud-datastore/test/helper.rb
Labels: api: datastore

#20433 fix(firestore): update version of firestore-v1 in gemspec
  google-cloud-firestore/google-cloud-firestore.gemspec
Labels: api: firestore

#20485 docs(pubsub): Correct default value for streams
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscription.rb
Labels: api: pubsub

#20446 feat(firestore): Support REST transport
  google-cloud-firestore/Rakefile
  google-cloud-firestore/acceptance/firestore/aggregate_query_test.rb
  google-cloud-firestore/acceptance/firestore/document_test.rb
  google-cloud-firestore/acceptance/firestore/firestore_test.rb
  google-cloud-firestore/acceptance/firestore/service_test.rb
  google-cloud-firestore/acceptance/firestore/watch_test.rb
  google-cloud-firestore/acceptance/init_grpc.rb
  google-cloud-firestore/acceptance/init_rest.rb
  google-cloud-firestore/google-cloud-firestore.gemspec
  google-cloud-firestore/lib/google-cloud-firestore.rb
  google-cloud-firestore/lib/google/cloud/firestore.rb
  google-cloud-firestore/lib/google/cloud/firestore/service.rb
  google-cloud-firestore/samples/Rakefile
  google-cloud-firestore/samples/acceptance/get_data_test.rb
  google-cloud-firestore/samples/acceptance/init_grpc.rb
  google-cloud-firestore/samples/acceptance/init_rest.rb
  google-cloud-firestore/samples/acceptance/query_watch_test.rb
  google-cloud-firestore/test/google/cloud/firestore_test.rb
Labels: api: firestore
