Repository googleapis/google-cloud-ruby, pull requests merged in 2023-11, with the labels that each got.

#23483 feat(storage): adding autoclass v2.1 features
  google-cloud-storage/acceptance/storage/bucket_test.rb
  google-cloud-storage/google-cloud-storage.gemspec
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
  google-cloud-storage/samples/acceptance/buckets_test.rb
  google-cloud-storage/samples/storage_get_autoclass.rb
  google-cloud-storage/samples/storage_set_autoclass.rb
  google-cloud-storage/test/google/cloud/storage/bucket_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_update_test.rb
  google-cloud-storage/test/helper.rb
Labels: api: storage

#23508 fix(pubsub): set x-goog-request-params for streaming pull request
  google-cloud-pubsub/lib/google/cloud/pubsub/service.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/subscriber/stream.rb
Labels: api: pubsub

#23510 chore(storage): fix failing acceptance test for storage
  google-cloud-storage/acceptance/storage/bucket_test.rb
Labels: api: storage

#23499 docs(samples): Add Vertex AI Text Prompt Sample
  google-cloud-ai_platform/samples/Gemfile
  google-cloud-ai_platform/samples/Rakefile
  google-cloud-ai_platform/samples/acceptance/predict_text_prompt_test.rb
  google-cloud-ai_platform/samples/predict_text_prompt.rb
  google-cloud-ai_platform/test/README.md
  google-cloud-document_ai/samples/quickstart.rb
Labels: samples
