Repository googleapis/google-cloud-ruby, pull requests merged in 2023-09, with the labels that each got.

#22827 chore(firestore): Refactor unit tests for AggregateQuery
  google-cloud-firestore/acceptance/firestore/aggregate_query_test.rb
  google-cloud-firestore/lib/google/cloud/firestore/aggregate_query.rb
  google-cloud-firestore/lib/google/cloud/firestore/transaction.rb
  google-cloud-firestore/test/google/cloud/firestore/aggregate_query/get_test.rb
Labels: api: firestore

#22884 feat(datastore): Support sum & avg aggregate functions
  google-cloud-datastore/acceptance/datastore/aggregate_query_test.rb
  google-cloud-datastore/lib/google/cloud/datastore/aggregate_query.rb
  google-cloud-datastore/lib/google/cloud/datastore/dataset/aggregate_query_results.rb
  google-cloud-datastore/test/google/cloud/aggregate_query_test.rb
Labels: api: datastore

#22747 feat(bigtable): Add support for channel pooling
  google-cloud-bigtable/.rubocop.yml
  google-cloud-bigtable/acceptance/bigtable/service_test.rb
  google-cloud-bigtable/acceptance/bigtable_helper.rb
  google-cloud-bigtable/google-cloud-bigtable.gemspec
  google-cloud-bigtable/lib/google-cloud-bigtable.rb
  google-cloud-bigtable/lib/google/cloud/bigtable.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/convert.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/instance.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/project.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/service.rb
  google-cloud-bigtable/lib/google/cloud/bigtable/table.rb
  google-cloud-bigtable/test/google/cloud/bigtable/convert_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/project/table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable/table_test.rb
  google-cloud-bigtable/test/google/cloud/bigtable_test.rb
  google-cloud-bigtable/test/helper.rb
Labels: api: bigtable

#23320 feat(bigquery): support load job with session
  .toys/owlbot.rb
  google-cloud-bigquery/acceptance/bigquery/bigquery_test.rb
  google-cloud-bigquery/acceptance/bigquery/dataset_test.rb
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/load_job.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/project.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_load_local_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_load_job_local_test.rb
  google-cloud-bigquery/test/helper.rb
Labels: api: bigquery
