Repository googleapis/google-cloud-ruby, pull requests merged in 2023-06, with the labels that each got.

#21949 chore(pubsub): remove old samples
  google-cloud-pubsub/samples/schemas.rb
  google-cloud-pubsub/samples/subscriptions.rb
  google-cloud-pubsub/samples/topics.rb
Labels: api: pubsub, samples

#22401 docs(translate): Fix documentation reference
  google-cloud-translate/README.md
Labels: api: translate

#22437 test(pubsub): increase retry count to give time for modack
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/stream_test.rb
Labels: api: pubsub
