Repository googleapis/google-cloud-ruby, pull requests merged in 2023-07, with the labels that each got.

#22480 docs(scc-samples): update comments to add new resource types
  google-cloud-security_center/samples/notification.rb
Labels: samples, blunderbuss: assign

#22529 test(pubsub): Get rid of more flakes due to overly strict retry count
  google-cloud-pubsub/test/google/cloud/pubsub/subscriber/timed_unary_buffer_test.rb
Labels: api: pubsub

#22528 chore(bigtable): fix acceptance test cleanup
  google-cloud-bigtable/acceptance/bigtable/backup_test.rb
  google-cloud-bigtable/acceptance/bigtable/column_family_test.rb
  google-cloud-bigtable/acceptance/bigtable/encryption_test.rb
  google-cloud-bigtable/acceptance/bigtable/table_test.rb
  google-cloud-bigtable/acceptance/bigtable_helper.rb
Labels: api: bigtable

#22545 chore(tasks): Owlbot postprocessor fixes
  google-cloud-tasks-v2/.owlbot.rb
  google-cloud-tasks-v2beta2/.owlbot.rb
  google-cloud-tasks-v2beta3/.owlbot.rb
Labels: api: cloudtasks

#22582 samples: add batch mode sample and test
  google-cloud-video-transcoder/samples/acceptance/job_test.rb
  google-cloud-video-transcoder/samples/create_job_from_preset_batch_mode.rb
Labels: samples

#22633 tests(video-live_stream): Fix flake in list_channels sample test
  google-cloud-video-live_stream/samples/acceptance/list_channels_test.rb
Labels: samples

#22632 tests(pubsub): Fix a test compatibility issue with minitest 5.19
  google-cloud-pubsub/test/google/cloud/pubsub/service_test.rb
Labels: api: pubsub
