Repository googleapis/google-cloud-ruby, pull requests merged in 2024-06, with the labels that each got.

#26038 samples: Update exceptions for invalid queries
  google-cloud-datastore/samples/acceptance/sample_queries_test.rb
Labels: samples

#26021 samples(storage-control): add folders samples
  google-cloud-storage-control/samples/acceptance/helper.rb
  google-cloud-storage-control/samples/acceptance/storage_control_folders_test.rb
  google-cloud-storage-control/samples/storage_control_create_folder.rb
  google-cloud-storage-control/samples/storage_control_delete_folder.rb
  google-cloud-storage-control/samples/storage_control_get_folder.rb
  google-cloud-storage-control/samples/storage_control_list_folders.rb
  google-cloud-storage-control/samples/storage_control_rename_folder.rb
Labels: samples

#26020 samples(storage): create bucket with HNS configuration enabled
  google-cloud-storage/samples/acceptance/buckets_test.rb
  google-cloud-storage/samples/storage_create_bucket_hierarchical_namespace.rb
Labels: api: storage, samples

#25999 chore(video-stitcher): Change samples tests to account for multiple projects
  google-cloud-video-stitcher/samples/acceptance/list_cdn_keys_test.rb
  google-cloud-video-stitcher/samples/acceptance/list_live_configs_test.rb
  google-cloud-video-stitcher/samples/acceptance/list_slates_test.rb
Labels: samples, api: videostitcher

#26158 samples(storage): add samples for object retention
  google-cloud-storage/samples/acceptance/buckets_test.rb
  google-cloud-storage/samples/storage_create_bucket_with_object_retention.rb
  google-cloud-storage/samples/storage_set_object_retention_policy.rb
Labels: api: storage, samples
