Repository googleapis/google-cloud-ruby, pull requests merged in 2024-01, with the labels that each got.

#23706 chore(asset): retry for empty dataset resource response
  google-cloud-asset/samples/Gemfile
  google-cloud-asset/samples/acceptance/helper.rb
  google-cloud-asset/samples/acceptance/quickstart_test.rb
Labels: api: cloudasset

#23729 chore(vision): Update postgeneration templates to include universe_domain
  google-cloud-vision-v1/owlbot-templates/image_annotator_helpers_test.erb
  google-cloud-vision-v1p3beta1/owlbot-templates/image_annotator_helpers_test.erb
  google-cloud-vision-v1p4beta1/owlbot-templates/image_annotator_helpers_test.erb
Labels: api: vision

#23732 feat(storage): support for object lock / retention
  google-cloud-storage/acceptance/storage/file_test.rb
  google-cloud-storage/google-cloud-storage.gemspec
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
  google-cloud-storage/lib/google/cloud/storage/file.rb
  google-cloud-storage/lib/google/cloud/storage/project.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage/file_test.rb
  google-cloud-storage/test/google/cloud/storage/project_test.rb
  google-cloud-storage/test/helper.rb
Labels: api: storage

#24465 chore(storage): Clean up storage test buckets
  google-cloud-storage/acceptance/storage/buckets_test.rb
  google-cloud-storage/acceptance/storage/file_test.rb
  google-cloud-storage/acceptance/storage_helper.rb
Labels: api: storage

#24437 feat(pubsub): Support for universe_domain
  google-cloud-pubsub/.rubocop.yml
  google-cloud-pubsub/acceptance/pubsub/service_test.rb
  google-cloud-pubsub/google-cloud-pubsub.gemspec
  google-cloud-pubsub/lib/google-cloud-pubsub.rb
  google-cloud-pubsub/lib/google/cloud/pubsub.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/project.rb
  google-cloud-pubsub/lib/google/cloud/pubsub/service.rb
  google-cloud-pubsub/test/google/cloud/pubsub/service_test.rb
  google-cloud-pubsub/test/google/cloud/pubsub_test.rb
Labels: api: pubsub

#24448 feat(bigquery): Support for universe_domain
  google-cloud-bigquery/google-cloud-bigquery.gemspec
  google-cloud-bigquery/lib/google-cloud-bigquery.rb
  google-cloud-bigquery/lib/google/cloud/bigquery.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/project.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/test/google/cloud/bigquery/project_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/service_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery_test.rb
Labels: api: bigquery

#24449 feat(storage): Support for universe_domain
  google-cloud-storage/google-cloud-storage.gemspec
  google-cloud-storage/lib/google-cloud-storage.rb
  google-cloud-storage/lib/google/cloud/storage.rb
  google-cloud-storage/lib/google/cloud/storage/project.rb
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage/project_test.rb
  google-cloud-storage/test/google/cloud/storage_test.rb
Labels: api: storage

#24485 fix(bigquery): Raise an error on mismatching universe domain
  google-cloud-bigquery/google-cloud-bigquery.gemspec
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/test/google/cloud/bigquery/service_test.rb
Labels: api: bigquery

#24486 fix(storage): Raise an error on mismatching universe domain
  google-cloud-storage/google-cloud-storage.gemspec
  google-cloud-storage/lib/google/cloud/storage/service.rb
  google-cloud-storage/test/google/cloud/storage/project_test.rb
Labels: api: storage

#23446 feat(firestore): Support sum & avg aggregate functions
  google-cloud-firestore/acceptance/firestore/aggregate_query_test.rb
  google-cloud-firestore/lib/google/cloud/firestore/aggregate_query.rb
  google-cloud-firestore/lib/google/cloud/firestore/aggregate_query_snapshot.rb
  google-cloud-firestore/lib/google/cloud/firestore/query.rb
  google-cloud-firestore/test/google/cloud/firestore/aggregate_query/get_test.rb
Labels: api: firestore
