Repository googleapis/google-cloud-ruby, pull requests merged in 2024-12, with the labels that each got.

#27684 fix(bigquery): remove reload! call on patch_table
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/samples/snippets/extract_table.rb
  google-cloud-bigquery/samples/snippets/load_from_file.rb
  google-cloud-bigquery/samples/snippets/load_table_gcs_json_truncate.rb
  google-cloud-bigquery/samples/snippets/load_table_gcs_orc_truncate.rb
  google-cloud-bigquery/test/google/cloud/bigquery/materialized_view_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_external_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_reference_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_reference_update_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_schema_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_update_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/view_update_test.rb
Labels: api: bigquery

#27681 feat(bigquery): load jobs with dest tables in another project
  google-cloud-bigquery/acceptance/bigquery/table_test.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/project.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
Labels: api: bigquery

#27720 tests(monitoring): Fix sample tests to match updated production behavior
  google-cloud-monitoring/samples/acceptance/metrics_test.rb
Labels: api: monitoring, samples

#27599 chore(storage): Upgrading ruby to ruby 3
  google-cloud-storage/README.md
  google-cloud-storage/google-cloud-storage.gemspec
  google-cloud-storage/lib/google-cloud-storage.rb
  google-cloud-storage/lib/google/cloud/storage.rb
  google-cloud-storage/lib/google/cloud/storage/bucket.rb
  google-cloud-storage/lib/google/cloud/storage/bucket/cors.rb
  google-cloud-storage/lib/google/cloud/storage/file.rb
  google-cloud-storage/lib/google/cloud/storage/file/signer_v2.rb
  google-cloud-storage/lib/google/cloud/storage/file/signer_v4.rb
  google-cloud-storage/samples/Gemfile
  google-cloud-storage/samples/acceptance/buckets_test.rb
  google-cloud-storage/samples/acceptance/files_test.rb
  google-cloud-storage/samples/acceptance/iam_test.rb
Labels: api: storage

#28097 fix(bigquery): allow insert to target dataset/table in another project
  google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/service.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table.rb
  google-cloud-bigquery/lib/google/cloud/bigquery/table/async_inserter.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_insert_async_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/dataset_insert_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_async_inserter_test.rb
  google-cloud-bigquery/test/google/cloud/bigquery/table_insert_test.rb
Labels: api: bigquery
