Repository googleapis/google-cloud-ruby, pull requests merged in 2024-07, with the labels that each got.

#26464 samples(storage-control): add managed folder samples
  google-cloud-storage-control/samples/acceptance/helper.rb
  google-cloud-storage-control/samples/acceptance/storage_control_managed_folders_test.rb
  google-cloud-storage-control/samples/storage_control_managed_folder_create.rb
  google-cloud-storage-control/samples/storage_control_managed_folder_delete.rb
  google-cloud-storage-control/samples/storage_control_managed_folder_get.rb
  google-cloud-storage-control/samples/storage_control_managed_folder_list.rb
Labels: samples

#26510 chore(bigtable): fix conformance tests
  google-cloud-bigtable/.rubocop.yml
  google-cloud-bigtable/.toys.rb
  google-cloud-bigtable/conformance/v2/proto/google/cloud/conformance/bigtable/v2/tests_pb.rb
  google-cloud-bigtable/test/test_proxy/Gemfile
  google-cloud-bigtable/test/test_proxy/proto/google/bigtable/testproxy/test_proxy.proto
  google-cloud-bigtable/test/test_proxy/proto/google/bigtable/testproxy/test_proxy_pb.rb
  google-cloud-bigtable/test/test_proxy/proto/google/bigtable/testproxy/test_proxy_services_pb.rb
  google-cloud-bigtable/test/test_proxy/test_proxy.rb
Labels: api: bigtable

#26528 chore(firestore): fix conformance tests
  google-cloud-firestore/.rubocop.yml
  google-cloud-firestore/.toys.rb
  google-cloud-firestore/conformance/v1/proto/google/cloud/conformance/firestore/v1/tests_pb.rb
Labels: api: firestore

#26527 chore(pubsub): fix samples tests
  google-cloud-pubsub/.rubocop.yml
  google-cloud-pubsub/.toys.rb
  google-cloud-pubsub/samples/utilities/us-states_pb.rb
Labels: api: pubsub, samples
