Repository googleapis/google-cloud-ruby, pull requests merged in 2024-04, with the labels that each got.

#25469 feat(storage): Respect custom endpoint for signed_url
  google-cloud-storage/lib/google/cloud/storage/file/signer_v2.rb
  google-cloud-storage/lib/google/cloud/storage/file/signer_v4.rb
  google-cloud-storage/test/google/cloud/storage/bucket_signed_url_v2_test.rb
  google-cloud-storage/test/google/cloud/storage/bucket_signed_url_v4_test.rb
  google-cloud-storage/test/google/cloud/storage/file_signed_url_v2_test.rb
  google-cloud-storage/test/google/cloud/storage/file_signed_url_v4_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_signed_url_v2_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/bucket_signed_url_v4_test.rb
  google-cloud-storage/test/google/cloud/storage/lazy/file_signed_url_v2_test.rb
Labels: api: storage

#25754 test(monitoring): Update a sample test for changes to service output
  google-cloud-monitoring/samples/acceptance/metrics_test.rb
Labels: api: monitoring, samples

#25751 samples(storage-control): add quickstart sample and sample test setup
  google-cloud-storage-control/samples/.rubocop.yml
  google-cloud-storage-control/samples/Gemfile
  google-cloud-storage-control/samples/Rakefile
  google-cloud-storage-control/samples/acceptance/helper.rb
  google-cloud-storage-control/samples/acceptance/storage_control_quickstart_test.rb
  google-cloud-storage-control/samples/storage_control_quickstart_sample.rb
Labels: samples

#25792 chore(firestore): Fix some rubocop warnings
  google-cloud-firestore/lib/google/cloud/firestore/document_reference/list.rb
  google-cloud-firestore/lib/google/cloud/firestore/watch/inventory.rb
Labels: api: firestore
